[2020-06-11 10:04] metaquid opened #1804 "what is the latest and most updated wit json data structure?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
I request the possibility to receive an alert when the json structure is changed, in a preventive way, say 7 days.
+ what is the current json data structure of wit today? (doc link)
+ how can I read wit's current json data structure from me? (with javascript function)
+ in particular the microphone functionality

[2020-06-11 13:11] jtliao commented on #1802
@RimJS can you share the output?

[2020-06-11 13:13] RimJS commented on #1802
I'm sorry I didn't get you. This was what I got by typing the command on
cmd.

On Thu, 11 Jun, 2020, 6:41 pm Jason Liao, <notifications@github.com> wrote:

[2020-06-11 13:14] jtliao commented on #1802
You said "I'm getting the following output", but did not share the output.

[2020-06-11 13:25] cschultzzz commented on #1467
A quick fix for Firefox: Open https://wit.ai in a PRIVATE MODE tab and you can see it. The Facebook Blocker is deactive in private mode.

[2020-06-11 15:29] RimJS commented on #1802
I'd attached the same.

On Thu, 11 Jun, 2020, 6:44 pm Jason Liao, <notifications@github.com> wrote:

[2020-06-11 16:20] jtliao commented on #1802
I'm not following what you're saying. To clarify, can you please give the response you're getting when sending the initial cURL, without the backslahes (`\`)?

[2020-06-11 19:22] lycai-fb commented on #1799
I can't seem to replicate the issue, even when using your access token.
Can you verify that the scripts are being run and loaded (disable adblock or use another browser).
Thanks.

[2020-06-11 19:31] patapizza commented on #1804
Hi @metaquid,

Here's the latest [HTTP API docs](https://wit.ai/docs/http/20200513#get__message_link). You can read entities back using e.g. `resp.entities['wit$location:location'].

Hope this helps.

[2020-06-11 19:31] #1804 closed, assigned to nobody

[2020-06-11 19:32] patapizza commented on #1803
Hi @metaquid,

Please check out [node-wit](https://github.com/wit-ai/node-wit) and [microphone](https://github.com/wit-ai/microphone).

[2020-06-11 19:32] #1803 closed, assigned to nobody

[2020-06-11 19:56] jtliao commented on #1766
This should be fixed now.

[2020-06-11 19:56] #1766 closed

[2020-06-12 09:46] RimJS commented on #1802
I'm really sorry to disturb but could you please help. Actually my team is
participating for the Facebook hackathon for building chatbot. But we're
stuck here and unable to proceed.

On Thu, 11 Jun, 2020, 10:27 pm Rimjhim Shukla, <
f20180742@pilani.bits-pilani.ac.in> wrote:

[2020-06-12 16:11] jtliao commented on #1802
I'm genuinely trying to help you, but you're not giving any of the information I'm asking for.

[2020-06-12 16:17] RimJS commented on #1802
I'm really sorry Jason, I think there is a communication issue. Did you
receive the attachment?

On Fri, 12 Jun, 2020, 9:41 pm Jason Liao, <notifications@github.com> wrote:

[2020-06-12 16:19] jtliao commented on #1802
No. Please view the thread on GitHub directly to see what I can see, there are no attachments here.

[2020-06-12 16:21] RimJS commented on #1802
Okay sure. Thank you. I'm really sorry for disturbing. I'm really thankful
for your help.

On Fri, 12 Jun, 2020, 9:49 pm Jason Liao, <notifications@github.com> wrote:

[2020-06-12 17:26] RimJS commented on #1802
C:\Users\hp>curl  -H Authorization: Bearer ***************************(token no) https://api.wit.ai/message?v=20200612&q=hello
curl: (6) Could not resolve host: Bearer
curl: (6) Could not resolve host: ********************(token no.)
{"error":"Bad auth, check token\/params","code":"no-auth"}'q' is not recognized as an internal or external command,
operable program or batch file.

[2020-06-12 18:41] jtliao commented on #1802
You need quotes around `Authorization: Bearer XXX`. This is standard curl notation.

[2020-06-12 18:43] RimJS commented on #1802
I did that, am still getting the same error.

On Sat, 13 Jun, 2020, 12:11 am Jason Liao, <notifications@github.com> wrote:

[2020-06-12 18:45] jtliao commented on #1802
Share the exact inputs/outputs (without token)?

[2020-06-12 18:50] RimJS commented on #1802
C:\Users\hp>curl  -H 'Authorization: Bearer ************************' https://api.wit.ai/message?v=20200612&q=hello
curl: (6) Could not resolve host: Bearer
curl: (6) Could not resolve host: *************************
{"error":"Bad auth, check token\/params","code":"no-auth"}'q' is not recognized as an internal or external command,
operable program or batch file.

[2020-06-12 18:55] jtliao commented on #1802
Use double quotes.

`curl -H "Authorization: Bearer ************************" "https://api.wit.ai/message?v=20200612&q=hello"`

[2020-06-12 19:02] RimJS commented on #1802
Wow, finally i get this output
{"text":"hello","intents":[{"id":"680174619501335","name":"happy","confidence":0.5387}],"entities":{},"traits":{}}

[2020-06-12 19:06] #1802 closed, assigned to nobody

[2020-06-12 19:25] rowe-morehouse commented on #1753
✔︎ Bumping this up. Can't download .zip, so I'm afraid to version it.

App ID: 852549758568236

[2020-06-12 22:19] patapizza commented on #1753
@rowe-morehouse I fixed it. 10 utterances were having an intent that has been deleted (fixing root cause), you might want to re-assign an intent (the ones who have `wit/greetings`).

@grapevineai Sorry for the latency, let me look for an update.

[2020-06-12 23:38] rowe-morehouse commented on #1753
heckin' awesome. Thank you! :)

[2020-06-13 10:38] GauravDobhal opened #1805 "Words Mapping to Incorrect Values"
When I check the phrase in the web tool to add a new utterance, it maps the entities to correct values. But when sending the same phrase using the wit API, the entity is mapped to incorrect values. Happens with closely related words e.g. 'maintain' is mapped to 'maintains' and 'available' is mapped to 'availables'.

Wit id: 1757528077591583

[2020-06-13 11:46] P0oOOOo0YA commented on #243
@mbtolou If you need a speech recognition engine there are many tools already built for that, Wit is a tool to make sense of the speech, not only converting it to a text. So you say

پروازهای کیش رو توی هفته آینده چک کن

and it will present you with Kish fights in the coming week.

[2020-06-13 11:56] P0oOOOo0YA commented on #243
As other Iranian members here have said, we love to help Wit to improve its Persian accuracy.

[2020-06-13 16:03] serdalbayram commented on #1799
Hi @patapizza , you cant replicate because of your language settings, when I change my browser language to english, it is working but with Turkish language , it displays nothing.

[2020-06-14 02:02] cl0vrfi3ld opened #1806 "[Request] Validate intents via API calls/posts"
**Do you want to request a ***feature***, report a *bug*, or ask a *question* about wit?**
Feature
**What is the current behavior?**
There is no current way to validate an intent or change what the intent should've been from the API, unless I'm legally blind and couldn't find it in the docs.

[2020-06-14 19:22] jtliao commented on #1806
You can create intents via the `POST /intents` endpoint: https://wit.ai/docs/http/20200513#post__intents_link

What do you mean by "change what the intent should've been"?

[2020-06-14 19:43] SecondThread opened #1807 "Content no longer available UI Error"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
In the "Train Your App" section, clicking the down arrow next to one of the suggestions gives a UI popup saying "This content is no longer available":
![image](https://user-images.githubusercontent.com/18317476/84602442-77961880-ae55-11ea-9000-fe1d09e7de36.png)

This makes

[2020-06-14 20:05] cl0vrfi3ld commented on #1806
There’s no way to validate an intent via the API. Say a user gives an utterance and WIT interprets the intent wrong, there’s no way to validate a correct intent via the api, or select what the intent should’ve been, (when WIT incorrectly determines an intent) via the API.

[2020-06-14 20:10] jtliao commented on #1806
You can validate an utterance with whatever the intent should be with `POST /utterances` https://wit.ai/docs/http/20200513#post__utterances_link

[2020-06-15 10:00] TRPostma commented on #1807
I'm having the same annoying problem, subscribing to this issue.

[2020-06-15 15:41] #1806 closed, assigned to nobody

[2020-06-15 15:48] jtliao commented on #1805
hi @GauravDobhal, keyword entities use fuzzy string matching, to account for things like typos. This would explain why this is happening here.

[2020-06-15 16:07] jtliao commented on #1807
Sorry about that, we're working on the problem.

(And the template is not intended to be rude, far too often people post issues with no information on how to reproduce it. So having that there helps us help you.)

[2020-06-15 21:56] yvaskovski commented on #1805
Hi @jtliao,

This issue looks to be similar to my issue posted [here](https://github.com/wit-ai/wit/issues/1794)

Same problem of mapping entities to correct values through API, while in my case it creates a new entry of a value for the entity that already exists as a synonym for an existing value.

[2020-06-16 00:31] jtliao commented on #1807
This should be fixed now.

[2020-06-16 00:31] #1807 closed, assigned to nobody

[2020-06-16 10:42] rileyai-dev commented on #1753
@patapizza :cry:

[2020-06-16 18:35] lycai-fb commented on #1799
Thanks @serdalbayram.
It turns out there's a bug handling certain Accept-Language header values.
Will be fixed shortly.

[2020-06-17 08:22] galubap opened #1808 "v2 completely not usable for polish language"
*bug* or maybe *feature*

The problem is duckling. For duckling almost every polish phrase with number is datetime. Even phrase "20%" (pl: "ustaw głośność na 20%", en: "set volume to 20%") is parsed as datetime (!). Training do nothing. Reporting issue for duckling do nothing.
The solution would be to use v1 for selected applications, maybe as option in app settings

App ID: 3382588755148772

[2020-06-17 08:33] dsokac commented on #1794
Can you please speed the solution up? This will potentially create alot more work and troubles than it should have... i was so dumb to switch to preview view -.-

[2020-06-17 13:59] KartikChugh commented on #1795
Yeah the Utterances page being empty is a bug I've been having for a while (and which the Wit team claimed to be working on a fix for a few weeks ago?)

[2020-06-17 13:59] KartikChugh commented on #1588
Yeah it can work if you just add the entities in the Management > Entities tab

[2020-06-17 16:21] lycai-fb commented on #1799
Fix should be out thanks.

[2020-06-17 16:21] #1799 closed, assigned to nobody

[2020-06-17 17:26] jiayexie commented on #1808
Hi @galubap, just to confirm, what do you mean by v1/v2? We recently refreshed the website UX but the /message API should be unrelated to the UX change. Do you mean it was working before the UX switch?

Edit: I see that this was a trained sample and it should be predicted as "wit/number" instead of "wit/datetime". I'm looking into it.

[2020-06-17 19:16] rileyai-dev opened #1809 "Cannot upload backedup zip file (parsing entities issue)"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug/question
**What is the current behavior?**
I go to create a new app & upload a zip file and receive a failed parsing /thistle/entities message
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**
i want

[2020-06-17 19:36] jiayexie commented on #1809
HI @grapevineai, can you tell us more about this zip file? Was it an export from another app? What's the original app id?

[2020-06-17 19:48] rileyai-dev commented on #1809
@jiayexie Previous app but deleted some intents and deleted those references in
utterances file

[2020-06-17 20:30] jiayexie commented on #1809
Did you follow the doc (https://wit.ai/docs/recipes) on making manual changes to the exported zip? If you export again, and try importing without making manual changes, does it work?

Also, what's the previous app id and when did you export it? If it was exported a long time ago, then it's likely some of our recent work broke the compatibility and we'll need to look into it. It'd be great if you c

[2020-06-17 22:34] rileyai-dev commented on #1809
Is this correct? I have modified the app.json file to the following:

[code]

Previous app ID: 1784861281563596
It was exported 5/29/2020
If I import that unedited version it works.

[2020-06-18 03:01] patapizza commented on #1808
As @jiayexie mentioned, the UI wouldn't change between v1 and v2. As we've pointed out previously [here](https://github.com/wit-ai/wit/issues/1796) and [here](https://github.com/wit-ai/wit/issues/1798), `wit/datetime` is powered by [Duckling](https://github.com/facebook/duckling). Feel free to submit a pull request to fix the issue. It's not `20%` that gets parsed, but `na 20` (refer to my comment

[2020-06-18 03:01] #1808 closed, assigned to nobody

[2020-06-18 07:02] xakep-sava opened #1810 "My application has stopped loading utterances and I cannot export it"
Hello, my application has stopped loading utterances and I cannot export it:

![image](https://user-images.githubusercontent.com/5329475/84988312-76f9cc80-b14a-11ea-8831-399048490bf0.png)
![image](https://user-images.githubusercontent.com/5329475/84988318-795c2680-b14a-11ea-8999-f7b002df8dd4.png)

I tried it in two versions of the API. Video attached bellow.

[screencast-wit.ai-2020.06.03-00_1.zip

[2020-06-18 08:00] sheaw opened #1811 "When will Wit.ai/speech return timestamps per word? (t.y.v.much!)"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

### YES / FEATURE:

- Wit.ai/**speech API: please also return datetime timestamp per word** _(opens extended transcription services)_

**What is the current behavior?**

API returns text, but no associated datetime timestamps (where the word appears in the audio file) per word.

**If the current behavior is a b

[2020-06-18 08:41] galubap commented on #1808
First time I noticed problems was 10th of June. But app was not used for a week or maybe 2 weeks.
And yes, it did work before this date. Also, it's not only one problem with incorrect datetime, see my another post https://github.com/facebook/duckling/issues/492

[2020-06-18 12:07] web-pda opened #1812 "Add/Edit Intent Metadata in v2"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Ask a question/Report a bug?
**What is the current behavior?**
I can't enter Intent Metadata from the screen.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
In v1; you could enter an Intent Metadata from the view. But now, you can't ente

[2020-06-18 15:13] KartikChugh opened #1813 "Removing utterances"
Bug: Removing utterances from the inbox starts the Wit training process

I find this to be problematic because it slows down the UI

[2020-06-18 15:17] jtliao commented on #1811
I'll raise this with the team, but it's unlikely we'll be able to implement this in the near future.

[2020-06-18 15:18] jtliao commented on #1665
Our training stability has been far better as of late, and we are actively measuring it. Closing

[2020-06-18 15:18] #1665 closed

[2020-06-18 15:19] jtliao commented on #1215
Closing, as this won't be something we'll be able to reasonably support.

[2020-06-18 15:19] #1215 closed

[2020-06-18 15:22] #1495 closed

[2020-06-18 15:24] jtliao commented on #1541
This is now displayed in the refreshed Wit UI.

[2020-06-18 15:24] #1541 closed

[2020-06-18 15:27] stefan-reich commented on #1215
Too bad, but I understand it requires additional resources. Thanks

[2020-06-18 15:30] jtliao commented on #1813
Thanks for flagging, we'll work on fixing this.

[2020-06-18 15:33] jtliao commented on #1810
Your app should be fixed. We're working on fixing the underlying issue.

[2020-06-18 15:33] #1810 closed, assigned to nobody

[2020-06-18 16:04] patapizza commented on #1812
Hi @web-pda,

Thank for the feedback! Metadata is a pretty advanced feature. We'll need to think more about it. In the meantime, a workaround would be to implement a simple map lookup on your end.

Let me know if that would work.

[2020-06-18 16:25] patapizza commented on #1727
@rowe-morehouse What is the curl command you're using?

[2020-06-18 17:05] xakep-sava commented on #1810
Thanks!

[2020-06-18 17:43] gorenbox commented on #895
wouldn't it help the engine if we could just add a context string to an intent, so if the context is set to X you will search only for intents with that context?
It would help the engine focus on relevant intents and maybe increase the probability of understanding the utterance?

[2020-06-18 20:51] rowe-morehouse commented on #1727
using these:

`curl XPUT --url https://api.wit.ai/entities/competency_name/keywords?v=20200513 --header 'authorization: Bearer $MY_TOKEN' --header 'content-type: application/json' --data @myFile.json | json_pp`

`curl -XPOST --url 'https://api.wit.ai/utterances?v=20200513' --header 'authorization: Bearer $MY_TOKEN' --header 'content-type: application/json' --data @myFile.json | json_pp`

[2020-06-19 00:23] patapizza commented on #1794
Sorry for the latency here. We'll fix this.

[2020-06-19 00:35] jtliao commented on #431
Logs will be deprecated in the near future. It's recommended to implement on the client side, it should be very simple.

[2020-06-19 00:35] #431 closed

[2020-06-19 05:21] jiayexie commented on #1809
Thanks for the information. Your app.json seems fine to me.
Since the unmodified version works, the error is probably a result of your offline editing that broke some of the assumptions. Since we don't know what you did there, it's hard to debug.

To take a step back, it sounds like what you want to do is a copy of the previous app minus certain intents. Can you import the unmodified file and use

[2020-06-19 08:56] 91ns opened #1814 "Download training is not working"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Facing an error when attempting to download the training in .zip format
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Click on settings then download training
**What is the expected behavior?**
Bein

[2020-06-19 12:56] rileyai-dev commented on #1809
@jiayexie thanks for your response. We actually just deleting the intents, we're trying to merge most of them. Sorry for the confusion. Is that possible to do?

[2020-06-19 15:36] jtliao commented on #1813
This should be fixed now.

[2020-06-19 15:36] #1813 closed, assigned to nobody

[2020-06-19 17:20] jiayexie commented on #1809
We don't recommend doing that offline with the raw JSON files; it's very hard to manage. I see you have 2000+ utterances so you probably don't want to do the merging in the UX; please consider using our APIs to programmatically re-annotate utterances and delete the unneeded intents.

[2020-06-19 18:30] KartikChugh commented on #1813
Thanks!

[2020-06-20 16:50] KartikChugh opened #1815 "Adding synonym does not initiate training"
Just as removing a keyword initiates training, adding a synonym to a keyword should as well.
Otherwise, Wit users have to make some artificial tweak to start the training process

[2020-06-20 16:53] KartikChugh opened #1816 "Enhancement: Manual Training"
It would be nice if there was a button to toggle off automatic training and instead train manually.

It's useful for when users know they have to make a lot of changes (feeding many utterances, renaming entities, etc) and don't want to keep restarting training over and over.

Would probably save Wit resources as well.

[2020-06-20 16:54] KartikChugh commented on #1813
Can confirmed that it's been fixed

[2020-06-21 15:25] sabinchacko007 commented on #1653
Stuck at ONGOING
appid: 2788662337869759

[2020-06-21 15:36] ghost opened #1817 "Stuck at ONGOING"
BUG

appid:2788662337869759

[2020-06-22 16:06] jtliao commented on #1817
Your app is large. It's going to take a long time to train.

[2020-06-22 16:06] #1817 closed, assigned to nobody

[2020-06-22 16:11] jtliao commented on #1814
Can't seem to reproduce this. It may have just taken a bit of time to sync the utterances what whatever changes were made in the app.

[2020-06-22 16:11] #1814 closed, assigned to nobody

[2020-06-22 16:13] jtliao commented on #1815
Hey @KartikChugh, is the entity you're using free-text, keyword, or free-text + keyword?

Edit: To clarify, removing keywords shouldn't actually trigger training in the first place, since keyword matching is not model based and is reflected as soon as you update the entity. The same follows for adding synonyms.

[2020-06-22 17:26] jiayexie commented on #1816
Thanks @KartikChugh for raising this! I've brought this up with the team and we'll prioritize it

[2020-06-22 17:34] #1809 closed, assigned to nobody

[2020-06-22 19:33] KartikChugh commented on #1815
Got it.

[2020-06-22 19:33] #1815 closed, assigned to nobody

[2020-06-23 07:53] 91ns commented on #1814
Hi @jtliao,
We are able to download the training .zip now. However when we try to create a new app using one of the training files it fails with the following errors :

Failed to validate utterance at index 2. Could not find intent "%ch_1da2f0ce-8205-41ce-a722-98938a5e1df5".

Failed to validate utterance at index 0. Could not find intent "%ch_5f8e35a9-61a0-4368-aef0-ac7c1dd1e611".

[2020-06-24 06:58] flogaribal opened #1818 "Location with custom role not working as expected since few days"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

Question & assistance needed

**What is the current behavior?**

I defined a custom role for the location entity which is "destination", I trained it with sentences that provide a context to help it know if a location is a destination or not. However when no context is provided (Ex: "Paris") it should just say

[2020-06-24 07:49] 91ns opened #1819 "Unable to create a new Wit App using zip file"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Unable to create a new wit app using previously downloaded training

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Download app training in zip format
Create a new wit app using the downloaded conte

[2020-06-24 11:31] dsokac commented on #1736
Or let us be able to work in v1.... I connected facebook and regreted... and if I want to sign in using git, the page is blank -.-

[2020-06-24 11:36] dsokac commented on #1816
Please, make this happen ASAP.... because I am annoyed because of current ux.... v1 was way better...

[2020-06-24 16:30] patapizza commented on #1816
Thanks for the suggestion.
This wouldn't be an enhancement on the UX. If training doesn't happen as expected, please raise an issue.

@dsokac This isn't much actionable. Please open up specific issues so we can improve. You could also make your voice heard informally through the survey.

[2020-06-24 16:30] #1816 closed, assigned to nobody

[2020-06-24 16:34] patapizza commented on #1736
@dsokac You can still work in v1 using the dropdown menu on the top right corner, after clicking on your username/picture.

v1 is being deprecated though, so it'll be more efficient to say what could be done better so we can improve v2.

[2020-06-24 17:34] #1805 closed, assigned to nobody

[2020-06-24 17:35] #1588 closed

[2020-06-25 16:08] patapizza commented on #1814
Indeed, this should be fixed soon.

[2020-06-26 00:00] jtliao commented on #1819
This should work again, there was an issue with the character normalization for existing apps. Note that characters like `%` are no longer allowed, so after importing, you'll notice those characters will be normalized.

[2020-06-26 00:00] #1819 closed, assigned to nobody

[2020-06-26 06:18] rajathgunners commented on #1795
Hi I have been having the same problem too
My app ID is 1472013426340851.

We are using Wit.ai to detect phishing type of questions like asking for sensitive info in survey forms that are created in our platform and to block those users. But without seeing the utterances coming in, i cannot know how effective wit is doing and whether it needs more training.

And when I try to download the zip file

[2020-06-26 13:51] dgslv opened #1820 "Something went wrong after reaching 200req/m"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question
**What is the current behavior?**
After reaching 200req/m+ I'm receiving the following error:
`[wit] [message] Error: Something went wrong. We've been notified`
I would like to know if there's any API limit and how could I increase it for my app.

**If the current behavior is a bug, please provide the s

[2020-06-26 14:00] dgslv commented on #1820
btw I'm using node-wit

[2020-06-26 15:14] dgslv opened #1821 "Unable to import from backup. [object Object]"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
When I try to create a new app from an existing app's backup it shows me an error [object Object] as following shown:

<img width="336" alt="Screen Shot 2020-06-26 at 12 12 31" src="https://user-images.githubusercontent.com/50027703/85872989-e4d77100-b7a6-11ea-8ba9-77b7a34ad

[2020-06-26 15:38] dgslv commented on #1820
just noticed that Wit has an api request limit. somebody knows how could I increase it?

[2020-06-26 15:43] patapizza commented on #1753
@grapevineai You'll need to request a review [here](https://www.facebook.com/help/103873106370583) and provide us with your case number. Thanks!

[2020-06-26 16:25] jtliao commented on #1820
Please reach out at help@wit.ai with more information about your use case.

[2020-06-26 16:25] #1820 closed, assigned to nobody

[2020-06-26 17:41] jtliao commented on #1818
We recently fixed a bug where custom roles were being suppressed in some cases for built-in entities. In this case, this is leading to issues since "Toulouse" is showing a higher confidence for `location:destination` instead of `location:location`. We'll look into how to mitigate this.

[2020-06-26 19:02] patapizza commented on #1821
Thanks for reporting. This is because there are entities having more than 10,000 values. A fix is underway.

[2020-06-26 19:21] patapizza commented on #1794
Alright, fix is upcoming. Synonyms should be case-insensitive.

[2020-06-27 00:24] patapizza commented on #1794
This should not be fixed!

[2020-06-27 00:24] #1794 closed, assigned to nobody

[2020-06-27 06:20] dsokac commented on #1794
Are you going to explain????? You cannot do this like you are doing some school team project... You should elaborate your decision so we all can decide if it is required or not. :)

[2020-06-27 07:27] jonathanbriggs-hyper opened #1822 "Training is taking longer and longer?"
Is this a bug or a feature?

I have a very simple Wit.ai data set but I have to wait 3-4 hours now between trainings. Is there a reason for the long wait? It used to be virtually instantaneous.

App ID: 314530112893620

[2020-06-27 07:28] jonathanbriggs-hyper commented on #1822
Is this a bug or a feature?

I have a very simple Wit.ai data set but I have to wait 3-4 hours now between trainings.  Is there a reason for the long wait?  It used to be virtually instantaneous.

[2020-06-27 12:50] yvaskovski commented on #1794
Hi @patapizza,

I have tried what I have described before again and the same problem is still there. I have recorded a video of reproducing a problem i have described above (it's 1m42s long).

https://drive.google.com/file/d/1HXWY_XZ8V-QHHRwFeH1ICv9GZ6Z1dL35/view

Here is what I do on this video:

1) i show my entities page, where there is three main entities with different synonyms, while I'm del

[2020-06-29 06:45] dsokac commented on #1794
@yvaskovski, I got the impression that they do not want to fix this for some unknown reason. They just threw it away without explanation. I guess they think it is not important, but it is.

[2020-06-29 16:24] patapizza commented on #1822
Hi @jonathanbriggs-hyper,

The scheduling depends on the training queue and the state of your app. The dynamically adjusted policy ensures everyone gets a chance to see their app trained as soon as possible. As it happens, sometimes it could take longer than a few seconds.
I see your app is now trained. Let me know if you're seeing your app constantly scheduled for 3-4 hours.

Thanks.

[2020-06-29 16:24] #1822 closed, assigned to nobody

[2020-06-29 17:08] patapizza commented on #1795
@stanislawczartoryski, @rajathgunners I just fixed your apps. We've fixed the root cause a while back, so this shouldn't occur anymore.

[2020-06-29 17:08] #1795 closed, assigned to nobody

[2020-06-29 17:13] patapizza commented on #1753
Closing this one as original issue resolved. @grapevineai Please feel free to reopen an issue once you have the case number.

[2020-06-29 17:13] #1753 closed

[2020-06-29 17:47] rajathgunners commented on #1795
Awesome Thanks Guys

[2020-06-29 18:02] yvaskovski commented on #1794
Hi @patapizza,

I have tried recreating the same entity from the scratch and retraining all utterances I already had. The problem didn't go away, as soon as I validate a live feed utterance, the system creates a new entry to the entity, where a keyword is an already existing synonym of a different keyword.

@dsokac I don't really understand why they switched for "Synonyms should be case-insensitiv

[2020-06-29 20:50] patapizza commented on #1821
All right, I've cleaned up your app from bad keywords (some had "\\" which aren't allowed), and a fix is on its way to properly include all roles when exporting. I've been able to export and re-import your app locally. I'll update and close here once it's fully deployed.

Thanks for you patience.

[2020-06-29 21:23] patapizza commented on #1792
Hey @anjaly,

I've exported your app and re-imported back. I could see the `whatsapp prospectus` utterance, with proper prediction.
Can you try exporting and re-importing again to see if it resolves the issue?

Thanks.

[2020-06-29 21:23] #1792 closed, assigned to nobody

[2020-06-30 00:31] rowe-morehouse commented on #1753
copy gold leader.

[2020-06-30 02:23] dgslv commented on #1821
thanks a lot @patapizza!

[2020-06-30 05:28] patapizza commented on #1821
Should be good to go now.

[2020-06-30 14:29] dgslv commented on #1821
just tried to export and re-import my app and I didn't work. same issue :(
am I doing something wrong?

[2020-06-30 14:58] patapizza commented on #1821
You're not doing anything wrong, I can repro it too. Sorry about that, looking more into it.

[2020-06-30 16:09] dgslv commented on #1821
thanks for your time and attention @patapizza!

[2020-06-30 21:03] patapizza commented on #1727
@rowe-morehouse You're missing a dash `-` before `XPUT` on your first command.

[2020-07-01 08:09] szabolcsdjangocoder opened #1823 "Agent classifies "hello" as age of person"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

*bug*

**What is the current behavior?**

`"hello"` is detected as a `wit$age_of_person`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

The agent [https://wit.ai/v2/apps/2827703750831812](https://wit.ai/v2/apps/2827703750831812) is de

[2020-07-01 16:07] ghost opened #1824 "stuck at ongoing"
stuck at ongoing for last 24 hrs , pls restart the app
appid: 2788662337869759
thanks
ps: it would be better if the time when the last training completed is shown while hovering the ongoing.

[2020-07-01 21:50] Xueying-Wang commented on #1824
Hi @sabinchacko007 I have restarted training for your app, and the training should complete now. Also thanks for the feedback, I'll raise to the team for improving training status view.

[2020-07-01 21:50] #1824 closed, assigned to nobody

[2020-07-02 13:50] lisaterumi opened #1825 "Unable to export app data - "Something went wrong. We've been notified""
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a possible bug

**What is the current behavior?**
I can´t export the data of my app, I get the message "Something went wrong. We've been notified."

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Settings page / Export your data /

[2020-07-03 05:38] homelander03 opened #1826 "Training Status is not changing"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Training status is still **Training Ongoing**
**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help.**
APP ID: 1588959071278535
Training Status is still Ongoing for 1 day, It is not getting changed to Done.

[2020-07-03 06:29] #1826 closed, assigned to nobody

[2020-07-03 19:29] contamaiiis opened #1827 "Expressions missed"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
Sometimes when I am deleting or validating some “Expressions” in the Inbox,
Instead of deleting the selected expression, the next one is deleted or validated.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo

[2020-07-05 18:23] Pimmetje opened #1828 "Github login broken"
I am unable to get a API key for wit.ai. The github login seems broken. I can click login. Get a popup with github. But when i end up on wit.ai/v2 it gives me "You don't have access to this page. Please contact us if this is unexpected."

I see your deprecating Github login. Please consider to leave a alternative to Facebook active. As some people may not want to have/create a facebook account. Ma

[2020-07-06 10:52] 91ns opened #1829 "Training is not reflected"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
Trained expressions are not understood correctly
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Train a new utterance then test the understanding, the utterance is misunderstood

![image](https://use

[2020-07-06 14:54] ladislauek commented on #1498
I have this problem too. App ID 2387433377997084.

[2020-07-06 16:08] patapizza commented on #1821
@dgslv Thank you for your patience on this one. It's still on my list, hoping to get to it on Friday.

[2020-07-07 08:55] Animo-girl commented on #1828
I have the same issues, please help.

[2020-07-07 14:33] luispsantos commented on #1828
Hello, I would also like to know when this issue gets fixed.

[2020-07-07 16:12] merianos opened #1830 "Utterances are empty although I have more than 600 utterances registered"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
After I train, the utterances are empty.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
If you try to train the system, after the training you will find that the utterance doesn't displaye

[2020-07-07 18:29] nausicaasnow commented on #1830
Hi @merianos, sorry for the inconvenience, we are looking into the issue!

[2020-07-08 06:23] merianos commented on #1830
Hello @nausicaasnow

Thank you for the update.

Maybe it could help you the fact that I tried to export my data this morning and I got the following error message:

[code]

Maybe that could help you :)

[2020-07-09 04:41] nataraj-mik opened #1831 "Unable to login using newly created github account "nataraj-mik""
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2020-07-09 04:44] nataraj-mik commented on #1831
After opening wit.ai when I click Continue with Github a new window opens ups for a sec and disappears after which nothing happens.

[2020-07-09 11:53] pitr134 opened #1832 "Unable to save intent name with dots "." or space characters"
After last update, somehow WIT has been automatically changing the name of the intents - where previously has been dots  - "." or space characters, it has been automatically replaced with underscore symbol "_"

Regardless of how I am trying to modify it, it still replaces spaces and dots to underscores. Is there any way to have intent names containing dots and spaces?

[2020-07-09 13:33] drronnie85 commented on #1825
I have same problem. My AppId is 280801049998375
I can download old application, but when I try export new i have error "Something went wrong. We've been notified"

[2020-07-09 19:45] drronnie85 commented on #1825
Now I writing tool to manual export data. I thing I found reason.
In docs https://wit.ai/docs/http/20200513#get__entities__entity_link fomat of "roles" defined as array of string, but api returned array of id-name objects.

[2020-07-09 20:24] drronnie85 commented on #1825
Api return "Something went wrong. We've been notified" when I try get some utterances. And Page utterances is empty.
So I think I found the problem

[2020-07-10 07:27] metaquid opened #1833 "wit microphone problem with ios"
I move the question on the microphone area.

[2020-07-10 16:01] #1833 closed, assigned to nobody

[2020-07-10 16:50] patapizza commented on #1828
Thanks for reporting! This isn't expected. The previous website should still be available. I'm working on a fix. In the meantime, after logging with GitHub, hitting https://wit.ai/home should bring you to the previous website.

[2020-07-10 16:58] Park0 commented on #1828
![image](https://user-images.githubusercontent.com/29624334/87179651-5c48ec80-c2df-11ea-9a72-cea43c5a1c5a.png)

[2020-07-10 17:02] Pimmetje commented on #1828
![image](https://user-images.githubusercontent.com/374414/87179914-d24d5380-c2df-11ea-9236-77b9d8a7fcd9.png)

[2020-07-10 18:21] nausicaasnow commented on #1831
Hey @nataraj-mik, thanks for your feedback, can you try again and see if you can successful login? btw, GitHub login will be deprecated by 12/30/2020. Once you "Continue with Facebook", your apps will be associated with your new account. Your apps will remain intact and the runtime won't be affected.

[2020-07-10 18:24] patapizza commented on #1828
This is the issue currently addressed.

GitHub logins are allowed; GitHub signups are no longer so. More related-FAQ: https://wit.ai/faq.

[2020-07-10 18:30] Pimmetje commented on #1828
Is there any option do get a API key without a Facebook account?

[2020-07-10 18:45] patapizza commented on #1828
If you had a Wit account using GitHub login before 6/17, you are still able to use it until 12/30. To reiterate, we don't allow new GitHub signups and encourage existing users to transition to using Facebook login as their earliest convenience.

[2020-07-10 20:21] Pimmetje commented on #1828
If i did not made a account before, i can't get a API key without a facebook account?
Would u consider making a option that does not require me to have a facebook account? I only need a API key.

[2020-07-10 21:37] jtliao commented on #1830
This seems to be fixed.

[2020-07-10 21:37] #1830 closed, assigned to nobody

[2020-07-11 00:43] patapizza commented on #1828
Above issue should be addressed now.

To better utilize Facebook infrastructure to ship new features to you, we are transitioning to Facebook login-only. Thank you for your understanding.

[2020-07-11 00:43] #1828 closed, assigned to nobody

[2020-07-11 06:54] merianos commented on #1830
Excellent work !! :) Thank you !! :)

[2020-07-12 05:03] nataraj-mik commented on #1831
Hello Yupeng,

Thanks for your response. Yes, I do understand that github login is going to be deprecated. But, we’re trying to transfer our account to a different email which has an associated FB account. As part of that transfer we’re trying to invite a couple of users (as friends) to the current wit account and make them primary before we transfer to actual account with FB.

However, I’m still

[2020-07-12 15:01] valentinEmpy opened #1834 "Utterance POST via HTTP API does not work"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question / Bug

**What is the current behavior?**
Using wit web UI to create utterances works, but using curl to do so doesn't work.
I get 200 OK along with a good body "`{"sent": true, "n": 1}`" however the utterance does not appear on the UI and the application does not detect it either.
I also tried the curl

[2020-07-12 15:09] valentinEmpy commented on #1834
Using export / import results in an application without utterances, too. ID of the resulting application after import (with missing utterances): 328687088130075

[2020-07-12 16:39] valentinEmpy commented on #1834
The process seems to be rather slow. They appear now :/

[2020-07-12 17:32] #1834 closed, assigned to nobody

[2020-07-13 00:46] terzano opened #1835 "Intent and Entity Mismatch"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
question, possible bug.

**What is the current behavior?**
All my training data has an intent (wiki_get) associated with a particular entity (wit$wikipedia_search_query) yet I am getting wit$wolfram_search_query associated with the wiki_get intent. I cannot explain that behavior.

<img width="735" alt="utterance

[2020-07-13 11:28] TRPostma opened #1836 "Can't select entities when it's suggested"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug ?

**What is the current behavior?**
When a new utterance is sent, wit gives me some suggested entities, but if I select them to set it as one of my custom entities it won't let me. I can select the piece of text, but not give it my custom entity.

**If the current behavior is a bug, please provide the steps

[2020-07-13 17:59] nausicaasnow commented on #1836
Hey @CraziiTim, you can first click the "X" button to let go the auto-suggested entities, and then annotate with your own entities :)

[2020-07-13 17:59] #1836 closed, assigned to nobody

[2020-07-13 18:11] FengyangZhang commented on #1835
Hi @terzano, builtin entities like wit$wolfram_search_query are pre-trained and not affected by the utterances you add. I would suggest you use custom entities if you don't want "define something" to be recognized as wolfram_search_query.

[2020-07-13 18:12] nausicaasnow commented on #1831
Hey Nataraj, is the account you can not login your current account with your apps? Or it is a new account just for transferring? If it's the latter, you can register FB accounts to help transferring.

[2020-07-13 18:26] nausicaasnow commented on #1832
Hey @pitr134, this is a new name convention enforcement after we launch the new UI/backend stack.

[2020-07-13 18:26] #1832 closed, assigned to nobody

[2020-07-13 20:45] nataraj-mik commented on #1831
Hi Yupeng,

I’d created a new github account nataraj-mik and am trying to login to Wit using this new github account.

Thanks
Nataraj
+1 508.564.8482

From: Yupeng Zhang <notifications@github.com>
Reply-To: wit-ai/wit <reply@reply.github.com>
Date: Monday, July 13, 2020 at 1:12 PM
To: wit-ai/wit <wit@noreply.github.com>
Cc: Nataraj Kavuri <nataraj@michaels.com>, Mention <mention@noreply.github.com

[2020-07-14 04:01] nataraj-mik commented on #1831
Hi Yupeng,

As suggested, I’d created an FB account with the same email id used for github account nataraj-mik and used “Continue using Facebook” after which I was able to login. A new wit username natarajkavuri_7FZMNSA was created.

I’d also invited this new wit username from an app (App ID = 2095138690517238) in our old account “satyam-mik” which is not upgraded to v2. And now I see the app with

[2020-07-14 06:58] 91ns opened #1837 "Unable to download training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Download training archive is not working
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Go to settings, then click on download
**What is the expected behavior?**
To be able to download the training
*

[2020-07-14 09:41] idanadut opened #1838 "Cannot Train on New UI - "Train & Validate" Button greyed-out"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
BUG
**What is the current behavior?**
In "Understanding tab": I think It's not possible to manually train new phrases since the Train button is unclickable ("Train & Validate" Button greyed-out). see image: [](https://ibb.co/N28CvcF)
**If the current behavior is a bug, please provide the steps to reproduce and i

[2020-07-14 09:42] idanadut commented on #1838
It happens on some of the apps See image in this link: https://ibb.co/N28CvcF

[2020-07-14 12:23] ladislauek commented on #1825
I think this problem is happening when the app is big. It seems that there is a limit to the size of the file that can be exported. I ask the team of wit developers to speed up the fix of this bug.

[2020-07-14 15:32] drronnie85 commented on #1825
I wrote tool for export app on C#. I get every utterance separetly and skip utterance with error. After that build zip.
Problem in some utterances. I think it's happening because i removed some intents (entities, traits) that have utterances.

[2020-07-14 15:51] drronnie85 opened #1839 "API Message with tag argument doesn't work."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a possible bug

**What is the current behavior?**
Request message with "tag" argument returns empty response.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1. I have created application, added first intent and train app.
2. I ha

[2020-07-14 17:52] nausicaasnow commented on #1831
Hi Nataraj,

I have transferred the ownership of these 2 apps to natarajkavuri_7FZMNSA :)

[2020-07-14 17:52] #1831 closed, assigned to nobody

[2020-07-14 23:55] kitchWWW commented on #1839
Thank you so much for reporting this to us! I'll take a look and see if we can help you out.

[2020-07-15 00:04] kitchWWW commented on #1839
Can you show an example of your URL that you are using? (sans auth tokens?) I'm having a hard time reproing.

[2020-07-15 00:09] kitchWWW commented on #1838
Hello! Thank you for sharing this issue with us. I just want to confirm: It looks like from the screenshot that no intent is specified, and it is not marked as "out of scope". If this is the case, this is intentional. Every utterance that is trained must have an intent associated with it. Specifying an intent should make the train button clickable.

[2020-07-15 08:06] merianos opened #1840 "I cannot add a contributor to my app"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**
I cannot find another Facebook member in the contributors field of my app settings.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
I don't know if this is a bug, but I have try search either by the Fac

[2020-07-15 08:44] idanadut commented on #1838
Ok, I understand.
Why did you make that change? In the old UI that option is available.
Personally (and I think others could have too), I have some use cases that I'd like to train that doesn't include a specific intent - for example (a) analyzing some text sentence/phrase to separate it to different entities (as I believe the system also learns what entities to tag in a sentence according to the

[2020-07-15 10:43] 91ns opened #1841 "Bulk Training through API not working properly"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
The training expressions sent through the API are not trained.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

Send expressions to the API in bulk.

Response:

{
  "sent": true,
  "n": 200,
  "WARNI

[2020-07-15 13:35] 91ns opened #1842 "Issues with Intent normalization in Arabic and English"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
In some of the English language apps we have an issue where the space between words is being normalized to "_"

![image](https://user-images.githubusercontent.com/25252530/87551346-e36bdb00-c6b8-11ea-9060-ac358503bba1.png)

In some of the Arabic language apps the Arabic inte

[2020-07-15 16:42] jtliao commented on #1840
You need to use the their Wit username, i.e. the one in the top right corner.

[2020-07-15 16:42] #1840 closed, assigned to nobody

[2020-07-15 16:49] kitchWWW commented on #1838
Hello! The change has enabled us to treat intents with higher priority within our code base, and we encourage others to do the same. We provide the "out of scope" checkbox for negative samples, and if there is no intent present, then you do still have the option of creating a dummy intent to use for these specific use cases.
Thank you again for surfacing this concern to us, and let us know if you

[2020-07-15 16:49] #1838 closed, assigned to nobody

[2020-07-15 17:23] kitchWWW commented on #1837
Hello! Thank you for bringing this to our attention. We will look into this and get back with you ASAP.

[2020-07-16 05:59] drronnie85 commented on #1839
@kitchWWW thank you for your answer.
1. Request `https://api.wit.ai/message?v=20200716&q=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82`
Response contains intent.
2. Request `https://api.wit.ai/message?v=20200716&q=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82&tag=v1`
Response doesn't contain intent.

But intent was learned before creating v1 tag.

[2020-07-16 15:16] kitchWWW commented on #1842
Hello!
Thank you so much for bringing this to our attention. Per your first question, for many named concepts in wit.ai, we don't allow whitespace to be used. Entity names and intent names are encouraged to be either CamelCase or snake_case. We do allow white space in keywords, synonyms, and trained utterances which should suffice for correctly parsing user input.

I will look into your second iss

[2020-07-16 19:51] lisaterumi commented on #1825
I still get the error.

[2020-07-16 21:54] ladislauek commented on #1825
I think this problem occurs because the "intent" entity was deleted when the app was created. In apps that have not been deleted, the problem does not occur. It seems that in the new version of Wit.ai the entity "intent" has to exist, even if it does not have any parameter configured. Can anyone there confirm this?

[2020-07-17 13:18] asfyra opened #1843 "Question about the new understanging UI"
We are a little confused with the "Understanding" functionality on the new UI
Our application id is: 2841817995840539
The old UI shows our application like this

![image](https://user-images.githubusercontent.com/6898230/87789466-c6b1dd80-c847-11ea-906a-875809f206c3.png)

We have 3 entities: intent_faq, poi_location and deposit_type. The entity with the name intent is not generated from us.

The o

[2020-07-17 13:26] ladislauek commented on #1825
@jtliao - can you help us?

[2020-07-17 21:14] jurneek opened #1844 "Training through API not working"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
I see Wit changed their API. We set version in request header However, it doesn’t work.
**What is the current behavior?**
Error message
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable,

[2020-07-17 22:32] abouzia opened #1845 "Login to wit.ai website issue"
When I try to login with facebook or github, an authorization request is sent but nothing happens. the loading page remains like that
<img width="1321" alt="Screen Shot 2020-07-17 at 11 18 05 PM" src="https://user-images.githubusercontent.com/2650972/87834991-c800fb80-c883-11ea-92ba-e9694fa8459c.png">

[2020-07-18 08:56] eurocharts opened #1846 "GET request returns error "Something went wrong""
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

Bug

**What is the current behavior?**

Sometimes(often) Errors when try to get request from Wit.ai API
Instead of JSON returns: "Something went wrong" "We've been notified" code:unknown

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help.**

21

[2020-07-20 06:14] eurocharts commented on #1846
Can You fix it? My application cannot work last 3 days due to a lot of errors

[2020-07-20 08:30] streamgreece commented on #1845
I have the same issue.

In my case when I click the "Continue With Facebook" button I get the following in the console:

![image](https://user-images.githubusercontent.com/56753547/87916550-47591f80-ca7c-11ea-990c-2b275c90103e.png)

As a side not, I let you know that I am using Firefox, and I have disable the Ad Blocker as well I have disabled the tracking protection option.

[2020-07-20 15:15] kitchWWW commented on #1846
Good morning! We are looking into this now. Could you provide a sample API request (without auth token) that has returned an error?

[2020-07-20 15:48] kitchWWW commented on #1845
Hello! We are looking into this now. Are you still experiencing this issue?

[2020-07-20 18:33] ghost opened #1847 "Stuck at ONGOING"
Please restart the app 2788662337869759
stuck at ONGOING
thanks

[2020-07-20 19:39] eurocharts commented on #1846
The same request can return error or correct json

text_arg = '22:06 - Выезд из поселка коптевка возле заправки лукойл работа экипаж проверка документов'

# Wit speech API endpoint
API_ENDPOINT = 'https://api.wit.ai/message?v=20200513'

# Wit.ai api access token

    # defining headers for HTTP request

    headers = {'authorization': 'Bearer ' + wit_access_token}

    # making an HTTP post reques

[2020-07-20 20:32] alsinitsa commented on #1845
Hello!
I have the same issue and same error message in console now.

[2020-07-21 05:57] merianos commented on #1845
@kitchWWW yes, for me. The problem remains the same.

_**Note**: I am the same person as the @streamgreece above, but I handle a different account for a customer project :)_

[2020-07-21 06:33] pantelisziazo commented on #1845
I have the same issue! First time I tried to login in and never let me in, either using my facebook or my github account!

[2020-07-21 11:49] abouzia commented on #1845
Problem solved for me, I just delete wit.ai app from Facebook (Settings > Apps and Websites) and login again with another browser with no extensions, I think the problem is tracking protection option as @streamgreece mentioned because I have Privacy Badger extension installed in my brave browser.

[2020-07-21 11:49] #1845 closed, assigned to nobody

[2020-07-21 12:11] merianos commented on #1845
@abouzia the problem persists.

I have try both with browser without plugins in incognito mode as well with the standard browser I usually run on my computer. In both cases the problem is still there.

I've also used your solution with deleting the app from the Facebook for all of my tries :/

Thank you !! :)

[2020-07-21 17:09] merianos opened #1848 "Login to wit.ai website issue"
When I try to login with facebook or github, an authorization request is sent but nothing happens. the loading page remains like that

![Login Now Allowed](https://user-images.githubusercontent.com/2650972/87834991-c800fb80-c883-11ea-92ba-e9694fa8459c.png)

In my case when I click the "Continue With Facebook" button I get the following in the console:

![Console Errors](https://user-images.githubu

[2020-07-21 17:44] jtliao commented on #1847
It's not stuck, your app is large and takes a long time to train.

[2020-07-21 17:44] #1847 closed, assigned to nobody

[2020-07-21 21:20] jurneek commented on #1829
I'm having the same issue @91ns did anyone from Wit reach out to you yet?

[2020-07-21 21:30] fedariana opened #1849 "Training completion status not accurate"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Training completion is not updating. New utterances are not picking up. Training sync is not occurring.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Training is not occurring. Training update reads

[2020-07-21 21:56] abouzia commented on #1845
I really don't know, According to your experience there is no specific solution that works for everyone, each one shared the solution that worked for him. It can be a temporary problem from the site itself, but I can't confirm anything.

[2020-07-21 21:59] Xueying-Wang commented on #1829
Hello, sorry for the delay. @jurneek what's the language of your app and can you provide your app id as well?

Edit: @91ns would you mind providing more details on whether the intent mismatch happened for that utterance only, or for many other utterances as well, since we don't speak Arabic? Also could you check if you have by accident trained similar utterance under any other intent?

[2020-07-21 22:07] jurneek commented on #1829
@Xueying-Wang the app ID is 1160659604277531

[2020-07-21 22:18] jtliao commented on #1849
Please provide the app ID

[2020-07-21 23:37] fedariana commented on #1849
Hi there, here is the App ID: 1160659604277531

On Tue, Jul 21, 2020 at 3:18 PM Jason Liao <notifications@github.com> wrote:

--

*Federika Cariati*
Client Success Manager at Paradox <https://www.paradox.ai/>

phone *(**602) 680-9311*

email  fed@paradox.ai

[2020-07-22 01:43] FengyangZhang commented on #1839
fixing the issue

[2020-07-22 08:16] gibranscr opened #1850 "Post Utterance Wit"
hi I am trying to train the model by posting utterances using python. I am structured the function as it is stated on wit.ai, is there any issue with my code?

--------------------------------

import urllib.parse as up
import requests
import json
qry='Characteristics of the benzene'
q = up.quote(qry);
API_ENDPOINT='https://api.wit.ai/utterances?v=20200624'
wit_access_token='xx'
def createMessage(

[2020-07-22 16:32] patapizza commented on #1848
Hi @merianos,

We weren't able to repro but made some changes on that code path. Does the issue still occur for you?

Thank you.

[2020-07-22 16:35] patapizza commented on #1850
Hi @gibranscr,

Please do not post your access token publicly. I highly encourage you to reset it in the Settings of your app.
We don't have the bandwidth to look into client-side code. That being said, you might find our Python SDK, [pywit](https://github.com/wit-ai/pywit), useful.

[2020-07-22 16:35] #1850 closed, assigned to nobody

[2020-07-22 16:40] patapizza commented on #1843
Hi Alex,

Intents and traits are now first-class citizens. You don't have any intents ("intent" trait in the old UX). To validate a new utterance, you need to declare an intent or mark it as out of scope. Currently marking as out of scope will ignore the entities and traits. We might revisit this to allow to only work with entities and traits. In the meantime, you can either associate a new intent

[2020-07-22 16:40] #1843 closed, assigned to nobody

[2020-07-22 16:49] asfyra commented on #1843
Thank you @patapizza

[2020-07-22 16:52] gibranscr commented on #1850
Hi @patapizza I was just asking about the structure of the post in which I should specify the fields correctly like in this part:

'entity':'chemical_substance:chemical_substance',
            'start':23,
            'end':29,
            'body':'benzene',
            'entities':

I mentioned that I am following the specifications on the wit.ai website,but there is response from the wit.ai when an

[2020-07-22 17:23] jtliao commented on #1849
You're right, it was stuck. It should be back to normal now.

[2020-07-22 17:23] #1849 closed, assigned to nobody

[2020-07-22 22:22] kitchWWW commented on #1837
Hello! Can you confirm if you are still having this issue? We've looked into it from our side and it looks like export should be working

[2020-07-22 22:29] kitchWWW commented on #1841
Hello! Thank you for reaching out: With the release of our new wit.ai website, we have altered the way that wit.ai handles intents to consider them higher priority / first class parsable information. In the future, we need all samples to be trained to either have an intent, or be marked out of scope. Please see https://github.com/wit-ai/wit/issues/1838 for more discussion.

[2020-07-22 22:33] FengyangZhang commented on #1839
Hi @drronnie85 , the problem is fixed, you can delete the snapshots you have and create new ones. Thanks for raising this issue!

[2020-07-22 22:33] #1839 closed, assigned to nobody

[2020-07-22 23:57] patapizza commented on #1841
Hi @91ns,

Can you share an example on how you're querying the API? Seems like you're not using the latest version yet.
To clarify, intents are optional in the [POST /utterances](https://wit.ai/docs/http/20200513#post__utterances_link) API.

[2020-07-23 06:07] mintunitish commented on #1846
I am experiencing the same issue. The whole application is down! Is there any update regarding this?

[2020-07-23 06:11] mintunitish opened #1851 "API request to /message endpoint results in an unknown error"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
API Request are returning an error response.

`{"error":"Something went wrong. We've been notified","code":"unknown"}`

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Send an API request to the endp

[2020-07-23 06:32] #1851 closed, assigned to nobody

[2020-07-23 08:04] sophiexr opened #1852 "out of scope preselected"
hi,

In the  understanding section of the new interface, "out of scope" comes preselected for all answers. Could you help us correct that? we don't want it to be selected for any reply.

app id: 2841817995840539

<img width="1128" alt="wit" src="https://user-images.githubusercontent.com/48153186/88265054-76b69900-ccd5-11ea-9e45-5f56628fde5b.png">

thanks

[2020-07-23 09:14] merianos commented on #1848
@patapizza  things seems like have been changed, but yet I cannot access my apps :cry:

[Watch this video I recorded to see what happen.](https://youtu.be/cp0j187AAJY)

The video is recorded in Ubuntu Desktop, with Chrome browser in incognito mode.

The first part of the video in the Facebook settings, I just show you that I don't have the application registered yet.

[2020-07-23 09:36] 91ns commented on #1841
Hi @patapizza ,
The issue is that the API doesn't return an error but the expressions are not trained, and this is not always happening.

We're not able to use POST /utterances at the moment because the new version requires us to create the intents before training instead of automatically training them

[2020-07-23 10:34] papgmez opened #1853 "Speech to Text service sometimes returns Internal Server Error"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
report a *bug*
**What is the current behavior?**
Sometimes speech to text service returns `Internal Server Error`.

This happens when I try to transcribe mp3 spanish audios into text.

After that I retry and it works perfectly

**If the current behavior is a bug, please provide the steps to reproduce and if poss

[2020-07-23 18:36] ghost opened #1854 "Stuck at Ongoing"
appid :2788662337869759
stuck on ongoing for last 2days
usually when i raise this issue, you guys tell me it is a large application so taking time to train.
but last training took only 1hr and 35 minutes, and the current training is going on for last 2 days
please help
![Screen Shot 2020-07-23 at 11 55 39 PM](https://user-images.githubusercontent.com/36190477/88324485-64724480-cd41-11ea-8237-82817

[2020-07-23 20:58] jtliao commented on #1852
This is not a bug -- we run the utterance against your apps models when showing it in the inbox. If it shows up as out of scope, it means that's what your app would have predicted, otherwise there would be intents/entities that show up there.

[2020-07-23 20:58] #1852 closed, assigned to nobody

[2020-07-24 09:37] gibranscr opened #1855 "POST Utterance Wit.ai Not Training the Model"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
I want you to confirm me about the elements required to do the post of utterances in wit.ai as I am following the guidelines on the website and it is not working
**What is the current behavior?**
I wrote this piece of code to post an utterance, can you verify that it is complete. I mean are all the elements stat

[2020-07-24 13:42] leoyd opened #1856 "Can't retrieve list of intent"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**

Since July or before when i execute the http request  `GET https://api.wit.ai/entities/intent?v=20180910` for getting the list of my registered intent i resulted with an
`{
    "error": "Entity 'intent' not found",
    "code": "not-found"
}`

But entity intent exist and go

[2020-07-24 16:38] jtliao commented on #1856
`GET /intents` would be the way to do this (documentation: https://wit.ai/docs/http/20200513#get__intents_link).

`GET /entities` is exclusively for entities, which are separate from intents now.

Hope this helps.

[2020-07-24 16:38] #1856 closed, assigned to nobody

[2020-07-24 16:41] jtliao commented on #1853
It's inevitable to have some Server Errors, our service reliability can be tracked at https://wit.ai/status. Unfortunately, it looks like our server status has dropped as of late, we'll definitely work on bringing that back up, as this is affecting everyone. Thanks for your support.

[2020-07-24 16:41] #1853 closed, assigned to nobody

[2020-07-24 16:42] jtliao commented on #1854
You're right, the training got stuck on our side (it's more susceptible to happening for large apps like yours). I've kicked it off again.

[2020-07-24 16:42] #1854 closed, assigned to nobody

[2020-07-24 20:57] patapizza commented on #1848
Hi @merianos,

I'm not able to reproduce this.

Did you have a Github account previously? If so, do you remember the user name/does signing in with Github work? Otherwise, what is your Facebook account?

Thanks.

[2020-07-25 05:35] merianos commented on #1848
Ah, @patapizza you may be right. So, what happen is the following.

I have start a project along with a co-worker of me. The project is related to sports events, and we use the wit.ai for extract some data from the sport events.

Initially, we start a wit.ai project, using the previous version of the wit.ai, and the account we made was from GitHub.

Then, I read that you updated the wit.ai version

[2020-07-25 07:08] drronnie85 commented on #1839
@FengyangZhang thank you! It works)

[2020-07-27 12:40] lisaterumi commented on #1846
I have a similar issue (#1825). Can you verify too?

[2020-07-27 13:00] krishna9626 opened #1857 "Inaccessible on inbox page"
**Bug**

Inaccessible on inbox page and displayed message to report on Github. Meanwhile not able to validate the sentences

**Fix the bug**

[2020-07-27 15:47] patapizza commented on #1857
Hi @krishna9626,

What is your app ID? Is it the new UX or the old one? We're pushing a fix for the old one.

[2020-07-27 15:53] patapizza commented on #1848
Ha, yes, the conflicting email is the issue.

I suggest to 1) login with Github, then 2) login with Facebook using your personal account. You shouldn't create a separate Facebook account for this.

I wonder why adding a contributor doesn't work. What is your co-worker Wit username? Are they using Facebook-login?

[2020-07-27 16:06] patapizza commented on #1841
Once again, the `intent` field is optional for [`POST /utterances`](https://wit.ai/docs/http/20200513#post__utterances_link). Entities and traits will train regardless of intents.

The Utterances section of the new UX doesn't show the traits and entities when no intent has been annotated, but the traits and entities are still taken into account. The Understanding module should perform properly, ac

[2020-07-27 16:10] patapizza commented on #1855
Hi @gibranscr,

This seems about right, and the utterance is working:

<img width="758" alt="Screen Shot 2020-07-27 at 9 08 50 AM" src="https://user-images.githubusercontent.com/1015208/88565050-ecc64300-cfe8-11ea-94ff-e3623007c586.png">

[2020-07-27 16:10] #1855 closed, assigned to nobody

[2020-07-27 16:10] patapizza commented on #1844
Hi @jurneek,

Can you share an example of a request you issued? Your app ID would help too.

Thank you.

[2020-07-27 16:12] patapizza commented on #1829
Hi,

To help with this issue, we need to know what is the expected outcome vs the actual result for a few utterances. Please use plain text so we can look the utterances up.

Thanks.

[2020-07-27 16:14] patapizza commented on #1825
Sorry about the delay here. I'm looking into it.

[2020-07-27 16:27] #1842 closed, assigned to nobody

[2020-07-27 16:31] patapizza commented on #1827
Hi @contamaiiis,

Thanks for reporting. We've deprecated the old UX on June 17; we're focusing on improving the UX on the new web app. Please give it a try at your earliest convenience, and let us know if you experience further issues.

[2020-07-27 16:31] #1827 closed, assigned to nobody

[2020-07-27 16:33] patapizza commented on #1671
We've made some improvements and deprecated `POST /samples` in favor of [`POST /utterances`](https://wit.ai/docs/http/20200513#post__utterances_link). We've introduced [`POST /intents`](https://wit.ai/docs/http/20200513#post__intents_link) as well.

[2020-07-27 16:33] #1671 closed

[2020-07-27 16:42] patapizza commented on #1825
Your app is now fixed @lisaterumi.
That's correct @ladislauek, intents are now first-class citizens, and they are required (even if none are actually defined).

[2020-07-27 16:42] #1825 closed, assigned to nobody

[2020-07-27 16:45] patapizza commented on #1837
I've been able to export both apps.

[2020-07-27 16:45] #1837 closed, assigned to nobody

[2020-07-27 17:32] lisaterumi commented on #1825
Thank you very much. Now it´s perfectly working.

[2020-07-27 17:53] patapizza commented on #1823
Thanks for reporting, it's a good data point to improve the built-in entities.

[2020-07-28 06:19] merianos commented on #1848
@patapizza thank you for your help and the details you shared with me.

I followed the exact steps you described, but unfortunately i didn't worked yet :cry:

Steps I followed:

1. Sign in to my github.com account
2. Sign in to my facebook.com account
3. Delete the Wit from my Apps and Websites
4. Sign in to Wit.ai using the github.com and from the /apps/ I clicked on "Not This Time"
5. From my ac

[2020-07-28 07:08] krishna9626 commented on #1857
Hi @patapizza

It is a old one...I checked it ,now it is working i can able to access the inbox page
Thanks

[2020-07-28 07:08] #1857 closed, assigned to nobody

[2020-07-28 13:09] yvaskovski commented on #1794
Hi @patapizza,

I have created a new app for the same purpose and it doesn't have that bug in it. So, just like I expected, the bug I had in the previous app was due to migration to the new version of the platform.

I wish you'd think of that yourself or tried copying my app so I wouldn't have to do this, but I guess since you are ignoring this whole thread, I was left by myself.

[2020-07-28 13:18] dsokac commented on #1794
@yvaskovski , yup... totally unprofessional of them. Thank you for this notification. Then I may just copy the app into a new one if that is the way of solving the issue. My app is a bit bigger and I cannot do it manually. Can you confirm if copying the app with the issue into new app is a solution to the problem?

And for developers, it is highly unprofessional to shut the thread like this. The l

[2020-07-28 13:29] yvaskovski commented on #1794
@dsokac , hey, i don't know since I did it manually, but I'll try it in a few hours and let you know.

[2020-07-28 13:36] yvaskovski commented on #1794
@dsokac, so I just tried creating a new app from an export of the one I created manually, and it reproduces the bug. So, my assumption is they have a lot of problems with migration. I switched my API calls back to the manual one and they work fine.

[2020-07-28 13:37] dsokac commented on #1794
Okay, thank you @yvaskovski

[2020-07-28 16:27] Lemonzyy opened #1858 "400 HTTP ERROR on the documentation page"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug report:
**What is the current behavior?**
The documentation is not available, the page return a 400 HTTP error 😕
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Go to [the doc](https://wit.ai/docs)
**What is the expected behavior?**
A

[2020-07-28 16:36] patapizza commented on #1858
Thanks, I'm looking into it.

[2020-07-28 16:38] ghost opened #1859 "stuck at ongoing"
pls restart app 2788662337869759
thanks

[2020-07-28 19:35] Lemonzyy commented on #1858
Any news ? :'(
![](https://user-images.githubusercontent.com/47032639/88712491-1d59ca00-d11a-11ea-8281-ef9d1578ab71.jpg)

[2020-07-28 21:04] patapizza commented on #1858
We're rolling out an updated design for the documentation, yet internal infra issues are currently blocking the full roll-out, which makes the current state unstable. I'm working closely with the right people, yet alas it's mostly outside of our area of control. Thank you for your patience.

[2020-07-28 22:30] patapizza commented on #1859
Done!

[2020-07-28 22:30] #1859 closed, assigned to nobody

[2020-07-29 06:26] oliverjessner opened #1860 "Feature request: Blocklist Synonyms"
**Do you want to request a *feature* about wit?**
My request is a duplicate of:  https://github.com/wit-ai/wit/issues/855
The problem with implementing it in duckling is, that we don't have any Haskel programmers
at my company. I don't even know one person having experience in Haskel.
Maybe the wit team or some else has some spare time to to add this feature.
Thanks in advance.

**What is the expe

[2020-07-29 09:41] Lemonzyy commented on #1858
The documentation seems to be accessible, I close this issue. Thanks you for having solved this problem 👍

[2020-07-29 09:44] Lemonzyy commented on #1858
It seems that I can access it on mobile but not on my desktop. Edit: I think it was my cache, it doesn't work now

[2020-07-29 12:35] gnovis opened #1861 "Traits usage"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Ask a question.

Hi, I wanted to ask about correct usage of Intents and Traits (at most recent version). What is a typical scenario when to use Traits? Is it sufficient to use only Intents for text classification with e.g. fifty classes?
Thanks.

[2020-07-29 12:47] gnovis opened #1862 "Utterance preprocessing"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Ask a question.

Is it recommended to preprocess (normalize) the Utterance before training? For example, lowercase, remove punctuation or lemmatize? Does the Wit normalize the Utterances internally? How? (I'm using Wit for Czech language)
Thanks.

[2020-07-29 14:46] patapizza commented on #1858
Let's keep it open until the new docs is live, i.e. when the roll out has been fully completed.

[2020-07-29 15:09] Lemonzyy commented on #1858
np ^^

[2020-07-29 17:17] eduardovoll commented on #1670
It seems that metadata did not appear in the response again. Below the comparison of the old deprecated version and the new version.

![image](https://user-images.githubusercontent.com/27147492/88831668-0cef3100-d1a6-11ea-8b78-e1e9b64491fe.png)
![image](https://user-images.githubusercontent.com/27147492/88831694-15e00280-d1a6-11ea-9148-82d593bfdd8d.png)

[2020-07-29 17:22] eduardovoll opened #1863 "GET /message doesn't include metadata again"
This is a bug report. GET requests to /message are not including metadata (it was included in the past – I believe it stopped working w/in the past week or so). This looks similar to closed issues #177, #553, #561, #1670

Example request:
GET /message?v=20200701&q=i%20forgot%20my%20password

Old version
![image](https://user-images.githubusercontent.com/27147492/88832115-b6362700-d1a6-11ea-8122-f6

[2020-07-29 19:47] aforaleka commented on #1860
Hi @oliverjessner, if this is related to parsing date time, I suggest opening a Github issue in our [duckling](https://github.com/facebook/duckling/issues) repo and see if other programmers can help tackle that. We'll keep this as a feature request but in the meantime, you can try adding another keyword to handle those synonyms.

[2020-07-29 19:59] aforaleka commented on #1861
Hi @gnovis, good question. Usually it is sufficient to use only intents in an app. We recommend using traits when there is a secondary intent you want to recognize, such as the sentiment of the sentence.

[2020-07-29 19:59] #1861 closed, assigned to nobody

[2020-07-29 20:46] aforaleka commented on #1863
Hey @eduardovoll, can you provide your app id to help us debug?

[2020-07-29 20:57] eduardovoll commented on #1863
app_id: **2790653000968194**

It Works
https://api.wit.ai/message?v=20200329&explain=true&verbose=true&autosuggest=true&q=garantia de montagem
It
Doesn't work
https://api.wit.ai/message?explain=true&verbose=true&autosuggest=true&q=garantia de montagem

[2020-07-29 21:09] gnovis commented on #1861
Thank you @aforaleka

[2020-07-29 21:15] jurneek commented on #1844
@patapizza could we email instead to go over this issue?

[2020-07-29 21:19] jurneek commented on #1829
@patapizza another member of wit contacted and was able to fix it although additionally similar issue seems to be happening when our app is opened by two different people with the same phrases it's pulling different intents. I have images I can show if you want to chat via email.

[2020-07-29 22:03] patapizza commented on #1863
Hey @eduardovoll,

Thanks for the feedback. We haven't included metadata in the latest version; we need to think more about it. We're tracking this in https://github.com/wit-ai/wit/issues/1812. Here's a workaround: implementing a simple map lookup on your end. Let me know if that would work.

[2020-07-29 22:08] patapizza commented on #1862
Hi @gnovis,

In general, I'd advocate for the simplest approach first: just try out Wit without any preprocessing, and see if this works well enough. Then you can experiment with custom preprocessing and see if it improves and whether the extra complexity is worth the quality improvement. FWIW most don't do any preprocessing, the models work well for a wide range of languages; it should *just work

[2020-07-29 22:08] #1862 closed, assigned to nobody

[2020-07-29 22:11] patapizza commented on #1861
To add to this, if you get to a really wide range of classes, with some very closely related, it would help to do a multi-layer classification by grouping under intents, then training custom traits for each subcategory. An example of this would be a list of 100 FAQ grouped by categories (e.g. account, billing, product roadmap).

[2020-07-29 22:13] patapizza commented on #1860
Can you share an example of what you're trying to do? Thanks.

[2020-07-29 22:30] patapizza commented on #1848
Are you using the same email address with your Facebook account? Is there another email address I can update your GitHub account with?

[2020-07-29 22:37] patapizza commented on #1844
That works; I sent you an email, taking it offline.

[2020-07-29 22:37] #1844 closed, assigned to nobody

[2020-07-29 22:41] patapizza commented on #1829
Yes, please share those in the email. Closing as original issue is resolved.

[2020-07-29 22:41] #1829 closed, assigned to nobody

[2020-07-30 05:07] ashton-southall opened #1864 "Unable to access apps on site"
There is a Bug currently where I am unable to click my app in the list of apps

When I try to click the listing for my app (Browser: Opera GX) the website does nothing
![Annotation 2020-07-30 150344](https://user-images.githubusercontent.com/38774365/88882948-5909a680-d276-11ea-82bb-7b1c2738ba0f.png)

[2020-07-30 06:46] oliverjessner commented on #1860
@patapizza We want to block words like "corona" because wit thinks most of the time it's a location or contact.
And thinks like "So" which is an adverb in german is recognized as a datetime (Sonntag eng.: Sunday).

Does pretrained data have any impact of the intents?

[2020-07-30 06:58] tzufstokelman commented on #1864
Happend to me as well. try to copy the App ID to the URL to enter the app.

[2020-07-30 07:34] merianos commented on #1848
Hello @patapizza,

I am using the same email address for both accounts.

The address is the: `stream greece -at- gmail dot com` _(without spaces of course and replace the `-at-` with `@` and the `dot` with a real `.` :smiley: )_

Again, appreciate your help !! :) You are awesome ;) :)

[2020-07-30 08:59] pantelisziazo opened #1865 "Cannot log in"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
yes
**What is the current behavior?**
I can not log in
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
From home page (wit.ai) I press the button "continue with facebook" and then a window pops out, asks for me to grants facebook permissi

[2020-07-30 12:05] gnovis commented on #1861
Thank you @patapizza the example helped me

[2020-07-30 12:07] gnovis commented on #1862
Thank you @patapizza

[2020-07-30 16:32] idanadut opened #1866 "Import from a backup not working properly"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
BUG

2 different (and perhaps related) bugs.
**What is the current behavior?**
When I opened a new app (Hebrew language) with the new version of Wit.ai, I used imported data from one of the other apps (also in Hebrew) that I have. I added a contributor, and when he opened the same app the Entities contain much m

[2020-07-30 16:49] patapizza commented on #1866
Thanks for reporting, this is an interesting behavior. We'll look into it.

[2020-07-30 16:55] patapizza commented on #1848
Hey @merianos,

Is there another email address I can update your GitHub-login account with?

[2020-07-30 16:56] patapizza commented on #1865
Hi @pantelisziazo,

Did you have a GitHub-login account before?
The app ID doesn't seem to exist.

[2020-07-30 16:57] patapizza commented on #1864
Thanks for reporting, we're looking into it.

[2020-07-30 17:50] jiayexie commented on #1864
Thanks @Adsnipers @tzufstokelman for reporting. We've reverted the offending change; it should be fixed in ~3 hours.

[2020-07-30 23:49] jiayexie commented on #1864
Fixed

[2020-07-30 23:49] #1864 closed, assigned to nobody

[2020-07-31 05:45] pantelisziazo commented on #1865
Yes I have.

[2020-07-31 06:31] merianos commented on #1848
Sorry, I don't understand ?

What are you trying to do? You need to replace the email I currently have with a different email?

If this is the case, unfortunately I don't have second email address. If you think this is mandatory, then let me know to build yet another email address from scratch.

Thank you :smiley_cat:

[2020-07-31 06:34] pantelisziazo commented on #1848
I have the same problem!

[2020-07-31 09:11] Lemonzyy commented on #1858
we agree that the documentation works correctly? I want to thank you all on your team for fixing the problem ❤ (I'm waiting for you to close the issue)

[2020-07-31 12:39] saadrawasia opened #1867 "Location not recognized"
bug

When i enter a location, wit does not recognize it.

![image](https://user-images.githubusercontent.com/16437049/89035385-436aae80-d354-11ea-82e3-b3a76ca79fb6.png)

Previously it was accepting the locations.

Also the geocode is being considered as phone numbers

![image](https://user-images.githubusercontent.com/16437049/89035664-c7bd3180-d354-11ea-9f7a-861908e05a54.png)

[2020-08-02 08:29] ashton-southall opened #1868 "Live utterance search / filters feature request"
**Feature Request**
With my current project using Wit.ai it would make my life a lot easier to have a way to filter search through the live utterances and even a way to discard all live utterances would be really nice.

I would like to be able to filter through all live utterances and only show certain intents, traits etc.

[2020-08-02 12:03] Lemonzyy commented on #1858
2 days ago it worked well but since yesterday it doesn't work anymore 😕

[2020-08-02 15:18] idanadut commented on #1866
Hi @patapizza
I tried a few more times on different occasions (and after re-training the original app) and it seems to always reproduce.
BTW, We use the backup feature to start from scratch again or to add similar apps.
Thanks!

[2020-08-03 04:40] ashton-southall opened #1869 "Website doesnt load on Firefox"
I am attempting to use the website on Firefox but when I try to load wit.ai the site finishes loading and displays a blank page
![image](https://user-images.githubusercontent.com/38774365/89146495-3f7a9e80-d597-11ea-94c5-2fa03a791c0a.png)

[2020-08-03 13:51] idanadut commented on #1866
Also, the utterances section is empty to search in when importing?
 **I think I understand what happens and this could be a major bug, let me know what you think** @patapizza :
I believe what happens is that in the utterance.json of the backup zip you can tag "stat", "end" & "body"- but "body" isn't always the keyword itself - usually it takes the synonym itself from the phrase.
So, for example, i

[2020-08-03 16:14] patapizza commented on #1858
The roll out has been resumed last Friday. Hopefully things should settle in by EOD (Pacific Time).

[2020-08-03 16:16] patapizza commented on #1865
What is your Wit username or Github account? I couldn't find anything for `pantelisziazo`.

[2020-08-03 16:27] Lemonzyy commented on #1858
Okay nice, thank you very much :)

[2020-08-03 16:39] patapizza commented on #1848
All right, try signing in again @merianos.

@pantelisziazo Tracking in https://github.com/wit-ai/wit/issues/1865.

[2020-08-03 16:46] patapizza commented on #1869
Hi @Adsnipers,

Is it consistent? Is it working for you in another browser? Have you tried hard refreshing?

It's working on my end:
<img width="1208" alt="Screen Shot 2020-08-03 at 9 45 14 AM" src="https://user-images.githubusercontent.com/1015208/89206380-14c82000-d56e-11ea-9152-242b0ffb5859.png">

[2020-08-03 16:47] patapizza commented on #1868
Hi @Adsnipers,

Thanks for the suggestion. What is your app ID so we can get a better understanding on your use case?

[2020-08-03 16:48] patapizza commented on #1867
Hi @saadrawasia,

What is your app ID?

[2020-08-03 16:57] patapizza commented on #1860
Thanks for the additional info.

So filtering out built-in entities would be applying band-aid. We're tracking improvements to the built-in models.
In the meantime, I'd recommend applying a blacklist filtering when you're processing Wit response (the same way you'd ignore intents/entities below a certain confidence threshold).
Thank you for reporting the issue with `wit/datetime`. It's because of

[2020-08-03 16:57] #1860 closed, assigned to nobody

[2020-08-03 18:14] ruoyipu commented on #1751
Hi, thanks for reporting! This should now be fixed. New keyword edits going forward should save accents appropriately.

[2020-08-03 18:14] #1751 closed

[2020-08-03 21:02] patapizza commented on #1860
`so` should no longer trigger `wit/datetime` in German, whereas `so.` should still do.

[2020-08-04 05:11] saadrawasia commented on #1867
Hi @patapizza,

This is my test APP ID is 1718695531475815.

It seems like the location is now working but the geocode is still considered as phone number.

[2020-08-04 05:14] saadrawasia commented on #1867
Sorry i missed the comma between the latitude and longitude of the geocode. Its now working. Thanks

[2020-08-04 05:43] merianos commented on #1848
@patapizza still doesn't work :cry:

Just to let you know, what I do, is with incognito mode, and I continue having the same issue.

thank you :smiley_cat:

[2020-08-04 06:04] ashton-southall commented on #1868
Hi @patapizza
This is my app ID
902268286921131

I'm pretty sure this isnt an ordinary use case but I'm using Wit to moderate chatrooms

[2020-08-04 06:05] ashton-southall commented on #1869
Hi there @patapizza
It seems to be only in Firefox, I currently use Wit in Microsoft edge just fine with no issues

[2020-08-04 06:08] ashton-southall commented on #1869
I think i've isolated the issue, turning off advanced tracking protection fixes the issue

[2020-08-04 10:44] ghost opened #1870 "Stuck at ONGOING"
please restart appid:2788662337869759
thanks

[2020-08-04 12:45] #1858 closed, assigned to nobody

[2020-08-04 14:28] patapizza commented on #1858
The new docs have shipped. Thanks for your patience.

[2020-08-04 17:05] jtliao commented on #1846
This should be mitigated now.

[2020-08-04 17:05] #1846 closed, assigned to nobody

[2020-08-04 17:49] ghost commented on #1870
my app is large, but this issue is getting consistent, it would be better if this issue is solved

[2020-08-04 21:02] patapizza commented on #1848
Hmm. Can you share in plain text the `x-fb-*` keys-values from the response to `https://api.wit.ai/me/facebook_signin`?

[2020-08-04 21:04] patapizza commented on #1870
Done.

[2020-08-04 21:04] #1870 closed, assigned to nobody

[2020-08-04 21:05] #1867 closed, assigned to nobody

[2020-08-04 21:05] patapizza commented on #1869
Glad you got it resolved!

[2020-08-04 21:05] #1869 closed, assigned to nobody

[2020-08-05 07:04] merianos commented on #1848
Hello @patapizza

Of course.

The Request / Response data are the following:

**General:**
[code]

**Response Headers:**
[code]

**Request Headers:**
[code]

**Request Payload:**
[code]

**Response Body:**
[code]

[2020-08-05 15:34] andro1970 commented on #1848
I can't login to the wit.ai to ...

[2020-08-05 18:38] patapizza commented on #1848
Thank you for the info. I could reproduce the issue and I'm working on a fix.

[2020-08-05 18:56] patapizza commented on #1865
Probably related to: https://github.com/wit-ai/wit/issues/1848. Now that I've been able to reproduce the issue, let's see if the fix resolves your case as well.

[2020-08-05 18:56] #1865 closed, assigned to nobody

[2020-08-05 19:45] patapizza commented on #1848
The fix is on its way; you should be able to sign up in a few hours (I'll close the issue).

[2020-08-05 23:16] ghost opened #1871 "stuck at ongoing"
appid:2788662337869759
the issue is getting very very consistent,
could you check why the app is getting stuck, the main reason

[2020-08-06 05:57] merianos commented on #1848
@patapizza you are the best !! :star_struck:

I just got access !! Than you very much for your efforts and your help !!

Have a great day.

[2020-08-06 05:57] #1848 closed, assigned to nobody

[2020-08-06 06:25] pantelisziazo commented on #1848
me too! just now it let me to login in properly ! I hope it will stay that way !
thank you very much for your help !!

[2020-08-06 08:23] 91ns opened #1872 "Training is not reflected"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
The issue reported here https://github.com/wit-ai/wit/issues/1829 is still persistent.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Utterance is trained with intent : time_AR
![image](https://user

[2020-08-06 13:29] andro1970 commented on #1848
+1

[2020-08-06 15:24] sebastianarena commented on #1746
@jtliao I'm sorry to say this issue has re-appeared. In a different form, and I believe it's probably due to the new dashboard. When someone on my team requests to transfer ownership to me, I get an email (great!), I tap on the link, I get to a facebook address (instead of directly to a wit address, which is kind of annoying), but then Facebook asks me to "follow link" and when you tap that, you g

[2020-08-06 16:00] patapizza commented on #1848
Glad it's working now! Thanks again for your patience.

[2020-08-06 16:59] lycai-fb commented on #1871
Hey @sabinchacko007,
Looks like there was one training job from 3:40PM that was stuck in training, but there were actually others from 3:59 and 4:01PM which succeeded. I believe this might be a UI issue.
In any case I've started retraining your app.

[2020-08-06 17:00] patapizza commented on #1872
Hi,

Indeed all `time_AR` utterances start with `متى اوقات`, and I couldn't find any utterances starting with `متى اوقات` and annotated with a different intent.
I see there are 72 annotated utterances for `time_AR`, yet 479 for `recomendation`. The dataset is not balanced, which makes me wonder if adding more examples of `time_AR` utterances would help. Given that you have many other intents, I'd

[2020-08-07 18:50] #1871 closed, assigned to nobody

[2020-08-07 23:26] jtliao commented on #1746
hey @sebastianarena, do you think you can forward me the transfer ownership e-mail at jtliao@fb.com? I'd like to take a look to see where the link is sending you.

[2020-08-07 23:30] sebastianarena commented on #1746
Just did!
On 7 Aug 2020 20:26 -0300, Jason Liao <notifications@github.com>, wrote:

[2020-08-08 22:11] crypticminds opened #1873 "Question regarding speech recognition"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help.**
777886629686542

I am trying to use the speech API for speech recognition but I have been facing a lot of issues while trying to send the data from my client-side (Javascript) to the

[2020-08-10 16:07] jtliao commented on #1746
We'll have a fix out soon. As a work around, you can try manually removing the `/v2` and `/management` from the URL, and it should work again.

[2020-08-10 16:10] sebastianarena commented on #1746
@jtliao THANK YOU!

[2020-08-10 18:29] patapizza commented on #1873
Hi,

Make sure the content you're sending reflects the content-type header: https://wit.ai/docs/http/20200513/#post__speech_link
Also if you're streaming, you should set the `Transfer-encoding` header to `chunked`, as specified in the documentation link above.

Hope this helps!

[2020-08-10 18:29] #1873 closed, assigned to nobody

[2020-08-11 13:23] ghost opened #1874 "Restart my app"
appid :2788662337869759

stuck at ongoing
thanks

[2020-08-11 15:24] jtliao commented on #1746
@sebastianarena this should be fixed now

[2020-08-11 17:31] johnny14789 opened #1875 "Site is not opening properly"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2020-08-11 17:33] johnny14789 commented on #1875
the site in chrome is not refreshing after sending an authorization token from Facebook login button. And it works on internet explorer but not loading the content properly.

[2020-08-11 18:54] sebastianarena commented on #1746
@jtliao thank you! worked perfectly

[2020-08-12 14:25] sabinchacko007 commented on #1874
could you please try to find a solution, as it is getting stuck on training ONGOING daily. am not able to train the app.

[2020-08-12 14:58] ghost commented on #1874
As our app is consistently getting stuck in training, would it help if we exported this data and created a new app?

The current 1000+ intents is set to grow to around 5000 in the next 6 months.

Or would it make sense to create another app which will take all the new intents we create from here.

We know that we're bothering you guys too often with our app getting stuck in training.

Thanks in ad

[2020-08-12 15:58] patapizza commented on #1875
Hi @johnny14789, can you share a screencast of the issue you're facing on Chrome?

[2020-08-12 16:02] patapizza commented on #1874
Hey,

Your app is pretty large, which is causing some training infra issue. Creating a new app with the same data unfortunately wouldn't help. We're happy to reset the training for your app until we improve our infra.
Thanks for the heads up regarding the expected growth in intents. How is the performance of your app doing for such a large set of intents?

[2020-08-12 16:06] patapizza opened #1876 "Utterances are gone"
Originally posted in https://github.com/wit-ai/node-wit/issues/210 by @oliverjessner

**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**
Utterances section is empty

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**I

[2020-08-12 16:06] ghost commented on #1874
The performance is great. We have problems with the training only when it get stuck in training more often.

Could we slice it up into one more app with the new set of intents going to that new app? Would that help?

[2020-08-12 16:12] patapizza commented on #1874
Good to hear.

Yes, though you'll have two different models not aware of all the intents; you'll have to figure out which one to trust. A slightly different approach would be to slice the data more coarsely first, and then for each resulting class, create a trait to classify the the finer-grained intents. The top level intent classifier might still be an issue, as it'd be fed the whole dataset. So

[2020-08-12 16:12] #1874 closed, assigned to nobody

[2020-08-13 15:25] umnibot opened #1877 "Do not see ALL utterances - Instead of 9786 utterances, it is showing 2339"
Here is what I am facing.

I have an app that I imported from Dialogflow (approx 9000 utterances). _Btw, don't ask me how I imported it. It was hell and a lot of manual work._
When trying to see the utterances for a specific intent, it says that there are no utterances associated with the intent.
However, when I type one of the expected utterances in the training section, it matches it correctly t

[2020-08-13 16:02] ghost opened #1878 "Stuck at ongoing"
appid :2788662337869759
thank you

[2020-08-13 16:03] ghost commented on #1878
It would be better if you not closed this issue until the resolution is found, otherwise i would have to create an issue every time my application got stuck.
Thanks

[2020-08-14 15:22] gnovis opened #1879 "The app is broken when trait is removed"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
The app is broken when the trait with utterances is removed.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
I removed the trait which was assigned to some utterances and the error raised. Under the

[2020-08-14 17:30] jurneek opened #1880 "Export Error"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Export Error
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
When trying to export an app getting an error message that something went wrong
**What is the expected behavior?**

**If applicable, what i

[2020-08-14 17:46] dupengling commented on #1878
Hi @sabinchacko007, the training system can get stuck for various of reasons. I've manually trained this app you.

[2020-08-14 17:46] #1878 closed, assigned to nobody

[2020-08-14 18:31] ghost commented on #1878
now the app is not resolving any intent after the last training
please help
@dupengling

[2020-08-14 18:36] ghost opened #1881 "App not resolving any intents"
The app was stuck at ongoing and i raised an issue, and the app was manually trained.
Now the app is **NOT RESOLVING ANY INTENT**, but it has started training.
please help
appid 2788662337869759
@dupengling

[2020-08-14 22:07] patapizza commented on #1878
Tracking in https://github.com/wit-ai/wit/issues/1881

[2020-08-14 22:07] patapizza commented on #1881
Looking

[2020-08-15 03:13] patapizza commented on #1881
Alright, after retraining a few times, `intent` is back! I highly encourage you to [version your app](https://wit.ai/docs/recipes#version-your-app) to freeze a version of the models and use it at [runtime](https://wit.ai/docs/http#get__message_link) by setting the `tag` parameter.

Your app still shows as ONGOING, but the training has been done quite a few times. Save a version, then we can force

[2020-08-15 03:13] #1881 closed, assigned to nobody

[2020-08-15 08:18] gnovis opened #1882 "Editing detected entities"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
I wrote the utterance under the Understanding section and some entities were detected (colored) I made a typo so I clicked to Backspace (whole detected entity disappeared) then I started writing again and then blank screen appeared.

I am attaching a screenshot of the error

[2020-08-15 08:36] gnovis commented on #1879
Utterances section is loading:
![Screenshot from 2020-08-15 10-21-57](https://user-images.githubusercontent.com/4740230/90308786-c0fcf580-dee2-11ea-852f-b8d133f4754b.png)

But no utterance is loaded:
![Screenshot from 2020-08-15 10-20-31](https://user-images.githubusercontent.com/4740230/90308788-c5291300-dee2-11ea-9e3d-c55e851902a1.png)

After click on Download .zip with your data
![Screenshot fr

[2020-08-15 09:55] ghost commented on #1881
@patapizza **THANK YOU**

[2020-08-16 14:48] 91ns commented on #1841
Hi @patapizza

The weird part is that for all of these expressions we have the "intent" field filled but no traits or entities. Yet some of the expressions are trained and some are not.

[2020-08-17 09:33] #1877 closed, assigned to nobody

[2020-08-17 22:05] ghost opened #1883 "Stuck at ongoing"
please restart app :2788662337869759
Thank you

[2020-08-17 22:36] FengyangZhang commented on #1883
Restarted the training, it's done now. Let us know if you experience the issue again!

[2020-08-17 22:36] #1883 closed, assigned to nobody

[2020-08-19 12:27] anjaly opened #1884 "Issue in identifying entity"
Hi,

We have an entity product with the below value. Added screen shot with the synonyms we have trained.

![image](https://user-images.githubusercontent.com/601711/90633174-33533a00-e243-11ea-96ed-2afcfabbf9d7.png)

But on user input 'Whatsapp business' it is showing

![image](https://user-images.githubusercontent.com/601711/90633289-6a295000-e243-11ea-94f7-3c7e900fdd69.png)

Why it is not identi

[2020-08-19 16:36] FengyangZhang commented on #1884
Hi @anjaly, thanks for opening the issue. Can you provide the app ID so I can take a look?

[2020-08-19 17:26] mrghofrani commented on #1081
I have encountered the same issue, I have tried cmd, cmder and Windows Terminal, but no luck. Which terminal you have used?

[2020-08-20 03:55] anjaly commented on #1884
HI,

We have trained the above issues in our original app.
Attaching the id of the app which we imported earlier 304694880636875

Thanks

[2020-08-20 14:04] kenchoong opened #1885 "Is it possible to use Wit.ai in Multiple language in same app?"
**Hey a quick question,**

1. May I know is it possible for Wit.ai to support Cantonese?

2.  Is it possible for wit.ai to support Multiple language in a same wit.ai app? Or it must be done is separate app for separate language?

3.  If separate app in Wit.ai, how can I query or how can I know which wit.ai app should I send query to?

For example, user may speak Chinese, english ,Malay or any othe

[2020-08-20 16:35] FengyangZhang commented on #1884
Sorry I'm not sure if I understand the question. Seems "whatsapp business" is not added as a synonym for "WhatsApp enteprise Access"?

[2020-08-20 16:46] FengyangZhang commented on #1885
Hi @kenchoong, thanks for the question!

1. To support Cantonese you can use "Chinese(zh)" lang.
2. unfortunately we don't support multiple languages in a single wit.ai app yet.
3. We have a [GET/ language](https://wit.ai/docs/http/20200513/#get__language_link) endpoint, that detects the language used in the query, you can use that to detect user language, then query your apps based on the languag

[2020-08-20 16:49] jurneek commented on #1880
Any updates on this issue

[2020-08-20 16:53] jurneek opened #1886 "App not updating training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**
Despite training in the app since yesterday and today, the app is stuck on training complete saying it last trained June 25, 2020 at 12:36 PM
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is th

[2020-08-20 17:09] FengyangZhang commented on #1886
Hi @jurneek, I've started a retrain of your app and it's completed now. Let us know if you run into the problem again.

[2020-08-20 17:09] #1886 closed, assigned to nobody

[2020-08-20 23:01] kenchoong commented on #1885
Got it.. Thanks a lot..This help

[2020-08-21 01:46] #1885 closed, assigned to nobody

[2020-08-21 03:26] anjaly commented on #1884
Hi,
Even if we haven't added 'whatsapp business' as a synonym, we have added 'whatsapp'.
Then on inputting 'whatsapp business' it should identify the entity right?
The same issue occurred for 'can u tell me about pricing'. We have added 'pricing' in intent get_cost.
Please help in resolving.

We are facing similar issues again and again.
'demos' is identifying intent: demo_services but on inputtin

[2020-08-21 06:14] umnibot opened #1887 "Only use 2+ alphanumeric and underscore characters when naming your intent"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
Trying to add and intent via API, starting with digits for example "101_hotel_pets" returns the following error:
{ "error": "Only use 2+ alphanumeric and underscore characters when naming your intent.", "code": "bad-request" }

if I try adding a letter in front of the inten

[2020-08-21 12:25] kenchoong opened #1888 "Word produce by API is totally different from speech"
**Problems:**
 Dont know this situation is it just for me.

When I speak for a simple word like "Lunch ten" in English, it return the "text" as "launch time" ,here is some of the example I try:

Breakfast ten -> Breakfast pan
Lunch ten -> Launch time
Bus Fee ten -> What's that
Bus fees ten-> Buzzfeed

At left hand side is the word I speak in english, then it return me in the right hand side word.

[2020-08-21 13:18] kenchoong commented on #1888
In Wit dashboard, initially I received the audio file of the utterances from user, but when I change the text, the audio file is gone.

Therefore, I wanna know,

1) **Need Clarification:**  is that the Speech recognition will improve from time to time when the training is keep going, or it always will produce the wrong text (the not relatable text) ??

2) **Feature Request:**  And also, is there a

[2020-08-21 14:32] ghost opened #1889 "App is not training"
The last training was done on Wednesday.
 no new changes are being trained till now for the last 2 days
appid: 298845591193874
please help

[2020-08-21 16:16] patapizza commented on #1884
Hi @anjaly,

* I don't see `whatsapp business` as a synonym.
* You have `whatsap`, `Whatsapp` and `WhatsApp enterprise Access` as keywords. This is going to confuse the model.
* Your `products` entity commonly uses multi-words, so the `free-text` strategy will pick up new words eagerly. If you want to strictly restrict to a short list of keywords and synonyms, use the `keywords` only lookup strate

[2020-08-21 16:16] #1884 closed, assigned to nobody

[2020-08-21 16:33] FengyangZhang commented on #1889
Hi @sabinchacko007, I've retrained the app just now.

[2020-08-21 16:33] #1889 closed, assigned to nobody

[2020-08-21 20:11] FengyangZhang commented on #1887
Thanks for reporting! We're looking into it.

[2020-08-21 22:18] FengyangZhang commented on #1888
Hi @kenchoong, for your first question, the speech recognition won't change when you train new samples. For the second question, you can just re-annotate the audio sample and validate, then it will be added as a normal training sample.

[2020-08-21 22:28] #1835 closed, assigned to nobody

[2020-08-22 02:21] saaqeb opened #1890 "Post Utterance - Failed to validate utterance at index 0"
Post Reqeust
=========
Array
(
    [text] => Link Account
    [entities] => Array
        (
            [0] => Array
                (
                    [entity] => wit$search_query
                    [start] => 5
                    [end] => 12
                    [body] => account
                    [entities] => Array
                        (
                        )

                )

[2020-08-22 07:48] kenchoong commented on #1888
Thanks @FengyangZhang for the reply, since the API always produce the wrong text from the audio, any possible way to improve this? Or you will suggest only use text as an input of user?

[2020-08-22 08:36] gnovis commented on #1879
Thanks for fixing my app, everything is working fine now.

[2020-08-22 17:19] FengyangZhang commented on #1890
Hi @saaqeb, can you provide the app id so I can take a look? Thanks

[2020-08-22 23:51] saaqeb commented on #1890
@FengyangZhang app id 655440081732098

[2020-08-23 04:08] FengyangZhang commented on #1890
Hi, so for the entity, you should use "wit$search_query:search_query". All of the entities should be used in this "entity:role" way. Hope this helps.

[2020-08-23 04:21] FengyangZhang commented on #1888
We are not aware of any quality issue of the speech API, but will definitely keep an eye on improvements! I think if most of the  user audio are not very straightforward or commonly-used sentences, it might be easier to just use text input. For example "breakfast pan" seems more common than "breakfast ten" which is probably why the speech model output the first one.

[2020-08-23 04:50] kenchoong commented on #1888
Ok thanks

[2020-08-23 13:47] saaqeb commented on #1890
@FengyangZhang  Can it is possible do with only post  {"text":"Link Account","intent":"link_account"} to https://api.wit.ai/utterances

[2020-08-23 17:44] #1888 closed, assigned to nobody

[2020-08-23 17:54] FengyangZhang commented on #1890
Hi @saaqeb, the "entities" and "traits" are required, so if you want to validate the utterance without entities and traits, you can do {"text":"Link Account","intent":"link_account", "entities": [], "traits": []}.

[2020-08-23 17:54] #1890 closed, assigned to nobody

[2020-08-24 07:54] umnibot opened #1891 "Duplicate utterances (enhancement )"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
feature (enhancement request)

**Details**
Showing if you have the same utterances assigned to different intents.

[2020-08-24 14:28] ghost opened #1892 "app stuck at training"
please retrain the app (2788662337869759)
Thank you

[2020-08-24 16:29] gnovis opened #1893 "Retraining after entity lookup strategy is changed"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
question
**What is the current behavior?**
After changing entity lookup strategy from Keywords & Free Text to Keywords only, the app is not retrained. Entities are detected in utterances also in case they don't match the keyword or synonym of the entity.
**What is the expected behavior?**
After changing the look

[2020-08-24 16:32] FengyangZhang commented on #1892
I've retrained the app, thanks for the patience!

[2020-08-24 16:32] #1892 closed, assigned to nobody

[2020-08-24 16:45] FengyangZhang commented on #1891
Hi @umnibot, can you give more details on what's the issue and what enhancement you think are needed?

[2020-08-24 17:07] #1879 closed, assigned to nobody

[2020-08-24 17:17] FengyangZhang commented on #1893
Hi @gnovis, thanks for the feedback! We'll improve this ASAP, will keep you updated. In the meantime you can manually trigger the retrain for now, like adding or removing an utterance

[2020-08-24 17:22] gnovis commented on #1893
Ok, thank you @FengyangZhang

[2020-08-24 19:22] patapizza commented on #1891
Hi @umnibot,

For any utterance, there is only one correct outcome (intents, entities and traits). In particular, when validating an utterance with different intents/entities/traits than before, the previous annotations are overridden. Annotating similar utterances to different intents would just confuse the model.
If a given utterance is ambiguous, you can get a n-best list of intents/traits by p

[2020-08-24 19:22] #1891 closed, assigned to nobody

[2020-08-24 22:59] patapizza commented on #1891
Yes, the utterances aren't strictly equal. I'm not sure what you're trying to do. You can either fix the discrepancies in your data, by annotating both utterances to either intent `A` or intent `B`, or/and query the runtime with the `n=2` parameter.

[2020-08-25 06:15] gnovis opened #1894 "scrollbar in Firefox"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
The scrollbar (for example in Utterances section) unexpectedly jumps to the top of the scrolling area after reaching the bottom of the scrolling area. I'm using Mozilla Firefox for Ubuntu.

[2020-08-25 06:32] gnovis opened #1895 "Intent deletion"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug & question

**What is the current behavior?**
After deleting the intent which is assigned to some utterances, all utterances disappeared.

**What is the expected behavior?**
I'm not sure, what will happen with the utterances (without traits or entities) which intent was deleted?

[2020-08-25 18:20] patapizza commented on #1894
Thanks for reporting.

[2020-08-25 18:21] patapizza commented on #1895
What is your app ID?

[2020-08-25 22:17] jefferyhayes commented on #1712
Hello - I am still getting this error when trying to export from the website or via the API.

[2020-08-25 22:20] jefferyhayes opened #1896 "Unable to Export"
Do you want to request a feature, report a bug, or ask a question about wit?
Potential bug

**What is the current behavior?**
On the app settings page, I cannot export/download app data

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1 - Click "Download .zip with your data",
2 - Get error "Something went wrong while export

[2020-08-25 22:44] patapizza commented on #1895
This is a bug. We're working on a fix.

[2020-08-26 00:22] anjaly opened #1897 "Issue in identifying entity"
Hi,
This is the follow up for https://github.com/wit-ai/wit/issues/1884.

We have tried as per the suggestion in #1884.
We had given the LOOKUP STRATEGIES for @products as 'free text and keyword' now changed to 'Keyword' only. But now also if we input 'whatsapp business access' it is not identifying @products:Whatsapp enterprise Access.

Please follow up.

[2020-08-26 05:57] gnovis commented on #1895
Sorry @patapizza, the app no longer exists. I needed to continue working so I deleted the app and created the new one from the backup.

[2020-08-26 19:09] ghost opened #1898 "stuck at ongoing"
please retrain the app(2788662337869759)
we have reduced the number of intent to less than 1000 and the occurance of getting stuck at training was reduced.
@patapizza

[2020-08-27 00:55] FengyangZhang commented on #1897
Hi @anjaly,

The 'WhatsApp enteprise Access' keywords don't have the synonym 'whatsapp business access'. You have to add 'whatsapp business access' to the synonyms if you want to extract it. For example, I do see synonyms like 'whatsap' and it's extracted by the model as expected.

Hope this helps.

[2020-08-27 04:47] anjaly commented on #1897
Hi,
What should I do if I need to identify the @products:Whatsapp enterprise Access whenever there is a whatsapp keyword in the input.

[2020-08-27 16:53] FengyangZhang commented on #1897
I think the question is answered in #1884:

- You have whatsap, Whatsapp and WhatsApp enterprise Access as keywords. This is going to confuse the model.

- Try first to merge the 3 whatsapp keywords into one to see if whatsapp only would be picked up instead of whatsapp business.

Can you try if this helps?

[2020-08-27 23:02] #1898 closed, assigned to nobody

[2020-08-27 23:17] jtliao commented on #1896
This should work now, sorry about that

Edit: scratch that, it should work in a couple hours

[2020-08-27 23:17] #1896 closed, assigned to nobody

[2020-08-28 03:02] shawnbzhang opened #1899 "Streaming Speech — How to Detect Pauses/Silences"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question

**What is the current behavior?**
Wit.ai says that they support streaming audio and accept chunked data. However, does Wit detect pauses/silences to indicate when a user has finished speaking? I know Wit's documentation says that an audio stream shouldn't exceed 10s of audio time. Do we need to just wa

[2020-08-28 07:33] Chris-Ar commented on #1119
Hello,

Reviving an old thread but our app is also stuck at "Training Ongoing" for a day now.
Used to finish in around 1 minute.

App id: 3345749878784230

Is there anything we can do on our side to resolve this?
Best Regards.

[2020-08-28 09:42] anjaly opened #1900 "Adding regular expression for detecting email"
Hi,
Is it possible to identify an email entered in wit.ai as email using regular expression or any built in entity.
Similarly a phone number etc
Tried with built in entity wit/email. Will the builtin entity be identified by default? when I put test@test.in it didn't identify as wit/email.

[2020-08-28 12:57] dsokac commented on #1876
Hello there,

when can we expect this bug to be fixed? This is kind of critical, I cannot say how important it is because I would like to have overview on which training phrases . This was a feature in the previous version and how come it is not working now? We would appreciate your response as quickly as possible. Thank you in advance.

@patapizza  hello again hahaha 😄

[2020-08-28 15:45] patapizza commented on #1900
Hi,

What language is your app using? I can't repro it:
<img width="965" alt="Screen Shot 2020-08-28 at 8 44 37 AM" src="https://user-images.githubusercontent.com/1015208/91586793-be4ec700-e90a-11ea-9c66-f43340c41a1e.png">

We won't offer regexes, see https://github.com/wit-ai/wit/issues/274 for the rationale.

[2020-08-28 15:45] #1900 closed, assigned to nobody

[2020-08-28 15:48] patapizza commented on #1876
Hi @oliverjessner @dsokac,

I can see the utterances now: https://wit.ai/apps/915460958972821/utterances

Let me know if you still don't see them.

[2020-08-28 15:48] #1876 closed, assigned to nobody

[2020-08-28 19:05] oliverjessner commented on #1876
Can confirm they are back. Thank you very much 🦾

[2020-08-28 22:10] patapizza commented on #1899
Hi @shawnbzhang, we don't provide Voice Activity Detection at this point.
Something to implement on your end. This might help: https://stackoverflow.com/questions/60832201/how-can-i-do-real-time-voice-activity-detection-in-python

[2020-08-28 22:11] patapizza commented on #1899
I don't expect bandwidth for this in the near term.

[2020-08-28 22:11] #1899 closed, assigned to nobody

[2020-08-29 07:19] dsokac commented on #1876
I cannot confirm.... why would utterances return there, and not here (  https://wit.ai/apps/2551588624865480/utterances ) ? Please, can you take a look??? It is weird to me why would utterances depend on some specific setup and not applied on all cases but just that one case?

[2020-08-31 12:08] lekeufackalida opened #1901 "Bonjour SVP j'ai besoins d'aide, j'essaye d'intégrer wit.ai à botman seulement wit.ai ne retourne pas d'erreur mais ne retourne rien"
mon  code
$botman=resolve('botman');

    $wit = Wit::create('key api');
$botman->middleware->received($wit);
$botman->hears('bonjour', function (BotMan $bot) {

    $extras = $bot->getMessage()->getExtras();
    $bot->reply('salut');

})->middleware($wit);
   //$botman->listen();

[2020-08-31 16:27] patapizza commented on #1901
Bonjour,

Je ne suis pas familier avec BotMan. Je vous conseille d'ouvrir une issue directement au projet: https://github.com/botman/botman/issues

Bien à vous.

[2020-08-31 16:27] #1901 closed, assigned to nobody

[2020-09-01 08:44] venturio1256 commented on #217
Hi,
So the mp4 format from FB messenger is audio and the codec used is AAC LC. So even using the content-type audio\raw and the parameters to define the encoding, the response is always empty. Both audio file and streaming not working

[2020-09-02 15:30] Chris-Ar opened #1902 "App stuck at "Training Ongoing" after changing lookup strategy"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug(?)

**What is the current behavior?**
App is stuck at "Training ongoing" for more than 5 days.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Changed entity lookup strategy from " Free Text & Keywords" to "Keywords" and this happend

[2020-09-02 20:54] ghost opened #1903 "stuck at training"
please retrain the app as it is stuck at training(2788662337869759)
thank you

[2020-09-02 21:47] wangsnowyin11 commented on #1902
I've manually trained your app, now the training should be finished!

Sorry for the inconvenience

[2020-09-02 21:47] #1902 closed, assigned to nobody

[2020-09-03 08:36] Bakersbakebread opened #1904 "How to programmatically train out-of-scope?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question

**What is the current behavior?**
How do I programmatically train an utterance with no Intents? Currently it is returning 100% confidence on an utterance that I want it to be out-of-scope.

I'm using the `/post/utterances` endpoint to train the model.

[2020-09-03 09:54] rifki858 opened #1905 "Password email"
**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help.**
###

- _**

1.

- [ ]  @@

**_

[2020-09-03 10:22] rifki858 opened #1906 "Kata sandi email"
**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help.**

[2020-09-03 12:40] rifki858 commented on #1906
`42000018`

[2020-09-03 15:43] ramh commented on #1897
Closing due to no activity.

[2020-09-03 15:43] #1897 closed, assigned to nobody

[2020-09-03 15:44] rifki858 opened #1907 "Kode password"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2020-09-03 15:50] #1905 closed, assigned to nobody

[2020-09-03 15:50] #1906 closed, assigned to nobody

[2020-09-03 15:50] #1907 closed, assigned to nobody

[2020-09-03 15:52] patapizza commented on #1904
Hi @Bakersbakebread,

The `intent` field is optional for [`POST /utterances`](https://wit.ai/docs/http/#post__utterances_link).

From the link above, the documentation for the field:

[2020-09-03 15:52] #1904 closed, assigned to nobody

[2020-09-03 16:37] FengyangZhang commented on #1893
Hi, we've updated our retrain logic to retrain when you change the parser lookup to include freetext from keywords-only. For the opposite direction we're still looking for the best solution, for now if you ever find unexpected behavior related to this just manually trigger the retrain. Hope this helps.

[2020-09-03 16:37] #1893 closed, assigned to nobody

[2020-09-03 17:40] FengyangZhang commented on #1887
Hi, sorry for the delay. The naming convention for intents is they shouldn't start with a number, and can only contain 2+ alphanumeric characters and underscore.

We have a fix of the inconsistency between our API and UI, it should take effect before tomorrow. Hope this helps!

[2020-09-03 17:40] #1887 closed, assigned to nobody

[2020-09-04 03:50] rifki858 opened #1908 "https://free.facebook.com/profile.php?id=100051376837454&refid=46&__xts__%5B0%5D=12.Abq44x9jIp3oLyJe463m20XCrt4DIIu2ihnDy6kc1VRDWeAnPCPc15YusDqRSxAvZNw-IUkQsSNBIgCq7MTtRk0zL9OnsEQZQqelC1RvRBiQyzVkFFjhOl6rA7vqTbfsgHFvtRfhdhTsQCdMxGaK9SoEVDcWJ6UUg94bHqPD3moPRhkKog6dfBNyaTsPS3QR4jF1tuWU_bCxKmB6-IU-kix63nAAfu03v9yDz2uNxZZHfoZbzCGnPKIsmXOiPV0DCyPXIZRq5nsbgWtmuMTtqyaEwzz9k6p4bdUaa90ux3bBEvl7Cpy8P74hfUhfE3mAI5h84rW3W1DuJniuEKxT_HLedIxd5QVCq5CMmrfYS_WnpIMAWA4qaSK-GIzyIGqOlC0Dy5IE7Jg5fL_sw7eeMSjgI16l6t7O42MaqgcdMjq5MQeWFQUIsxOvn_4SNoA59t3y3WrJRBfalYYDyGslAsMzuUplS9yAUBffJcGxqNpewEdJvz5FxIh14yZBLD2lTDHVyUrbJvHgaFsf4gOJrghtD3TvutH2LaeDUbjYgtipmIYE0-r2fExT0Wvz-NRVe58"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2020-09-04 04:19] rathichirag opened #1909 "Stuck at training"
Stuck at Training Ongoing

App id 3384905311623667

[2020-09-04 09:59] rifki858 commented on #1908
https://free.facebook.com/profile.php?id=100051376837454&refid=46&__xts__%5B0%5D=12.Abq44x9jIp3oLyJe463m20XCrt4DIIu2ihnDy6kc1VRDWeAnPCPc15YusDqRSxAvZNw-IUkQsSNBIgCq7MTtRk0zL9OnsEQZQqelC1RvRBiQyzVkFFjhOl6rA7vqTbfsgHFvtRfhdhTsQCdMxGaK9SoEVDcWJ6UUg94bHqPD3moPRhkKog6dfBNyaTsPS3QR4jF1tuWU_bCxKmB6-IU-kix63nAAfu03v9yDz2uNxZZHfoZbzCGnPKIsmXOiPV0DCyPXIZRq5nsbgWtmuMTtqyaEwzz9k6p4bdUaa90ux3bBEvl7Cpy8P74hfUhf

[2020-09-04 18:48] wangsnowyin11 commented on #1909
Hey dear customer,

I've checked your app, the training status is now complete.

[2020-09-04 18:48] #1909 closed, assigned to nobody

[2020-09-04 19:00] wangsnowyin11 commented on #1908
Hey dear customer,

I am not sure I understand what issue you are facing, could you provide description of your issue and also the app_id?

Thx!

[2020-09-04 20:00] ramh commented on #1895
The issue has been fixed and the changes will be live by end of today. Thank you for your patience.

[2020-09-04 20:00] #1895 closed, assigned to nobody

[2020-09-04 22:17] #1908 closed, assigned to nobody

[2020-09-06 11:48] theoptips opened #1910 "HTTP API doc typo easy fix"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
report a typo

**What is the current behavior?**
[HTTP document API version 20200513](https://wit.ai/docs/http/20200513/#api_versioning_link)
`const uri = 'https://api.wit.ai/message?v=20200513='+q;`
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the p

[2020-09-08 00:12] ghost commented on #1903
@patapizza  please update

[2020-09-08 16:28] patapizza commented on #1910
Thank you! We'll fix that shortly.

[2020-09-08 16:48] #1880 closed, assigned to nobody

[2020-09-08 20:08] patapizza commented on #1882
Hi @gnovis,

Sorry about the bad experience. Are you able to reproduce this consistently?

Thanks.

[2020-09-08 23:45] patapizza commented on #1910
Done!

[2020-09-08 23:45] #1910 closed, assigned to nobody

[2020-09-09 03:28] theoptips commented on #1910
Thanks!

[2020-09-09 13:37] dsokac opened #1911 "Improvement for entity detection"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Feature.

**What is the current behavior?**
Wit can identify all entities available in wit without any additional  constriction

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**
Wit can identify only ent

[2020-09-10 12:53] gnovis commented on #1882
Hi @patapizza,

yes I tried it just now (I wrote the utterance with entity and when entity word is colored then I typed backspace) and the bug occurred again with the same error message.

Thanks.

[2020-09-11 01:22] yaofenglu opened #1912 "App stuck in training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
BUG

**What is the current behavior?**
Training ongoing
Your app is currently training. Last time it took your app 24 s to train

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

When I create a new utterance, it can not load intent and c

[2020-09-11 14:53] #1912 closed, assigned to nobody

[2020-09-11 16:07] fedariana opened #1913 "App is not training - needs re-booting"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug.

**What is the current behavior?**
App is not training. Last time being trained was June 2020 despite recent training activity.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
<img width="1215" alt="Screen Shot 2020-09-11 a

[2020-09-11 18:29] patapizza commented on #1913
Hi @fedariana,

Just to confirm: did you validate any new utterances? You first need to review and validate new utterances before your app needs retraining.

[2020-09-11 18:31] patapizza commented on #1913
Just to make sure, I've just retrained your app.

[2020-09-11 18:31] #1913 closed, assigned to nobody

[2020-09-11 18:32] patapizza commented on #1911
Hi @dsokac,

Can you elaborate a bit more?

Thanks.

[2020-09-11 19:06] dsokac commented on #1911
Let's say you decide to define intent get_employee_info for fetching information on employees.

I will write examples of training phrases and what wit may detect:
"Where is Peter?" - "Peter" is an entity employee
"Where is Peter at the National Theatre?" - "Peter" is an entity employee and "National Theatre" is entity location
"Where is Peter Parker at Some Random address?" "Peter Parker" is an en

[2020-09-11 21:48] ghost commented on #1903
any updates

[2020-09-13 01:52] yaofenglu opened #1914 "Can not train my app"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
It can not load the intent, and entity  and can not train

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Loading Intents forever, This makes me can't train the app

**What is the expected behavior?

[2020-09-14 23:18] patapizza commented on #1914
Thanks for reporting, and sorry about that. We'll look into it.

[2020-09-15 08:21] doc1991 opened #1915 "Wit Ai Time Numbers Greek Lang"
Hello, I see this  when try to trait wit/datetime with number not words.
![image](https://user-images.githubusercontent.com/15673602/93184870-6e169800-f745-11ea-815b-148d4247b54c.png)

Is this a bug? Is it possible to fix it?
Thank you in advance

[2020-09-15 09:39] #1915 closed, assigned to nobody

[2020-09-17 06:41] mrmokilok commented on #960
Hi, I was wondering this too and, after a furious Google-session, ended up here. In the reply, it says you were planning this for 2018. Are there any updates?

[2020-09-17 15:04] yaofenglu commented on #1914
Any Update?

[2020-09-17 19:31] jurneek opened #1916 "App not training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
One of my apps isn't training it's not showing "ongoing or scheduled training"
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID

[2020-09-18 06:23] surajsingh92 opened #1917 "Not able to post data in Utterance api"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
report a bug

**What is the current behavior?**
when i post data in Utterance  api . i am always getting the same error msg which is "Failed to validate utterance at index 0. Could not find entity" but i have already this entity in  entity section.

**If the current behavior is a bug, please provide the steps to

[2020-09-18 08:42] gnovis commented on #1894
I noticed that the bug is occurring after exporting the app data (only Firefox, Chrome is ok)

[2020-09-18 10:58] kralikX opened #1918 "Native entity (wit$number) cannot be deleted via REST API"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
BUG

**What is the current behavior?**
We need to manage wit applications via REST API completely and need to retain app IDs and tokens. Therefore prior to uploading newer version of the model I am trying to delete all utterances, intents and entities in the app.
DELETE endpoint works for custom entities, howeve

[2020-09-18 12:46] surajsingh92 opened #1919 "Not able to create utterance some times its create and sometimes its not"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
ask a question.
**What is the current behavior?**
i am using the "https://api.wit.ai/samples?v=20200918" API for utterance. when I post the data with entity some times its create and some times it's not created. and also the utterance section takes time to update the utterance.
**If the current behavior is a bug

[2020-09-18 20:55] patapizza commented on #1919
Hi,

- The above utterance didn't work because you didn't have the `campaign` created at the time. We see a 400 in our logs.
- The `POST /samples` has been deprecated. Please use [`POST /utterances`](https://wit.ai/docs/http/#post__utterances_link) instead.
- This API is asynchronous, the utterances don't post immediately to your app.

Hope this helps.

[2020-09-18 20:55] #1919 closed, assigned to nobody

[2020-09-18 20:59] #1916 closed, assigned to nobody

[2020-09-18 21:30] jurneek opened #1920 "wit/location not detecting location"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
wit location entity isn't detecting Rochester Indiana instead it's picking up Rochester New York can we add Rochester Indiana to the location
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is

[2020-09-21 05:05] surajsingh92 commented on #1919
I have already created a campaign entity. even after  that it's not creating the utterance

[2020-09-21 10:38] surajsingh92 opened #1921 "Not able to uttarence"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
ask a question
**What is the current behavior?**
I am posting the below data in sample API.

[{
       "text": "What is the response rate for tomorrow",
       "entities": [
          {
            "entity": "intent",
            "value": "response_get"
          },
          {
             "entity": "wit$dateti

[2020-09-21 12:15] ghost opened #1922 "resolving to wrong intent while training"
while the app is in training, it is resolving to WRONG intents, appid(2788662337869759). it is affecting the performance of the application..

[2020-09-21 19:17] fedariana commented on #1914
This issue is occurring for me as well. @patapizza

[2020-09-22 00:27] ChrisyShine commented on #1920
Thanks for the feedback. The suggested solution of this problem is to create a custom entity, and train the entity with your own data. So that you can have a better entity specifically for your own feature.

[2020-09-22 00:27] #1920 closed, assigned to nobody

[2020-09-22 08:52] AymanKhafage opened #1923 "Issue in arabic understanding"
We faced bug in arabic understanding.

currently arabic understanding is working fine only as long we are sending the exact word/sentence in the entity keywords.

When we send a word in arabic that is not exist in the entities keywords, instead of comparing to the closest match in the keywords of the entities, It's instead match in strange way, for example when we added the keyword "كتاب" to the e

[2020-09-22 20:31] patapizza commented on #1917
Hi @surajsingh92,

The `entity` requires the role as well, so it would be `wit$location:location`.
I'm not seeing any `wit$location` entity currently in your app.

Hope this helps.

[2020-09-22 20:31] #1917 closed, assigned to nobody

[2020-09-22 20:35] patapizza commented on #1918
Hi @kralikX,

Thanks for reporting. We'll look into it.

[2020-09-22 21:48] carson-katri opened #1924 "Wit v2 not loading"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
The site is not loading after pressing the "Switch to the new Wit" button.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Press the "Switch to the new Wit" button. After doing so it just k

[2020-09-22 22:45] patapizza commented on #1921
Duplicate of https://github.com/wit-ai/wit/issues/1917. `wit$datetime:datetime`.

[2020-09-22 22:45] #1921 closed, assigned to nobody

[2020-09-22 22:49] patapizza commented on #1924
Hi @carson-katri,

What is the URL? Can you load https://wit.ai/apps?

[2020-09-22 22:53] patapizza commented on #1903
I scheduled a retraining.

[2020-09-22 22:53] #1903 closed, assigned to nobody

[2020-09-22 22:54] jtliao commented on #1922
this should be back to normal

[2020-09-22 22:54] #1922 closed, assigned to nobody

[2020-09-22 23:03] carson-katri commented on #1924
The url was wit.ai/v2 but /apps is working 👍

[2020-09-22 23:06] lintaocui commented on #1924
can I close this ticket @carson-katri ?
we do not support wit.ai/v2 anymore.

[2020-09-22 23:06] #1924 closed, assigned to nobody

[2020-09-22 23:07] carson-katri commented on #1924
Yeah, not sure how I got to that page 🤔😄

[2020-09-22 23:27] jurneek commented on #1920
@ChrisyShine can the location please be taken into consideration for adding to the get location entity

[2020-09-23 04:47] surajsingh92 commented on #1917
now I have a location entity but even after that, I am getting the same issue.

[2020-09-23 05:42] surajsingh92 opened #1925 "showing confidance N/A ."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Ask a question.
**What is the current behavior?**
I am going to do the following understanding. i am attaching a screenshot please check it.
![image](https://user-images.githubusercontent.com/66119519/93970538-f02d3f00-fd8b-11ea-8839-9ffb1e88f44a.png)
.
please let me know why its showing confidence N/A. sometime

[2020-09-23 15:27] patapizza commented on #1920
We currently don't have the bandwidth to improve the built-in entity. As @ChrisyShine mentioned, you can supplement using your own custom entity for the time being. Thanks.

[2020-09-23 16:49] patapizza commented on #1924
It was the previous URL. Maybe you had it as a bookmark?

[2020-09-23 22:45] patapizza commented on #1925
Hi,

I can't repro this:
<img width="971" alt="Screen Shot 2020-09-23 at 3 44 08 PM" src="https://user-images.githubusercontent.com/1015208/94080822-bb34e280-fdb3-11ea-838a-9e39cbfbf242.png">

How often do you see that?

[2020-09-24 04:47] surajsingh92 commented on #1925
If I will try 10 times then I will get 7 times. I am also can't say when it will show confidence and when it will not.

[2020-09-24 04:52] surajsingh92 opened #1926 "getting error when post data in uttarence api."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
report a bug

**What is the current behavior?**
when i post data in Utterance  api . i am always getting the same error msg which is "Failed to validate utterance at index 0. Could not find entity" but i have already this entity in  entity section.

**If the current behavior is a bug, please provide the steps to

[2020-09-24 05:18] surajsingh92 opened #1927 "Utterance not creating if entity already exists"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
report a *bug*
**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
I am posting the following data in sample API(https://api.wit.ai/samples?v=20200921).
[{
       "text": "What is the response rate for the l

[2020-09-24 12:24] TaraNaser opened #1928 "Utterance training not working for some expressions"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
Trained texts for intents are not being trained
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
I used the API https://api.wit.ai/utterances?v=20190904
The request:
[
  {
    "text": "Can you tell me

[2020-09-24 15:31] samibf opened #1929 "Ownership Transfer Issue"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
I am trying to transfer the ownership of /apps/631324227457427/  To user 'baggagephoenix'

Unfortunately they are not receiving the ownership email to their outlook email.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal d

[2020-09-25 23:17] patapizza commented on #1917
Have you tried using `wit$location:location`?

[2020-09-25 23:17] patapizza commented on #1926
Duplicate of https://github.com/wit-ai/wit/issues/1917.

[2020-09-25 23:17] #1926 closed, assigned to nobody

[2020-09-25 23:20] patapizza commented on #1927
Case 1 shouldn't create the entity.
`POST /samples` has been deprecated. Please use `POST /utterances` instead.

[2020-09-25 23:20] #1927 closed, assigned to nobody

[2020-09-27 18:54] amroamer opened #1930 "Can we integrate wit.ai with IVR solution"
**Hello,**

Is it possible to integrate wit.ai with an IVR solution ( Genesys, Cisco, Avaya, ..., etc)? If yes can anyone direct me with a link or documentation where to start?

**Thanks,
Amro**

[2020-09-28 05:02] surajsingh92 commented on #1917
yes, I have tried. but I am not able to post the data. I am getting the same issue. can you give me an example data?

[2020-09-28 05:03] surajsingh92 commented on #1917
yes, I have tried. but I am not able to post the data. I am getting the
same issue. can you give me an example of data? so that I can post that data and check. or can you please try with the data which I shared with you. so that you can see the issue.

On Sat, Sep 26, 2020 at 4:47 AM Julien Odent <notifications@github.com>
wrote:

--
Thanks & Regards
Suraj Singh Bhati
Mob.No. (8769472154)

[2020-09-29 06:58] AymanKhafage commented on #1923
Kindly looking for any response .

[2020-09-29 17:12] assist-github opened #1931 "Utterance Page Not Working"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
The utterance page is not displaying any of the trained phrases for my intents.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Go to the utterance section > select any of the intents to se

[2020-09-29 18:24] ruoyipu commented on #1931
Hi! I've tried filtering based on intent using the provided app ID: 1292591027445318 but could not reproduce. The utterances showed as expected.

The intents in the screenshot also do not match the intents in app 1292591027445318.

Please let me know if you're still experiencing issues.

[2020-09-29 18:24] #1931 closed, assigned to nobody

[2020-10-03 15:28] assist-github commented on #1931
Hi @ruoyipu my apologies but I copied the wrong app ID. Here is the correct one: 2209560069163579

Yes, I am still experiencing the issue.

[2020-10-03 23:34] cybergirll opened #1932 "bug"
[**Do](https://github.com/HackerShackOfficial/AI-Smart-Mirror/tree/master/models
[wit_training_data.zip](https://github.com/wit-ai/wit/files/5322416/wit_training_data.zip)
) you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**
wit_training_zip does not parse

**If the current behavior is a bug, please provide the steps to reproduce an

[2020-10-04 10:52] jbharatrhodes opened #1933 "Issue in training the app"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
When trying to review the live utterances, the toggle doesn't work, so can't train the utterances

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
->Use api to post some utterances
->Utterances will

[2020-10-05 07:52] vnair123 opened #1934 "Can wit.ai be used to intepret conversations in a recorded or live video?"
Can wit.ai be used to intepret conversations in a recorded or live video?

[2020-10-05 09:15] gnovis commented on #1933
I have the same issue, after click on the utterance down arrow the following error occurs (same behavior in Firefox and Chrome):
![error](https://user-images.githubusercontent.com/4740230/95061115-771ed780-06fb-11eb-99af-4f0bceabaa86.png)

[2020-10-05 09:40] jbharatrhodes commented on #1933
For the quick fix, I switched back to the old version, then went to inbox, expressions and trained the model

[2020-10-05 11:52] emreisik95 opened #1935 "I cannot review my live utterances"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

Bug

**What is the current behavior?**

https://imgur.com/kl1rK45 I cannot click the details button. I tried it with Chrome 85.0.4183.121 (64-bit) and Safari (On macOS Big Sur Beta 9)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

htt

[2020-10-05 13:25] andersmattson commented on #1935
Same issue here, on MacOS Catalina in both Safari and Chrome.

Javascript error when clicking the button:
[code]

[2020-10-05 17:57] ruoyipu commented on #1935
Thanks for the report! I can repro, and we are investigating right now.

[2020-10-05 18:03] ruoyipu commented on #1933
Hi, thank you for the report! I can repro and we are investigating now.

[2020-10-05 22:57] ruoyipu commented on #1933
The fix has landed. Please do a hard refresh to get the latest version of the site and the down arrow should work now.

Let us know if there are any other issues. Thanks!

[2020-10-05 22:57] #1933 closed, assigned to nobody

[2020-10-05 22:58] ruoyipu commented on #1935
The fix has landed. Please do a hard refresh to get the latest version of the site and the down arrow should work now.
Let us know if there are any other issues. Thanks!

Duplicate of #1933

[2020-10-05 22:58] #1935 closed, assigned to nobody

[2020-10-05 23:10] ruoyipu commented on #1932
Hi @akeysny! Looks like the ZIP is from 2016, so it's from a very old format that we don't support anymore
If you have access to a newer version that should work.

We don't usually recommend importing manually edited JSON since it can lead to issues -- but you can try exporting from an app right now and change the format of the old ZIP to match.

[2020-10-05 23:10] #1932 closed, assigned to nobody

[2020-10-05 23:14] ruoyipu commented on #1931
Hi @assist-github! We recently landed a fix this morning where the pagination of the utterance list will properly reset when filters are added, which I believe addresses your issue.

Please do a hard refresh to get the latest version of the site and let me know if you're still experiencing issues.

[2020-10-06 07:17] gnovis commented on #1933
Works fine now, thank you for the quick fix.

[2020-10-06 22:10] hadiidbouk commented on #1811
Any Updates on this?

[2020-10-07 00:26] ruoyipu commented on #1934
Hi @vnair123! Yes wit.ai supports streamed audio. Our POST /speech api has documentation on how to do this: https://wit.ai/docs/http/20200513/#post__speech_link

[2020-10-07 00:26] #1934 closed, assigned to nobody

[2020-10-07 08:13] asfyra opened #1936 "Application training stuck ongoing"
Hello,
our application with id 2841817995840539, has stuck on the ongoing training state.
Could you please perform the action required for it to complete
Thank you

Alex

[2020-10-07 19:22] assist-github commented on #1931
Hi @ruoyipu I am still experiencing this issue. I tried both on Chrome and Safari. Were you able to repo? The utterances show up fine on our other apps but this one it does not.

[2020-10-07 20:02] ruoyipu commented on #1931
Hi @assist-github, unfortunately I still cannot repro
<img width="1016" alt="Screen Shot 2020-10-07 at 12 54 25 PM" src="https://user-images.githubusercontent.com/33233694/95381079-7f624880-089c-11eb-9c0f-49769598ea5a.png">

[2020-10-08 00:14] ghost opened #1937 "GET /message returning 500 error"
when i try GET /message api after a while the first call will be 500 error showing error status as

"StatusCodeError: 500 - "{\"error\":\"Something went wrong. We've been notified\",\"code\":\"unknown\"}"

the next api call will work successfully
the issue is now getting consistent on my app (341883513753784)

[2020-10-08 17:36] joynahid commented on #1937
I had an issue quite similar like this when I was trying to get the wit message directly from facebook. Then I switched to Wit API and It's working fine now.

[2020-10-08 23:38] sabinchacko007 commented on #1937
I'm using wit api

[2020-10-09 05:49] asfyra commented on #1936
Training has finally resumed, so i will close this issue.

[2020-10-09 05:49] #1936 closed, assigned to nobody

[2020-10-10 07:49] poeticcourt opened #1938 "transcribed in Japanese results repeating the same 3 words (separated with "/") for every single word pronounced in a sentence"
Hello, I'm using Wit.Ai on discord as a bot, and transcribing is working fine apart from some inaccuracies and this issue of repeating the same 3 words. For those who don't understand Japanese, I'll write an example in English.

When you say: "open the entrance gate":
it transcribes like: "open/open/open the/the/the entrance/entrance/entrance gate/gate/gate"

Why is this happening? How to get rid

[2020-10-12 02:06] equisde commented on #375
@tolui same problem here i can't login with facebook or github

[2020-10-12 10:43] 91ns opened #1939 "App is stuck in on-going"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
The app is stuck in on-going state
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
log into the account, the state is always on-going
**What is the expected behavior?**
The app to be trained
**If appl

[2020-10-13 17:45] assist-github commented on #1931
Hi @ruoyipu do you have any other thoughts on what might be the issue for me? This app is tied to the Facebook App on messenger and will be tied to the Facebook Inc account on Messenger as well. It's imperative that it functions correctly.

[2020-10-13 19:39] Xueying-Wang commented on #1939
Hi @91ns, I have triggered retraining for your app and the training was successful. Feel free to reach out if you have any more questions!

[2020-10-13 19:39] #1939 closed, assigned to nobody

[2020-10-14 04:23] hussachai opened #1940 "The training got stuck with the status "Training ongoing""
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug. I know this issue is not new. It'd be great if the instance can be restarted by developers either through API or UI is fine.

**What is the current behavior?**

This status is stuck and I cannot train new intents.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a m

[2020-10-14 05:44] surajsingh92 opened #1941 "Getting 500 Internal Server Error While Creating Entity"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
I am trying to create a built-in entity but when I post data in entity API, I am getting the following 500 internal error.
500
{
    "error": "Something went wrong. We've been notified",
    "code": "unknown"
}
**If the current behavior is a bug, please provide the steps to

[2020-10-14 09:52] 91ns opened #1942 "App is stuck in on-going mode"
**Do you want to request a feature, report a bug, or ask a question about wit?**
Bug
**What is the current behavior?**
The app is stuck in on-going state
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
log into the account, the state is always on-going
**What is the expected behavior?**
The app to be trained
**If applicable

[2020-10-14 15:40] nausicaasnow commented on #1942
Hey @91ns, I have retrained your app and now it has recovered.

[2020-10-14 15:40] #1942 closed, assigned to nobody

[2020-10-14 18:45] nausicaasnow commented on #1941
Hey @surajsingh92, we have fixed the data issue so it has recovered now, should be unblocked! Thanks for calling out.

[2020-10-14 18:45] #1941 closed, assigned to nobody

[2020-10-14 20:16] xavi1287 commented on #1937
tengo el mismo errorm cuando inteto recuperar un mensaje
{
    "error": "Something went wrong. We've been notified",
    "code": "unknown"
}
mi id de aplicacion es 1495667643935501

[2020-10-15 01:06] jtliao commented on #1938
we're looking into it, this is definitely not expected

[2020-10-15 01:20] hussachai commented on #1940
I'm not sure whether the issue was resolved on its own. It's now working. I'll close the ticket.

[2020-10-15 01:20] #1940 closed, assigned to nobody

[2020-10-15 04:46] surajsingh92 commented on #1941
Thanks, Now its work

[2020-10-15 09:16] leoyd opened #1943 "App stuck in Training ongoing"
**What is the current behavior?**

My app on wit.ai is stuck in training ongoing, i want to apply a different intent to the sentence "i want to practise sport" but every time i try to train it it always get the wrong intent and don't care about the new one i'v just set for training, in definitive training the app do nothing.

**What is the expected behavior?**

expected behavior is when i train a

[2020-10-15 10:05] ghost opened #1944 "APP stuck at ONGOING"
the app is stuck at  training with status ONGOING
appid(658247231561340)
please retrain the app

[2020-10-15 10:05] ghost commented on #1943
my app also appid (658247231561340)

[2020-10-15 15:56] assist-github commented on #1931
Hi @ruoyipu checking back in to see if you have any updates?

[2020-10-15 17:03] nausicaasnow commented on #1944
Retrained :)

[2020-10-15 17:03] #1944 closed, assigned to nobody

[2020-10-15 17:12] nausicaasnow commented on #1943
Retrained :)

[2020-10-15 17:12] #1943 closed, assigned to nobody

[2020-10-18 15:43] mask0821 opened #1945 "Dialogue Conversation"
Hey ! Can anyone help me in dialogue conversation using wit since I am newbie. I am expecting conversation is given below:
me: HI!
bot: hi! i am bot.
me: can you order me pizza?
bot: what size you are expecting?
me: medium
bot: what type of pizza you need?
me: margherita
bot: thank you! your order has been placed.

Help in front end (New Wit.AI dev console) as well as in back end. Since i am using

[2020-10-18 18:22] dessant opened #1946 "I have been locked out of my Wit.ai and Facebook account"
A week ago I have created a new Wit.ai account. Since I did not have a Facebook account, and the GitHub integration is being deprecated, I have signed up for a Facebook account first and logged into Wit.ai with it. I've then set up Wit.ai apps for production use, one for each supported language, and everything worked as expected.

A couple of days ago while I was logging into Wit.ai to check on my

[2020-10-20 23:39] nickcbarone opened #1947 "API is working but not seeing messages in the Understanding logs, so can't validate."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
The Wit API is working but no messages are appearing in the Understanding logs, therefore, we are unable to validate our bot from real customer queries. In other words, end-users are receiving the correct responses from Wit...Wit is correctly understanding intents and we se

[2020-10-21 23:13] jtliao commented on #1947
Hi @nickcbarone, I can't reproduce this -- I just sent a request to your app, and see the sample in the inbox (you should be able to see "test me" as well). Note that inbox samples will not show up if you have already validated an utterance with that text.

If it still doesn't work, please let me know the query you used that didn't show up in the inbox.

[2020-10-26 17:34] jtliao commented on #1938
this should be fixed now

[2020-10-26 17:34] #1938 closed, assigned to nobody

[2020-10-26 18:05] nickcbarone commented on #1947
Hi @jtliao, I apologize for not seeing your message. Yes, I do see your "test me" message but for some reason, we are still not seeing any logs from real users. Some of them this morning include:

- Good morning
- I am a Member and would like to make a reservation for Nov 1. I have not received any emails about opening; a friend forwarded an email to me about [redacted] opening. I have sent emails

[2020-10-26 18:13] nickcbarone commented on #1947
If you would like to test our service in production, just visit https://www.frametempe.com/ and use the webchat widget. Here are some questions you can ask that should receive automated responses.

- What are your hours today?
- What are your hours on Christmas?
- What are the kids club hours?
- Where are you located?
- What’s the wifi password?
- How much is a day pass?
- How much is a week pass?

[2020-10-26 20:06] jtliao commented on #1947
@nickcbarone Can you share the code you're using to call the Wit API (without your access token)?

[2020-10-26 20:15] hammadtanbits commented on #1947
here is the sample code, i am @nickcbarone team member.
[code]

[2020-10-26 20:16] fedariana opened #1948 "App is not training - needs to sync"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?** Bug

**What is the current behavior?** I have trained phrases in understanding but the app is not training the new phrases. It says it was last trained in June of 2020 even though I trained today.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the pro

[2020-10-26 21:25] jtliao commented on #1947
@nickcbarone @hammadtanbits I'm still skeptical this is a Wit issue. I'm directly querying the API using your code above (`curl 'https://api.wit.ai/message?v=20181028&q=inbox+test+again+again&access_token=$YOUR_ACCESS_TOKEN'`), and I see the inbox samples (you should be able to see it too). You should be able to do the same to verify this is the case.

Are you sure your site is calling the Wit API

[2020-10-26 21:30] jtliao commented on #1948
Done, sorry about that

[2020-10-26 21:30] #1948 closed, assigned to nobody

[2020-10-27 09:34] TaraNaser opened #1949 "Utterance training is not working"
Do you want to request a feature, report a bug, or ask a question about wit?
bug
What is the current behavior?
The Response was true, but the text was not trained
If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.
I used the API https://api.wit.ai/utterances?v=20190904
The request:
[
  {
    "text": "تامين السفر بغطي بلد الاقامه؟"

[2020-10-27 15:53] dessant commented on #1946
Hi @jtliao and @patapizza, can you help me regain access to my Wit.ai account?

[2020-10-27 21:06] nickcbarone commented on #1947
@jtliao Hi Jason, below is a response we received from the API. As you can see though, we don't see it in our logs to validate.

`"{"_text":"what's the class schedule tomorrow?","entities":{"intent":[{"confidence":0.99995193614325,"value":"queryClassSchedule"}],"datetime":[{"confidence":0.99661441689185,"type":"value","grain":"day","value":"2020-10-28T00:00:00.000-07:00","values":[{"type":"value",

[2020-10-27 21:06] hammadtanbits commented on #1947
you can verify for that msg_id on wit servers

[2020-10-28 15:37] jtliao commented on #1947
@nickcbarone as mentioned above, if an utterance already has been validated, it's not going to show up in the inbox. "what's the class schedule tomorrow?" has already been validated

[2020-10-28 17:42] kais509 opened #1950 "Training stuck on ongoing"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug
**What is the current behavior?**
Training is stuck on ongoing
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Start training at any point
It never finishes
**What is the expected behavior?**
It finishes training
**If applica

[2020-10-28 18:21] kais509 commented on #1950
Suddenly after a day it just finished so i guess it solved itself

[2020-10-28 18:21] #1950 closed, assigned to nobody

[2020-10-29 14:01] asfyra opened #1951 "Uterrances page is empty"
I think there is a problem with the utterances page for appId: 2841817995840539
When i click the utterances link on the menu i get the following:

![image](https://user-images.githubusercontent.com/6898230/97583448-a3c6c600-19ff-11eb-856f-26609d7d7c52.png)

It does not load anything even if i try to add any filter on the search text box above.
Could you please check if there is something wrong wit

[2020-10-30 03:27] #1947 closed, assigned to nobody

[2020-10-30 03:27] jtliao commented on #1951
fixed

[2020-10-30 03:27] #1951 closed, assigned to nobody

[2020-10-30 07:08] asfyra commented on #1951
Hello @jtliao it's not fixed. All the traits of the application are gone !
We are unable to perform further trainig as all the traits we had built over time disappeard.
I tried to get a backup but backup does not work
The application had one intent and handrends of traits. Now only the one intent is present.
At the moment the bot that is uing this app responds but i am affraid after the training f

[2020-10-30 23:17] assist-github opened #1952 "Can't Train Intents in New Wit UI"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
Wit.ai will not let me add additional training phrases

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1. Copy this "is the climate really changing"
2. Add it to this intent: "climate_chang

[2020-10-31 14:36] kais509 opened #1953 "Training button isnt working"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
Training and validation button doesn't work
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Input an utterance or select a live utterance and fill in all the blanks
Press Train and validate
The button

[2020-11-01 15:51] liber2006 commented on #1953
Same here... application id 3462649767154100. @jtliao and @patapizza can you help us with that?

[2020-11-02 05:01] jtliao commented on #1953
This should be fixed now, sorry about that.

[2020-11-02 05:01] #1953 closed, assigned to nobody

[2020-11-02 06:43] asfyra commented on #1951
@jtliao  Everything is back, utterances page is fully functional
Thanks a lot for your help !

[2020-11-02 06:48] asfyra opened #1954 "Unable to export / backup project"
ApplicationID: 2841817995840539
![image](https://user-images.githubusercontent.com/6898230/97837860-ba169f80-1ce7-11eb-9b8f-3995dcf239ab.png)

Something is wrong with the application export functionality. I believe its has to do with the size of the app and that's the reason why i tried exporting it at the first place.

Thanks

[2020-11-02 07:14] asfyra commented on #1954
Tried again and it worked fine. Thank you very much

[2020-11-02 07:14] #1954 closed, assigned to nobody

[2020-11-02 18:37] jtliao commented on #1952
@assist-github can you try again? there was an issue with the new UI for a bit

[2020-11-03 21:05] #1952 closed, assigned to nobody

[2020-11-04 08:12] TaraNaser opened #1955 "Expressions not being trained"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Expressions are not being trained
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
API used: https://api.wit.ai/message?v=20200413

Train the expression
Test the expression
The intent was not understoo

[2020-11-05 08:55] TaraNaser opened #1956 "Expressions are not being trained"
Do you want to request a feature, report a bug, or ask a question about wit?
Bug
What is the current behavior?
Expressions are not being trained
If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.
API used: https://api.wit.ai/message?v=20200413

Train the expression
Test the expression
The intent was not understood (The intent was

[2020-11-06 10:04] Chris-Ar commented on #1821
Hello,

Reviving an old thread, but we still face this issue when exporting and importing.
Our app does not contain more than 10.000 entities. (app id: 3345749878784230)
Is there a workaround?

Best Regards,
Chris

[2020-11-06 14:49] rileyai-dev opened #1957 "backup zip file cannot be imported into new agent"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
I am trying to create a development environment and cannot use a backup file to create a new agent.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1. Download backup zip
2. Create new agent
3. Atte

[2020-11-06 23:07] ameola opened #1958 "How should organizations access wit.ai?"
Hi,

I'm a developer for an organization that would like to start utilizing wit.ai. However, we're a little unsure on how we should set this up considering wit.ai requires facebook to authenticate. Is there a way for us to create an organizational account through facebook that our org can use to authenticate? Most developers are hesitant to have their personal Facebook accounts associated with the

[2020-11-08 05:58] sosoxuc commented on #1914
Is this working at all?

[2020-11-08 08:41] kralikX commented on #1918
Hi @patapizza, any news about the issue? Thanks in advance.

[2020-11-08 08:49] kralikX opened #1959 "Error GET-ting utterances via REST API"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
*bug*
**What is the current behavior?**
A call to `GET /utterances?limit=10000` with my apps authorization token worked fine so far, however for last couple of days it returns:
[code]
However there is no ID passed into the REST API call so it clearly is not a Bad request, it is clearly 500 Internal server error.

[2020-11-09 23:18] lycai-fb commented on #1958
Thanks for bringing up this point. I'll discuss this with the team and get back to you.

[2020-11-10 00:14] simcha1 commented on #1755
Have you already regained consciousness in a Hebrew speech?

[2020-11-10 01:00] My1 commented on #1946
honestly when was this even decided to ax github and more notably WHY? I just got a "reminder", didnt remind being told that before tho.

also considering what's happening on oculus right now this seems very hilarious to be honest

Edit: apparently this was kinda a side note in a newsletter from June, where they say:

"To better utilize Facebook infrastructure to ship new features to you, we will

[2020-11-10 08:59] evoqai opened #1960 "Intents not showing up in the Understanding module"
I'm testing wit.ai and when I want to train my app I can not see any intents in the drop down list.

The list is blank. There are intents in the app though (I can see them when using the API).

Also the list of intents does not show up when I try to list them in the Intents section.

[2020-11-10 10:23] asfyra commented on #1960
We are also facing the same problem in our applications (App Id: 2841817995840539)

[2020-11-10 10:43] PanoSpent commented on #1960
Same with us!

[2020-11-10 12:42] voiceflow-gallagan commented on #1960
Same here (App Id: 655899228652455)

[2020-11-10 13:03] dypham commented on #1960
I have a same issue. But the API still working so its maybe a bug and they will fix it soon.

[2020-11-10 15:03] JiangDongshuo commented on #1960
i have the same issue

[2020-11-10 16:05] getrekyyy commented on #1960
Same issue here

[2020-11-10 16:54] roots-ai commented on #1960
Same issue here.

[2020-11-10 17:11] ghost commented on #1937
any updates

[2020-11-10 17:47] jurneek commented on #1960
Having the same issue.

[2020-11-10 18:04] NxP4Code commented on #1960
having the same issue.

[2020-11-10 18:07] yuzh174 commented on #1960
Thanks for reporting this issue. I don't see this error on my end. Quick question: what browser and OS are you using?

[2020-11-10 18:10] NxP4Code commented on #1960
I tried Edge and Firefox.
![image](https://user-images.githubusercontent.com/56322272/98713846-c042f680-234d-11eb-8d8a-6fd1c596d811.png)

[2020-11-10 18:11] NxP4Code commented on #1960
![image](https://user-images.githubusercontent.com/56322272/98713907-d94ba780-234d-11eb-9294-fe47b44545cf.png)

[2020-11-10 18:36] roots-ai commented on #1960
On Chrome as well

<img width="731" alt="Screenshot 2020-11-11 at 12 05 45 AM" src="https://user-images.githubusercontent.com/1976061/98716554-c10d7400-23b1-11eb-9bf9-d5104f811f9d.png">

[2020-11-10 19:08] Al-Kohollik commented on #1960
Same here on Chrome. Also, adding a new intent causes the "+ Create Intent" button to go grey and load indefinitely for me (it's been loading for at least 20 minutes).
![wit not stopping loading intent](https://user-images.githubusercontent.com/52223836/98719654-e0ba8300-2344-11eb-8475-2882c7e80c74.JPG)

[2020-11-10 19:41] jtliao commented on #1960
We're looking into it. As a workaround, you can leverage the HTTP API https://wit.ai/docs/http/20200513/

[2020-11-10 20:47] yuzh174 commented on #1955
Hi @TaraNaser, sorry for the late response. Could you be more specific about the issue?
Do you mind to share the expression you are training? That would be very helpful.

[2020-11-10 22:24] Lorymi opened #1961 "Persian Support"
Hi. why Persian (Farsi) not supported for speech recognition?
You previously supported Persian. but now?
**Speech recognition is not supported for language: fa**

[2020-11-11 00:10] getrekyyy commented on #1960
**I have just found that I can train my app if I switch to the previous version of wit.ai maybe it works for you**

[2020-11-11 03:19] thecodearrow commented on #1960
Yes please fix this ASAP! It's annoying to not be able to train the app on new utterances.

[2020-11-11 03:59] vinayakpi commented on #1960
Hi @thecodearrow you can switch to the older version and continue with your work. Even I was facing the same issue but after switching to the older version, there is no such problem :)

[2020-11-11 04:10] kenchoong commented on #1960
ya same issue
And in Intent list and Utterance list is absolutely blank

https://github.com/wit-ai/wit/issues/1962

[2020-11-11 04:18] kenchoong opened #1962 "Utterance and Intent list not showing and take forever to load"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Utterance and Intent cant load any data

**What is the current behavior?**

![Take forever to load](https://user-images.githubusercontent.com/8010129/98764834-98b86080-2417-11eb-8042-f539a47fdc62.png)

This screen already load for 1 hour, still no data showing up.

In Intent tab, it absolutely no data at all

![

[2020-11-11 05:43] n3ih7 commented on #1960
the same issue here in Sydney
and in Intent list and Utterance list is absolutely blank

[2020-11-11 08:38] TaraNaser commented on #1955
Hi @yuzh174
The intent is: Balance
The expressions for the intent are:
متى موعد تجديد الاشتراك
متى انتهاء الاشتراك
بدي اعرف ازا خط الانترنت هاد مفصول او لاء
بدي استفسر عن موعد تجديد الاشتراك
ممكن استفسر عن فواتيري
مرحبا معلش بدي اعرف كم عليي دفع ل خط النت البيتي

Thank you for your help

[2020-11-11 18:03] yuzh174 commented on #1962
Hi @kenchoong, what browser/OS are you using and have you tried to refresh the browser? Does it consistently happen or just one time?

[2020-11-11 19:38] jtliao commented on #1961
We aren't able to support it anymore, we hope to bring it back at some point in the future.

[2020-11-11 19:38] #1961 closed, assigned to nobody

[2020-11-11 20:56] assist-github commented on #1952
Yes, both issues have been resolved. Thanks @jtliao!

[2020-11-12 01:22] jtliao commented on #1962
Should be fixed now

[2020-11-12 01:22] #1962 closed, assigned to nobody

[2020-11-12 01:22] jtliao commented on #1960
Should be fixed now

[2020-11-12 01:22] #1960 closed, assigned to nobody

[2020-11-12 06:50] evoqai commented on #1960
works, thank you

[2020-11-12 07:36] kenchoong commented on #1962
works..thank you

On Thu, 12 Nov 2020 at 09:22, Jason Liao <notifications@github.com> wrote:

[2020-11-12 18:26] jtliao commented on #1949
#1955

[2020-11-12 18:26] #1949 closed, assigned to nobody

[2020-11-12 18:26] jtliao commented on #1956
#1955

[2020-11-12 18:26] #1956 closed, assigned to nobody

[2020-11-13 04:10] kenchoong opened #1963 "Wit.ai Ui problem: Previous Highlighted Utterance part disappear when a new part of utterance selected."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
This happen when trying to train a Utterance. I attached the screenshot as well.

**1. I paste in a text I want to train, highlight the words I want to annotate as usual to set the entity for each word.**

![w1](https://user-images.githubusercontent.com/8010129/990

[2020-11-13 15:35] sephiroth2007 opened #1964 "I can not select the option train and validate in understanding. This is blocked."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2020-11-14 00:28] yuzh174 commented on #1964
Could you share more details about the issue? What is the app ID and a screenshot would be very helpful.

[2020-11-15 12:31] TaraNaser opened #1965 "how to set entity value in utterances API?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question

how to set entity value in utterances API, how to add it such that I can send the synonyms in the expression?

[2020-11-16 17:42] yuzh174 commented on #1965
If you are using http api, check the below two apis:
https://wit.ai/docs/http/20200513#post__utterances_link
https://wit.ai/docs/http/20200513#post__entities__entity_keywords__keyword_synonyms_link

[2020-11-16 18:29] yuzh174 commented on #1963
Hi @kenchoong , I don't think multiple lines are supported. If you change them to a single line, this should work.

[2020-11-16 21:48] jtliao commented on #1946
Hey @dessant, unfortunately we can't disclose too much here, I've sent you an e-mail to the address listed on your GitHub profile with latest updates.

[2020-11-16 23:28] nausicaasnow commented on #1945
Hey @mask0821, you can refer to our [docs](https://wit.ai/docs/) to quick start your app.

[2020-11-16 23:28] #1945 closed, assigned to nobody

[2020-11-17 10:43] homelander03 opened #1966 "Get api returning status code 400 and response Unauthorized source IP address"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
GET API returning 400 status code for my app while calling the api from AWS EC2 instance.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1. Im using the api end point https://api.wit.ai to retrieve w

[2020-11-17 16:55] #1946 closed, assigned to nobody

[2020-11-17 18:19] FengyangZhang commented on #1966
Hi @homelander03, thanks for posting the issue, we are looking into this.

[2020-11-17 18:45] FengyangZhang commented on #1966
Hi @homelander03, it seems the ip 3.6.75.250 is blacklisted by our infra for some reason. Any chance you can switch to another ec2 instance?

[2020-11-17 20:48] jtliao commented on #1958
Hi @ameola, sorry for the delay here. Unfortunately it's not possible to create some kind of organizational account, since Facebook accounts need to be tied to a real identity. I understand the hesitance here, but it's the requirement to use the service going forward. After the accounts are made, you would need to manage the individuals associated with an app as contributors.

[2020-11-17 20:48] #1958 closed, assigned to nobody

[2020-11-18 01:24] homelander03 commented on #1966
Hi I'm afraid not, I can't switch ec2 instance, Is there anything else I can do to make it whitelisted.
3.6.75.250
3.6.166.160
3.6.151.2

And also @FengyangZhang Can you help me with the reason, why it got blacklisted in the first place. Because this app is being used in our production environment as well. Due to that our project main feature got compromised.

[2020-11-18 14:50] dessant commented on #1946
The account has been reinstated, thanks @jtliao for helping me regain access to my Wit.ai account!

[2020-11-18 17:55] FengyangZhang commented on #1966
Hi, I'm reaching out to see what we can do. Sorry for the inconvenience and I'll keep you updated.

[2020-11-18 19:34] yuzh174 commented on #1963
@kenchoong, have you got a chance to try it if you change it to single line? let us know if it still doesn't work.

[2020-11-18 19:35] yuzh174 commented on #1965
@TaraNaser let us know if the provided apis don't help!

[2020-11-19 00:17] homelander03 commented on #1966
Yeah please, that would be helpful. Thank you.

[2020-11-19 07:09] TaraNaser commented on #1965
@yuzh174
Here is an example request of train sample api:  https://api.wit.ai/samples?v=20190904
[
  {
    "text": "I want to travel to America",
    "entities": [
      {
        "entity": "intent",
        "value": "Travel"
      },
      {
        "entity": "Country",
        "value": "USA",
        "start": 20,
        "end": 26
      }
    ]
  }
]
Here's an example of train utterances
[
  {

[2020-11-19 16:32] kenchoong commented on #1963
yes..with single line it works as usual..thanks

On Thu, 19 Nov 2020 at 03:35, yuzh174 <notifications@github.com> wrote:

[2020-11-19 17:56] yuzh174 commented on #1963
Thanks for the confirmation!

[2020-11-19 18:58] yuzh174 commented on #1965
@TaraNaser , Are you trying to understand the format of this json? In the train utterances example, entity is "Country", and the specific value in this utterance for this entity is "America".

[2020-11-20 06:56] sreenivasarvind opened #1967 "Incremental ud"
Question: Is it possible to have incremental updates using existing data which would be trained on few manually entered samples?

Situation: Have json files with text and intents alone, need to train model with other entities based on manually entered examples.

[2020-11-20 16:39] #1964 closed, assigned to nobody

[2020-11-20 16:42] jtliao commented on #1959
This seems to be fixed

[2020-11-20 16:42] #1959 closed, assigned to nobody

[2020-11-20 16:43] #1875 closed, assigned to nobody

[2020-11-20 17:12] FengyangZhang commented on #1967
Hi @sreenivasarvind , we don't do incremental training, every time new utterances are entered, the entire model will be retrained. I'm wondering what's your concern? Is it the training speed too slow?

[2020-11-20 17:40] sreenivasarvind commented on #1967
I'm using app more for the NLU, not as a chatbot. I wish to train it using existing data without the entities initially and train - new incoming data automatically based on that. Doesn't seem possible but would like to know if I've missed something.

[2020-11-20 18:12] FengyangZhang commented on #1967
Sorry I might understood "incremental" wrong - so you mean your initial data has no entities but only intents, but the new incoming data will have entities? As long as you annotate the incoming data with the entities, I don't think there's a problem. Let me know if I'm missing something.

[2020-11-20 18:15] sreenivasarvind commented on #1967
No, it's the other way round, the new data won't have annotated entities.

[2020-11-20 18:36] FengyangZhang commented on #1967
I see, so the problem is you want to be able to annotate the new data with the intent in the json file, also use the entities predicted by the model trained with your initial data? Yeah I think there's no fast way to do that, you either first call GET /message to get predicted entities then validate the new data, or have to manually validate the new data on the UI.

[2020-11-20 18:41] sreenivasarvind commented on #1967
Got it, thank you so much!

[2020-11-20 19:19] #1967 closed, assigned to nobody

[2020-11-23 02:53] homelander03 commented on #1966
Any update?

[2020-11-27 00:53] AlSufyaniT1 opened #1968 "لفة \ -H 'التفويض: حامل CBFRZPZ2YEHUD26PPYP7BNWHXVJ4IWA2' \ "https://api.wit.ai/message؟v=20201127&q=""
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2020-11-27 02:38] SirFace1 opened #1969 "Wit.ai UI Issue: Trained utterances not showing anywhere"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
Newly trained utterances are not showing up anywhere in the Wit.ai user interface.
Unable to locate them on either of the following screens:
- Understanding Tab
- Management > Utterances Tab

**If the current behavior is a bug, please provide the steps to reproduce and if p

[2020-11-27 03:17] kitchWWW commented on #1968
Hello! This task isn't particularly actionable as it currently stands. If you would like to submit a bug or report feedback, please do so and fill out the form (specifying the behavior, possible bug, expected behavior, etc) and submit a new request. We'd be happy to help but unfortunately this issue as it currently stands isn't actionable.

[2020-11-27 03:17] #1968 closed

[2020-11-27 03:55] roots-ai opened #1970 ""Training Ongoing" never finishes [Bug Report]"
App Id: 783739145520383

Status for training never changes from "Training Ongoing", though nothing has been trained last few days, and even before that only a few queries were run, after which the status turned this.

Also, it doesn't show the correct responses for the current data in training mode.

Is Wit stable for production? My experience so far has not been good.

[2020-11-27 16:32] kralikX commented on #1959
I confirm, the bug doesn't show up any longer. Thanks!

[2020-11-27 17:37] kitchWWW commented on #1970
Hello! Thank you for bringing this to our attention. I've restarted the training on your job, please post again if it runs into issues. Issues with not showing the correct responses from the data could be tied to restarting this training job, so if the issue persists after training is finished, please create a new ticket and we'll be happy to look into it.

Wit.ai is stable for production, and has

[2020-11-28 19:49] showment commented on #1617
Still experiencing this issue, I'm also using C#.

[2020-11-28 20:00] showment commented on #1617
Actually my mistake, it seems like the library was adding another parameter, which was causing the error.

[2020-12-01 10:46] ghost commented on #1937
@kitchWWW why is my issue being neglected???

[2020-12-01 21:30] Xueying-Wang commented on #1937
Hi @sabinchacko007 sorry for the delay. We are still trying to figure out what's the issue with the app. I saw that most of the message API calls from your app look successful. Is there any specific utterance that you observe failing consistently?

[2020-12-02 23:18] vantony1 opened #1971 "Training Ongoing forever!!"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2020-12-02 23:30] wangsnowyin11 commented on #1971
Hi, I have re-trained the app for you, now the training is done. Sorry for the inconvenience!

[2020-12-02 23:30] #1971 closed, assigned to nobody

[2020-12-03 14:12] NGame1 commented on #1961
Guys, Please please bring its support back. 😓
What's happening that you can't support it you had it before! and it was one of the strongest 😥

[2020-12-03 14:17] behroozbc commented on #1961
please support back Persian

[2020-12-03 14:20] parsalotfy commented on #1961
Bring back our Persian language feature :unamused:

[2020-12-03 14:23] mthri commented on #1961
We need that, pls

[2020-12-03 20:00] #1970 closed, assigned to nobody

[2020-12-04 10:58] Lorymi commented on #1961
https://github.com/wit-ai/wit/issues/1741#issuecomment-629370435
"**we hope by the end of the year.**"
@jtliao Any plans??

[2020-12-04 13:35] HeyArian opened #1972 "App stucking in training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
App is stuck in "Training ongoing".
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Open the app. Wait until the app is done training. Training never stops (even though it indicates it took last than

[2020-12-05 07:48] pouyagholami commented on #1961
Please bring it back.
today V need U. continue the help chain.

THANK YOU.

[2020-12-06 21:45] NGame1 commented on #1961
@jtliao #1741
we are at the end of 2020 😓😥

[2020-12-07 15:45] jurneek opened #1973 "App not exporting"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
When trying to export a zip of the app data I'm getting an error message
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where

[2020-12-07 15:52] jurneek opened #1974 "Can't train entities"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question/feature
**What is the current behavior?**
With the wit update you can't train entities allow they have to be trained with an in intent can this be updated?
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected b

[2020-12-07 17:00] mnauf commented on #1974
My app id is 212317900303131. I have updated the entity in my add but now it also shows the old one as an entity and also the new one

[2020-12-07 18:54] wangsnowyin11 commented on #1972
retrained the app for you, sorry for the incovenience!

[2020-12-07 18:54] #1972 closed, assigned to nobody

[2020-12-07 19:42] jtliao commented on #1973
Fixed

[2020-12-07 19:42] #1973 closed, assigned to nobody

[2020-12-07 19:50] jtliao commented on #1974
This is no longer supported, since intents are now considered first-class citizens. A workaround for your use case would be to have a dummy intent for these utterances.

[2020-12-07 19:50] #1974 closed, assigned to nobody

[2020-12-11 11:31] AGSME opened #1975 "Cannot export app .zip data"
**Do you want to request a feature, report a bug, or ask a question about wit?**
Bug

**What is the current behavior?**
I can't export the app data as zip

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Just click the download button on the settings page, an error message appears saying "Something went wrong while exportin

[2020-12-15 17:14] jtliao commented on #1969
Seems to be fixed, closing.

[2020-12-15 17:14] #1969 closed, assigned to nobody

[2020-12-16 08:39] btanreb opened #1976 "NLP not working"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug.

**What is the current behavior?**
Wit.ai always return error: "Something went wrong. We\'ve been notified".
NLP not working

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
I get this error for every message to our chatbot

[2020-12-16 10:48] hajahim commented on #1976
Hello,

On our side too, we have facing this issue

Screenshot attached
<img width="1037" alt="Screenshot 2020-12-16 at 14 38 24" src="https://user-images.githubusercontent.com/6651353/102338810-c318b300-3fad-11eb-9af8-9a7aeaff9d53.png">

[2020-12-16 17:05] Wikhar commented on #1976
Hi,

Same ...

![image](https://user-images.githubusercontent.com/47305575/102380772-9e7e0480-3fc8-11eb-80f4-f5d1d325aa6e.png)

[2020-12-16 17:06] jragunath commented on #1976
Hi Team, We are having the same issue. We have an integration with Facebook Messenger and the nlp object that comes in the Webhook event comes with an error :(

[code]

[2020-12-16 17:09] Tomaaso commented on #1976
Hi guys,

Same here ..

![image](https://user-images.githubusercontent.com/47305575/102381647-c6219c80-3fc9-11eb-9085-685325382991.png)

[2020-12-16 17:57] jragunath commented on #1976
Hi Team, Any update on this? We have also emailed the problem to help@wit.ai
If you need any info, please let us know. Thanks in advance!

[2020-12-16 20:22] PP-Wit-AI commented on #1976
Impacted Wit apps for us are below.  Note these work fine on a test Facebook App but not on our production Facebook App.

2144879372219060
1696109917104362
1626751147410281
1713630622010520
2419045264788033
1741133792592343
1674468652621354
1702008049845948
1905211682846112
2054944167879164
1646772502065548
1720888384645508
1901522079860808
1756781464383763
1669523386418862

[2020-12-17 11:52] injaan opened #1977 "Lost my wit account"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
*question*

**What is the current behavior?**
*Lost my wit account. but I have working api tokens and they are working well but I need to manage my wit apps how can I find my wit account (connected email address, github account or facebook account anything (any hints) would helpful)*

[2020-12-17 16:38] jtliao commented on #1975
Seems to be fixed

[2020-12-17 16:38] #1975 closed, assigned to nobody

[2020-12-17 17:07] PP-Wit-AI commented on #1976
We've confirmed the issue seems to only be impacting pages showing up as affected by the EU changes: https://developers.facebook.com/docs/messenger-platform/europe-updates. just in case this helps anyone else.
My guess is that this is related to getting the locale or something else that helps Facebook/Wit determine which language model to use for a conversation/message.
Exporting and creating a ne

[2020-12-17 22:16] jurneek opened #1978 "Old wit"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
question/feature
**What is the current behavior?**
I received the email about wit waiting till feb to get rid of the github account does that mean users will still have access to the old wit platform or will the github account also log you into the new interface?
**If the current behavior is a bug, please provid

[2020-12-18 12:54] Tomaaso commented on #1976
Hello so someone have a solution ? The problem persist for me.

My app ID : 742501339691107

Regards.

[2020-12-20 08:06] injaangames opened #1979 "My Apps dissapeared"
*bug*

**My Apps dissapeared**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**login to wit.ai by Github account and my apps hidden or dissapeared**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help.**
"My Wit account is https://wit.ai/injaan"

[2020-12-20 12:15] TaraNaser opened #1980 "Wit Samples is not training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
I am training using POST https://api.wit.ai/samples?v=20190904, it returns "sent": true
But I can't find the trained expressions in
GET https://api.wit.ai/samples?v=20190904&verbose=true&limit=3000
I also tried training it in utterances api, same issue.
**If the current beha

[2020-12-21 09:36] TaraNaser opened #1981 "Expressions not being trained"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
After training expressions on POST https://api.wit.ai/samples?v=20190904 and it returns sent, but the expressions are not being trained. because I can't find them in GET https://api.wit.ai/samples?v=20190904&verbose=true&limit=2000.
**If the current behavior is a bug, please

[2020-12-21 17:32] jtliao opened #1982 "test"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2020-12-21 17:33] #1982 closed, assigned to nobody

[2020-12-21 17:44] jtliao opened #1983 "test2"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2020-12-21 17:45] #1983 closed, assigned to nobody

[2020-12-21 17:45] sunsnashty opened #1984 "test3"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2020-12-21 17:46] #1984 closed, assigned to nobody

[2020-12-21 18:35] simcha1 opened #1985 "Thank you"
The end of the year has come, and I have been waiting so long
Did you return the Hebrew speech recognition?
Thank you
This is very important to us
_Originally posted by @simcha1 in https://github.com/wit-ai/wit/issues/1755#issuecomment-630281567_

[2020-12-21 20:45] jurneek opened #1986 "Transfer App ownership error happening"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
when trying to transfer ownership to another person I'm getting an error message
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App I

[2020-12-22 00:31] ChrisyShine commented on #1986
Can you provide all the app IDs that are affected? The app IDs will help us to locate the problems for your apps.

[2020-12-22 18:35] jurneek commented on #1986
@ChrisyShine here are the following app IDs
3155598637999856
3209404729141526
786369538869025

[2020-12-22 18:50] ChrisyShine commented on #1986
@jurneek We found that the new app owner doesn't have a valid email address registered in our system. The app ownership transfer process will send an email to the new creator to accept the transfer. So can you ask the new app owner to double check the email information in our system?
And if you are sure the email settings are good, and you are still not able to transfer the ownership to the new ow

[2020-12-22 19:00] jurneek commented on #1986
@ChrisyShine there's no where I seeing to edit account information where do I go for that

[2020-12-22 19:02] ChrisyShine commented on #1986
@jurneek Can you just share all the app IDs that you want to transfer and the new app owner's username? We will help to do the app ownership transfer.

[2020-12-22 19:14] jurneek commented on #1986
@ChrisyShine can you just tell me how to update the accounts email address or can I give you the users name and email address to update because we have to transfer several accounts and update tokens right after this will take some time

[2020-12-22 19:23] ChrisyShine commented on #1986
@jurneek We can help to update the email for the new app owner. Can you share the wit username and email address for the new app owner?