[2021-09-02 20:39] chessai commented on #2182
What do you mean by "I'd like to register"? Do you not have an App ID?

EDIT: Thanks for editing and adding your App ID!

[2021-09-02 21:04] chessai commented on #2182
What is the error message in question?

[2021-09-02 21:08] jurneek commented on #2182
There was an error validating the utterance.

[2021-09-03 15:43] setohiroshi opened #2183 "Confidence/Score on /speech endpoint"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

Ask a question

Actually, can i get a word-level confidence on /speech endpoint? If not, could this be implemented in the future?

[2021-09-05 09:11] TaraNaser opened #2184 "Something went wrong. We've been notified ,Get utterances API"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
GET https://api.wit.ai/utterances?v=20210904&limit=10000
![image](https://user-images.githubusercontent.com/71825913/132121643-0d10c833-8a9e-4fb7-9375-d0e2c0f3193f.png)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo

[2021-09-07 01:29] riztan opened #2185 "code: "wit" error: "Something went wrong. We've been notified.""
Hi, I am having a problem with wit.ai, previously I made the request and got a json with recognizable data, even the text corresponding to the audio correctly. However now it doesn't do it, I only get:
{
  "code": "wit",
  "error": "Something went wrong. We've been notified."
}

Example of the cURL statement used:
curl -X POST -k -H 'Authorization: Bearer $TOKEN' -H 'Content-Type: audio/ogg' -i 'h

[2021-09-07 01:34] chessai commented on #2185
I have edited your comment to not include the server access token. Please DO NOT share this, as it can be used to operate destructively on your app. Because it is visible in the edit history, you should refresh your access token in the settings of your app.

[2021-09-07 01:38] riztan commented on #2185
excuse me please, I forgot to remove the token

[2021-09-07 12:13] cheeseblock commented on #2129
@chessai  - any update? thanks

[2021-09-07 15:30] brennadoyle opened #2186 "App Not Picking Up Training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

bug

**What is the current behavior?**

Trained 50 phrases to an intent, but it's not picking up. Is there anything that can be done on their end because the app is not reflecting what the training status shows.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal

[2021-09-08 17:43] #1977 closed, assigned to nobody

[2021-09-08 17:50] #1976 closed, assigned to nobody

[2021-09-08 18:17] chessai commented on #2129
We have identified a potential issue and are looping more people in to diagnose and work on it.

Thank you for your patience.

[2021-09-08 18:21] chessai commented on #2185
Do you get errors when executing any request other than speech, or just speech?

[2021-09-08 18:37] chessai commented on #2184
<s>I cannot find that app. Has it been deleted?</s>

EDIT: it was an issue on my end.

[2021-09-09 03:13] riztan commented on #2185
I was following up the tutorial with cURL and I still get errors. It seems to be something associated with cURL or maybe some blocking by geographic area (still to be ruled out).

example:
curl 'https://api.wit.ai/message?v=20200513&q=hello' -H 'Authorization: Bearer $TOKEN'
reply:
{"error":"Something went wrong. We've been notified","code":"unknown"}

[2021-09-09 16:47] aliugur opened #2187 "Error: Something went wrong. We've been notified, Code: Unknown"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
Utterances not loading for some apps.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Call https://api.wit.ai/utterances?limit=1000 with GET request and you will get the error.

**What is t

[2021-09-10 06:45] pokryva commented on #2180
Hi,
It seems to be stuck on "Training ongoing" status in my App, too.
APP ID: 2666741980018303

[2021-09-10 06:50] pokryva commented on #2184
Hi,
I get similar error while trying to access utterances via wit.ai UI: https://wit.ai/apps/2666741980018303/utterances ​

![image](https://user-images.githubusercontent.com/15121868/132812065-fb91c3f5-9ffa-4c12-ab37-28ed885cfa42.png)

App ID: 2666741980018303

[2021-09-10 19:54] max-critcrew opened #2188 "Question - Control game via Voice - Definitely select one response."
I've started to play around with Wit.ai with the extract entities/keywords recipe and it is working quite okay for what I'm trying to do, but not perfect.

I'm trying to make one of our games controllable with voice, that means the user can say "Go left", "Go right", "Go Center" and then the main character moves this way. There's always only one possible way to go and for every voice command sent

[2021-09-11 13:10] janisblaus opened #2189 "Upload always returns json-parse error"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
report a bug

**What is the current behavior?**
When uploading exported zip without changes - it works.
When uploading exported zip that is unarchived and then archived again into zip - does not work.
Even with no files or structure changed.

**What is the expected behavior?**
The upload should succeed.

**If ap

[2021-09-11 13:35] janisblaus commented on #2189
Solved by using different zip library.

[2021-09-11 13:35] #2189 closed, assigned to nobody

[2021-09-13 18:48] chessai commented on #2187
I have a fix out, this should be resolved by end of day.

[2021-09-13 18:52] chessai commented on #2184
There should be a fix out for this by the end of the day.

[2021-09-14 04:55] whopiyush commented on #2187
still experiencing the same issue

[2021-09-14 04:56] chessai commented on #2187
What is your app id?

[2021-09-14 05:02] whopiyush commented on #2187
509741850113335

[2021-09-14 05:16] whopiyush commented on #2187
Also, I'm experiencing the issue while training my app - https://graph.wit.ai/509741850113335/samples endpoint.
![image](https://user-images.githubusercontent.com/18086566/133199008-9cde7c53-8434-4dd1-bdb1-fbb731edec68.png)

[2021-09-14 05:39] aliugur commented on #2187
Hi. I am still experiencing the same issue.

![image](https://user-images.githubusercontent.com/3797833/133201168-98c8b5eb-206e-45e6-a86d-ff94a10c5738.png)

[2021-09-14 17:26] chessai commented on #2129
We have identified the exact issue and are debugging it.

[2021-09-15 16:08] brennadoyle opened #2190 "App not picking up training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

bug

**What is the current behavior?**

The app is not training as we have been adding utterances and getting back the same wrong intents at the same confidence percentage.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the

[2021-09-15 17:31] ChrisyShine commented on #2190
The app's training status shows that the training was done. SO it is not the training issue.
Can you describe the problem with more information? Ex. the sample utterances and what is expected and how it works wrong.

[2021-09-16 05:59] pokryva commented on #2184
Hi @chessai, I'm not sure if you were replying to @TaraNaser issue - "something went wrong" in API, or my - "something went wrong" in UI, but just to let you know - UI still thorws this error message :(

[2021-09-16 23:10] brennadoyle commented on #2190
Hi,

After training utterances like "How do I find a job" which is supposed to pick up the Jobs_Search intent, the app picks up the Jobs intent or nothing at all. The entire app seems as though it is not training, could it possibly be reset?

[2021-09-16 23:10] brennadoyle commented on #2190
Hi,

After training utterances like "How do I find a job" which is supposed to
pick up the Jobs_Search intent, the app picks up the Jobs intent or nothing
at all. The entire app seems as though it is not training, could it
possibly be reset?

On Wed, Sep 15, 2021 at 10:31 AM Christina Zheng ***@***.***>
wrote:

[2021-09-16 23:26] brennadoyle opened #2191 "App not exporting"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
The app will not export and shows an error message that says "Something went wrong. We've been notified"
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Go to the app and click on the 'download .zip w

[2021-09-17 08:34] whopiyush commented on #2187
Hey @chessai , any updates?

[2021-09-17 14:16] MiniPlaysCreator opened #2192 "App staying in 'training ongoing' for surprisingly long time?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question

**What is the current behavior?**
So, my app (ID 341206027716466) has been staying in 'training ongoing' mode for 2 hours already, which is quite unexpected since it usually takes up to a minute. At this point I only got 42 utterances, so I heavily doubt it should take that much time. The question is -

[2021-09-17 15:26] c0pper commented on #2192
Same, my app (888858615075203) has been training for more than 24h a this point. Also, the status page on the witAI website never loads so maybe they're experiencing issues?

[2021-09-17 20:41] ChrisyShine commented on #2190
@brennadoyle Checking the utterances tab, the utterance "How do I find a job" is annotated with intent "Jobs". Can you double check all of the utterances' annotations?
<img width="964" alt="Screen Shot 2021-09-17 at 1 40 12 PM" src="https://user-images.githubusercontent.com/30825086/133851113-bd010894-f227-4834-9d1d-5719741fad15.png">

[2021-09-18 00:57] ChrisyShine commented on #2187
Both of the app 2085604151492734 and 509741850113335 should be able to show the utterances page successfully. Can you try again?

[2021-09-18 04:25] whopiyush commented on #2187
Hey @ChrisyShine , I'm having the issue while I'm trying to train my app (App ID - 509741850113335).
![image](https://user-images.githubusercontent.com/18086566/133872338-2d10ea87-8a7b-4950-a624-fb833728ca24.png)

I first thought about creating another issue, but there are already a ton of issues out there for unknown error. Let me know if I should create another issue for it.

[2021-09-18 11:31] c0pper opened #2193 "App stuck in training ongoing."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question

**What is the current behavior?**
My app (ID 888858615075203) has been training for at least 2 days by now. Is there an issue on wit ai end or is it me? Can I do anything other than waiting?

**What is the expected behavior?**
Complete training

**If applicable, what is the App ID where you are experie

[2021-09-18 19:12] Tolarion commented on #2185
I have almost the same issue on "Utterances" page. Getting err: "Error: Something went wrong. We've been notified"

[2021-09-18 19:21] Tolarion commented on #2187
Hello! Getting "Error: Something went wrong. We've been notified" on Utterances page.
AppID: 252324006265683
Please, help!

[2021-09-19 05:02] zapteryx opened #2194 "Training ongoing indefinitely"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
Training ongoing indefinitely (second time)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
n/a

**What is the expected behavior?**
Training complete or done

**If applicable, what is the A

[2021-09-19 08:36] whopiyush commented on #2187
any updates?

[2021-09-20 13:23] shorouqmajali commented on #2180
Hi my app have the same issue App Id : 181708470710187

[2021-09-20 13:25] shorouqmajali opened #2195 "Wit App stuck in on going"
My app is stuck in ongoing for 3 hours

the app with Id : 181708470710187 status is ongoing for 3 hour and unable to train

The expected is to complete training

the APP Id is : 181708470710187

[2021-09-20 21:33] brennadoyle commented on #2190
Hello,

We had been training this for several weeks and now is pulling, why was it taking so long?

[2021-09-20 21:36] ChrisyShine commented on #2194
The app's training status shows "Done" now.

[2021-09-20 21:38] ChrisyShine commented on #2195
The App's training status shows "Done".

[2021-09-20 22:24] ChrisyShine commented on #2193
@c0pper Can you just try if the new utterances can be predicted correctly? It seems that, the training status signal is incorrect, but the training is already done.

[2021-09-20 23:19] ChrisyShine commented on #2187
@Tolarion The utterances page for 252324006265683 is fine now.

[2021-09-20 23:20] ChrisyShine commented on #2187
@officialpiyush The utterance validation error is another problem. Can you create a new issue to track that? And if all the utterances page problems are resolved, I will close this issue.

[2021-09-20 23:24] ChrisyShine commented on #2184
@TaraNaser @pokryva Both 677077969722217 and 2666741980018303 should be able to show the Utterances page correctly.

[2021-09-21 00:05] ChrisyShine commented on #2187
And to solve the utterance validation problem, a question for @officialpiyush : Have you ever modified the app's language settings?

[2021-09-21 02:58] whopiyush commented on #2187
@ChrisyShine Yes I did modify my app's language a few days ago, but I had changed it back to English again.

[2021-09-21 02:58] whopiyush commented on #2187
Oh, sure

[2021-09-21 03:48] whopiyush opened #2196 "Error validating utterance: Something went wrong"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
It's a bug

**What is the current behavior?**
When I try to train my program, it gives me `There was an error validating the utterance` message. A sample text to try would be `mayu play beethoven`. It works perfectly when I remove `beethoven` and just keep `mayu play`

**If the current behavior is a bug, please

[2021-09-21 05:19] pokryva commented on #2195
Hi @ChrisyShine  you seem to be able to fix things around here - can you please heal my app - 2666741980018303 - with the "stuck in ongoing" problem? :)

[2021-09-21 05:20] pokryva commented on #2184
@ChrisyShine I can confirm utterances page in my app is ok now, thanks!

[2021-09-21 07:11] aliugur commented on #2187
Hi. Yes I can open Utterances page but when I try this endpoint (https://api.wit.ai/utterances?limit=1000), I can't still get the result:

{
    "error": "Something went wrong. We've been notified",
    "code": "unknown"
}

[2021-09-21 08:38] Tolarion commented on #2187
Thanks a lot. Really appreciate your attention

[2021-09-21 17:40] c0pper commented on #2193
This seems to be the case. Not ideal but I can work with that for the time being.

[2021-09-21 18:47] brennadoyle commented on #2191
Hi, I need to export this app and am still getting an error. Is there anything that can be done to get this exported?

[2021-09-21 19:18] ChrisyShine commented on #2195
@pokryva The app (2666741980018303) status should be DONE now. In fact, your app's training was already done before, but the signal is incorrect. You can verify the utterance prediction result and see if the prediction is good. The training status signal may not be accurate.

[2021-09-21 19:20] #2193 closed, assigned to nobody

[2021-09-21 19:20] #2195 closed, assigned to nobody

[2021-09-21 19:20] #2194 closed, assigned to nobody

[2021-09-21 19:24] ChrisyShine commented on #2192
Both 341206027716466 and 888858615075203 training status is DONE now.

[2021-09-21 19:24] #2192 closed, assigned to nobody

[2021-09-21 19:27] ChrisyShine commented on #2191
@brennadoyle Can you try again? The export should be good now.

[2021-09-21 19:30] ChrisyShine commented on #2190
@brennadoyle What I noticed is that the data annotation is incorrect. The screenshot I shared is not from the prediction result, but from the Utterances page. The data annotation in Utterances page is wrong. Can you double check the Utterances page and verify the data annotation for the utterances?

[2021-09-21 19:31] #2184 closed, assigned to nobody

[2021-09-21 19:47] brennadoyle commented on #2191
Got it thank you!!

[2021-09-21 19:47] #2191 closed, assigned to nobody

[2021-09-21 19:56] ChrisyShine commented on #2187
@aliugur The problem comes from the utterance "MGM nedir?". Can you go to Utterances page and search for "MGM nedir?"? There are 2 utterances with different annotations. Can you decide which one is correct and annotate the other one with the same intent?

[2021-09-21 20:03] ChrisyShine commented on #2196
@officialpiyush The error should be fixed. Can you try again?

[2021-09-21 20:26] brennadoyle commented on #2186
This is still not pulling the correct intent.

[2021-09-22 06:13] whopiyush commented on #2196
Yes, It works now, thanks

[2021-09-22 06:13] #2196 closed, assigned to nobody

[2021-09-22 21:57] brennadoyle opened #2197 "Failing App"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

Question

**What is the current behavior?**

Currently, an app is bringing about thousands of errors and is constantly unstable. Is there something on the back end that's wrong with it?

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

*

[2021-09-23 03:22] zapteryx commented on #2194
App is stuck in training ongoing again.

[2021-09-23 03:23] zapteryx opened #2198 "App is stuck in training ongoing again."
Do you want to request a feature, report a bug, or ask a question about wit?
Report a bug

What is the current behavior?
Training ongoing indefinitely (third time)

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.
n/a

What is the expected behavior?
Training complete or done

If applicable, what is the App ID where you are exper

[2021-09-23 07:21] zapteryx commented on #2198
Issue has resolved itself

[2021-09-23 07:21] #2198 closed, assigned to nobody

[2021-09-23 12:15] aliugur commented on #2187
Thank you very much; I selected with correct intent and the problem solved. But why is it giving this kind of error instead of not showing wrong utterances? It is kind of confusing but the issue is fixed nonetheless.

[2021-09-23 14:06] TaraNaser opened #2199 "Wit App returns confidence level for a sentences that is not trained"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
Wit App returns confidence level for a sentences that is not trained
Using API https://api.wit.ai/message?n=8&v=20190904&q=عبدالرحيم عليان
The api returns intent even though the sentence was not trained in any intent
![image](https://user-images.githubusercontent.com/7182591

[2021-09-23 17:03] umnibot opened #2200 "Deleted app 893459307729247 by mistake, but restore doesn't work"
By mistake, I have deleted my app 893459307729247
I have a backup, but it has intents that were created before forbidding for an intent to start with a number. So now I cannot recreate my agent as it 400 intents start with a number.

Please, help me recreate my agent.

[2021-09-23 18:06] #2187 closed, assigned to nobody

[2021-09-23 19:14] nishsinghal20 commented on #2200
Hey @umnibot! If you have a backup file with invalid names, you'll need to edit that file with valid intent names before importing it. Other than that, I'm afraid there isn't much that we can do to help with this case.

[2021-09-23 19:55] nishsinghal20 commented on #2199
Hello @TaraNaser! It's expected to get some results back even on untrained utterances, as long as the model can find some matches. The confidence value indicates how close the match is.

[2021-09-23 22:31] nishsinghal20 commented on #2197
Hi @brennadoyle! I tried the same request as yours but couldn't repro the issue. I did notice some timeouts for some queries in your app and we'll be addressing those issues soon on our end.

[2021-09-23 22:58] brennadoyle commented on #2197
@nishsinghal20 Will I be notified of when those timeouts will be addressed or is there a timeline on it?

[2021-09-23 23:39] nishsinghal20 commented on #2197
We'll dedicate some time in early October to fix those issues. In the meantime, please feel free to create another issue if you continue to experience problems with your app. We'll do our best to help address them.

[2021-09-24 06:51] cheeseblock commented on #2129
How is the debugging going? Any news?

[2021-09-24 12:33] TaraNaser commented on #2199
Hi @nishsinghal20 the trained utterances under the first intent are not similar or close to the sentence, but the confidence level is still high.

[2021-09-24 17:09] nishsinghal20 commented on #2199
@TaraNaser Do you consistently see the same response for that utterances, or was it just once? Could you try another similar utterances and see if you still get similar response and confidence scores back? You can also try training your model with a larger sample of utterances to improve it's prediction accuracy.

[2021-09-26 07:33] #2200 closed, assigned to nobody

[2021-09-27 09:19] shorouqmajali opened #2201 "my app unable to train"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit? my app status is onGoing for 3 weeks

**What is the current behavior?** my app with Id : 262921882021843 is still ongoing for more than 3 weeks , and i am unable to train any intent

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.** : the tra

[2021-09-27 18:05] nishsinghal20 commented on #2201
Hello @shorouqmajali! I've manually re-triggered the training for your app. It should succeed this time, but if it still seems stuck, please feel free to comment on this issue and we'll take a look at it.

[2021-09-28 07:47] TaraNaser commented on #2199
Hi @nishsinghal20 I get the same response for that sentence all the time. This sentence is not trained under any intent. similar sentences give back the same intent but a lower confidence level.
For example:
![image](https://user-images.githubusercontent.com/71825913/135045353-1cb24d22-04a0-4554-b397-d0226f646d78.png)

[2021-09-28 09:23] shorouqmajali commented on #2201
it seems like the issue is still exist , I am unable to train the app , and the status is still ongoing

[2021-09-28 19:33] nishsinghal20 commented on #2201
@shorouqmajali thanks for the update. I'll investigate the issue.

[2021-09-28 21:02] SisikHBS opened #2202 "I want to ask a question."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2021-09-28 21:02] nishsinghal20 commented on #2201
I just checked and the training for this app has finished now. Please let me know if you see any further issues.

[2021-09-28 21:02] #2202 closed, assigned to nobody

[2021-09-28 21:06] chessai commented on #2129
Unfortunately the bug is one in PyTorch and needs a lot of legwork to get fixed. We are investigating our options for moving forward.

[2021-09-29 11:13] ristomoilanen opened #2203 "Wit.ai gives error: "Something went wrong. We've been notified""
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
BUG

**What is the current behavior?**
Wit.ai gives result: "Something went wrong. We've been notified"

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
curl -H "Authorization: Bearer [MY_TOKEN]" "https://api.wit.ai/message?v=20210929&q=T

[2021-09-29 12:40] Sarah-Aabid opened #2204 "My app unable to train"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit? my app status is on Going for 3 hours

**What is the current behavior? My app with Id : 558136572067882 is still ongoing for more than 3 weeks , and i am unable to train any intent

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is

[2021-09-29 13:31] sophiexr opened #2205 "New tokens"
hi

Today, the Server & Client Access Tokens in the settings area of our app (2841817995840539) changed **without** clicking "Generate New Token". The only action performed today on that section, was to remove a user from the contributors list.

Are there any logs to see what action might have triggered the tokens to change?
Could removing a user (former owner of the app) automatically change the

[2021-09-29 16:43] CleanestMink126 commented on #2204
Training seems to be complete now, is this issue still ongoing?

[2021-09-29 17:13] CleanestMink126 commented on #2205
Hello!
Yes, transferring ownership of an app to a new user will transfer the existing tokens as well, so this is expected.

[2021-09-29 17:13] #2205 closed, assigned to nobody

[2021-09-29 17:54] sophiexr commented on #2205
@CleanestMink126

thanks for your reply. Ownership changed weeks ago. Today we just deleted a contributor (who was previously owner of the app) and the tokens changed.
Do tokens change every time you delete a contributor??

Thanks

[2021-09-29 18:39] CleanestMink126 commented on #2205
I see, this might be an artifact of deleting an old owner and them having their tokens revoked, which could revoke the transferred tokens.

It shouldn't happen when removing a normal contributor though, let us know if it does.

[2021-09-29 19:08] CleanestMink126 commented on #2203
Sorry, I've been unable to reproduce any errors for this domain. I've tried both through manual tests and through the Wit UI and it seems to be working as expected. Is this still occurring?

[2021-09-30 05:15] ristomoilanen commented on #2203
Thank you for your response. Our app seem to be working now and this ticket is ok to be closed.

[2021-09-30 05:20] #2203 closed, assigned to nobody

[2021-10-01 06:04] cheeseblock commented on #2129
Is there anything we can do on our side to help facilitate a fix?

[2021-10-01 07:50] TopherTheGopher opened #2206 "I'm getting the wrong data after the update"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

bug/question

**What is the current behavior?**

So the problem appeared after the update on the 28th. Before the update I would be able to pull a json file looking like this:

{
   "entities": {},
   "intents": [],
   "text": "why you no work.",
   "traits": {}
}

I'd be able to take the text from here and hav

[2021-10-01 10:06] azmatrana opened #2207 "App is unable to train and facing issue as timeout for send message function."
My app id is 320718746231538
From last 2 days, we are facing issue for training new question we are using ruby client of wit. All of our messages are going to out of scope now. And wit web app is also behaving weird. We send a message in understanding to train we click on add intent and click on "Train and validate" but nothing happen.

[2021-10-01 17:11] CleanestMink126 commented on #2207
I can't seem to reproduce this issue, is this still going on?

[2021-10-02 17:44] francescor93 commented on #2206
Hi @TopherTheGopher ,
i am experiencing the same problem in my app written in PHP.
According to the documentation (https://wit.ai/docs/http/20210928/#post__speech_link), it appears that the _/speech_ endpoint now returns partial transcripts as well, and only the latter is the full object that interests us, unlike the endpoint _/message_ which only returns the full object.
The difficulty in obtaini

[2021-10-02 18:35] Sarah-Aabid commented on #2204
It's working fine.
Thank you

[2021-10-02 18:35] #2204 closed, assigned to nobody

[2021-10-03 13:41] n0th1ng-else commented on #2206
I am facing the same in my NodeJS app as well
the issue is also that the response does not contain the `transfer-encoding` header so we can understand what has been changed lately

[2021-10-03 14:13] n0th1ng-else commented on #2206
I made a hacky solution to resolve the issue (simplified code snippet)

[code]

[2021-10-03 21:43] July39 opened #2208 "**What is the expected behavior?**"
*My recorded file is correct on the web site, but i never get the text or the intent in return...  The returned text is only 2 or 3 characters and my .wav is prefect...
here is my app id:178092027786246
I am a student in AI and I would really like to understand you tool..Maybe it's because I speak french...

Please help,

[TestJulyDulac.zip](https://github.com/wit-ai/wit/files/7274562/TestJulyDula

[2021-10-04 15:56] patapizza opened #2209 "We're currently facing issues."
The domains `wit.ai` and `api.wit.ai` currently don't get resolved.

[2021-10-04 16:09] brennadoyle opened #2210 "wit.ai is down"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2021-10-04 16:10] brennadoyle commented on #2210
The website is down and my apps are not responding

[2021-10-04 16:12] SisikHBS commented on #2210
Same here.  [ERROR] WitError: Wit responded with status: 503 (No server is available for the request)

[2021-10-04 16:21] citiznru commented on #2210
The same error.
https://api.wit.ai/speech?q=": context deadline exceeded

[2021-10-04 16:33] brennadoyle commented on #2210
@SisikHBS @citiznru looks like all of Facebook is down

[2021-10-04 20:47] patapizza commented on #2210
Yes, closing in favor of https://github.com/wit-ai/wit/issues/2209.

[2021-10-04 20:47] #2210 closed, assigned to nobody

[2021-10-04 22:09] patapizza commented on #2209
Things start to get back online. Thanks for your patience.

[2021-10-05 07:08] georgios-tsoumas opened #2211 "Utterance entity/trait required"
You can ignore this issue

[2021-10-05 08:31] #2211 closed, assigned to nobody

[2021-10-05 10:07] Sarah-Aabid opened #2212 "My app unable to train"
Do you want to request a *feature*, report a *bug*, or ask a *question* about wit? my app status is onGoing for 1 day

What is the current behavior? my app with Id : 672031700854339 is still ongoing for more than 3 weeks , and i am unable to train any intent

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. the training should b

[2021-10-05 15:12] ruoyipu commented on #2212
Hi @Sarah-Aabid,

Could you confirm if your app Id is correct? It's not an app in our system, but the id is related to a different app (TVTC-ar) which is fully trained.

Thanks!

[2021-10-05 16:14] #2209 closed, assigned to nobody

[2021-10-06 07:29] Sarah-Aabid commented on #2212
Thank you

[2021-10-06 07:29] #2212 closed, assigned to nobody

[2021-10-06 11:34] haribalos opened #2213 "Wit doesn't return 'nointentmatch' anymore"
**AppId** : 2841817995840539
Hi everyone,

My question is if something has changed on the algorithm on how Wit.Ai matches unknown trained answers.
Before 31/5/2021 we were getting results with the 'nointentmatch', but now we are always getting a match even if the question is gibberish.

Here are some examples below from our logs in order to make sense.

In this example, we had issued a Query of "0

[2021-10-06 17:36] ruoyipu commented on #2213
Hi @haribalos,

This result format does not look like what wit api returns. What endpoint are you querying and do you have any pastes of a direct response from wit.ai?

Thank you!

[2021-10-06 17:52] sebastianarena opened #2214 "App hanging in "Training ongoing" after Facebook's shutdown"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
BUG

**What is the current behavior?**
An app has been hanging with status "training ongoing" for hours, and we cannot unblock it

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help.**
324520075312254

Thanks!

[2021-10-06 18:24] ruoyipu commented on #2214
Hi @sebastianarena,

I've gone ahead and manually requested a new retraining. It should now be unstuck.

Thanks!

[2021-10-06 18:24] #2214 closed, assigned to nobody

[2021-10-06 23:17] SendseiPM commented on #299
Dear WIT.ai team I am suffering from the same now as of two days ago.

App ID:
630222481292872

Owner account: charlesfarley

[2021-10-08 00:01] brennadoyle commented on #2143
What's the update on this? The app still does not recognize the trained utterances.

[2021-10-08 18:17] sophiexr opened #2215 "can't export date"
hi,

We've been trying for days to export the data from our (app 2841817995840539) and keep getting an error [object object ].
We click on Settings and then **export your data** (download .zip with your data),
<img width="966" alt="export data issue" src="https://user-images.githubusercontent.com/48153186/136603887-0f0a0d00-2d52-4e54-85c2-dde773630543.png">
 and then a message [object object] appe

[2021-10-10 11:05] 4ivonne opened #2216 "Wit.ai App responds no intents anymore; training stucked"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
No intents returned within the API response.
Response is always status 200, but empty intent array.
Entities are still recognized.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
The Insights on the

[2021-10-11 08:35] SendseiPM commented on #299
Dear WIT.ai team,

I am still suffering from the same never ending bot training.

Could you please restart it?
Please restart my bot training:

App ID:
630222481292872

Owner account: charlesfarley

[2021-10-11 08:37] SendseiPM opened #2217 "Please restart my bot training. Suffering from never ending bot training."
Dear WIT.ai team,

I am suffering from never ending bot training and have been for a week now.
It shows the orange/yellow status and says "Training ongoing".

Could you please restart it?
Please restart my bot training:

App ID:
630222481292872

Owner account: charlesfarley

[2021-10-11 10:11] AdrianRudeanu opened #2218 "App stuck in training, please restart"
Hello,

My app is still in training for aprox five days now. Can you restart the app so it can train properly? It just happend to be stuck this way, i can't say what are the steps to reproduce.

Thank you!
App id: 371041904730717

[2021-10-11 12:09] Sarah-Aabid opened #2219 "Wit App is not working"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit? I can not see any app

**What is the current behavior?  I can not see any app when I login , it keeps loading without any result.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. When I log in, I should be able to see my apps.

**What is the

[2021-10-11 14:09] haribalos commented on #2213
hi @ruoyipu, below you will find the data you requested.

My issue if you see below is that I'm quering the app with a gibberish question
and the question is getting matched with a trait that has no training for that, it should be returning no matches.
Can you share your opinion on that behavior? it would be of great help since the app was responding correctly some time ago.
Thank you in advance.

[2021-10-11 21:53] #2207 closed, assigned to nobody

[2021-10-12 13:30] Nisreena93 opened #2220 "Utterances Screen has been crashed with unclear msg"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
I can't see the Utterances because the view is crashed

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1- go to my app https://wit.ai/apps/1920151674738030/utterances
2- from the left menu choose th

[2021-10-12 13:44] mnoory commented on #2187
i am facing something else, the app doesn't understand utterance although its already trained before
App ID 1920151674738030

[2021-10-12 17:30] ruoyipu commented on #2218
Hi @AdrianRudeanu,

I've restarted the training and it should be complete for app 371041904730717 now.

[2021-10-12 17:30] #2218 closed, assigned to nobody

[2021-10-12 17:30] ruoyipu commented on #2217
Hi @SendseiPM,

I've restarted the training for 630222481292872 and it should be complete now.

[2021-10-12 17:30] #2217 closed, assigned to nobody

[2021-10-12 17:31] patapizza commented on #2216
Hi @4ivonne,

I was able to get intents for some of your utterances.
I see that `guten Tag` is marked as Out of scope. The intent model learnt to ignore these inputs. If you now want to get intent predictions, you'll need to re-annotate the utterance with the proper intent (e.g. `greeting`). Make sure to review all out-of-scope utterances so they're all consistent with your mental model.

<img wid

[2021-10-12 17:31] #2216 closed, assigned to nobody

[2021-10-12 18:07] ruoyipu commented on #2215
Hi @sophiexr,

I believe due to the large number of utterances the export request is timing out.
I managed to get an export for you, to help unblock your work.
[CombinedTraits-2021-10-12-10-59-02.zip](https://github.com/wit-ai/wit/files/7332241/CombinedTraits-2021-10-12-10-59-02.zip)

You can also try the alternate way to export, via our Https APIS: https://wit.ai/docs/http/20210928/#get__export_l

[2021-10-12 18:15] ruoyipu commented on #2219
Hi @Sarah-Aabid,

I cannot repro this issue, is this still happening? If so, can you attach a screenshot?

I have tried loading both https://wit.ai/apps and https://wit.ai/apps/181708470710187 and both load well.

[2021-10-12 19:26] ruoyipu commented on #2213
Hi @haribalos,

Thank you for this data.

Some time ago, we separated intents/entities/traits and made intent a first class citizen as referenced in the "Consistent APIs" section in this article: https://medium.com/wit-ai/introducing-the-refreshed-wit-ai-3a7c603d325a

When you train utterances as "out of scope" it affects our intent classifier, but not the trait, which is why you're seeing the int

[2021-10-12 19:54] Atharv-Attri opened #2221 "Login Button won't work"
This is a bug.

**What is the current behavior?**
The login button on https://wit.ai/apps won't work.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Open https://wit.ai/apps and click continue with facebook. The button won't do anything.
Browser logs:
![image](https://user-images.githubusercontent.com/48738128/137020351-bd

[2021-10-12 19:56] Atharv-Attri commented on #2221
It seems that the same is true for the home page.
![image](https://user-images.githubusercontent.com/48738128/137020679-03176f33-d97e-42d1-93fc-71d9e04aae1a.png)

[2021-10-12 20:52] Atharv-Attri commented on #2221
Nevermind, it seems that I need to disable tracking prevention if I want to use the site.

[2021-10-12 20:52] #2221 closed, assigned to nobody

[2021-10-12 22:08] SendseiPM commented on #2217
Thank you. I can confirm the training does complete now and shows green again! Much appreciated.

[2021-10-13 07:38] sophiexr commented on #2215
@ruoyipu thank you very much for your help

[2021-10-13 07:38] #2215 closed, assigned to nobody

[2021-10-13 11:11] haribalos commented on #2213
Hi @ruoyipu,

Thank you for your answer i will retrain our utterances with intent in a copy application to test the results.

[2021-10-13 11:11] #2213 closed, assigned to nobody

[2021-10-15 21:47] Xueying-Wang commented on #2220
Hi @Nisreena93 I've cleaned up inconsistent utterances and the page should be back now. Thanks for your patience!

[2021-10-15 21:47] #2220 closed, assigned to nobody

[2021-10-16 12:33] umnibot opened #2222 "Flag emojis cannot be trained as utterances"
Just noticed that some emojis could be trained as utterances, but some cannot.

**For example:**
🚔 - this can be trained
🇺🇾 - but this and other flags cannot

Just give it a try to reproduce it.

It is by design or a bug?

[2021-10-16 13:54] assopri opened #2223 "Can`t get qualitative result for Russian language"
#question

**What is the current behavior?**
I send this file http://prismotrov.com/downloads/test.wav (mono wav file with Russian spoken text) and get very bad (incorrect) recognition result. For instance, audio with the same quality (is recognized by telegram Voicy bot also using wit.ai very good).

Language in setting is set to russian:
![image](https://user-images.githubusercontent.com/7323546

[2021-10-18 06:05] Sarah-Aabid opened #2224 "My app unable to train"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?my app status is onGoing for 1 day

**What is the current behavior? My app with Id : 171530638484415 is still ongoing for more than 3 weeks , and i am unable to train any intent

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. the training sho

[2021-10-19 22:32] Danielfromhere opened #2225 "Speech recognition in languages other then En"
""More like a *problem* about wit but could also be a question**

Hi everyone,
Soo I have a problem with  speech recognition in Polish (pl_PL).
I know this language is in beta but it cannot recognize even a single word.
I don't know if polish speech recognition has yet not been developed or it is a bug.
I am sending my audio files via  API "POST" method to api.wit.ai/speech.

**What is the current

[2021-10-21 09:07] Sarah-Aabid opened #2226 "My app unable to train"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit? My app status is onGoing for 3 days

**What is the current behavior?My app with Id : 408965087275379 is still ongoing for more than 3 weeks , and i am unable to train any intent

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.
the training sh

[2021-10-21 14:24] lisafindo opened #2227 "Unable to train and validate utterances using the wit/search_query entity"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
BUG:
I can't train and validate any utterances with the entity wit/search_query anymore. Other utterances with any other entity and intent work as expected.

**What is the current behavior?**
When trying to train and validate, I get the following error
"​There was an error validating the utterance. Something wen

[2021-10-21 17:04] #2225 closed, assigned to nobody

[2021-10-21 17:18] Danielfromhere commented on #2225
Started using SpeechRecognition() library. It works fine for me now

[2021-10-21 22:09] Pexeus opened #2228 "POST /speech not working for me"
I am trying to use the POST /speech endpoint of WIT AI, using the code pasted below:

[code]
However, I can send any mp3/wav file I want, all i get back is this:
{'entities': {}, 'intents': [], 'text': '', 'traits': {}}

I tried several recordings but any field is empty every time.

[2021-10-21 23:17] chessai commented on #2228
I have edited your comment to redact your access token. Please do not post your access token again in the future, as it can be used to operate destructively on your app. I highly suggest that you generate a new access token from your app's settings page.

[2021-10-22 06:21] Xueying-Wang commented on #2224
@Sarah-Aabid I've retrained your app and the training is complete now. Feel free to continue working on it. Thanks for your patience.

[2021-10-22 06:21] #2224 closed, assigned to nobody

[2021-10-23 17:58] Adracir opened #2229 "POST/speech returns multiple JSON objects"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
When sending a POST/speech request containing an audio file in the body (tested with audio/wav and audio/mpeg3), I get back multiple JSON objects as such:

[code]
The number of objects given depends on the length of the given text.
To me, this seems to be a bug, as

[2021-10-24 21:46] crick328 opened #2230 "Error 500"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
Error 500, Wit doesn't respond to API calls, training nor can analyze phrases from web app

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
You could try to make an API call or analyze a sen

[2021-10-25 05:29] ziadrida commented on #2227
I am getting "There was an error validating the utterance." only when trying to train. But problem only started today.
I made a couple of changes to the Facebook side of the app but not in wit.ai

[2021-10-25 05:38] ziadrida commented on #2227
Found my problem. I forgot that I changed the language in settings in wit.ai to a language which was BETA (Arabic)
Changed back to "nEglish" and problem is gone.

[2021-10-25 19:35] MMaggieZhou commented on #2230
There you go, please see attached photos.

On Sun, Oct 24, 2021 at 2:46 PM crick328 ***@***.***> wrote:

[2021-10-25 21:01] crick328 commented on #2230
Hi, excuse me, I don't see any attached photos

[2021-10-25 21:09] MMaggieZhou commented on #2230
oops wrong thread, please ignore

On Mon, Oct 25, 2021 at 2:02 PM crick328 ***@***.***> wrote:

[2021-10-25 23:02] nishsinghal20 commented on #2199
Hello @TaraNaser! Apologies for the late reply. One thing you can do is to annotate your utterances as "Out of scope"
![image](https://user-images.githubusercontent.com/27743368/138782454-637e9e2f-a7da-4116-9d2f-398f90219b81.png)

[2021-10-26 13:18] rvi2021 opened #2231 "Unable to export data"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
I am unable to export my app. Button text changes to "exporting" but then reverts back after a few seconds. No error message is displayed and the file is not downloaded.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal dem

[2021-10-27 07:26] #2227 closed, assigned to nobody

[2021-10-27 08:44] sophiexr opened #2232 "app is stuck in training"
hi,

Our application 2841817995840539 is stuck on training mode for over a week now. Could you help?

thanks

[2021-10-27 16:15] ricvail commented on #2129
Hello, I have taken over the development of app 949539342164783 from @cheeseblock .
May I have an update on the status of this issue?
Thanks

[2021-10-28 09:54] anjaly opened #2233 "Bad auth, check token/params on creating new app via api"
Hi,

As per the issue #2083, we have create a dummy app and are using its token for creating app sin wit via api. But when we tried today with the same token it showed the below error
 info: { status: 400, info: 'Bad auth, check token/params' }
When we tried with another token it worked.

No apis with the old token are working.
We encountered the same issues with some other wit apps also.

Can any

[2021-10-28 11:17] b-tix commented on #2233
Hi all! Same to us. App-ID 2115985458480186. `Bad auth, check token/params" code: "no-auth"`

[2021-10-28 11:31] mohammad-melhem opened #2234 "Working apps stopped working with Bad auth error response for token (400 bad request)"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
API calling is not working and we get the following error on apps that were working normally for a while:
- HTTP resp status: 400 Bad request
- Response body:
{
    "error": "Bad auth, check token/params",
    "code": "no-auth"
}

**If the current behavior is a bug, please

[2021-10-28 11:32] b-tix commented on #2234
Same problem to us with App ID 2115985458480186.

[2021-10-28 13:29] DegtiarDmitro commented on #2234
We have the same problem (App ID: 2654426877976507).

[2021-10-28 14:09] Santhosh3006 commented on #2234
I also Same Problem

[2021-10-28 18:30] sebastianarena commented on #2234
+1 with a multitude of apps... so far more than 15 of the ones we manage
Regenerating the Server Token fixes the issue

[2021-10-28 20:21] 91ns commented on #2234
We're having the same issue and UI doesn't open so we're not able to reset the tokens
APP ID 204584064787119

[2021-10-28 23:52] francescor93 commented on #2234
I confirm both that I encountered the same problem, and that I solved it by refreshing my token. So I seem to understand that all existing tokens have been revoked, looking forward for the team to explain us if something went wrong.

[2021-10-29 01:56] mohansr03 commented on #2234
Same problem for me as well

[2021-10-29 02:57] 465730396 commented on #2234
We have the same problem (App ID: 275869200134768).
We have the same problem (App ID: 482075939147009).

[2021-10-29 03:16] anjaly commented on #2233
Hi all. Any updates. None of the wit apps are working. All showing the Bad auth, check token/params error

[2021-10-29 03:29] 465730396 commented on #2234
anybody fix it？

[2021-10-29 06:16] SisikHBS commented on #2233
Same here getting error creating apps with initial API.

[2021-10-29 06:47] zoirs commented on #2234
I have the same problem. App ID: 383297309768429

[2021-10-29 06:47] abhilashmurthy commented on #2234
Same problem guys. Many of our enterprise clients depend on Wit. Please do fix this as soon as possible

[2021-10-29 07:10] sophiexr commented on #2234
we have the same issue. App 2841817995840539

thanks

[2021-10-29 07:19] admin-pulsar commented on #2233
Hello, We have the same problem, App ID is 1450216708378959, getting error:  Bad auth, check token/params" code: "no-auth"

[2021-10-29 07:28] admin-pulsar commented on #2234
HHello, We have the same problem, App ID is 1450216708378959, getting error: Bad auth, check token/params" code: "no-auth"

[2021-10-29 11:04] Romerito007 commented on #2234
Same code problem: "no-auth" here, I can't access my application area. Does not load https://wit.ai/apps

[2021-10-29 11:20] mohammad-melhem commented on #2234
A quick comment as the problem seems to affect more and more apps, so as others suggested before, the current fix is to regenerate the access token from the app settings (if you are able to access the app settings through UI, cause unfortunately, it looks like some apps are not accessible through the website as well).

[2021-10-29 12:08] admin-pulsar commented on #2234
Regenerate access token doesn't help, We tried it but no result :(

[2021-10-29 12:33] mohammad-melhem commented on #2234
mmm that's weird .. I've tried it with many apps and tested with postman using the newly regenerated token and it worked, so I updated the token in my server apps and they started working normally again. Well, hope they get to fix/explain very soon since even using a regenerated token is not working for some apps.

[2021-10-29 13:01] Romerito007 commented on #2234
I solved my access by creating a new account, logging in with my facebook it loaded all my applications I generate a new token, now everything works

[2021-10-29 16:40] lycai-fb commented on #2234
Thanks for all the reports. We're investigating the issue.

[2021-10-29 16:40] lycai-fb commented on #2233
Thanks for the reports. We're investigating the issue.

[2021-10-29 17:25] SisikHBS commented on #2233
I completely deleted the account and opened new account. New account keys does not have the problem.

[2021-10-29 20:03] lycai-fb commented on #2234
Hi all,
Regenerating server token and changing your call sites to use the new token appears to work for most cases.
For those who are unable to access their app page or have tried regenerating and still doesn't work, could you provide your App IDs please?

[2021-10-29 20:50] #2230 closed, assigned to nobody

[2021-10-29 20:54] crick328 opened #2235 "Wit responded with status: 500"
Do you want to request a feature, report a bug, or ask a question about wit?
Report a bug

What is the current behavior?
Error 500, Wit doesn't respond to API calls, training nor can analyze phrases from web app
Error log:
wit.wit.WitError: Wit responded with status: 500 (Internal Server Error)

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo

[2021-10-29 22:28] chessai commented on #2228
What is your App ID?

[2021-10-29 23:56] lycai-fb commented on #2234
Hi all,

We found that some server tokens were mistakenly removed from the backend. We will be performing a backfill job over the next few hours to restore the data.
If you haven't regenerated your server token, then it should start working again after the backfill. If you have, it should still work just make sure you are using your updated server token.
We will initially be backfilling server tok

[2021-10-30 08:17] r-alnairab commented on #2234
Apps:
1633145430167212
428511981337261

api.wit.ai/message?v=20190101

We are still facing the same issue.
`{
   "error": "Bad auth, check token/params",
   "code": "no-auth"
}`

We are also not able to login to wit.ai/app

[2021-10-30 08:21] sophiexr commented on #2234
we're still having an issue App 2841817995840539
thanks

[2021-10-30 09:07] lmessinger commented on #2234
we're still having the issue, app 181514110593962

[2021-10-30 10:04] r-alnairab commented on #2234
We have 4 App IDs:
424776275488729
1050818978949445
1633145430167212
428511981337261

[2021-10-30 11:18] DXB-MEA opened #2236 "Not able to Login!!"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a BUG

**What is the current behavior?**
The login not working

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
I'm not able to login to Wit.ai, API for login failing with the below error
email: "omar@thinglogix.com"
login: "mhdmak

[2021-10-30 11:23] arsantos77 commented on #2234
I don't know my ID, just the URL:

https://api.wit.ai/speech?v=20200513

[2021-10-30 12:18] felippebueno commented on #2234
I have over 300 APPS with similar issues. I can't even generate new tokens, a screen goes blank when I click regenerate!

[2021-10-30 12:52] rajivg123 opened #2237 "unable to login + error 400 whenever I make a request"

[2021-10-30 21:33] r-alnairab commented on #2234
We were able to login to our wit.ai account **after trying many times**.
We re-generated the API Token and replaced them in our chatbots, and they worked fine.

[2021-10-31 04:22] ankvietnx4 commented on #2234
I'm having the issue but it is with the client token
Regenerate work well but I have 20 apps so it is very inconvenient to do that with such apps
Looking forward for the team to fixing the bug.
Thanks

[2021-10-31 11:49] admin-pulsar commented on #2234
Hello, After regenerating server token, It started work, it was on Friday evening, Now I've checked and the same problem occurred again :( App ID is 1450216708378959.

[2021-10-31 12:15] idanadut commented on #2232
Also this one is stuck. Can you help?

Id: 337695227605625

[2021-10-31 15:41] serdalbayram commented on #2234
I can't login wit.ai/app, listing apps is not working, so I can't regenerate the tokens, many applications are depending on this service. Looking forward to the team fixing the bug.

[2021-10-31 16:11] nickcbarone commented on #2234
I can't login to wit.ai/app. Same as @serdalbayram. My wit apps are also still not working. When will this be fixed? Like @ankvietnx4 , we have over 20 apps. To change their API token would be extremely inconvenient. Please fix this bug asap.

[2021-11-01 00:28] anjaly commented on #2234
We are also experiencing the same issue. Two days back we had generated new tokens and updated in all chatbots for fixing the Bad AUTH issue and it worked.
But now we are unable to sign in to our account. Please help.
Also the status page is not loading https://wit.ai/status

[2021-11-01 00:30] anjaly commented on #2233
Thanks  @lycai-fb
We are unable to login to our wit account now. Can you please check.

[2021-11-01 03:26] jacobilin commented on #2234
The same problem for us.

[2021-11-01 06:01] GauravDobhal commented on #2234
Same with us. We also regenerated all the tokens a couple of days ago after the initial bad token error

[2021-11-01 14:05] backmeupplz commented on #2234
@lycai-fb can't see my apps ids because I can't login with Facebook :( my account is backmeupplz@gmail.com, can we fix it?

[2021-11-01 17:36] blue7080 commented on #2234
I still have a problem

[2021-11-01 17:36] blue7080 commented on #2234
I still have a problem

[2021-11-01 17:43] lycai-fb commented on #2234
Hi all,

We have backfilled owner token for most affected apps. For example, @r-alnairab, @admin-pulsar, @lmessinger and @sophiexr your apps should be working if used with the owner token. Please comment if this is not the case.

We are currently investigating the reports of users not being to log in. If you are currently experiencing either issue, please comment with your app ID or username / ema

[2021-11-01 18:03] CannonFodderr commented on #2234
@lycai-fb still having issues with account temi.production@gmail.com

[2021-11-01 18:20] lycai-fb commented on #2237
Duplicate of #2234

[2021-11-01 18:20] #2237 closed, assigned to nobody

[2021-11-01 18:54] brennadoyle opened #2238 "Intents Not Loading"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
When trying to train in the app none of the intents are loading in the understanding or intents tabs.

**What is the expected behavior?**
Intents to load

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help.*

[2021-11-01 19:32] lycai-fb commented on #2234
Update: We've found the login issue and are currently deploying a fix. Thanks for your patience.

[2021-11-01 19:35] jacobilin commented on #2234
854153648327148 doesn't work.

[2021-11-01 19:46] lycai-fb commented on #2234
Hi @jacob-i. I tested your app with owner server token ending in **QCI. It seems to work fine for me.
We plan to backfill user server tokens in the near future.

[2021-11-01 19:48] CannonFodderr commented on #2234
@lycai-fb Tested now with temi.production@gmail.com seems like we are able to create apps with the token but not to delete apps or generate new intents.

[2021-11-01 20:04] jacobilin commented on #2234
We're using "Client Access Token" ending '...GAV' in production now. Would it be possible to make it work with this token?

[2021-11-01 20:42] georgiep commented on #2234
@lycai-fb We also have issues with account soul_mecca@yahoo.co.uk and token ending in ***LKR thank you

[2021-11-01 21:44] backmeupplz commented on #2234
@lycai-fb not sure if you've already deployed a fix for the fb login, but I still can't login to backmeupplz@gmail.com :(

[2021-11-01 22:34] lycai-fb commented on #2234
@jacob-i We will take longer to restore client tokens. I've restored yours ending in **GAV for the time being.

@backmeupplz The login fix will need some more time to deploy.

For others who are still getting errors with their tokens and cannot easily regenerate them, please provide your app id.
Thank you for your patience.

[2021-11-01 22:36] jacobilin commented on #2234
@lycai-fb it started working again. Thank you!

[2021-11-01 23:09] lycai-fb commented on #2238
Hi looks like you have >500 intents which our system isn't quite prepared to handle just yet. I'll set up a task to see what we cando.

[2021-11-01 23:30] brennadoyle commented on #2238
Ok I have seen that it started working an hour ago, so I think it is just
unstable.

On Mon, Nov 1, 2021 at 4:09 PM lycai-fb ***@***.***> wrote:

--

*Brenna Doyle*

*Product Specialist*

Email             ***@***.*** ***@***.***>*

Cell                623.249.0512

Watch            Meet Olivia <https://vimeo.com/582614528>

[2021-11-02 00:11] #2238 closed, assigned to nobody

[2021-11-02 00:11] lycai-fb commented on #2236
We're tracking this in #2234 , thanks.

[2021-11-02 00:11] #2236 closed, assigned to nobody

[2021-11-02 00:12] lycai-fb commented on #2235
Hi @crick328 can you give a redacted example of how you're calling the service?

[2021-11-02 00:13] lycai-fb commented on #2233
Going to mark this as a duplicate of #2234 since we have more activity there.

[2021-11-02 00:13] #2233 closed, assigned to nobody

[2021-11-02 00:14] lycai-fb commented on #2232
I've reset training for both, thanks.

[2021-11-02 00:14] #2232 closed, assigned to nobody

[2021-11-02 00:17] lycai-fb commented on #2226
Should be reset now. Please try again.

[2021-11-02 00:17] #2226 closed, assigned to nobody

[2021-11-02 03:36] backmeupplz commented on #2234
Resolved on my end as well, thank you. Had to re-roll tokens on a few apps but that’s a no issue :)

[2021-11-02 03:42] amtdevops commented on #2234
Thanks @lycai-fb we are now able to login to our wit account.

[2021-11-02 06:24] Sarah-Aabid commented on #2219
Now it's working fine
Thank you

[2021-11-02 06:24] #2219 closed, assigned to nobody

[2021-11-02 08:32] idanadut commented on #2232
@lycai-fb
Id: 337695227605625 still in "Training ongoing"
Makes sense? can you check?

[2021-11-02 08:34] pa-lem commented on #2234
@lycai-fb we have a lot of issues in a production environment

**server tokens are inexplicably refreshing**

the first time, we updated all the tokens in our apps, but it started to fail again

so we **manually refreshed all the server tokens** that were failing, but it started again to fail

now, all the tokens are **again refreshed**, without any notice

we are currently refreshing and updating

[2021-11-02 09:42] TaraNaser opened #2239 "Wit app stuck on ongoing"
Do you want to request a feature, report a bug, or ask a question about wit?
bug
What is the current behavior?
Wit app is stuck at Ongoing
If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.

What is the expected behavior?
Wit app not to be stuck at Ongoing
If applicable, what is the App ID where you are experiencing this issue? If

[2021-11-02 17:43] lycai-fb commented on #2239
Should be reset now, please try again.

[2021-11-02 17:43] #2239 closed, assigned to nobody

[2021-11-02 18:42] lycai-fb commented on #2234
Hi @pa-lem your tokens should not be refreshing by themselves unless you or a contributor refreshes it manually in settings. The fix that we are currently rolling out will make existing tokens work again without changing what is there.

I've manually fixed the few of your apps that have not been backfilled yet, e.g. 1443767085665352 and 4354831807883291. They should all be working now.

[2021-11-02 19:59] crick328 commented on #2235
Hello @lycai-fb
I'm using a Python script to receive responses from Wit, specifically a module called "wit". These are the lines of code that do it:

from wit import Wit                       # import the module
wit = Wit(access_token)                 # getting access to wit
output = wit.message(input)         # send the sentence to analyse (input) and return json

The last line of code triggers t

[2021-11-02 20:01] chessai commented on #2129
There is nothing that can be done client-side to facilitate a fix, as far as I am aware.

There are no updates, unfortunately. I have reached out to the team working on the issue and am waiting on a response.

[2021-11-03 01:16] brennadoyle opened #2240 "Training not taking affect"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
As I train the confidence levels of phrases matching with intents does not change, even after the training says it is complete.

**What is the expected behavior?**
After training has completed I should see changes in the app confidence levels when typing the same phrases in

[2021-11-03 07:15] anjaly opened #2241 "Api for refreshing app token"
Hi,

Is there any wit api for refreshing the wit app tokens.

Thanks

[2021-11-03 11:22] VaggBout opened #2242 "App stuck at training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
App is stuck at Training ongoing

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Initialized training from WitAI dashboard. App is stuck at training for a couple of days now.

**What is the expected

[2021-11-03 16:52] ramh commented on #2178
Closing since we have not received any updates for a while.

[2021-11-03 16:52] #2178 closed, assigned to nobody

[2021-11-03 16:55] yuzh174 commented on #2234
The fix was applied successfully. Your tokens should be working now. Let us know if you still see problems. Sorry for the inconvenience.

[2021-11-03 20:29] yuzh174 commented on #2242
This issue should be fixed now.

[2021-11-03 20:38] yuzh174 commented on #2241
Hi we have API to refresh/get client tokens but not server tokens.

You can refer to this API doc https://wit.ai/docs/http/20210928/#post__apps_link in section "Create or Fetch Client Tokens"

[2021-11-03 20:44] yuzh174 commented on #2241
If this is for the invalid token issue mentioned here https://github.com/wit-ai/wit/issues/2234. This issue should be resolved. You can use your existing token to access the service if you haven't refreshed by yourself.

[2021-11-03 23:19] yuzh174 commented on #2234
We have checked some of the apps reported here. They look good now. Please let us know if you still experience token failures.

[2021-11-04 03:24] anjaly commented on #2241
Need one clarification
1. Regarding the $TOKEN to be used with the APIs, are the $TOKEN supposed to be client token or server token.
2. Can we generate new token if the existing token is invalid
3. Will this api refresh server token also

[2021-11-04 03:32] yuzh174 commented on #2241
1. This API is to replace the client token. The $TOKEN used in the request needs to be the server token.
2. Yes. It doesn't matter the client is valid or not. But the server token has to be valid
3. We don't have an API to refresh server token. You have to use the UI to do that.

[2021-11-04 12:03] gnovis commented on #2242
I have the same issue, new utterances are not trained. App ID: 669362463987420

[2021-11-04 13:18] gnovis opened #2243 "Imported keyword entities are inconsistent"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
After importing an application that contains keywords entities, entities that were annotated when training utterances are added as new separate entities.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem

[2021-11-04 20:13] yuzh174 commented on #2242
This should be fixed now

[2021-11-04 20:21] gnovis commented on #2242
Thank you!

[2021-11-04 21:59] backmeupplz opened #2244 "Getting HTML instead of json as an output to speech recognition"
Hi there! Started to get `Unexpected token &lt; in JSON at position 0` when trying to parse the json response of the speech recognition API.

Going to look into the actual response sometime soon, but here's one of my affected apps in case you can find the issue sooner than I do: 1139646093110797

[2021-11-04 21:59] backmeupplz commented on #2244
Probably some type of an error is returned

[2021-11-04 22:32] vsile commented on #2244
The similar error: "unable to decode error message: invalid character '<' looking for beginning of value"

[2021-11-05 01:54] backmeupplz commented on #2244
Seems like the issue is resolved 🤔 no more errors like this, didn't have a chance to see the actual body

[2021-11-05 20:42] #2244 closed, assigned to nobody

[2021-11-05 20:43] #2242 closed, assigned to nobody

[2021-11-05 20:43] #2241 closed, assigned to nobody

[2021-11-05 20:56] yuzh174 commented on #2240
Hi @brennadoyle
The confidence doesn't necessarily need to be 100%. Sometimes it may not go higher. As long as the request is resolved successfully, you don't need to worry about the confidence level.

[2021-11-07 01:03] ricvail commented on #2229
This is explicitly mentioned in the docs, so I believe it's intentional. But yes, it's frustrating, I had to write a function ad-hoc to extract the actual json response.

[2021-11-08 06:26] karnHarsh29 opened #2245 "Unknown error message showing when posting multiple intents"
When i try to post multiple intents and train their utterances using API calls, i get `{ error: "Something went wrong. We've been notified", code: 'unknown' }` in my terminal.

Even after this error, the intent gets posted, maybe because the API call happens again, but it's utterances are not trained.

Also, I have noticed that if there is a two seconds gap in calling the post intent API, then thi

[2021-11-08 20:09] yuzh174 commented on #2245
What is the app ID?

[2021-11-08 23:29] #2234 closed, assigned to nobody

[2021-11-09 01:09] karnHarsh29 commented on #2245
CSP2BKLRYHD73OH5WPBTYHKLRRD23GCX

[2021-11-09 03:12] chessai commented on #2245
@karnHarsh29 you posted your server access token, not your app id. Server access tokens can be used to act destructively on your app. I have edited your comment to redact the token. You may want to reset your server access token in the settings page of your app.

The app id is also on the settings page, please share that instead.

[2021-11-09 21:05] crick328 commented on #2235
Update:
I created another app by importing the data from the previous one as a zip file and the problem remains unchanged

[2021-11-10 00:39] ricvail opened #2247 "Our app fails with long-ish queries (less than 100 characters)"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
Whenever we query any endpoint with a long-ish utterance (for example "Esta colección de edificios fue inaugurada el nueve de junio de mil novecientos noventa y ocho"), the response is `{"error":"Something went wrong. We've been notified","code":"unknown"}`.
The error alway

[2021-11-10 00:51] ricvail commented on #2129
Hello,
I opened a new issue, since I'm not sure if we're still experiencing the same problem or it's a different one: https://github.com/wit-ai/wit/issues/2247
Either way the new issue contains some more information.

[2021-11-10 07:10] Sarah-Aabid commented on #2226
My app is still ongoing
My app with Id : 408965087275379

[2021-11-11 05:42] karnHarsh29 commented on #2245
app id : 382153960317723

[2021-11-11 13:42] steamyvino opened #2248 "Speech Recognition gives empty response in polish language"
Hello,

I am have an issue where speech recognition in polish languages gives me empty response. No matter what I will say
Response looks like this:
{u'traits': {}, u'entities': {}, u'intents': [], u'text': u''}

When I switch on english it gives correct responses like this :

 {u'traits': {}, u'entities': {}, u'intents': [{u'confidence': 1, u'id': u'398807555229723', u'name': u'name_response'}],

[2021-11-11 17:13] FengyangZhang commented on #2247
Thanks for reporting the issue, we're looking into it.

[2021-11-11 17:34] FengyangZhang commented on #2248
Hi, please provide the app id so we can look into it, thanks!

[2021-11-11 18:08] steamyvino commented on #2248
4064219447012181

[2021-11-12 12:10] JustAVibingDude opened #2249 "Error code unknown"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
Throwing Error: {"error":"Something went wrong. We've been notified","code":"unknown"}

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Just try to analyze any text or audio message.
For example:
cur

[2021-11-12 12:59] INzoGravity commented on #2249
ฉันไม่เข้าใจว่ามันเกิดอะไรขึ้น

ส่งจาก iPhone ของฉัน

[2021-11-12 20:03] yuzh174 commented on #2245
I see the utterances here https://wit.ai/apps/382153960317723/utterances. So that doesn't include the new utterances you wanted to add, I assume.

Could you share the API call and utterance you used to train the utterances? Don't include your server token in it.
You can also try it again. We had an issue two weeks ago that the token was temporarily disabled. If that's the issue, it may work again.

[2021-11-13 15:13] umnibot opened #2250 ""Sorry, something went wrong" - agents are responding with this error if message is in Cyrillic, but responding correctly if message is in English for example"
I am getting this HTML as a response to a curl request

![image](https://user-images.githubusercontent.com/45895973/141648845-40a907c1-a76c-461c-ac52-6949d86ca6e2.png)

This is not happening to all agents, but only to agents that are not in Latin, but in Cyrillic for example:
Some apps with this behavior: 448174803303309, 2663914877269100

I can also confirm that they were working correctly yester

[2021-11-13 16:58] SisikHBS opened #2251 "Future plans for free users and commercial usage."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
question

**What is the current behavior?**
Future plans for free services

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Hello I have developed several tools with WIT AI apis and services are amazing, we are glad to have WIT! I would l

[2021-11-15 03:42] FengyangZhang commented on #2251
Hi, thanks for the questions. If there's changes in services that Wit.ai provides, developers will absolutely be notified before the change. For API format changes, we have API versioning to make sure the changes are backwards compatible, check out the docs: https://wit.ai/docs/http/20210928/#api_versioning_link

[2021-11-15 03:42] #2251 closed, assigned to nobody

[2021-11-15 09:33] crick328 commented on #2235
excuse me @lycai-fb, are these informations enough?

[2021-11-15 17:35] FengyangZhang commented on #2249
Hi @JustAVibingDude , do you know when did the issue start to happen to your app?

[2021-11-15 17:45] FengyangZhang commented on #2250
Hi @umnibot , can you provide an example curl which worked earlier but no longer work now?

[2021-11-15 18:52] FengyangZhang commented on #2248
Hi, @steamyvino , when did you start to see this happen? I'm trying to figure out whether support Polish (in the doc it says supported, but we had some infra changes)

[2021-11-15 21:50] steamyvino commented on #2248
Actually I just started using it 4 days ago.  So that means polish is not supported anymore ?

[2021-11-16 18:21] FengyangZhang commented on #2248
Yes, it is not supported for now, we have some infra team working on the support but I don't have a clear timeline. Apologies for the inconvenience.

[2021-11-16 18:21] #2248 closed, assigned to nobody

[2021-11-16 19:20] FengyangZhang commented on #2250
Hi, I was able to repro using curl but it works fine on UI in understanding section, is it the same to you? I'm still trying to figure out the root cause.

[2021-11-16 22:35] vascoptorres opened #2252 "Ongoing training for several hours"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
The app is stuck on Training ongoing for several hours now and it only has around 40 utterances with 9 intents

**What is the expected behavior?**
The training should be done in a couple of minutes max? this is a really short sample

**If applicable, what is the App ID wher

[2021-11-17 11:05] #2252 closed, assigned to nobody

[2021-11-17 11:06] vascoptorres commented on #2252
I don't know if there was a manual trigger, but the training finished almost 8 hours after it started.

[2021-11-18 09:03] faisal-chatgen opened #2253 "Training Issue"
App ID: 898875457498437
The training for this app is ongoing since yesterday evening. Please check.

[2021-11-18 16:26] HatoonH opened #2254 "Trained utterances not showing anymore"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
1-We cannot manage and view all Utterances we trained before anywhere.
**Mangment>Utterances**
![Screenshot (459)](https://user-images.githubusercontent.com/73424635/142453259-2d053709-460b-4ebb-b79f-8d14d4f2f457.png)

2-We cannot Download our data
**Settings>Download .zip w

[2021-11-18 17:34] ricvail commented on #2247
Thank you for looking into it @FengyangZhang. Do you have any news?

[2021-11-19 00:30] n33kos opened #2255 "400 Response using Latin (LA) wit app with Oculus Unity SDK"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
*bug*

**What is the current behavior?**
Currently, it appears requests from Oculus Voice SDK for a wit app using the Latin (LA) language are returning a 400 error.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1. Follow instructions t

[2021-11-19 11:25] AVimmerse commented on #410
Is there an update on this process, as I want to upload data to train my ai?  I've searched for videos and pages on the process, but as a non-programmer there are knowledge gaps I am trying to fill.  Trying to follow along with the tutorial: https://github.com/wit-ai/wit-api-only-tutorial

Thanks

[2021-11-19 17:12] backmeupplz opened #2256 "Speech API not working"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

A bug

**What is the current behavior?**

Speech recognition API returns an error "Sorry, something went wrong. We're working on it and we'll get it fixed as soon as we can."

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

Try to use t

[2021-11-19 17:16] Danielfromhere commented on #2256
Same thing, can't access to the fetch function. Console says that it has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.

[2021-11-21 22:08] n33kos commented on #2255
I looked into this a bit more deeply in an attempt to unblock myself and tested a cURL request with a sample audio file. This time I received a much more useful error message, it appears the unity plugin doesn't log out the response JSON body on errors:

[code]

This is a much more definitive error message.  I'm hoping to develop an app which recognizes Latin so this is a lynchpin for using wit as

[2021-11-22 19:57] #1985 closed, assigned to nobody

[2021-11-22 19:59] #1925 closed, assigned to nobody

[2021-11-22 20:01] #1928 closed, assigned to nobody

[2021-11-22 20:10] #1929 closed, assigned to nobody

[2021-11-22 20:11] lintaocui commented on #1980
close the old thread. Please open a new one if you still see the issue.

[2021-11-22 20:11] #1980 closed, assigned to nobody

[2021-11-22 20:11] #1981 closed, assigned to nobody

[2021-11-22 21:15] lintaocui commented on #2186
The training is supposed to work now. Please reopen the issue if you can still repro it.

[2021-11-22 21:15] #2186 closed, assigned to nobody

[2021-11-22 21:16] lintaocui commented on #2185
please open the issue if you can repro it. close it for now.

[2021-11-22 21:16] #2185 closed, assigned to nobody

[2021-11-22 21:30] brennadoyle opened #2257 "App not picking up training"
Do you want to request a feature, report a bug, or ask a question about wit?

bug

What is the current behavior?

Trained 50 phrases to an intent, but it's not picking up. Is there anything that can be done on their end because the app is not reflecting what the training status shows.

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the pro

[2021-11-22 21:31] brennadoyle commented on #2257
This was closed in the ticket, https://github.com/wit-ai/wit/issues/2186 but it is still not working.

[2021-11-22 22:07] RMariegaard opened #2258 "App has been stuck in training for the past week atleast"
The title speaks for it self, the app has the id 226350669600552

[2021-11-22 22:42] wangsnowyin11 commented on #2253
Hey thanks for reporting the issue! I have helped you re-train the app.

[2021-11-22 22:42] #2253 closed, assigned to nobody

[2021-11-22 23:32] wangsnowyin11 commented on #2254
Hey sorry for the inconvenience! We are actively fixing the issue! Will let you know when it's fixed

[2021-11-23 10:34] AngelidisChris opened #2259 "Remove role from intent programmatically"
Hi folks,
I would like to remove entity role from intent programmatically, but, as far as I can tell there is no endpoint atm to do this. Am I making a mistake? Can we expect an update in the future?
Thank you for your time.
![Capture](https://user-images.githubusercontent.com/45776886/143008962-4f74e3d9-0a84-4c74-b697-093e593d2e56.PNG)

[2021-11-23 12:18] sophiexr opened #2260 "application not responding"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
We are getting empty responses and when we click on utterances we can't see any and get the following error message
Error: Something went wrong. We've been notified

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of

[2021-11-24 22:51] wangsnowyin11 commented on #2254
Hey the issue is resolved. Now your page is loaded successfully. Sorry for the inconvenience!

[2021-11-24 22:51] #2254 closed, assigned to nobody

[2021-11-26 07:33] sophiexr commented on #2260
kind reminder

it's very important for us to solve that issue asap

thanks

[2021-11-26 12:50] sophiexr opened #2261 "app not responding in certain trained utterances"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**!

bug

**What is the current behavior?**

Following the issue we have with our app 2841817995840539,  on Tuesday, we created a backup application and uploaded about 86000 utterances. Our app is responding for the most part correctly, but it can't respond to small talk questions (e.g. INTNT_GEN_GREETING,
INTNT_GE

[2021-11-26 14:58] AVimmerse opened #2262 "Access token does not match"
**Report a bug**

**What is the current behavior?**
I am attempting to use the API to upload utterances, following the guidance via the page: https://github.com/wit-ai/wit-api-only-tutorial?fbclid=IwAR1LlNILTnYdz7jEAtlMTB3Kyky_xs6H3GAr1r2Dp_b7iAZiAXLmwETxq7M

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
When trying to co

[2021-11-26 17:36] Danielfromhere opened #2263 "Utterances tab stoped working"
Hi i want to report a bug.

My "Utterances" tab stoped working after I put some more uterraces into my app.
It says "Error: Something went wrong. We've been notified".
If it's nessesery You can delete my existing utteraces.
Can You please bring it back for me somehow I really need this feature.
My app id 2990290831188811

[2021-11-28 00:43] Deemah67 opened #2264 "Wit internal server error (500)"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
stops working sometimes
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not pr

[2021-11-29 14:09] bluegr commented on #2261
For reference, the original issue was submitted in #2260

[2021-11-29 21:43] FengyangZhang commented on #2250
Hi, it might be some infra issue, I'm checking with other team. Thanks for the patience

[2021-11-30 17:56] lintaocui commented on #2259
here is the api to delete a role from entity: https://wit.ai/docs/http/20210928/#delete__entities__entity_role_link.
but we do not have the api to delete a role from intent.

[2021-11-30 17:56] #2259 closed, assigned to nobody

[2021-11-30 18:25] lintaocui commented on #2188
For unclear voice, we are not able to recognize the text, based on which the prediction is done.

[2021-11-30 18:25] #2188 closed, assigned to nobody

[2021-11-30 20:08] patapizza commented on #2229
The response is returning standard HTTP/1.1 chunks: https://wit.ai/docs/http/20210928/#post__speech_link.
More details here in [our blog post](https://medium.com/wit-ai/improving-voice-experiences-52492b4849b4).

[2021-11-30 20:08] #2229 closed, assigned to nobody

[2021-12-01 17:52] brennadoyle opened #2265 "Intents not loading"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
The intents don't load

**What is the expected behavior?**
Intents to load

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help.**
150491860951945
<img width="779" alt="Screen Shot 2021-12-01 at 10 47 38 AM"

[2021-12-02 11:50] anjaly opened #2266 "/utterances api not working"
Hi
We are calling the below api for training examples in wit.ai app
https://api.wit.ai/utterances?v=20200513
When we checked after calling the api we are getting the below success message
{
    "sent": true,
    "n": 1
}
But it is not getting trained in the wit.ai app.
Can you please check.

Thanks

[2021-12-02 19:13] CleanestMink126 commented on #2266
Thanks for submitting! I'm taking a look into this but can't seem to reproduce, all my requests are working as expected (though sometimes with a ~minute delay to appear in app). Could you provide the app ID?

[2021-12-02 20:41] darshanamadlani opened #2267 "400 Bad request WIT.AI"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
https://api.wit.ai/message?v=20211202
{
   "error": "Bad auth, check token/params",
   "code": "no-auth"
}

using above data and giving error.
**What is the current behavior?**
While calling API in Unity through C# code it's giving 400 bad requests.
**If the current behavior is a bug, please provide the steps to

[2021-12-02 21:23] darshanamadlani commented on #2234
Hi,
I am having the same problem with my app ID 287425183206431.
Can you please check and help us with this?

[2021-12-02 23:42] haribalos opened #2268 "Training appears to be stuck on ongoing status for a long time."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
 Bug
**What is the current behavior?**
 The application appears to be stuck in training forever.
 The current ongoing training is running from 2/12/2021 morning hours up and hasn't finished yet.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the probl

[2021-12-03 02:45] Umisagi commented on #2266
I have the same problem and here is my app ID 264875419031533

[2021-12-03 06:12] anjaly commented on #2266
@CleanestMink126 My appId is 324724722469696

[2021-12-03 08:32] haribalos commented on #2268
Training completed early in the morning, and now is set to scheduled,
but we still are confused why last time took so many hours.
Up to recently it was taking 1-2hours to complete and not almost 24

[2021-12-03 08:32] #2268 closed, assigned to nobody

[2021-12-03 14:10] kevinjon27 opened #2269 "Trained utterances not showing"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**
my app error, traits and utterances

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
<img width="1424" alt="Screen Shot 2021-12-03 at 21 06 34" src="https://user-images.githubusercontent.com/12078441/144

[2021-12-03 19:30] CleanestMink126 commented on #2266
Thanks everyone who reported! A recent migration is causing a subset of /utterances requests to fail silently, though there hasn't been any reports it's possible that this is affecting loading Utterances when Importing an app from a file as well. I found the problem, am working on a fix and will let you all know when I have updates.

[2021-12-06 09:26] sophiexr opened #2270 "app training for days"
Hi,

Our app seems to be stuck in training mode for the past 4-5 days. Can you please check and restart?

app 298620675435521

thanks

[2021-12-06 09:33] kevinjon27 commented on #2269
Addition from me:

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/12078441/144821565-7ba95150-3722-4497-8fb8-60d7546fccd4.png)
- Before the error, our wit.ai can recognize the text correctly. But now it's a mess.

when we try to retrain the words, we get an error like this
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/12078441/144822072-722181af-b94c-

[2021-12-06 09:36] kevinjon27 commented on #2269
Help @wangsnowyin11 @lintaocui @FengyangZhang @yuzh174

[2021-12-06 12:52] CannonFodderr commented on #2269
We are having issues saving utterances as well.
Both with api calls & with the wit.ai dashboard, seems like utterances are just not saved.

[2021-12-06 12:53] CannonFodderr commented on #2266
We are having issues saving utterances as well.
Both with api calls & with the wit.ai dashboard, seems like utterances are just not saved.

[2021-12-06 14:12] Nisreena93 commented on #2266
Same here with all apps!!!!!

[2021-12-06 22:27] brennadoyle commented on #2265
This is still not working.

[2021-12-07 02:45] mevist77 commented on #2266
Same here...
@CleanestMink126 , may i kindly ask, if there are any updates on resolution time? I was planning to make a public launch of the app on Thursday...

[2021-12-07 04:27] CleanestMink126 commented on #2266
Hi @mevist77
I just rolled out a fix. Unfortunately since I was unable to reproduce E2E, I was only able to test some of the previous failures on fake data, so let me know whether or not the issues persist. Also some previous failed requests may be backfilled so check for those.

[2021-12-07 05:44] mevist77 commented on #2266
@CleanestMink126 It works, thanks a lot for a swift reply! The previous requests don't seem to backfilled, at least not the ones that I checked. But that's ok for me, thanks!

[2021-12-07 05:59] anjaly commented on #2266
@CleanestMink126 It worked for us also. Thanks for fixing.

[2021-12-07 15:13] bfavero opened #2271 "Increase rate limit?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Hi, is there a way to apply for a higher rate limit?

[2021-12-07 17:56] #2266 closed, assigned to nobody

[2021-12-08 11:13] anjaly opened #2272 "Retraining entity"
Hi,

We created an entity 'Single' in our wit app with synonyms 'Single'. But on inputting 'Single' we are getting the built in entity wit/number.
Is there any way that we can retrain the entity to 'Single' instead of wit/numbers for the keyword 'Single'.

Thanks

[2021-12-08 21:00] ChrisyShine commented on #2271
Can you share the Wit app ID? And what is the higher rate limit that you are looking for?

[2021-12-08 21:14] ChrisyShine commented on #2272
Can you share your app ID?

[2021-12-08 22:39] bfavero commented on #2271
Sure, the id is 1405971863131969. I'm developing an app for journalists
that includes an asynchronous transcription tool (that uses Wit.ai's
engine), so it makes quite a lot of requests. I'd say that ideally, we'd
need around 4800 requests per minute to be able to have some scale.

On Wed, Dec 8, 2021 at 6:00 PM Christina Zheng ***@***.***>
wrote:

[2021-12-09 04:46] anjaly commented on #2272
App ID : 4500267580035639

[2021-12-09 17:48] patapizza commented on #2271
Hi @bfavero, this is quite a lot of requests.
It looks like you're only using ASR, not NLU. Let's see if we can carve out a better endpoint for this.
In the meantime, let's scale up gradually - can you ramp up traffic to 60 requests per minute to start with?

[2021-12-09 18:36] bfavero commented on #2271
Hi @patapizza, thanks for your reply! Yes, that's right, I'm only using ASR.

To be clear, the use of the API would be intermittent, I wouldn't be such a high number of requests often.

The problem I have is that I'm using Wit to transcribe long-ish audio files and I'd like for my app to transcribe at a 10:1 speed (10 minutes of speech in one minute). I split the audio files into 20s chunks and se

[2021-12-09 18:46] ChrisyShine commented on #2272
There is no training data for the 'single' entity in the app. Can you go to Understanding tab and add some training data for this entity?

[2021-12-10 04:21] anjaly commented on #2272
@ChrisyShine Can you please let us know how we should add training data for this entity from Understanding tab. Below is the Screen shot of how it shows
![image](https://user-images.githubusercontent.com/601711/145516798-3976b1b5-ec5e-4570-aa26-6e66faff5659.png)

[2021-12-10 17:59] ChrisyShine commented on #2272
Click the X button at the right side of the entity panel to delete the default annotation. And then select the span of the "single" and select your own entity.
![Screen Shot 2021-12-10 at 9 56 40 AM](https://user-images.githubusercontent.com/30825086/145620188-d1dcd924-5403-4f3b-af99-520adf7b59ba.png)
![Screen Shot 2021-12-10 at 9 56 49 AM](https://user-images.githubusercontent.com/30825086/145620

[2021-12-12 17:08] Danielfromhere commented on #2263
Now my app is stuck on trainging mode. Asked for help via email twice and there was no response. Is it only this buggy for me or somthing is wrong with wit.ai?

[2021-12-13 05:07] anjaly commented on #2272
Tried to do the same but the 'Train and Validate' button is disabled
![image](https://user-images.githubusercontent.com/601711/145755636-0e643439-2dfb-49cb-ab54-ba2bf796a841.png)

[2021-12-13 11:36] umnibot opened #2273 "Queries in non-Latin languages are returning bad request"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
BUG

**What is the current behavior?**
When trying to execute a query with cURL through PHP and the query has a non-Latin character it returns "Something went wrong, or failed to open stream: HTTP request failed! HTTP/1.1 400 Bad Request "

**If the current behavior is a bug, please provide the steps to reproduc

[2021-12-13 17:04] brennadoyle commented on #2265
This is still not working and needs attention. The intents do not load in the Utterances tab or in the intents tab.

[2021-12-13 18:32] ChrisyShine commented on #2272
Intent is required to train an utterance.

[2021-12-13 19:39] ariel-paz opened #2274 "utterance is trained but intent is not recognized"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
utterance is trained but intent is not recognized
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
i train "quiero comprar franui" with intent='Quiero_comprar' and entity="Productos" value="franui", wi

[2021-12-14 08:21] sophiexr commented on #2270
@patapizza could you please help us,

our app is stuck on training for many days

thanks

[2021-12-14 13:04] #2263 closed, assigned to nobody

[2021-12-14 22:48] patapizza commented on #2271
Thanks for the added context. It indeed looks like a new endpoint would better support your use case.

[2021-12-16 03:23] JuanCouste opened #2275 ""Something went wrong. We've been notified" on every app"
I am experiencing issues with wit.ai in general, I suposse they are bugs

"Something went wrong. We've been notified" and "App not found" are popping everywhere, from the http api to the web apps at "https://wit.ai/apps/*".

- It happens on every app that I create, or the ones I asked another dev to create
- It happens on both Open & Private
- It happens on both Spanish & English

Sometimes it get

[2021-12-16 05:28] anjaly opened #2276 "/utterances api not working for an app"
Hi,

We are calling the below api for training examples in wit.ai app
https://api.wit.ai/utterances?v=20200513
When we checked after calling the api we are getting the below success message
{
"sent": true,
"n": 1
}
But it is not getting trained in the wit.ai app.
The examples are not getting listed in the utterances tab
Can you please check.
Our AppId is 605564230824603

Also while we try to train

[2021-12-16 05:50] anjaly commented on #2272
We are handling this with entity only. So how can we retrain an entity if no intent is required

Thanks

[2021-12-16 07:45] TaraNaser opened #2277 "Wit app website keeps loading and doesn't respond"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Wit app website keeps loading and doesn't respond
![image](https://user-images.githubusercontent.com/71825913/146329110-bf13967c-695c-4397-a7c7-9710253a2c4a.png)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the

[2021-12-16 08:15] Nisreena93 commented on #2270
Hello Wit team,
My App also 341248294209239
Please make a restart for training or anything we are pending till the problem is solved.

[2021-12-16 19:44] ChrisyShine commented on #2272
Intent is required to train an utterance, you can prepare a dummy intent for this entity and just ignore the intent result when you receive the prediction result.

[2021-12-17 05:45] anjaly commented on #2276
Hi,
Today when we checked we were able to delete those examples and intent from wit ui. Then we added intent and examples via api.
Now it is listing under 'bluedart' intent in Utterances tab.
But in Understanding tab when we try 'bluedart' the intent is not showing.

[2021-12-17 11:26] deslion commented on #2273
Still no updates to this issue?

[2021-12-17 12:07] deslion commented on #2273
Are there any good and free to use alteratives for Russian language?

[2021-12-19 11:48] ghost commented on #2275
I'm running through the same issue. And I'm using builtin Wit.ai with Facebook Messenger.
I've succeeded making it work again temporarily by changing the n-best values in the advanced parameters of Messenger product under Facebook application.
But after 2 or 3 successful requests, it stops working again.

[2021-12-20 10:57] VaggBout opened #2278 "App stuck at training"
Do you want to request a feature, report a bug, or ask a question about wit?
Bug

What is the current behavior?
App is stuck at Training ongoing

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.
Initialized training from WitAI dashboard. App is stuck at training for a couple of days now.

What is the expected behavior?
Training

[2021-12-20 16:43] codeunifier commented on #1119
Also experiencing this for the first time today. Been stuck on "scheduled" for over an hour. A way to manually kill the training or restart the training would be great, especially if it's stuck in scheduled and hasn't actually started the training itself yet.

[2021-12-21 16:48] brennadoyle commented on #2265
This is still not working. The utterances don't load, the intents don't load, and if I try to train a query to out of scope it doesn't train. Please let me know how we can get this working.

[2021-12-22 07:10] akshayraghunath opened #2279 "Unable to export app data"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
When the "Download .zip with your data" button is clicked under app settings, getting an error message "Something went wrong. We've been notified."

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Go

[2021-12-22 20:27] wangzhenict commented on #2279
Hi friend,
I'm investigating it. will get back to you soon. thanks for your patience.

[2021-12-22 21:24] patapizza commented on #2273
Thank you for your patience. We're looking into this.

Please don't share your tokens publicly. I recommend to reset it in the Settings section of your app.

[2021-12-23 00:34] wangzhenict commented on #2273
Hi @umnibot ,

so sorry for the bug. if wit.ai is still an option for you. A workaround which can unblock you is to encode the non-latin text before constructing url. e.g. "здрасти" to "%22%D0%B7%D0%B4%D1%80%D0%B0%D1%81%D1%82%D0%B8%22", the conversion can be done through wit.ai your app > management > settings, "HTTP API" section.
we will also try to improve it.

apologize for late update. have a

[2021-12-23 19:20] wangzhenict commented on #2273
Yes, definitely we are actively investigating the cause, we will fix it ASAP. BTW, it may take some time go git it done due to holiday season. I'll update any progress.

Thanks for your patience!

[2021-12-24 04:48] akshayraghunath commented on #2279
Hi buddy - Any update on the above?

[2021-12-24 05:30] wangzhenict commented on #2279
Hi @akshayraghunath,
I tried this app, and met some permission check issue. it looks I need your help to add me to your app's contributor. you can do it through app > management > settings > contributors, my user name is 'zhenwang',
then i will debug further, you can remove me after the issue is addressed.

If you feel ok for that, just let me know once you added me.

Thanks,

[2021-12-24 06:10] akshayraghunath commented on #2279
@jtliao @patapizza @ramh I have seen many similar issues reported. Could you please help?

[2021-12-29 10:11] MushAsterion opened #2283 "Unable to remove Built-In Entity from app through API"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug with API endpoint `/entities/:entity` on method `DELETE`.

**What is the current behavior?**
Each time I send a `DELETE` request do `/entities/:entity` API endpoint for a built-in entity it throws an error while the exact same request with a non-built-in entity returns a success. Here is the error that I hav

[2021-12-30 08:28] Nisreena93 commented on #2278
My App also since one month ago!!!!
App ID 341248294209239

[2021-12-30 08:31] Nisreena93 opened #2284 "Training ongoing since a month!!"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
My App stuck on the status 'Training ongoing' since one month ago!
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Go to the main screen on the app and you will show 'Training ongoing' at the right to

[2021-12-30 21:04] charxhit opened #2285 "500 Internal error on apps"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
This is what I get when I do a post request to /speech :
[code]
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

The problem might be audio related hence I have enclosed non sensitive, 4s example.

[

[2021-12-31 07:22] charxhit commented on #2285
Update: this issue has resolved itself.

[2021-12-31 19:55] SeunTo opened #2286 "TypeError: Cannot read property 'length' of undefined"
**I want to report an error I am having with a messenger bot linked to wit.ai**

**After hosting it on glitch and try chatting the bot, I keep getting the output below

webhook is listening on port 3000
{ sender: { id: '4676416029106443' },
  recipient: { id: '104120012150589' },
  timestamp: 1640979308066,
  message:
   { mid:
      'm_zm38Z9tLWPeMG5RO7cvBPvp0D02spiTViAqTrFa002e-p0jIQHE49mmYj_M5M

[2022-01-03 08:21] aliugur opened #2287 "App stuck at training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
App is stuck at "Training ongoing"

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Start training from Wit.ai dashboard

**What is the expected behavior?**
Training should be completed

**I

[2022-01-03 11:10] SarahAabid opened #2288 "App stuck at training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?
Report a bug

**What is the current behavior?
App is stuck at "Training ongoing"

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.
Start training from Wit.ai dashboard

**What is the expected behavior?
Training should be completed

**If applic

[2022-01-03 11:51] #2287 closed, assigned to nobody

[2022-01-03 12:59] anjaly commented on #2272
Dummy intent is created for this entity, but when we enter other intent inputs, we are getting this entity in prediction result.

[2022-01-04 09:19] Ananyag02 commented on #299
Hi, my app has been on "ongoing" for hours now. kindly restart it.
https://wit.ai/apps/596907408234734/entities

[2022-01-04 09:21] Ananyag02 commented on #1119
Hi, my app has been on "ongoing" for hours now. kindly restart it.
https://wit.ai/apps/596907408234734/entities

[2022-01-04 14:11] SarahAabid commented on #2288
The app is still not working. 580041809784935
Please check it

[2022-01-04 17:07] yuzh174 commented on #2288
Looking at it

[2022-01-04 17:26] yuzh174 commented on #2288
The training has completed. Let me know if you see other issues.

[2022-01-04 17:31] #2288 closed, assigned to nobody

[2022-01-04 17:45] yuzh174 commented on #2284
Looking into it

[2022-01-04 19:19] yuzh174 commented on #2284
The training is complete. Let us know if you still see issues.

[2022-01-04 19:19] #2284 closed, assigned to nobody

[2022-01-04 19:49] yuzh174 commented on #2285
Thanks for the update. Close this issue.

[2022-01-04 19:49] #2285 closed, assigned to nobody

[2022-01-04 20:43] ZaraElena opened #2289 "Users Not Able to See Intents, Train Phrase, or Check Confidences in App"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
- Bug

**What is the current behavior?**
- As a user of an app, I am not able to train. The dropdown for intents is showing up blank as if none exist, and when I type in any phrase, I don't receive any kind of response,, even for the simplest of phrases. This is happening consistently to multiple users on the ap

[2022-01-04 22:20] yuzh174 commented on #2283
Hi @MushAsterion, thanks for reporting this issue. This seems to be a bug behavior and we will fix it soon. For now, you can use the UI button to delete it to get unblocked.

[2022-01-04 22:48] ChrisyShine commented on #2272
Can you share some real examples? The utterances, the expected prediction results and the real prediction results?

[2022-01-04 23:45] yuzh174 commented on #2286
Hi @SeunTo, this seems to be an issue that you are accessing a property of an undefined object. It could be that you are accessing property that doesn't exist. What are the request and response from wit?

[2022-01-05 09:14] MushAsterion commented on #2283
Hey @yuzh174, thank you for the heads up, I will certainly do!

[2022-01-05 15:44] brennadoyle commented on #2265
This is still an issue. Intents are not loading in the app so training cannot take place.

[2022-01-05 15:49] brennadoyle commented on #2289
This is similar to my issue: https://github.com/wit-ai/wit/issues/2265 This is critical for training to occur.

[2022-01-06 00:30] jayyteee commented on #2289
Hello @ZaraElena thanks for bringing this issue to our attention, we are looking into it.

[2022-01-07 05:21] anjaly commented on #2276
Any update

[2022-01-07 05:31] anjaly opened #2290 "Training inputs showing 'Training ongoing' and is not completing"
Hi,

When we try to train an input , via /utterances api or directly through wit ui it is showing 'Training ongoing' in wit app and is still the same after more than half an hour. It was working earlier.
Can anyone please assist?

Attached the SS.
![image_2022_01_07T05_26_00_407Z](https://user-images.githubusercontent.com/601711/148496833-12954709-3512-48dd-896d-3008763ccab2.png)

AppId: 484432597

[2022-01-07 07:32] aliugur opened #2291 "App Stuck At Training (again)"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
App is stuck at "Training ongoing"

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Add a new training from the dashboard

**What is the expected behavior?**
Training should be completed

**

[2022-01-07 11:31] #2291 closed, assigned to nobody

[2022-01-07 15:07] RadhikaPallavi opened #2292 "utterances for the app show an error msg"
Need help to load the utterances back.
![image](https://user-images.githubusercontent.com/97292380/148563612-3662a3e3-e657-488b-918b-1040803185b2.png)

App ID - 572046700564927

[2022-01-07 16:12] hvo408-brightplan commented on #1119
I hope someone is monitoring this closed thread and help, but my app is stuck too ("Training ongoing") for more than a week now. App id is 1984954734884414.

[2022-01-07 16:21] ramh commented on #2276
Hi @anjaly, glad to know the deletion and other UI issues are resolved now.

In regards to adding "Blue Dart" as an utterance, it seems to be added to the Utterances tab right now. Can you check and let us know if you are able to add more utterances without an issue? Thanks.

[2022-01-07 16:23] ramh commented on #2275
Hi, can you check and confirm if you are still facing these issues. Thanks.

[2022-01-07 16:48] PanoSpent commented on #1119
Hi all,

I had the same issue and solved it by downloading the app and upload it to
a new one. After a really long period of time my app got unstuck.

Hope it helps.

Best Regards,

Panagiotis

On Fri, Jan 7, 2022 at 6:13 PM Huey Vo (BP) ***@***.***>
wrote:

[2022-01-07 18:38] jayyteee commented on #2290
Hello @anjaly, I just checked and it looks like training has completed, can you confirm? Occasionally for various reasons training can stall for awhile or take longer than expected to complete. Let us know again in you continuously are running into this issue.

[2022-01-07 22:12] #2249 closed, assigned to nobody

[2022-01-07 22:17] #2173 closed, assigned to nobody

[2022-01-08 14:26] srambabu-souvenirapps commented on #2290
hi i am also facing the same problem. @anjaly Is your problem resolved?

[2022-01-08 22:12] richgrov opened #2293 "/apps loading on mobile, but not on desktop"
Bug report: When attempting to access my apps (or any page for that matter,) the site sometimes refuses to load. It works on mobile devices fine, but not on Chrome Desktop (Ubunutu.)

[Here](https://drive.google.com/file/d/13NVok9MpuZjD5ltYDUW4aH5iMM2GoZ_g/view?usp=sharing) is a video demonstrating this behavior.

Notice how the favicon doesn't load. Most of the time, it *does* but beyond that, no

[2022-01-09 12:49] JbfProductions opened #2294 "Offline voice command recognition"
Dear Wit AI team,

For a small university VR project me and three other students are developing a Mixed Reality App using passthrough mode for Quest. Our idea was to implement really simple voice command like "fire" or may be a set of two voice commands like "lock on target" and "fire". We would like to use Oculus Voice SDK. After experimenting with Wit.ai I discovered that voice recognition and t

[2022-01-09 20:52] RMariegaard opened #2295 "'Something went wrong. We've been notified'"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
The app used to reply just fine, now it responds with an error without an error code to all input
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
I don't know if it can be replicated as it seemed to c

[2022-01-10 13:46] RagadZuaiter opened #2296 "error in import api"

[2022-01-10 18:39] jayyteee commented on #2292
Thanks for opening this issue @RadhikaPallavi we are taking a look

[2022-01-10 23:18] hvo408-brightplan commented on #1119
Thanks so much @PanoSpent. That works for me

[2022-01-11 20:07] ramh commented on #2228
No response, closing. Please re-open if needed.

[2022-01-11 20:07] #2228 closed, assigned to nobody

[2022-01-11 20:13] ramh commented on #2129
@ricvail I am just cleaning up older issues. Do you think it is ok to close this issue in favor of #2247  ?

[2022-01-11 20:33] ricvail commented on #2129
@ramh Yes, go ahead

[2022-01-11 20:39] ramh commented on #2129
Thanks. Closing in favor of #2247 .

[2022-01-11 20:39] #2129 closed, assigned to nobody

[2022-01-11 20:41] ramh commented on #2256
Hi, can one of you verify if this issue is still happening. If so, please comment with your App ID for us to investigate? thanks.

[2022-01-11 20:58] arscslvt opened #2297 "My app stuck in training"
Hi, my app 619772309312044 is stuck in training for 2h at least. How can I fix?

[2022-01-12 03:16] ksaitor commented on #2297
Same situation. But it's been days now.
Also receiving "Something went wrong. We've been notified" error on every request.

[2022-01-12 09:55] jansila commented on #2275
Hi, yes it has been happening to my app as well for a couple of days now. I tried renew the server token etc, but to no vail.

My app ID is 1545378798907769.

Thanks for investigating!

[2022-01-12 09:56] jansila commented on #2297
There is another issue for that.
https://github.com/wit-ai/wit/issues/2275

[2022-01-12 10:48] RadhikaPallavi commented on #2292
@jayyteee Could you please share an update if any. The utterances still do not load.
Also if you could you guide me with the understanding why does the app does not display training completed ever. It always show ongoing training, unless the we train few more questions, when we get a message about training scheduled.

[2022-01-12 18:54] brennadoyle commented on #2289
@jayyteee Hello, any update on when this will be fixed?

[2022-01-13 16:17] YQZ530 opened #2298 "App won't stop training. Plz help"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
training won't stop for two days.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**
stop training
**If applicable, what is the App ID where you are experiencing this

[2022-01-13 19:47] wangzhenict commented on #2273
Hi @umnibot,

This issue is because our infra started to enforce stricter HTTP checks, Non-ASCII characters in URLs must be encoded using url-encoding for security https://en.wikipedia.org/wiki/Percent-encoding.
urlencode is the recommended way for this.

Thanks for the patience and sorry for the inconvenience!
Zhen

[2022-01-13 20:56] #2273 closed, assigned to wangzhenict

[2022-01-13 20:56] wangzhenict commented on #2273
infra started to enforce stricter HTTP checks, Non-ASCII characters in URLs must be encoded using url-encoding for security https://en.wikipedia.org/wiki/Percent-encoding.

[2022-01-13 20:57] wangzhenict commented on #2250
infra started to enforce stricter HTTP checks, Non-ASCII characters in URLs must be encoded using url-encoding for security https://en.wikipedia.org/wiki/Percent-encoding.

[2022-01-13 20:57] #2250 closed, assigned to nobody

[2022-01-14 18:20] backmeupplz commented on #2256
Seems like it's all good @ramh

[2022-01-14 19:30] ramh commented on #2256
Thank you for checking.

[2022-01-14 19:30] #2256 closed, assigned to nobody

[2022-01-15 15:03] UnitTHK opened #2299 "Stuck utterences on the understanding tab"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Reporting a bug
**What is the current behavior?**
Currently, I seems to be having some issue with some utterences that are captured from the API calls, when I click the "Train and Validate" button on the dashboard, the utterance doesn't go away as it would normally, and it only appears to happens to a few of the

[2022-01-18 22:12] jayyteee commented on #2293
Hello @richgrov, I took a look and don't see any issues on our end around the time this was reported, and since it is working fine on your other device it most likely is your system or browser that is at fault. I would double check using a different browser, or if possible try to load the page on a different system. If you continue to see this issue on other devices then let us know and we can tak

[2022-01-18 22:12] #2293 closed, assigned to nobody

[2022-01-18 22:22] jayyteee commented on #2295
Hello @RMariegaard, I took a look and it looks like the error for this appId is that you are currently exceeding the rate limit, with over 600 requests per minute from your appId. If you need to increase this limit, please send us a email at help@wit.ai and provide more details about your use case and your estimated requests rate.

[2022-01-18 22:22] #2295 closed, assigned to nobody

[2022-01-19 18:21] jayyteee commented on #2289
Hello @brennadoyle @ZaraElena the issue should be resolved now, can you confirm it's working for your apps?

[2022-01-20 05:41] richgrov commented on #2293
Fair enough. Thanks for the info!

[2022-01-20 07:28] ramh commented on #2121
Closing since there was no response.

[2022-01-20 07:28] #2121 closed, assigned to nobody

[2022-01-20 18:46] jayyteee commented on #2292
@RadhikaPallavi the issue should be resolved now. I also checked why it was always ongoing and it looks like it was due to an old job getting stuck - I manually restarted it so that should also be resolved now. Feel free to open another issue if you run into it getting stuck again like before.

[2022-01-20 18:46] #2292 closed, assigned to nobody

[2022-01-20 18:48] jayyteee commented on #2289
closing, feel free to open another issue if this problem comes back

[2022-01-20 18:48] #2289 closed, assigned to nobody

[2022-01-24 12:55] umnibot opened #2300 "wit/number not triggering the same intent"
I created an intent with an utterance like
`8*3` which is marked as wit/number.

![image](https://user-images.githubusercontent.com/45895973/150786106-49b94923-8f60-45b5-aa67-46b9b38874aa.png)

My expectation is that if I write `9*3` it should be also resolved as calc intent as `8*3`. However, it resolves the entity, but not the intent

![image](https://user-images.githubusercontent.com/45895973/1

[2022-01-24 14:11] umnibot opened #2301 "my app is missing wit/quantity"
Today I have realized that in one of the apps I have wit/quantity missing.
What can I do to have it?

APP: 290950585816913

[2022-01-24 23:12] patapizza commented on #2301
Hi @umnibot,

`wit/quantity` is powered by [Duckling](https://github.com/facebook/duckling). It looks like there's [no support for Bulgarian yet](https://github.com/facebook/duckling/tree/main/Duckling/Quantity). The good news is that you can submit a pull request and we'll be able to provide it for all Bulgarian apps.

Thanks!

[2022-01-24 23:15] #2290 closed, assigned to nobody

[2022-01-24 23:40] ChrisyShine commented on #2300
Can you add more training data? The intent confidence is not enough.
wit/number is built-in entity. We have trained a model for this entity with enough data, so the entity prediction result is good.
However, the intent in your app is a custom intent. If there is no enough training data, the model won't provide a high confidence prediction result.

[2022-01-24 23:56] ChrisyShine commented on #2167
From the error message, it looks like an auth problem. If you still encounter the problem, can you refresh the server and client token and try to export again?

[2022-01-25 00:20] patapizza commented on #2297
Looks like the training is done now.

[2022-01-25 00:20] #2297 closed, assigned to nobody

[2022-01-25 00:45] patapizza commented on #2275
Hi @JuanCouste it looks like the app doesn't exist anymore. I'm not able to reproduce on new apps.

@jansila I've identified the issue with your app. Looking to fix it.

[2022-01-25 10:54] kostas-simi opened #2302 "GET wit.ai/message constantly timesout !"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
since the 17th of January 2022 wit.ai request times out several times on more than 10 apps concerning the IP 185.60.216.56:443

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
sending a get request t

[2022-01-25 11:05] kostas-simi opened #2303 "app stuck on "training ongoing" ONE MONTH"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
BUG

**What is the current behavior?**
The app status is stuck on "training ongoing" for 1 (one) WHOLE month now.. it is starting to affect us badly as we can not schedule new trainings... when will this be fixed?? can someone please re-start the training?

**If the current behavior is a bug, please provide the

[2022-01-25 19:49] Maryrouse100 opened #2304 "blogmaryrousecom.wordpress.com"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2022-01-25 19:50] Maryrouse100 opened #2305 "Facebook"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2022-01-26 05:38] JuanCouste commented on #2275
Hi @ramh , there were no major issues the next day I posted this, "Something went wrong. We've been notified" still apeared in some places but it was usable through the http api

[2022-01-26 05:42] JuanCouste commented on #2275
Hi @patapizza , It seems to have been resolved

[2022-01-26 18:58] #2305 closed

[2022-01-26 18:59] #2304 closed

[2022-01-26 19:36] galubap opened #2306 ""item" entities lost?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

Bug

**What is the current behavior?**

My application lost almost all "item" entities I did train last 2 years. Problems occurs today, yesterday everything worked perfect.
Also clicking "Train and validate" gives message "There was an error validating the utterance. Permissions error".

**If applicable, what i

[2022-01-26 22:16] ruoyipu commented on #2303
Hi @kostas-simi, I've restarted the training and it's now complete. Please let us know if it happens again.

[2022-01-26 22:16] #2303 closed, assigned to nobody

[2022-01-27 13:36] miezzi opened #2307 "Training status ongoing for way longer than usual"
I added a story and tried to train wit.ai for the same, but the training status remains ongoing(remains yellow) and has not changed since.
Before It used to get green after few minutes of training.
I've also tried validating new examples in Understanding tab but nothing changed. Please help to restart my app. It isn't the first time that it happens to me with a wit.ai project.

AppId: **1327750504

[2022-01-27 15:25] ricvail commented on #2247
Hello, sorry to bother you but it's been 2.5 months and we still experience this issue. Do you have any news?

[2022-01-27 18:31] MattWIP opened #2308 "Entity Keyword strict match / end in space?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question / Possible Feature request?

**What is the current behavior?**
Utilizing a Keyword + Free Text strategy I've noticed we can't have a "strict" match of the keyword. For example, we have a keyword for "BAC", but it will match the word "back" for example. We would like to make it so it only matches "BAC" (

[2022-01-27 19:13] nickcbarone opened #2309 "URGENT Cannot log into Wit.ai and access my apps!"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
report a bug

**What is the current behavior?**
I can't sign into my apps even though I successfully authenticate via Facebook.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
I go to wit.ai
I try to log in by authenticating through Face

[2022-01-27 19:49] alxferraz commented on #2309
Same here

[2022-01-27 20:54] patapizza commented on #2309
Thanks for reporting and sorry about the issue. We're on it.

[2022-01-27 21:10] patapizza commented on #2309
This should now be fixed. @nickcbarone @alxferraz Can you confirm?

[2022-01-27 21:13] backmeupplz opened #2310 "Voice recognition returns HTML errors"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

A bug

**What is the current behavior?**

Voice recognition returns the error, probably HTML, my response parser errors with `Unexpected token &lt; in JSON at position 0`, that's `<` :)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

N

[2022-01-27 21:27] rhenanbartels opened #2311 "[503 Service Unavailable] on https://api.wit.ai/speech"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
requests to `https://api.wit.ai/speech` return with 503 status

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

[code]

**What is the expected behavior?**
The request is expected to return 200 with

[2022-01-27 23:49] dzlandis commented on #2311
Having the same issue on an application which has been tested to work just fine previously! +1

[2022-01-28 00:34] patapizza commented on #2311
We've had a bad deployment and should be back now. Sorry about that. Can you @rhenanbartels @dzlandis @backmeupplz  confirm?

[2022-01-28 00:34] patapizza commented on #2310
Closing in favor of https://github.com/wit-ai/wit/issues/2311

[2022-01-28 00:34] #2310 closed, assigned to nobody

[2022-01-28 00:41] rhenanbartels commented on #2311
@patapizza Everything is back on track!  Thank you for your prompt reply and for the amazing work

[2022-01-28 00:42] dzlandis commented on #2311
Back and working for me as well! Thanks ❤️

[2022-01-28 01:24] nickcbarone commented on #2309
@patapizza Confirming this issue has been fixed for me. Thank you for the fast resolution.

[2022-01-28 09:36] soultellegend opened #2312 "Im getting error when I use node-wit"
I was using node-wit. I have a small json file with texts. I tried foreach to send all texts to wit but I think I tried sending them too fast. Now I cant use node-wit. I'm getting error.  "[wit] [message] Error: Something went wrong. We've been notified
Something went wrong. We've been notified". Before the mass request it was working fine

**What is the current behavior?**
Getting error. [wit] [m

[2022-01-28 10:51] alxferraz commented on #2309
fixed for me, thank you very much!

[2022-01-28 14:26] RadhikaPallavi opened #2313 "Need help with training stuck "Training Ongoing""
We have 2 applications which are stuck with the training showing the status "training ongoing".
It's difficult to understand if the training is even completed.
Could you please help us with clearing any job if stuck?
App id for the two apps are - 618389522541052 & 4926118934078909

[2022-01-28 15:11] soultellegend opened #2314 "https://wit.ai/apps Giving error"
Im getting
![image](https://user-images.githubusercontent.com/63239999/151571481-aa63df3a-913f-4f86-bcf7-234db51c064f.png)

[2022-01-28 19:16] ruoyipu commented on #2312
Hi @soultellegend,

We do have rate limiting on requests. I see around 1am PST there were several timeouts and throttling errors for app 645332253379642, but those errors have stopped now. Are you still experiencing those issues?

[2022-01-28 19:17] soultellegend commented on #2312
Thank you. Its fixed

[2022-01-28 19:17] #2312 closed, assigned to nobody

[2022-01-28 19:29] ruoyipu commented on #2307
Hi @miezzi,

I've restarted training for app 1327750504270664, and it looks like it's now complete.

We deployed a bad package yesterday which is now fixed, let me know if you're still having any endpoint issues.

[2022-01-28 19:38] ruoyipu commented on #2314
Hi @soultellegend,

I cannot repro with my account, is this still occurring? If so, could you provide the app ID of any one of your apps?

[2022-01-28 19:39] soultellegend commented on #2314
Its fixed too.

[2022-01-28 19:39] #2314 closed, assigned to nobody

[2022-01-28 21:07] ruoyipu commented on #2313
Hi @RadhikaPallavi,

I've restarted training for those 2 apps and it looks like they're now complete.

[2022-01-28 21:07] #2313 closed, assigned to nobody

[2022-01-28 21:39] ruoyipu commented on #2306
Hi @galubap,

I still see that app 3382588755148772 has the "item" entity, and there's about 131 utterances using that entity. Was it re-added recently?
<img width="1016" alt="Screen Shot 2022-01-28 at 1 38 51 PM" src="https://user-images.githubusercontent.com/33233694/151625220-0c31fc7e-b38d-4405-b0bb-51cfd339ecab.png">

Could you provide a screenshot and example of what utterance you're trying t

[2022-01-28 22:05] miezzi commented on #2307
Hi @ruoyipu
The first point has already been solved. training is complete. Thanks for the quick solution.

We have several trainings in wit.ai and the endpoint of all of them work fine except this one. The endpoint still responding the same error.
AppId: **1327750504270664**
AppName: **Compensar_Recreacion**

[2022-01-29 07:03] RadhikaPallavi commented on #2313
@ruoyipu, Thanks a lot! This is very helpful

[2022-01-29 15:07] backmeupplz commented on #2311
@patapizza all good, thank you!

[2022-01-30 19:42] Maha-ms20 opened #2315 "Internal server Error"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?** report a bug

**What is the current behavior?**
the app is working, but some times when run the code the error appear
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
![PHOTO-2022-01-30-22-03-18](https://user-images.githubusercontent.com/7

[2022-01-31 09:31] jansila commented on #2275
Hi @patapizza,

is there any progress with this, please?
I thought that at worst I can download the app data and create a new one. But it is not possible either:

![image](https://user-images.githubusercontent.com/12913856/151769903-53eaf30b-ebcf-4200-8dea-7efac887c8e6.png)

It would be great if we could keep the rich history of the app.
Thanks a lot for and update!

[2022-01-31 10:23] modaresimr commented on #1976
i confirm this issue is because of the region
I have two user:
- one from non europian country: nlp works well
- from europian country: nlp shows error

[2022-01-31 17:44] patapizza commented on #2311
Thank you all for your understanding and confirming!

[2022-01-31 17:44] #2311 closed, assigned to nobody

[2022-01-31 17:44] patapizza commented on #2309
Thank you for confirming!

[2022-01-31 17:44] #2309 closed, assigned to nobody

[2022-01-31 17:45] patapizza commented on #2315
Hi @Maha-ms20 which endpoint are you hitting?

[2022-01-31 17:46] patapizza commented on #2301
You'd fork the repo, push changes to your fork, then [submit a pull request here](https://github.com/facebook/duckling/compare).

[2022-01-31 18:59] Maha-ms20 commented on #2315
What do you mean by endpoint ?
________________________________
From: Julien Odent ***@***.***>
Sent: Monday, January 31, 2022 8:45:35 PM
To: wit-ai/wit ***@***.***>
Cc: مها بن سيف ID 439200881 ***@***.***>; Mention ***@***.***>
Subject: Re: [wit-ai/wit] Internal server Error (Issue #2315)

Hi @Maha-ms20<https://github.com/Maha-ms20> which endpoint are you hitting?

—
Reply to this email directly,

[2022-02-01 08:55] 91ns opened #2316 "Wit returning wrong intents with high confidence"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
wit returning the wrong intents with high confidence
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

https://api.wit.ai/message?v=20210904&q=3111357835

{
    "text": "3111357835",
    "intents": [

[2022-02-01 10:23] soultellegend commented on #2316
I have the same issue

[2022-02-01 18:17] dieggh commented on #2316
We have a similar issue with the intents confidence. In our case we lost all the intent's confidence but the entities confidence is okay.
And also the trainings are not working

[2022-02-01 18:22] rsmngdlmx opened #2317 "Wit not returning any intent for text already trained"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
Today, we detected that Wit is not returning any intent for previously trained text. Up until yesterday, we were getting the intents correctly. Also, we add trainings to add intents, but after the training, we test the text added to the training and we still get no intent.

[2022-02-01 19:15] nishsinghal20 commented on #2316
Hello! It is expected that any utterance will return a "best matching" intent, not just the utterances in the training set. In order for the app to not handle any utterances, please check the "Out of scope" box in the Understanding section.

![image](https://user-images.githubusercontent.com/27743368/152035365-f88831f3-bb3c-419e-ae31-314a358a7b5c.png)

[2022-02-02 10:51] RadhikaPallavi opened #2318 "Intent value returned for any gibrish question."
We have issues with the api returning the Intent where as the App does not show any intent in the understanding.
please find the snapshot from the witAi and api for the same question below:
![image](https://user-images.githubusercontent.com/97292380/152151381-373aaf69-0c7d-425b-b7ab-d725c16499d8.png)
![image](https://user-images.githubusercontent.com/97292380/152139471-00ff9403-7fbc-4c57-baee-0d6b

[2022-02-02 14:26] patapizza commented on #2306
Taking a random utterance, it seems like it's working:
<img width="1079" alt="Screen Shot 2022-02-02 at 6 25 39 AM" src="https://user-images.githubusercontent.com/1015208/152172718-88dfc2be-fe5d-4cc9-931d-de8dbfd5c742.png">

Can you share examples of utterances that don't work and what is the expected outcome?

[2022-02-02 14:30] patapizza commented on #2316
Hi Nour, what is the expected intent for the utterance `3111357835`? Was it working before? Can you share a few more examples of expected vs predicted?

@soultellegend @dieggh Can you share your app ID with a few examples of expected vs predicted?

Thank you for your patience.

[2022-02-02 14:31] patapizza commented on #2317
Hi @rsmngdlmx,

Thanks for reporting. We're looking into this.

[2022-02-02 14:32] patapizza commented on #2318
Thanks for reporting @RadhikaPallavi, we're looking into this.

[2022-02-02 15:17] rsmngdlmx commented on #2317
Thanks, @patapizza! Actually, yesterday at around 21:00 hrs (GMT-6) everything went back to normal. So far, everything is working fine again. But if you could shine a light on what happened, we would really appreciate it. Thanks a lot in advance! Have a great day!

[2022-02-02 19:28] patapizza commented on #2316
@91ns Your app has been fixed.

@soultellegend @dieggh Please share your app ID. Thanks.

[2022-02-02 19:28] #2316 closed, assigned to nobody

[2022-02-02 19:30] patapizza commented on #2318
Your apps have been fixed.

[2022-02-02 19:30] #2318 closed, assigned to nobody

[2022-02-02 19:32] patapizza commented on #2317
Your app is now fixed.

Edit - now saw your last message. We're working on improving the models, and it looks like the migration isn't as smooth as I had hoped. Thank you for your feedback and your patience.

[2022-02-02 19:32] #2317 closed, assigned to nobody

[2022-02-02 19:54] patapizza commented on #2275
@jansila Thanks for following up. We're still working on this. Thank you for your patience.

[2022-02-03 04:48] RadhikaPallavi commented on #2318
@patapizza Thank you very much!! This was very helpful.

[2022-02-03 05:49] prajisha opened #2319 "Issue in identifing out of scope inputs"
Hi,

We are facing an issue that Khmer workspace identifies english input which is not trained and it returning correct intent.
'Hi' returning 'greeting' intent in khmer workspace.
'Job' returning 'static_intent_job' intent in khmer workspace.
We expect english input to return out of scope response in khmer workspace.
Is there any way to solve it?

Thanks
![image](https://user-images.githubusercon

[2022-02-03 09:06] RadhikaPallavi opened #2320 "Intent values displayed in wit app for gibberish value."
@patapizza, with Reference to the issues resolved yesterday (https://github.com/wit-ai/wit/issues/2318),  could you please help us resolve the Gibberish issue with one more application as well. The Other application is now showing return values for the gibberish text.
Please find the snap shot below:
![Gibberish](https://user-images.githubusercontent.com/97292380/152312202-ed7b7f02-6130-49e8-a56d-

[2022-02-03 18:27] nishsinghal20 commented on #2319
Hi @prajisha! Thank you for bringing this to our attention. Can you please share the app ID so we can investigate this further?

[2022-02-03 21:04] HeyArian opened #2321 "App stuck in training"
**Do you want to request a feature, report a bug, or ask a question about wit?**
Bug
**What is the current behavior?**
App is stuck in "Training ongoing".
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Open the app. Wait until the app is done training. Training never stops (even though it normally takes less than a fifteen

[2022-02-03 21:23] nishsinghal20 commented on #2321
Hey @HeyArian! Thanks for reporting this issue. We'll take a look at this and get back to you.

[2022-02-03 23:38] Daryl-Loo opened #2322 "Using roles in entity"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Ask a Question about wit.ai entity roles
https://wit.ai/docs/recipes#differentiate-several-entities-according-to-their-role-in-the-message

Good morning, I am trying to use wit.ai to extract entity to build a url based on what the user input through query string.
I need to group the category together, for exampl

[2022-02-04 00:41] nishsinghal20 commented on #2320
Hey @RadhikaPallavi! I can help you with this. Let me get back to you once we have a fix on our side.

[2022-02-04 01:18] nishsinghal20 commented on #2320
This should be fixed now :)

[2022-02-04 01:18] #2320 closed, assigned to nobody

[2022-02-04 01:25] RadhikaPallavi commented on #2320
@nishsinghal20 Thankyou very much for the quick resolution!! 😊😊

[2022-02-04 05:53] prajisha opened #2323 "Issue in identifing intent which has no relation with keyword"
Hi

We are facing an issue with the wit workspaces.
If we input a random text "aaa" or "bbb" or "test", we are getting an intent which has no relation with the keyword.
Can you please look into the issue with high priority, as it is affecting our business.
'aaa' returning 'hi' intent.
'test' returning 'tentative' intent.
We are facing this issue with all worspaces and here is the app id of one of

[2022-02-04 10:11] DekelShabat opened #2324 "Internal Server Error 500 occasionally"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
Occasionally I get 500 from the server.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
I call the message API through Python. See the scenario below:
[code]
**What is the expected behavior

[2022-02-04 11:17] prajisha commented on #2319
App ID :  468448841441795

[2022-02-04 11:20] prajisha commented on #2319
App ID : 468448841441795

[2022-02-04 17:51] gnovis commented on #2324
I have the same issue for several of my apps. I´m using /message endpoint with version 20200513 (from pywit package).

[2022-02-04 19:02] nishsinghal20 commented on #2323
@prajisha Yes sure, we'll take a look into this. Thank you for your patience!

[2022-02-04 19:05] nishsinghal20 commented on #2324
@DekelShabat Thank you for reporting this. From your snippet, the timestamp looks to be `2022-02-02 12:02:44`. Could you confirm the timezone so that I can lookup the logs on our side?

[2022-02-04 19:11] patapizza commented on #2319
Hi @prajisha,

The current scope for a Wit.ai app is per-language. For inputs from another language, the behavior is undetermined.
I'd recommend to call [`GET /language`](https://wit.ai/docs/http/#get__language_link) to filter inputs for the supported languages, and route to the relevant Wit.ai app.

Hope this helps.

[2022-02-04 19:11] #2319 closed, assigned to nobody

[2022-02-04 19:17] patapizza commented on #2323
Hi @prajisha,

The confidence level for the provided inputs is very low. While we do provide the confidence and auto-populate the intent to speed up the annotation, we don't return them under 50% confidence in the API runtime. The 50% confidence threshold would optimize for recall over precision. For higher quality, I encourage you to use the model insights on the intent page to find the best conf

[2022-02-04 19:30] nishsinghal20 commented on #2324
Actually I was able to pull up the logs. It seems like an internal timeout issue which should be a one-off incident, but we'll keep investigating on our side to make the service more robust. Please feel free to open the issue again if this happens consistently.

[2022-02-04 19:31] #2324 closed, assigned to nobody

[2022-02-05 05:07] zhiyzuo opened #2325 "Internel Server Error when calling `speech`"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

[code]

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide

[2022-02-05 06:24] nishsinghal20 commented on #2325
Hi @zhiyzuo! Thanks for reporting this. Let me investigate and get back to you.

[2022-02-06 09:50] gadielmyron opened #2326 "App Stuck in Training"
My App is taking huge training time like more than 4-5 hours for a single utterance.

**AppId**: `1479811922390057`
**AppName**: `bluebirddev`

[2022-02-06 15:34] nisreen93 opened #2327 "500 Internal Server Error happening on /message API"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
The mentioned API mostly gives us 500 exceptions.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
hit a word to /message
**What is the expected behavior?**
return 200 with understanding
**If applicabl

[2022-02-06 18:50] shorouqmajali opened #2328 "trained utterances giving wrong intent"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
many utterances were trained to a specific intents , but now the response in understanding is wrong and we are unable to traine them again
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
the utterance

[2022-02-07 01:42] nishsinghal20 commented on #2326
Hey @gadielmyron! I just checked and the app seems to have finished the training. Are you still experiencing this issue?

[2022-02-07 01:46] nishsinghal20 commented on #2327
Hey @nisreen93! Thank you for reporting this. We'll investigate and get back to you about this issue.

[2022-02-07 01:55] Chejin-cheol opened #2329 "Intent is not recognized on understanding page after import Zip data"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
I exported zip data,
and did import data to another app.
when train is completed,
all factor (Intents, Trait, Entities, Utterances, Settings) is successfully initialized.
but, when I add new utterance to Understanding page
app cannot recognize only intent that are registered

[2022-02-07 05:20] prajisha commented on #2323
Hi

 When i tried random inputs via API am getting intents in the response  even if the confidence level is too low.Below are two examples,

wit_response {"_text":"test","entities":{"intent":[{"confidence":0.22642825830761,"value":"tentative"}]},"WARNING":"DEPRECATED","msg_id":"03pVd4dOzh6iurirG"}

wit_response {"text": "xxxx","intents": [{"id": "381104606705616","name": "authenticate","confidence

[2022-02-07 05:57] gadielmyron commented on #2326
Hey @nishsinghal20! Yes, I'm experiencing the same issue still. Please check this issue
![image](https://user-images.githubusercontent.com/32515749/152732579-c0db1717-15ea-4c3d-b8e5-015f8b067b1b.png)

[2022-02-07 12:14] gadielmyron commented on #2326
Is there anyone? I need help because my app will go live soon

[2022-02-07 13:58] SarahAabid opened #2330 "My app is scheduled to train After 3 hours"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?
I added a story and tried to train wit.ai for the same, but the training scheduled after 3 hours

**What is the current behavior? App is stuck in "Training scheduled".

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.
Open the app. Wait until

[2022-02-07 17:10] patapizza commented on #2323
@prajisha Oh indeed. Thanks for reporting. Let me look into this.

[2022-02-07 17:48] nishsinghal20 commented on #2326
@gadielmyron I just kicked-off a forced retrain of your app from my end. Let's see if that fixes the issue.

[2022-02-07 17:56] nishsinghal20 commented on #2330
Hi @SarahAabid! On my end, it shows that all training jobs for app ID 408965087275379 have already finished. Are you not seeing "Training Finished" on your end?

[2022-02-07 21:03] nishsinghal20 commented on #2330
I'll go ahead and close this issue for now. Please feel free to re-open it in case your app is having issues with training.

[2022-02-07 21:03] #2330 closed, assigned to nobody

[2022-02-07 22:48] nishsinghal20 commented on #2328
Hey @shorouqmajali! It seems that many of your training utterances are also marked as out of scope. For example "حجز موعد اختبار سياقة" is marked as "testdrive" as well as out of scope. If an utterance is marked as out of scope, the models will just predict them as out of scope. Could you try to fix the training data and label the utterances with appropriate intents?

[2022-02-07 22:48] #2328 closed, assigned to nobody

[2022-02-07 23:14] GuilhermeXlab commented on #2323
We have the same issue here..

People names has been identified with "curse" without any correlation.

Client names like "Guilherme" or "Marinalda" have 90% to 99% of confidence.
Equally with randoms: https://api.wit.ai/message?q=adwefaefsdf

Our AppId: 4151339554959163

Thanks!

[2022-02-08 08:05] AlexRL commented on #2326
I am having the same issue since yesterday:
AppId: 4773465376078345
AppName: pav_en
Any solution?

[2022-02-08 09:35] gnovis commented on #2327
I have the same issue. It is probably same as #2324 and #2315
My apps are usually working, but sometimes 500 error occurs for some utterance. I tried to remove one letter from the utterance which rises the error and Wit worked. Also if I trained the app with this utterance problem disappears (for trained utterance).
The error occurs unexpectedly over and over again.

[2022-02-08 10:01] gnovis opened #2331 "Utterances not shown at UI"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
Utterances send from the API are not shown at UI (below Train Your App heading).
![2](https://user-images.githubusercontent.com/4740230/152963406-4484a90f-896b-481f-ae4a-8ccf7ca01c51.png)

**What is the expected behavior?**
Show send utterances at UI.
![1](https://user-imag

[2022-02-08 10:41] gadielmyron commented on #2326
@nishsinghal20 again It's going to take 24 hours for a single utterance. May I need to talk with Nancy?

[2022-02-08 11:30] prajisha commented on #2323
Hi @patapizza, Do you have any updates on this? This is badly affecting our customers.

[2022-02-08 13:32] EsaLahtinen opened #2332 "Wit is down"
Wit is down wit is not giving proper responses. I also have tried making new company and new wit but with is giving errors for most of its apis.

[2022-02-08 17:49] nishsinghal20 commented on #2326
@gadielmyron Can you help me understand your issue? Are you noticing that your training is getting scheduled after a long time? Or is it that your training starts but takes a long time to finish? From my end, it seems your training finished at 02/08/22 06:27:46 AM PST. Also Nancy is no longer with the team. We'll try our best to get your issue resolved.

@AlexRL could you please also explain your

[2022-02-08 19:41] dogcalas commented on #2331
Same problem.

[2022-02-08 20:52] AlexRL commented on #2326
@gadielmyron, if I add any new utterance or I modify an existing one, i noticed that the training process will be scheduled after 12 hours, which is a lot of time. In my other apps the training process is almost instantly (within a minute or few). I was wondering if there is a problem with the current app (AppId: 4773465376078345) or if I can do anything to make the waiting time for the training p

[2022-02-08 21:22] nishsinghal20 commented on #2326
@AlexRL Thank you for the context! Let me look into that and get back to you. @gadielmyron Can you confirm if the issue you're seeing is the same as Alex mentioned above?

[2022-02-08 21:50] HeyArian commented on #2321
The app is done training, and has resumed giving correct responses. Thanks for helping!

[2022-02-08 21:50] #2321 closed, assigned to nobody

[2022-02-08 23:01] nishsinghal20 commented on #2325
@zhiyzuo are you still experiencing this issue?

[2022-02-09 02:52] zhiyzuo commented on #2325
@nishsinghal20  Yes, I am still unable to get it work. Is it because of my audio file?
<img width="296" alt="image" src="https://user-images.githubusercontent.com/7501149/153112870-c0c5101a-e30c-492b-9ac2-61f7debfbd26.png">

[2022-02-09 06:02] gadielmyron commented on #2326
@nishsinghal20 yes, I'm facing the same issue. Here, I shared a snapshot below. My time is Wednesday 12:08 PM but the app is scheduled for a single utterance training on Thursday at 12:05 AM.
![image](https://user-images.githubusercontent.com/32515749/153131973-2c01896e-c61b-4f6d-8a62-c51c117b8f08.png)

[2022-02-09 06:05] Arjen-Houweling opened #2333 ""error":"Something went wrong. We've been notified","code":"unknown""
im am getting {"error":"Something went wrong. We've been notified","code":"unknown"} on every API request
everything worked fine yesterday.

Error occures every api call on AppID 150571963614026 and AppID 642589933740604

[2022-02-09 07:40] prajisha commented on #2323
Hi @patapizza, Any update on this?

[2022-02-09 08:30] AnabelleG commented on #2326
Hi all. I have the same issue as the above reported.

App ID: 542373750414845

App Name: ALCOM

App is scheduled to train 11 hours later:

![image](https://user-images.githubusercontent.com/99320425/153156041-dfd887f5-a2f3-4a7b-8ac0-155b8d71dc61.png)

[2022-02-09 11:30] aya-labiba opened #2334 "Entity picks up on more keywords than there actually are in the entity even though the type is keyword"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
entity picks up on more keywords than there actually are in the entity even though the type is keyword

![image](https://user-images.githubusercontent.com/99329638/153191267-0df61c5e-3240-483a-b2d9-69eab29280b1.png)

![image](https://user-images.githubusercontent.com/993296

[2022-02-09 11:45] aya-labiba opened #2335 "App stopped picking up on entities that are already trained in the App and started returning them as suggestions"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
The NLP stopped picking up on entities that are already trained in the App and started returning them as suggestions

![image](https://user-images.githubusercontent.com/99329638/153192992-5545d0e2-9c9d-4ee6-8b6e-9eacf191b3a5.png)

Sample responses:
[Message API response 1.t

[2022-02-09 11:51] aya-labiba opened #2336 "The app picks up on synonyms of a keyword in an entity as a keyword with confidence 100%"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
The app picks up on synonyms of a keyword in an entity as a keyword with confidence 100%

![image](https://user-images.githubusercontent.com/99329638/153194372-fa4ab18f-4c8c-4c33-b022-e3188e474fd9.png)

Message API response:
[Message API response.txt](https://github.com/wit

[2022-02-09 12:44] AnabelleG commented on #2326
Can anyone please help as I need to train the app till today. Or can guide me on how to force retrain the app?

[2022-02-09 13:53] aya-labiba opened #2337 "Expression detraining"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
When an expression is detrained, the detrained intent is sometimes being understood and sometimes not

on 1/28/2022 15:44:
[Top 10 scoring intents 1.txt](https://github.com/wit-ai/wit/files/8033195/Top.10.scoring.intents.1.txt)

![image](https://user-images.githubuserconten

[2022-02-09 16:04] ariel-paz opened #2338 "App stuck on Training ongoing"
Do you want to request a feature, report a bug, or ask a question about wit?
BUG

What is the current behavior?
Training is stuck on TRAINING ONGOING

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.
I have many apps. And often I spend days without training a new set on an app. Often, after I train something new, I'm left with 1

[2022-02-09 17:32] nishsinghal20 commented on #2326
@AlexRL and @AnabelleG I've manually triggered training of your apps. @gadielmyron we're still investigating the issue as to why the training is taking so long to schedule. Thank you for your patience!

[2022-02-09 17:56] AnabelleG commented on #2326
It's training now. Thanks

[2022-02-09 19:44] #2338 closed, assigned to nobody

[2022-02-09 19:45] ariel-paz commented on #2338
Training complete :)

[2022-02-09 20:29] AlexRL commented on #2326
@nishsinghal20, I added now a new utterance and the waiting time for the training process is around 30 minutes which is a reasonable time. Thank you a lot for your help.

[2022-02-09 22:56] doggeral commented on #2323
We're working on the fix now. Will keep you updated.

[2022-02-10 01:09] nishsinghal20 commented on #2325
@zhiyzuo could you try with some other audio file? Also, I looked at the server side logs and I see that sometimes your requests are successful. It's possible that since this audio file is big, there are sometimes issues in uploading it to the server. I'll try to get more information on this.

[2022-02-10 09:40] AseelHamamreh opened #2339 "App Stuck in Training"
My App is taking huge training time like more than 4-5 hours for a single utterance.

AppId: 282001570685460
AppName: samacoprod2

[2022-02-10 09:43] aya-labiba opened #2340 "Entity not detected"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
When sending "Invoice" with capital 'I', the correct entity is detected. Otherwise wrong entity is returned.

Message API result with capital 'I':
[Captal 'I'.txt](https://github.com/wit-ai/wit/files/8039844/Captal.I.txt)

Message API result with small 'i':
[Small 'i'.txt](

[2022-02-10 11:07] gadielmyron commented on #2326
@nishsinghal20 thank you for your help. right now the app is taking utterance data for training but take around 15-20 minutes.

[2022-02-10 11:16] aya-labiba opened #2341 "Non-existing keyword returned"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
Keywords are being returned within entities even though they are not defined as keywords.
Example: when sending 'بدي أسافر' the word 'أسافر ' is being understood as a keyword in the entity 'InsuranceTypeAR' although it is not a defined keyword and is a synonym for the keywo

[2022-02-10 11:57] aliugur opened #2342 "App Stuck at Training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
App stuck at Training

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Add an utterance to start training

**What is the expected behavior?**
Training should be finished after some time beca

[2022-02-10 12:08] anjaly opened #2343 "Issue with triggering intent for non trained input"
Hi

We are facing an issue with the Khmer wit workspace.

When i tried random inputs which are not trained in workspace via API, I am getting the intent and its confidence level above 90%.
As we have not trained this input we expect to return no intent. Till earlier two weeks, we were not getting any intents for this input.

Below is an example response from the api,
 {"_text":"ទីតាំងកំណើត បុរីកីឡ

[2022-02-10 12:18] #2342 closed, assigned to nobody

[2022-02-10 14:17] #2296 closed, assigned to nobody

[2022-02-10 14:28] Scordium commented on #2339
Same issue here. App has been stuck for at least 2 hours and utterances stopped showing up.

AppId: 481738333540629

[2022-02-10 14:32] RagadZuaiter opened #2344 "App stuck in training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
question

**What is the current behavior?**
Our app seems to be stuck in training mode for the past 3 hours , its stuck in "Training status: ongoing".

**What is the expected behavior?**
Training should've finished by now.

**If applicable, what is the App ID where you are experiencing this issue? If you do not

[2022-02-10 15:10] aya-labiba opened #2345 "Wrong intent detected"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
When sending a random expression with no meaning that should not be understood, a wrong intent is being detected
Example: When sending 'شسيبلا', 'Assistance_and_Help_AR' intent is being detected, which is wrong.

[response.txt](https://github.com/wit-ai/wit/files/8042033/re

[2022-02-10 17:34] #2326 closed, assigned to nobody

[2022-02-10 18:21] doggeral commented on #2343
Thanks for reporting the issue. You can add the "Out of Scope" utterance and retrain your app. I've added it for you.
![image](https://user-images.githubusercontent.com/1651153/153471698-54ee60a3-9bb2-4ba1-b5e7-07a5ce4b2eea.png)

[2022-02-10 18:21] #2343 closed, assigned to nobody

[2022-02-10 18:34] doggeral commented on #2341
Thanks for reporting the issue. The machine learning model has the generalization capability to understand the synonym. Could you help to share more context why you don't hope to recognize the synonym as entity?

[2022-02-10 18:35] doggeral commented on #2336
The same issue has been reported https://github.com/wit-ai/wit/issues/2341
Closed the issue to de-duplicate.

[2022-02-10 18:35] #2336 closed, assigned to nobody

[2022-02-10 19:24] nishsinghal20 commented on #2325
@zhiyzuo It indeed seems related to your audio file. Per our [documentation](https://wit.ai/docs/http/20210928/#post__speech_link) we enforce a 20 seconds limit on the input audio.

[2022-02-10 19:24] #2325 closed, assigned to nobody

[2022-02-10 21:05] doggeral commented on #2345
I've added it as the "out of scope" sample and retrain the app. It should fix your issue.

[2022-02-10 21:05] #2345 closed, assigned to nobody

[2022-02-11 01:19] zhiyzuo commented on #2325
20 seconds seem to be too short for practical application. Is there any workaround to analyze audio data beyond that size limit?

Best,
Zhiya

[2022-02-11 07:00] anjaly commented on #2343
Here the bot expecting an address from user, so user can type any address. If i add this input as "Out of Scope" it will work, but when user type a new address it will trigger the "static_intent_office_location" intent. We can't predict all the address. So can i get a proper solution for this?

[2022-02-11 07:40] AnabelleG commented on #2326
I added an entity and it gave me 2 hours waiting time to train :/

[2022-02-11 13:02] prajisha commented on #2323
Hi @patapizza Any update on this issue? This is badly affecting our customers for more than a week.

[2022-02-11 13:38] francovp commented on #2344
Same here, maybe it's an internal issue
ApddId: 690457341626148

[2022-02-11 16:25] patapizza commented on #2341
@doggeral Here [`InsuranceTypeAR`](https://wit.ai/apps/2839573536265870/entities/350081036172478) is a keywords-only entity, so it should strictly recognize the set of provided keywords and synonyms.

<img width="636" alt="Screen Shot 2022-02-11 at 8 25 22 AM" src="https://user-images.githubusercontent.com/1015208/153629416-2ff4d367-e611-41c7-95fa-d8363dd9cdbb.png">

[2022-02-11 17:27] doggeral commented on #2339
Your app has been fixed!

[2022-02-11 17:27] #2339 closed, assigned to nobody

[2022-02-11 17:32] doggeral commented on #2344
@francovp @RagadZuaiter  your issues have been fixed.

[2022-02-11 17:32] #2344 closed, assigned to nobody

[2022-02-11 17:35] doggeral commented on #2323
@prajisha verified on wit.ai, your issue has been fixed!

[2022-02-11 17:35] #2323 closed, assigned to nobody

[2022-02-11 18:54] doggeral commented on #2340
Refresh the model, your issue has been fixed.

[2022-02-11 18:54] #2340 closed, assigned to nobody

[2022-02-11 19:45] nishsinghal20 commented on #2329
Hi @Chejin-cheol! Our apologies for the late response. Are you still seeing this issue? I tried to repro this on my end and it seems to be working okay. Please let us know if you still have this issue.

[2022-02-12 10:12] SisikHBS opened #2346 "Partial Transcription Results in German and English"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Audio is perfectly clear and 15 seconds but the result only has the first two or three words of the audio it does not return the full sentence.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Please t

[2022-02-13 00:29] juancvas commented on #2339
Same issue with my app
It is taking huge training time like more than 24 hours for single utterance or entity.

AppId: 407022797877055
AppName: chatbot_boston_scientific

[2022-02-13 10:19] gadielmyron opened #2347 "App Stuck at Training"
Is there anyone here, I need emergency help. 4 Days ago one of wit team members helped me with Utterances training stuck. Again, my app is stuck on Training. Check out the below snapshot.

**App ID**:  1479811922390057

![image](https://user-images.githubusercontent.com/32515749/153748607-30a9c636-be15-4500-8c87-5b34f000c4d1.png)

[2022-02-13 10:51] nisreen93 commented on #2327
Any Updates @nishsinghal20 regarding this issue?

[2022-02-13 18:29] SisikHBS opened #2348 "Speech recognition is not working"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Almost 50% of speech recognition requests fails and returns this: {'code': 'wit', 'error': 'An error occurred in speech recognition.'}
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Just try speech r

[2022-02-13 22:52] dzlandis opened #2349 "Upgrading Rate Limit Quota"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**|
Question

Is it possible to increase the rate limit quota for speech to text somehow? Thanks in advance!

[2022-02-14 14:22] waybackarchiver opened #2350 "Can I log in as a non-Facebook user?"
Hi there,

Wit.ai is a wonderful product, and I'd like to create an account, but it's only available via Facebook, and I don't really want to register again for Facebook account, is there another way to sign in? Will you consider adding other ways to log in later, if not now?

[2022-02-14 19:49] yolanother commented on #2350
Sorry, we support only Facebook-login at the moment.

[2022-02-14 19:57] #2350 closed, assigned to nobody

[2022-02-14 20:06] patapizza commented on #2322
Hi @Daryl-Loo,

I would define a `category` entity with a different keyword for each category, with synonyms. That entity strategy would be `Keywords`, as it's a strict predefined list.
The `Keywords` strategy works with string matching, so it doesn't require training - just define the keywords and synonyms directly on the entity page.

Roles are used to train Wit to recognize a different flavor o

[2022-02-14 20:06] #2322 closed, assigned to nobody

[2022-02-14 20:39] gchamorro1 opened #2351 "Speech to text - problem"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?** BUG

**What is the current behavior?** It is not interpreting the audio

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
When sending an audio of less than 20 seconds, it is not interpreting what was spoken in the voice message.

**What i

[2022-02-14 23:41] wangzhenict commented on #2351
Hi @gchamorro1 ,
It's weird I didn't find error logs regarding 3315110748531064.
what's feature are you using? the normal audio -> witresponse (e.g. intents, entities, traits) ? or just a feature to convert speech to text?
Thanks,
Zhen

[2022-02-15 05:04] SisikHBS commented on #2348
I believe you have changed the speech recognition algorithm the current algorithm is much worse than the previous one, and it is unusable, do you plan to go back to the previous version?

[2022-02-15 05:06] SisikHBS commented on #2351
facing the same issue, transcription accuracy is around 50%, it used to be around 95%

[2022-02-15 08:02] doggeral commented on #2347
Thanks for reporting the issue, your app has been fixed.

[2022-02-15 08:02] #2347 closed, assigned to nobody

[2022-02-15 11:14] jansila commented on #2275
Hi @patapizza, sorry to bother you again, but is there any progress? My client is asking about it. Is it necessary to create a new app and start training it again?

[2022-02-15 13:11] gchamorro1 commented on #2351
Hi, in my case only the function to convert voice to text.
I just send the voice message and use what it interprets.
As already said, accuracy is low and I get wrong answer.
Can the accuracy rate be improved?

[2022-02-15 14:16] RagadZuaiter opened #2352 "App stuck"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
question
**What is the current behavior?**
Our app seems to be stuck in training mode for the past 1 days , its stuck in "Training status: ongoing".

**What is the expected behavior?**
Training should've finished by now.

**If applicable, what is the App ID where you are experiencing this issue? If you do not pr

[2022-02-15 17:31] zyinshi opened #2353 "Utterances are not showing at all"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Utterances are not showing at all
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
https://wit.ai/apps/1850213565053139/utterances
![Screen Shot 2022-02-15 at 9 28 22 AM](https://user-images.githubuser

[2022-02-15 17:33] bfavero commented on #2351
I'm having the exact same problem doing Speech-to-text in Portuguese

[2022-02-15 20:44] BSimmelink opened #2354 "No Intents Identified"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a Bug.

**What is the current behavior?**
All previously trained Intents are now resulting in 0 confidence, regardless of the text provided. This occurs when using the GET /message HTTP endpoint. As well as when entering an utterance in the understanding page of the Wit.AI UI.

**If the current behavior i

[2022-02-15 21:57] wangzhenict commented on #2352
investigating. will update soon.

[2022-02-15 22:32] wangzhenict commented on #2352
I forced a retrain for it. and now its status is done from my side. can you check if you are unblocked. Thanks for your patience!

[2022-02-15 22:55] wangzhenict commented on #2351
Hi @gchamorro1, @SisikHBS, @bfavero,
Got it. so this is accuracy issue, I'll work with related team on it. will keep you posted.

BTW, just want to double confirm, are you referring to api.wit.ai/speech functionality here?

[2022-02-15 23:19] bfavero commented on #2351
Yes, I'm using POST/Speech.

Just to give you additional information, it was a sudden change that happened around Friday (11), maybe a few days before that. Since then, the API stopped working properly. There are no error messages, but it usually fails to transcribe big chunks of clear, easy-to-understand speech. It's not even that it transcribes it inaccurately, it just misses it.

To be sure it

[2022-02-16 02:01] M3Z47 opened #2355 "App stuck in training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question

**What is the current behavior?**
App has been stuck in training for the past 6 days

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Not a bug

**What is the expected behavior?**
It shouldn't take this much time to train contin

[2022-02-16 02:10] wangzhenict commented on #2355
Hi @M3Z47 ,

I just unblocked it, it seems done from my side. can you double confirm if you are unblocked.

Thanks for your patience!

[2022-02-16 02:14] M3Z47 commented on #2355
Hello, thanks @wangzhenict  for super fast response!

Yes, it shows training completed. But what was the reason for it getting stuck? Also, it adds gibberish synonyms to keywords a lot during training. (e.g. er, ler etc for bowler), is it normal? And what should I do to stop such additions impacting the training?

Thanks again!

[2022-02-16 03:00] wangzhenict commented on #2353
Hi @zyinshi ,
I applied a fix on it. it looks good to me now. can you double confirm if the issue is addressed?
Thanks for your patience!

[2022-02-16 06:03] doggeral commented on #2355
@M3Z47

It seems that your app was imported 02/06. We upgraded the training system recently, there maybe some transient issues during the upgrade.

What do you mean? You mean some new utterance was added into the training data? The training data is fully controlled by app developers, the model training just pick the training utterance and feed into our training system.

[2022-02-16 09:52] AlexandreRgx opened #2356 "App in infinite traning"
Do you want to request a feature, report a bug, or ask a question about wit?
Question

What is the current behavior?
App has been stuck in training for the past 1 day

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.
Not a bug

What is the expected behavior?
It shouldn't take this much time to train continuously

If applicable,

[2022-02-16 14:09] umnibot opened #2357 "App is not recognizing any phrases"
I have issues with а newly created APP
- 2789522708010262

The utterances are trained but not catching any of them. Also, the understanding tab is completely empty.
It is like not detecting anything even if I try it directly in the understanding section it is not marking it as any intent.

[2022-02-16 14:44] llauv opened #2358 "Intermittent Internal Server Error"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
question

**What is the current behavior?**
We are seeing intermittent "Internal Server Error" using https://api.wit.ai/message.  We've seen more of these errors starting 2/14/22.

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help.**
App ID: 193

[2022-02-16 15:53] ristomoilanen opened #2359 "App stucked at training and api returning errors"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
Our app is infitinely training and api is returing errors:  "Something went wrong. We've been notified"

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**
training s

[2022-02-16 17:29] HeyArian opened #2360 "App stuck in training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
App is stuck in "Training ongoing" for almost a day.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Open the app. Wait until the app is done training. Training never stops (even though it normally ta

[2022-02-16 17:36] doggeral commented on #2354
Your issue has been fixed!

[2022-02-16 17:36] #2354 closed, assigned to nobody

[2022-02-16 17:42] doggeral commented on #2359
Our system shows the training is successful, we need to investigate why the UI has the inconsistent behavior.

[2022-02-16 17:45] doggeral commented on #2356
Retrain your app, I think your issue will be fixed.

[2022-02-16 17:45] #2356 closed, assigned to nobody

[2022-02-16 17:48] doggeral commented on #2357
@umnibot
Thanks for reporting the issue. Could you help me to understand how you create the app? Is it imported from the previously existing apps or build from the scratch?

[2022-02-16 17:49] doggeral commented on #2352
Verified on wit.ai, the issue has been fixed!

[2022-02-16 17:49] #2352 closed, assigned to nobody

[2022-02-16 18:48] pereirarodrigo opened #2361 "What is the NLP architecture used by Wit?"
Hello there,

Some questions have arisen in my team regarding what kind of NLP architecture is used by the platform. Is this a publicly available information? Furthermore, does the platform use a language model on transcription results?

[2022-02-16 19:02] rsmngdlmx opened #2362 "Wit not returning any intent for text already trained"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
We are having an issue similar to the one we reported about 2 weeks ago: Wit is not returning any intent for previously trained text, both on the UI and through the API. Up until yesterday, we were getting the intents correctly. Also, we add trainings to add intents, but af

[2022-02-16 19:17] CannonFodderr opened #2363 "100% confidence for wrong utterance + api 500 errors for multiple wit apps"
Hello, we encountered few issues in multiple apps lately.

1. Some apps always return confidence 100% for every utterance,
**i.e.**
I create intent about **money** with few utterances about **money** and then submit a message **ice cream**,
the **ice cream** utterance will return confidence 100% and the ice cream utterance will now attached to the money intent.

2. We tried to get the ice cream ut

[2022-02-16 19:59] rhenanbartels commented on #2351
Hi folks! We are noticing the same issue as @bfavero +1.
The transcriptions are missing some text since a few days ago.

Our script sends a POST request to `/speech` using the same API version as before: `20200513`.

The App ids are:

- 1405971863131969
- 482412936218681
- 614470649974920
- 261358745932567

[2022-02-16 20:08] doggeral commented on #2359
Retain your app and the issue was fixed.

[2022-02-16 20:08] #2359 closed, assigned to nobody

[2022-02-16 20:35] doggeral commented on #2363
You can try to add some out of domain samples to enable the model capture your intent pattern. This issue is more likely when you have small training samples.

We are upgrading the training infra recently, you can try to create your app from the scratch instead of importing the previously existing apps.

Seems like the training samples issue. I update the training sample and retrain, it should wor

[2022-02-16 20:40] doggeral commented on #2362
Your app has been fixed. We'll investigate what's the root cause.

[2022-02-16 20:40] #2362 closed, assigned to nobody

[2022-02-16 20:46] doggeral commented on #2357
Your app has been fixed. We upgrade the training infra recently, if you import the previously existing apps, there maybe some incompatible issue. You can try to build the app from scratch.

[2022-02-16 20:46] #2357 closed, assigned to nobody

[2022-02-16 20:56] doggeral commented on #2361
@pereirarodrigo  thanks for your interest in the wit.ai model.

The model is based on encoder-decoder architecture. The encoder layer is built on top of the [XLM-R](https://arxiv.org/pdf/1911.02116.pdf) model, and the decoder layer is the MLP.

Yes.

[2022-02-17 06:56] ristomoilanen commented on #2359
Everything seem to be ok now, thank you!

[2022-02-17 07:27] #2361 closed, assigned to nobody

[2022-02-17 09:09] aya-labiba opened #2364 "Wrong entities and keywords detected"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
The result is returning wrong entities and keywords.
Keywords are being returned in Arabic, where all the trained keywords are in English and their synonyms are in Arabic.

Example: When sending 'طبيب اسنان في عمان', the entity 'HCP_type' is returned for the value: "ب اسنان

[2022-02-17 12:26] CannonFodderr commented on #2363
@doggeral Thanks for the reply
The previous app I send now seems to work ok but we have lots of other apps with same or similar issue:

1. App id: 651606172847922
Hello world is out of scope
I send request message "Hello world" get response:

[code]

2. App Id: 987727735495683,
This app have 5 out of scope utterances in English and 3 utterances in Japanese attached to an intent.
"Hello world" utte

[2022-02-17 14:28] AlexisNichel commented on #2360
same here plz helpme, app id = 1856185531061946

[2022-02-17 14:29] AlexisNichel commented on #2355
same here plz helpme, app id = 1856185531061946

[2022-02-17 17:32] doggeral commented on #2363
I see, please provide the list of app ids, we can do the batch operation for you.

[2022-02-17 17:38] doggeral commented on #2364
you have conflict annotation in your training sample, please fix the annotation issue first, then retrain your model.
<img width="877" alt="image" src="https://user-images.githubusercontent.com/1651153/154538916-88e74509-7e31-4088-bc5c-1be88c74ceef.png">

[2022-02-17 17:38] #2364 closed, assigned to nobody

[2022-02-17 19:12] dzwiedzmin opened #2365 "Speech API returning "Bad auth, check token/params""
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

Bug.

**What is the current behavior?**

All requests are rejected with
{
  "code": "no-auth",
  "error": "Bad auth, check token/params"
}

but only to the Speech API, other functions seem to work as expected

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal de

[2022-02-17 19:36] patapizza commented on #2365
Hi,

Thanks for reporting. We had a bad deployment, we're reverting.

[2022-02-17 19:39] Mirkoddd commented on #2365
I was about to report it, but I see it was already reported. Thanks to OP.
Edit: is working fine now 👍

[2022-02-17 21:04] patapizza commented on #2365
We're fully back now. Sorry again about the inconvenience.

[2022-02-17 21:04] #2365 closed, assigned to nobody

[2022-02-17 22:24] #2353 closed, assigned to nobody

[2022-02-17 22:28] wangzhenict commented on #2355
already unblocked it. it is done.

[2022-02-17 22:28] #2355 closed, assigned to nobody

[2022-02-17 22:50] bfavero commented on #2351
@wangzhenict, are there any updates on this issue? I apologize for insisting, but my app has been broken for a week because of this.

[2022-02-17 23:36] wangzhenict commented on #2360
unblocked it from another ticket.

[2022-02-17 23:37] wangzhenict commented on #2360
Hi @HeyArian,
I'm working on unblocking it, will update later.

[2022-02-18 00:17] patapizza commented on #2351
Alright, pushing a fix. Please note that `POST /speech` is meant for short inputs.

[2022-02-18 01:35] wangzhenict commented on #2358
Hi @llauv ,
I met model cache issue at that time, it has been addressed. please let us know if you saw it again.

[2022-02-18 01:35] #2358 closed, assigned to nobody

[2022-02-18 14:55] RadhikaPallavi opened #2366 "intent from postman and the one shown in the understanding differs & training issues."
When we try to type in the question in the understanding for the Wit App, it show some random Intent. However they are not correct or trained. However when we try to run the URL from the Post man it does not return intent(as it should be).
Also there are some gibberish text entered which displays and return the intent on both the app and the postman. Could you please help us with these cases in th

[2022-02-18 16:36] llauv commented on #2358
We are still seeing this error this morning at 10:07am (central time).

Lorena

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: wangzhenict ***@***.***>
Sent: Thursday, February 17, 2022 7:35:27 PM
To: wit-ai/wit ***@***.***>
Cc: llauv ***@***.***>; Mention ***@***.***>
Subject: Re: [wit-ai/wit] Intermittent Internal Server Error (Issue #2358)

Hi @llauv<https://g

[2022-02-18 19:42] wangzhenict commented on #2360
Hi @HeyArian
update:
our logs showed that your training is successful, we are still investigating why the UI didn't show it properly.

Thanks for your patience!

[2022-02-18 20:18] wangzhenict commented on #2366
Hi @RadhikaPallavi ,
this issue is because the app doesn't have enough training data, you can add more data and retrain the model and then check if it get better.
also you can use "out of scope" feature for less training data situation.

[2022-02-20 09:19] CannonFodderr commented on #2363
@doggeral Thanks here is the app ids we know of, but it is only the ones reported to us by the users complains. Is there away you can spot what is the issue with the apps which causes them to malfunction ?

**APP IDS:**
1184234872397015
978810119619693
233334358781880
271386008408980
651606172847922
987727735495683
286268900241585
1292133577973221

[2022-02-20 11:03] jqol commented on #2360
Same here plz help me, https://wit.ai/apps/531409674821311

[2022-02-21 01:33] doggeral commented on #2363
@CannonFodderr Thanks for providing the list. All you apps have been running on the new model architecture now.

[2022-02-21 01:33] #2363 closed, assigned to nobody

[2022-02-21 01:40] doggeral commented on #2366
As wangzhenict mentioned, there are not enough [Out_Of_Scope] utterances. Once the model trained, it may biased for the intents provided by training sample and hard to recognize the pattern for out of domain input. You can try to add some Out_Of_Scope samples for the fix.

Please take the CURL response as the authorities for the model output. The reason you might see the difference is when you typ

[2022-02-21 01:40] #2366 closed, assigned to nobody

[2022-02-21 01:43] doggeral commented on #2337
We've fixed the issue, low confidence intent will be discarded.

[2022-02-21 01:43] #2337 closed, assigned to nobody

[2022-02-21 01:44] doggeral commented on #2302
Tested on wit.ai, seems the issue is gone.

[2022-02-21 01:44] #2302 closed, assigned to nobody

[2022-02-21 01:50] doggeral commented on #2335
Seems like you have the n-best setting in you input parameter. Try to remove the setting for querying the endpoint. https://wit.ai/docs/http/20210928/

[2022-02-21 01:50] #2335 closed, assigned to nobody

[2022-02-21 02:24] leslieam commented on #2363
Thanks for the quick response.
We'll check it out.

[2022-02-21 04:06] RadhikaPallavi commented on #2366
@wangzhenict & @doggeral - thankyou for your inputs. This helps a lot!!

[2022-02-21 04:07] wangzhenict commented on #2360
Unblocked.

[2022-02-21 09:52] CannonFodderr commented on #2363
@doggeral after checking the apps only one of them is now fixed: 1184234872397015

The rest of the apps are still malfunctioning:

978810119619693
233334358781880
271386008408980
651606172847922
987727735495683
286268900241585
1292133577973221

plus customer created 2 new apps which also gets these issues:

353659586134377
321292556446914

[2022-02-21 09:54] CannonFodderr opened #2367 "Ongoing issue 100% confidence and 500 errors"
https://github.com/wit-ai/wit/issues/2363 was closed before we could confirm.

@doggeral after checking the apps only one of them is now fixed: 1184234872397015

The rest of the apps are still malfunctioning:

978810119619693
233334358781880
271386008408980
651606172847922
987727735495683
286268900241585
1292133577973221

plus customer created 2 new apps which also gets these issues:

353659586134

[2022-02-21 11:42] sophiexr opened #2368 "Application stuck in ongoing"
hi

Could you please restart our application 572046700564927 as it's been showing ongoing training for many days now.

Thanks

[2022-02-21 11:44] sophiexr commented on #2360
same for app 572046700564927

thanks

[2022-02-21 13:03] aya-labiba commented on #2335
Hi @doggeral, n-best input parameter was removed from the request but that didn't solve the issue, entities are still returned as 'suggested'

Response without 'n' parameter:
[without 'n' parameter.txt](https://github.com/wit-ai/wit/files/8109338/without.n.parameter.txt)

Response with 'n' parameter:
[with 'n' parameter.txt](https://github.com/wit-ai/wit/files/8109339/with.n.parameter.txt)

[2022-02-21 17:22] rsmngdlmx opened #2369 "Wit not returning any intent for text already trained"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
We are having the same issue that we reported 5 days ago: Wit is not returning any intent for previously trained text, both on the UI and through the API. Up until yesterday, we were getting the intents correctly. Also, we add trainings to add intents, but after the trainin

[2022-02-21 17:43] gchamorro1 commented on #2351
@wangzhenict are there any updates on this issue? Thanks!

[2022-02-21 18:31] bfavero commented on #2351
It seems to be back to normal for me

[2022-02-22 07:06] Ananyag02 opened #2370 "Requesting you to kindly let me know if I can extend the utterance for training the dataset or let me know if there is any paid version."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**If applicable, what is the App ID where you are experiencing this issue? If you do not provide this, we cannot help

[2022-02-22 07:08] Ananyag02 commented on #2360
Requesting you to kindly let me know if I can extend the utterance for training the dataset or let me know if there is any paid version.

[2022-02-22 07:30] doggeral commented on #2367
@CannonFodderr could you elaborate your issues? I verified on these apps, looks good to me.

[2022-02-22 08:48] CannonFodderr commented on #2367
@doggeral
I.e. in both App ids: 271386008408980 and 651606172847922, utterance "Hello world" is out of scope, but message with "Hello world" will return the intent with high confidence.

![Capture](https://user-images.githubusercontent.com/36086310/155091924-7d7672c3-388a-4a48-bff4-db92d5c847f3.PNG)
![Capture2](https://user-images.githubusercontent.com/36086310/155091993-f4e5fd08-2c63-447f-ab65-de

[2022-02-22 08:52] RadhikaPallavi opened #2371 "Issues with understanding questions disappearance."
We are trying to train/remove utterances from the understanding as suggested wrt to issue https://github.com/wit-ai/wit/issues/2366.
However, while trying to do the same, after training/removing few questions, the complete questions in the understanding disappears. Then after a very long wait, and multiple refresh, they reappear and the same sequences happens in a loop again.

Could you please hel

[2022-02-22 12:50] juanantoniorobles opened #2372 "Trained Utterance return no Intent from February 13th"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
I receive no answer from Wit.ai, no error was returned either.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Send an API call to the wit.ai and I expect an intent that is not returned.
Message: Mu

[2022-02-22 14:13] AlexandreRgx commented on #2356
Hi @doggeral
Thanks for your reply, but my app is still stuck after retraining (for 7 days now).

[2022-02-22 14:14] AlexandreRgx opened #2373 "App stuck in training"
Do you want to request a feature, report a bug, or ask a question about wit?
Question

What is the current behavior?
App has been stuck in training for the past **7 days**

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.
Not a bug

What is the expected behavior?
It shouldn't take this much time to train continuously

If applica

[2022-02-22 14:16] M3Z47 commented on #2355
@wangzhenict @doggeral
I re-confirmed this issue. Whenever I train by posting utterances, it adds gibberish values by itself to synonyms. Right now, it added "a" for player asad-ali-rehemtulla-83716, similarly it added "in" for another player which had "in" in its surname. I had to write a code to remove some of the patterned gibberish values after every training is done.
Please look into it. I ca

[2022-02-22 16:30] patapizza commented on #2351
Should be back since 2/18 around 1pm PT.

[2022-02-22 16:30] #2351 closed, assigned to nobody

[2022-02-22 21:58] yuzh174 commented on #2373
The training is fixed and now is completed

[2022-02-22 21:58] #2373 closed, assigned to nobody

[2022-02-22 22:27] yuzh174 commented on #2372
HI @juanantoniorobles , I see "Mujer > Camiseta > Camiseta Verde" is not trained as utterances. So the system may not be able to recognize it. You can add it to the utterance list for that purpose and train again.

[2022-02-22 22:39] yuzh174 commented on #2370
Hi @Ananyag02 , I am not sure if I understand your need. Could you explain your use case and request a bit more?

[2022-02-22 23:15] doggeral commented on #2371
Your apps training is successful, we will investigate why the UI still shows the ongoing message.

[2022-02-22 23:19] doggeral commented on #2372
@juanantoniorobles Thanks for reporting the issue, we'll take a look.

[2022-02-22 23:22] david-montante commented on #2369
[doggeral](https://github.com/doggeral) do we have any news for this?

[2022-02-23 07:04] juanantoniorobles commented on #2372
Hello,

please try with this one instead:

PANTALONES> PANTALONES F > PANTALÓN SUPER SKINNY ESLABÓN

it was trained and it returns nothing.

Please, review it and let me know.

Regards!

[2022-02-23 07:14] RadhikaPallavi commented on #2371
@doggeral - Thank you for the update on the training.
Could you please also guide us on the questions disappearing from the understanding? It would be great help, if you please guide us with how do we proceed training the app, if we got other way to do it better?

[2022-02-23 14:37] aya-labiba opened #2374 "Issues in detecting entities"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
Wrong entities are being returned that are not within the synonyms.
Entities are being returned in Arabic, where all keywords are defined in English.
Entities are not always returned in the response

Example:
[Message API response.txt](https://github.com/wit-ai/wit/files/81

[2022-02-23 15:55] German-Hernandez opened #2375 "App stuck in ongoing training"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**

Application stuck in "training ongoing", don't know if it's the UI or if it got stuck and isn't even training

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

Just adding new Utterances to train, t

[2022-02-23 17:15] yuzh174 commented on #2375
The issue is fixed. Your app training is completed

[2022-02-23 17:15] #2375 closed, assigned to nobody

[2022-02-23 19:57] yuzh174 commented on #2371
@RadhikaPallavi , could you provide a few utterances you'd like to remove? We could try to repro it and investigate for you.

[2022-02-24 06:32] doggeral commented on #2368
Checked on wit.ai, the training is completed.

[2022-02-24 06:32] #2368 closed, assigned to nobody

[2022-02-24 06:36] doggeral commented on #2360
@HeyArian your app has been fixed!

[2022-02-24 06:36] #2360 closed, assigned to nobody

[2022-02-24 06:50] doggeral commented on #2367
Retrain your app, verified on wit.ai, the issue has been fixed!

[2022-02-24 06:50] #2367 closed, assigned to nobody

[2022-02-24 06:57] doggeral commented on #2369
your issue has been fixed!

[2022-02-24 06:57] #2369 closed, assigned to nobody

[2022-02-24 06:59] doggeral commented on #2334
Same issue with https://github.com/wit-ai/wit/issues/2341, will close the issue and track it on https://github.com/wit-ai/wit/issues/2341

[2022-02-24 06:59] #2334 closed, assigned to nobody

[2022-02-24 08:33] RadhikaPallavi commented on #2371
@yuzh174, you could delete all what are present now until the utterances count in the understanding reaches 440. It some how tosses at this number, for us.

[2022-02-24 14:59] anjaly commented on #2323
Hi @doggeral

We are currently facing this issue in the following  AppId: 623134488936494.
We are getting intents with high confidence for non trained inputs.

Can you please check.

[2022-02-24 22:29] GuilhermeXlab commented on #2323
Please, our app have the same issue:
https://api.wit.ai/message?q=marinalda = (99,1% confidence)
Our AppId: 4151339554959163

Thanks!

[2022-02-24 22:50] doggeral commented on #2372
@juanantoniorobles your issue has been fixed!

[2022-02-24 22:50] #2372 closed, assigned to nobody

[2022-02-25 03:35] amtdevops commented on #2323
@doggeral @patapizza Any update on this.

[2022-02-25 04:01] anjaly commented on #2323
@doggeral @patapizza Any update on this.

[2022-02-25 04:43] anjaly opened #2376 "Identifying intents for untrained inputs"
Hi @doggeral @patapizza

We are again facing the issue that we are getting intents with high confidence for non trained inputs.
 AppId: 623134488936494.

Same issue as in https://github.com/wit-ai/wit/issues/2323
Can you please check.

[2022-02-25 06:15] doggeral commented on #2323
@GuilhermeXlab @anjaly You can add the the utterance as out of scope and retrain the app.

[2022-02-25 06:19] doggeral commented on #2376
You can add the utterance as out of scope training sample and retrain your app.
Checked your app, 300 training sample supports >35 intents, the model may not have enough data to recognize the patterns for each intent.

[2022-02-25 06:19] #2376 closed, assigned to nobody

[2022-02-25 06:28] anjaly commented on #2376
@doggeral  Below if the response we are getting on inputting "test" keyword
{
    "text": "test",
    "intents": [
        {
            "id": "348644030031736",
            "name": "enquires",
            "confidence": 0.9669
        }
    ],
    "entities": {},
    "traits": {}
}
But this intent's example doesn't even have a keyword 'test' in any of its utterances. Then how come it can get this

[2022-02-25 13:21] German-Hernandez opened #2377 "Unknown error after calling API"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**

After sending some requests to the Wit API, the resonse body is this: {"error":"Something went wrong. We've been notified","code":"unknown"}.

This behavior happens with some requests, not all of them, so we don't know if it's an API's problem or if we are sending some wor

[2022-02-26 00:27] yuzh174 commented on #2374
@aya-labiba, Is the entity type "HCP_type" not desired? What is "lab"? I don't see it in your entity definition.

[2022-02-26 14:51] GuilhermeXlab commented on #2323
we have already done this for many cases, however, it is impossible to predict all possible words that may be used. every day many phrases are identified as out of scope and categorized, and this behavior is new to us.

All these examples have high confidence without any explanation:

https://api.wit.ai/message?q=ambulancia
https://api.wit.ai/message?q=amendoim
https://api.wit.ai/message?q=maurici

[2022-02-26 22:26] ghost commented on #2128
Hi, I am also experiencing this bug.
I thought I could circumvent it by sending myself live utterances through the API and then editing them in the "Review your live utterances..." section, but upon clicking the caret next to the utterance, I get redirected to the "My Apps" page.

I am using Chrome (98.0.4758.102), the same happens in Firefox (97.0.1).
My App ID is 745966103054232.

Thanks for you

[2022-02-27 06:12] aya-labiba commented on #2374
@yuzh174 "HCP_type" is the entity that should be returned, "lab" is the keyword that should be returned within this entity, but instead it's returning "مختبر" in Arabic which is a synonym:

![image](https://user-images.githubusercontent.com/99329638/155870576-bb9e59a3-01da-41e7-b9ba-e4ce476126c9.png)

[HCP_type entity.txt](https://github.com/wit-ai/wit/files/8148145/HCP_type.entity.txt)

[2022-02-28 00:48] ricvail commented on #2247
Looks like the issue has been fixed. Thank you :)

[2022-02-28 00:48] #2247 closed, assigned to nobody

[2022-02-28 10:41] gadielmyron opened #2378 "App Training Status Ongoing Long-days"
Hey Team,

My app is stack on training more than 7-10 Days.

App Id: 1479811922390057