[2018-01-30 09:45] askshi commented on #881
@patapizza  please respond the above. The referenced issues are closed hence it is not helpful for us.

[2018-01-30 11:35] cvomcfly commented on #946
Hi @patapizza thanks for checking this. I tried with more examples (without origin and destination), but not working either.. I attach screenshots here.
рейс з рига в чернівці вчасно (=flight status from Riga to Chernivtsi)
![image](https://user-images.githubusercontent.com/33088084/35564238-c8e3a2c6-05b9-11e8-8e3e-d947584d8d8a.png)

Without hyphen:
скажіть мені статус рейса по маршруту київ рига

[2018-01-30 11:46] guillefhc opened #951 "Bot is traning infinitely"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug report

**What is the current behavior?**
The bot is traning infinitely

**What is the App ID where you are experiencing this issue (if applicable)?**
5a37e52e-951e-41ba-9dca-eaba413e844a

[2018-01-30 15:55] gregs007 opened #952 "Question: What is the correct way to classify postal code? wit/location?"
I've been trying to get wit/location to classify US postal codes (zip code). It seems that no matter how many examples I give it, it will never see just the number as a location entity.

It's for very simple weather app-- i.e. weather in 10001

If I append the zipcode to the end of an address-- like 1 Penn Plaza, New York, NY 10001 it will include the zip as part of the location, however the zip o

[2018-01-30 16:28] l5t commented on #950
Can you share your app id?

[2018-01-30 16:30] l5t commented on #949
Can you follow the issue template and provide your app id so it's easier to investigate... It would be great to get the full request. Also Training expressions via /samples can take some time so you may check again now

[2018-01-30 16:32] l5t commented on #951
Thanks for reporting, we are having a backlog in our training queue. Will update when back to normal

[2018-01-30 16:35] l5t commented on #949
It seems that we have a backlog in the training queue. Closing and following the status on this #951

[2018-01-30 16:35] #949 closed

[2018-01-30 16:49] l5t commented on #951
Seems to be working now. Please reopen if not

[2018-01-30 16:49] #951 closed

[2018-01-30 20:01] blandinw commented on #944
hi @nathansamson!

What you're referring to is called "anaphora resolution" (it, her, their, etc. are anaphors).
Wit does not support anaphora resolution out of the box at the moment.

However, you should be able to create an entity to recognize these anaphors using our keywords strategy (cf. https://wit.ai/docs/recipes#which-entity-should-i-use).

In the Understanding tab, click on this new entit

[2018-01-30 20:01] #944 closed

[2018-01-31 13:11] bmcclenahan opened #953 "Postback, quickreplies in Built-In NLP"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug/question
**What is the current behavior?**
Postback items are appearing in my Wit App
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Since enabling NLP I notice that some postback text is appearing in the Inbox of my Wit App
**What i

[2018-01-31 16:46] grayskripko opened #954 "Unremovable initial applications"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
I've created a new account using github sign up.
After a couple of days, I found a lot of identical apps
![image](https://user-images.githubusercontent.

[2018-01-31 22:11] patapizza commented on #952
Hi @gregs007,

I think `wit/number` would be best here, but you'd need a resolver to filter out numerals that are not US postal codes (e.g. using a database). It seems like a simple regex + resolver could work: `/[0-9]{5}(-[0-9]{4})?/` (untested).

[2018-01-31 22:11] #952 closed

[2018-01-31 22:36] magnusburton commented on #879
Would be appreciated if you could restart my app's training, thanks!

5a3682e4-1781-437e-a59b-25868cf6d299

[2018-01-31 23:34] l5t commented on #879
Just restarted

[2018-01-31 23:46] patapizza commented on #948
@doc1991 Got it, I might have an idea on what's going on. I'll look into it tomorrow.

[2018-02-01 15:54] hglabska commented on #879
Could you possibly restart my app's training?

5a609d2d-55f5-49fe-908e-84a642528e6b

[2018-02-01 16:54] XY-Wang opened #955 "Chinese locale extracting entire utterance as an entity"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
I'm trying to train a Chinese app utterances which includes an entity "iataCode" with roles "origin" and "destination". However the preview API output shows that the entire utterance is picked up as the "iataCode" entity instead of just the location.

**If the current behav

[2018-02-01 17:11] l5t commented on #879
Restarted

[2018-02-01 19:44] aforaleka commented on #892
Hi @magnusburton, we looked into the issue and our new datastorage solution will prevent it. Sorry for the inconvenience and thanks for reporting!

[2018-02-01 19:44] #892 closed

[2018-02-01 22:20] patapizza commented on #939
`wit/age_of_person` should behave more correctly now.

[2018-02-01 22:20] #939 closed

[2018-02-01 22:22] patapizza commented on #955
Thanks for reporting @XY-Wang. We'll need to improve our models - in the meantime validating more examples would help!

[2018-02-02 02:48] zhanpengli opened #956 "about classification of training sets."
hi, When training wit.ai, some data are grouped into one intent, but I do not know how to subdivide the entities, and I just throw them all down in one entity, does this affect the matching of the intent?
 thanks a lot~~~

[2018-02-02 03:48] zhanpengli commented on #956
![image](https://user-images.githubusercontent.com/32571006/35715677-f8337ac2-080e-11e8-9a3f-7bcce2364582.png)

[2018-02-02 03:48] zhanpengli commented on #956
just like that

[2018-02-02 07:27] JediRhymeTrix opened #957 "Error when trying to export data from app."
`{
  "error" : "Something went wrong. We've been notified.",
  "code" : "wit"
}`

 This is the response I get when I try to download the zip file containing my app's data.

Here's the App ID:
5a6843bf-030d-41fc-b23c-13dbcedd54b7

[2018-02-02 08:30] PatroxGaurab opened #958 "Adding Custom Training to wit/greetings"
I'm trying to train the model with text "hy" for wit/greetings intent. But it is responding with blank entities {} even after training.

[2018-02-03 03:55] l5t commented on #823
@comloo just launched it! https://wit.ai/docs/http/20170307#get--apps-link

[2018-02-03 03:55] #823 closed

[2018-02-03 23:16] stopachka commented on #230
Hey @vigneshmanikandan97

You can use a temporary id, and increment it whenever you want to create a new session. i.e

[code]

It would help to get more context on what you are trying to do. If you need more help, try creating a new task, and include a code snippet, and the goal for what you are trying to do

[2018-02-03 23:27] stopachka commented on #946
Will summarize here, to make sure we get this correctly:

Currently, despite valid examples, roles are not adequately detected in Ukfranian, for the lataCode entity.

The following trained examples should work, but do not:

[code]

[2018-02-03 23:28] stopachka commented on #946
Looking at `iataCode`

it looks like you have the search strategy set as "keywords" -- if you do this, then the roles will not work, as they depend on the position in the sentence.

If you change it to "free text & keywords" it should behave differently
- (not editing your app myself, as you may have this in production. Let me know how it goes once you try that)

[2018-02-03 23:30] stopachka commented on #953
This is a good point. We are thinking about the consequences of filtering these messages out for NLP. For now it does seem unnecessary.

[2018-02-03 23:33] stopachka commented on #956
hey @zhanpengli -- it depends on your use case. Feel free to add your app-id here, and I can take a look

[2018-02-03 23:34] stopachka commented on #958
Hey @PatroxGaurab , because greetings is a builtin entity, it trains more slowly, and considers the whole dataset.

I am not sure "hy" is something that is generally considered a greeting entity. I would suggest you make a `custom_greeting` entity, and train that as well. This way you can have an app-specific greeting, alongside wit/greeting

[2018-02-03 23:36] bmcclenahan commented on #953
Yes, having postbacks appear in Inbox is creating unnecessary work for me - when I groom my inbox, it is cluttered with postback and quickreply messages that I have to identify and delete in case they disrupt the language model. I can think of no value in having these go to NLP - the software has already assigned a clear meaning to these message types.

Thank you
Bruce
____________________________

[2018-02-04 00:05] stopachka commented on #957
Hey @JediRhymeTrix -- tracked down the error. Looking into the underlying cause. Will update here when fix is shipped

[2018-02-04 01:02] stopachka commented on #950
Hey  @s-nour

Two issues:

re: errors where the "intent" entity gives you warnings
- It looks like "start" and "end" values are provided for some samples. Could you send me an example curl for them?
  - For trait entities, they should not contain a start and end, as they consider the whole sentence

re: issues with GET /entity/:id

Here, the terminology is a bit confusing.
- `expressions` in those

[2018-02-04 19:58] dananichev opened #959 "Bot provides incorrect year for queries in January (query contains no year)"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

Bug

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

I have an ``wit/datetime`` entity described in my app. Recently it stopped working with dates in January.
Minimal demo:
* go to https://duck

[2018-02-05 08:27] JediRhymeTrix commented on #957
Thanks. I hope it's a relatively quick fix.

[2018-02-05 12:31] semsimsom opened #960 "Where is the explore page?"
In the docs i found out we can use public users intents.
As it says :

But it seems that https://wit.ai/explore is missing or remove :(
**Is there any way to use previous good intents and do not do it from scatch.**
Thanks for this great tool.

[2018-02-05 14:12] mbukovy commented on #950
@stopachka
Hello, I need this as well. We are trying to provide a convenient way of training and management, sort of a copy of Wit UI. I need to display all expressions of all values of an intent, but all I get is empty arrays. I use trait lookup as well, all the same as author.
Look at my app mbukovy/10-12-prvy, I need to see this expressions and be able to delete them as well (see the picture)

[2018-02-05 14:28] patapizza commented on #959
Hi @dananichev,

Duckling currently returns up to 3 future datetime values. It would only return past datetimes when the sentence context is explicit. This behavior could be overridden with https://github.com/facebook/duckling/issues/29.

[2018-02-05 14:28] #959 closed

[2018-02-05 23:23] patapizza commented on #364
This now works.

[2018-02-05 23:23] #364 closed

[2018-02-05 23:24] #341 closed

[2018-02-05 23:25] #460 closed

[2018-02-05 23:26] #459 closed

[2018-02-05 23:26] #622 closed

[2018-02-05 23:30] patapizza commented on #472
Hi @ivgenyk, sorry for the latency here.

"153 grand" is actually an amount of money, not a numeral. So you could use `wit/amount_of_money` instead. `wit/amount_of_money` is powered by [Duckling](https://github.com/facebook/duckling) - feel free to submit a pull request to handle `grand`.

[2018-02-05 23:30] #472 closed

[2018-02-05 23:34] #279 closed

[2018-02-05 23:35] #522 closed

[2018-02-05 23:36] patapizza commented on #622
Closing as this was probably a transient issue. Feel free to reopen if you still experience this.

[2018-02-06 07:04] s-nour commented on #950
The main issue here is that we were previously able to obtain expressions of trait entity values, and we are still able to on apps created before January 28th. The expressions are returned as an empty array for apps created after the mentioned date.

[2018-02-06 08:42] mbukovy commented on #950
Well, we're going to create apps dynamically through the API, so... :-)
But that's a very strange behavior, why is that?

I don't have an experience with Wit.ai before January 28th, so I just know, that I can't get the expressions I see in Wit UI.

[2018-02-06 18:30] magnusburton opened #961 "Wrongfully tagging non-locations as wit/location"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug report

**What is the current behavior?**
I have trained my bot on sentences that asks if there are any disruptions on a certain bus line, for example:

I'm tagging the lines as entity `line` (free-text type) and chose not to use the built-in `wit/number` because certain "express"-lines or replacement lines

[2018-02-06 19:37] patapizza commented on #961
Hi @magnusburton, thanks for reporting. We're working on improving `wit/location`.
As a side note, you could use `wit/number` and a custom entity as back-up for `40X` line types.

[2018-02-06 19:43] noumanbsc125 commented on #921
@stopachka plz any update.

[2018-02-06 21:03] blandinw commented on #822
I cannot repro this issue anymore. We'll make a pass at speech reliability issues at some point, but this is not a priority as of today.

[2018-02-06 21:44] l5t commented on #869
We'll make a pass at speech reliability issues at some point, but this is not a priority as of today. Please reopen if you can consistently repro

[2018-02-06 21:44] #869 closed

[2018-02-06 22:34] gulbinas commented on #861
Hello @stopachka,
by misleading I meant that it took time for me as a newcomer to find that API 500 error because at first place I didn't expected that and secondly there was no UI notification indicating that.

Even more, I find related github issue which is closed and I got it reopened just to find out that site is unusable, issue is known and fix is being developed.

UI notification and open gi

[2018-02-06 22:36] l5t commented on #268
It seems to work now. Closing
![image](https://user-images.githubusercontent.com/6992759/35887993-08e9429a-0b4b-11e8-9f92-6373209b821a.png)

[2018-02-06 22:36] #268 closed

[2018-02-07 00:04] blandinw commented on #921
@noumanbsc125 I'm looking into it and update you shortly, thank you for your patience!

[2018-02-07 08:00] magnusburton commented on #961
@patapizza Thank you for your quick response. Seems like I made an error on my end by wrongly training `linje` as a `wit/location` once. This is the underlying reason why it kept suggesting `wit/location` for every new sentence trained.

This leads me to wonder if there's an effective way to find "mistrained" entities in your data?

[2018-02-07 08:53] zhanpengli commented on #956
![image](https://user-images.githubusercontent.com/32571006/35906897-2e4f7f2c-0c27-11e8-8a42-b1537b737ad1.png)
ok,but i had changed the entity name ,that is the id :
5a55e9f2-897a-4b42-b892-89f18a2f58ea

[2018-02-07 08:57] zhanpengli commented on #956
@stopachka  and i also have one problem , what about the Query the amount of concurrency ? thanks

[2018-02-07 14:34] upeismcschatbot opened #962 "How to recover a deleted app from wit.ai?"
I created an app on wit.ai with really long time.But, I accidentally deleted it. I feel so bad. But, I do not know how to recover it.

If I can not recover it. How can I back up the app for my new app on wit.ai?

Can you show me the detailed steps to do them?

Thank you!

my email: succesful123@ymail.com

[2018-02-07 16:20] mbukovy commented on #950
@stopachka
I've got the access to one older app and exactly as @s-nour states, it's working great. Exactly as I want.
Please, write here a status - is it going to be fixed, or implemented other way and when can we expect it?

Thank you!

[2018-02-07 16:47] blandinw commented on #921
@noumanbsc125 The issue arises because your app has so many different entities.
I'm working on a fix on my end, but it seems that your app will be working suboptimally with the current entity structure.

Why do you need so many different trait entities? Why not only have one `intent` entity with many values? Or a couple entities to capture `intent` (description) and e.g. `topic` (license_renewal)?

[2018-02-07 19:15] blandinw commented on #736
Keyword-based entities seem to be working fine for this app. Please comment if I missed anything.

[2018-02-07 19:15] #736 closed

[2018-02-07 23:04] blandinw commented on #948
duplicates #839
This is now fixed, apologies for the inconvenience.

[2018-02-07 23:04] #948 closed

[2018-02-07 23:26] blandinw commented on #947
Update: the issue is more complex than initially thought. I hope to get a fix out next week.

[2018-02-08 00:48] blandinw commented on #941
@devsagaacc you have 84 trait entities, which is causing issues during training.
I'm working on a fix but your app will probably be working suboptimally.
Why not have one `intent` entity, with 84 values?

Will close once the fix is out.

[2018-02-08 01:03] blandinw commented on #941
Fix is out

[2018-02-08 01:03] #941 closed

[2018-02-08 01:08] zhanpengli commented on #956
hi，anybody can tell me wit.ai query concurrency？Our website traffic will be more than 50,000 a day，I need to know how many concurrency a wit.ai app can handle，thanks

[2018-02-08 03:04] upeismcschatbot opened #963 "Unrecognized filename when upload the zip file to create a new app"
I download the code zip folder from my app of wit.ai. I unzipped it and open one entity file and made some changes. I zipped this folder to a zip file. I want to create a new app with this change folder. But, when I upload it and create a new create, the system told me that Unrecognized filename +my folder name.

Did I do something wrong?

[2018-02-08 05:52] patapizza commented on #962
Hi @upeismcschatbot,

As the dialog window reads this cannot be undone. Sorry.
You can download a `.zip` with your data in your app Settings (and import it back later).

[2018-02-08 05:52] #962 closed

[2018-02-08 05:56] patapizza commented on #961
Is the issue resolve then?

That's a good point; we're planning on providing better dataset management tooling.

[2018-02-08 07:59] l5t commented on #960
Thanks for the kind words. The Explore page is no longer available, so the only way to reuse other intents/entities is to ask another developer to share their app with you (then exporting/API). This is not ideal but we plan to work on a new version to explore public entities this year. Stay tuned.

[2018-02-08 16:52] blandinw commented on #868
This is now fixed, thank you for your feedback and patience.

[2018-02-08 16:52] #868 closed

[2018-02-08 16:54] blandinw commented on #881
This is now fixed, thank you for your feedback and patience.

[2018-02-08 16:54] #881 closed

[2018-02-08 17:03] yegeniy commented on #868
This is glorious! Confirmed as working, wonderfully.

[code]

Thank you again. I can delete so much code today :)

On Thu, Feb 8, 2018 at 11:52 AM Willy Blandin <notifications@github.com>
wrote:

[2018-02-08 17:21] blandinw commented on #921
@noumanbsc125 the way you structured your app leads to 100+ very low confidence entities, instead of 1 strong `intent` entity. See my suggestion above.
In the meantime, I have retrained your (suboptimal) app and you can get low confidence entities by providing `?n=2` when querying the API.

Closing, please open another issue if we can help further.

[2018-02-08 17:21] #921 closed

[2018-02-08 18:07] blandinw commented on #957
Fix has been deployed, you can now export your app.
Thank you for your feedback and patience!

[2018-02-08 18:07] #957 closed

[2018-02-08 21:23] stopachka commented on #861
Great point @gulbinas -- Maybe we can have a quick on the main site, when it is experiencing difficulties. Will bring this to the team to the put to the roadmap

[2018-02-08 21:30] stopachka commented on #868
Cheers @yegeniy!

[2018-02-08 21:34] stopachka commented on #950
Very interesting

@s-nour @mbukovy
- could you give me an app id of one the apps, where this works?
 - (alongside the request you are making, without the access token)

---

re: fully-featured samples api -- this is definitely a contender for an upcoming api update. Will let you know how it goes

[2018-02-08 21:41] stopachka commented on #953
Cheers @bmcclenahan .

In the meantime, to clear up the clutter, you could validate the expressions with a throwaway entity. This way they will no longer show up in the inbox. You are right though that this could risk changing the model in a bad direction.

I'll update here with the resolution that we'll take for quickreplies and postbacks

[2018-02-08 22:20] stopachka commented on #956
hey @zhanpengli -- if it is 1-2 qps, it should be good. If you will have more, please email us -- team@wit.ai, with what your expected qps is, and we will make sure to prepare for it

[2018-02-08 22:24] stopachka commented on #956
@zhanpengli the only suggestion I would make on your app, is that the orderNumber entity, may be better done as a regex inside your app. (they seem pretty uniform, so it is unnecessary to train an ML model to detect them)

[2018-02-08 22:29] stopachka commented on #963
hey @upeismcschatbot

Two things:
- Make sure you zip in the order that is written `zip-command` in `app.json`. (the zip is streamed, so the ordering of files matter)

If that does not fix it. Could you email me your zip, alongside a changeset, for what you change
(stopachka [at] fb [dot] com)

[2018-02-09 00:52] zhanpengli commented on #956
hi @stopachka thanks for your enthusiastic answer, on the orderNum entity's proposal is exactly what I think, but my boss hopes to use wit.ai to try, anyway, is not a big problem. I will email you about the query concurrency for more detail , please remember to check email  , bests wishes  :)

[2018-02-09 06:20] ckatta opened #964 "Wit api is returning 0 entities for trained expressions"
I’m not able to get entities for trained keywords. It is returning 0 entities for each request call.

Earlier we are able to see entity with confidence greater 0.9. now it seems nothing gets returned. Issue exists for last 20 hours.

I'm using node-wit for client app.

**My App Name:** "A2KeyWords"

[code]

now my app is open, please use entity "Open URL", and see the debug console to view the dif

[2018-02-09 08:55] kenpropel opened #965 "wit/url Not Capturing URL Fragment"
Bug report of not capturing full URL.

`wit/url` excludes URL **fragment** at the end. (What is a fragment? It's the optional `#header` at the end of some URLs. See [URI](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Syntax).)

Example text sent to Wit app with `wit/url` as an entity:
`take a look at this url: https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Syntax`
Response f

[2018-02-09 08:56] mbukovy commented on #950
@stopachka
Interesting, now it doesn't work with an older app either. But I'm sure, it worked with this request
`GET https://api.wit.ai/entities/intent`
Now it returns empty arrays for expressions. I was able to see the expressions array and add/delete them with requests `POST entities/intent/values` and `DELETE /entities/intent/values/phone_problem/expressions/Oh my god my phone`

I was trying th

[2018-02-09 09:28] josephlingzb commented on #950
i'm having this issue as well. will this be fixed soon?

[2018-02-09 09:58] touchaponk opened #966 "[Bug] Intent classification not working"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Intent classification (entity of 'trait' type) is not returning any result no matter what sentence I put in, even if it's an exact match. This starts happening 1 day ago

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo

[2018-02-09 12:29] NourShalabi commented on #950
Here's the response returned for a previously working app from our logs:
Response:{
  "builtin" : false,
  "doc" : "User-defined entity",
  "exotic" : false,
  "id" : "59997b65-563c-4f25-8672-ccb2b2cf4297",
  "lang" : "en",
  "lookups" : [ "trait" ],
  "name" : "intent",
  "values" : [ {
    "value" : "Car Deals",
    "expressions" : [ "can you give me car deals", "do you have car deals", "i am lo

[2018-02-09 16:07] l5t commented on #965
Thanks for reporting. This built-in entity is managed by Duckling our open source parser. Can you please open an issue here: https://github.com/facebook/duckling/issues
If you time, you can even contribute and do a pull request. Otherwise we will take care of it!

[2018-02-09 16:07] #965 closed

[2018-02-09 17:25] #961 closed

[2018-02-09 17:39] patapizza commented on #964
Hi @ckatta,

What is your app id?

[2018-02-09 18:05] patapizza commented on #966
Thanks for reporting, I'll get a look.

[2018-02-09 20:26] bpleao commented on #876
I've tried to train again after some months but the behavior continues the same (stuck in training). App id 5a7b699e-81dd-4a8a-8889-085ddb127a3d
Any new advice based on the progress you're making on this topic? Thanks.

[2018-02-09 23:00] patapizza commented on #966
@touchaponk What are the other apps having issues? Was `kbchatbot-en` working before?
Anybody else experiencing this?

[2018-02-09 23:49] touchaponk commented on #966
@patapizza many of them actually, here's another one
5a7c8363-d226-4a58-8226-39c9d6bc9a92
from what I notice if I train using the console UI it works fine, however once I use API to train the intent all at once it breaks

[2018-02-10 00:04] bmcclenahan commented on #953
Thanks mate.
I think I'll put up with it, and wait for your resolution for quickreplies and postbacks
Cheers
________________________________
From: Stepan Parunashvili <notifications@github.com>
Sent: Friday, 9 February 2018 7:41 AM
To: wit-ai/wit
Cc: bmcclenahan; Mention
Subject: Re: [wit-ai/wit] Postback in NLP ? (#953)

Cheers @bmcclenahan<https://nam04.safelinks.protection.outlook.com/?url=htt

[2018-02-11 01:38] josephlingzb commented on #950
@stopachka is there any way to get expressions of a trait using the API right now? This used to work until recently!

[2018-02-11 03:39] zhanpengli opened #967 "is have error when upload zip file to create an app"
hi, This situation has happened twice,just like that:
![image](https://user-images.githubusercontent.com/32571006/36069209-0a755314-0f20-11e8-9b1e-412928230616.png)
and that is the right:
![image](https://user-images.githubusercontent.com/32571006/36069219-38b27cb6-0f20-11e8-9b41-b60bea396178.png)

[2018-02-11 18:01] ckatta commented on #964
Hi @patapizza , app id is

[2018-02-11 23:18] simplicity-admin opened #968 "wit.ai returns "Something went wrong, we've been notified" in a Facebook messenger chatbot"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
report a bug

**What is the current behavior?**
The wit.ai nlp seems to always return "Something went wrong, we've been notified" on the first interaction with the chatbot. After that it seems to work fine. It's almost like the wit.ai goes to sleep and needs the first message to wake up.

**If the current behavi

[2018-02-12 13:19] dimpiax opened #969 "Incorrect Keyword Recognition"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
For entity type *keyword* not correct behavior of recognition.
`iphone 6splus` recognizes as `iphone 6plus` which is not correct,
I've tested with adding and removing synonyms – so bug is on your side 99%

**If the current behavior is a bug, please provide the steps to repr

[2018-02-12 17:16] patapizza commented on #966
@touchaponk To be clear, what do you mean by "using the API to train the intent"? Do you mean providing new samples to `POST /samples`?

[2018-02-12 17:36] patapizza commented on #964
It seems like it's working now:

![](https://i.imgur.com/oKlTEb3.png)

BTW I see 102 trait entities that have very little validated samples. It would help to provide more examples to get better models. Also make sure that examples don't overlap with each other.

As an example, the `Click` entity has more validated samples and seem to work better:
![](https://i.imgur.com/za2wJXv.png)

Closing now,

[2018-02-12 17:36] #964 closed

[2018-02-12 19:30] touchaponk commented on #966
@patapizza I'm using `PUT https://api.wit.ai/entities/$ENTITY_ID` API to update the expressions

[2018-02-13 02:09] josephlingzb commented on #966
Hi @patapizza, am experiencing the same issue. Im using PUT https://api.wit.ai/entities/$ENTITY_ID to update the expressions. The new expressions can be seen on the wit.ai console, but inputting the exact expression never goes to the correct intent.

Old intents removed through this API also are removed on the wit.ai console, but when downloading all data as a zip, I can still see these expression

[2018-02-13 04:24] ckatta commented on #964
@patapizza, I am experiencing the same issue. Seems it is not working.

tried with node-wit.

[2018-02-13 04:28] ckatta commented on #966
@patapizza , [Wit api is returning 0 entities for trained expressions #964](Wit api is returning 0 entities for trained expressions #964) , am experiencing same issue.

[2018-02-13 15:18] patapizza commented on #964
@ckatta Can you share a curl request that doesn't work?

[2018-02-13 15:23] patapizza commented on #966
@touchaponk For which entity did you do that? And which expressions?

@josephlingzb Same questions, and what is your app id?

@ckatta Addressing your issue in #964.

[2018-02-13 17:12] l5t commented on #966
for @josephlingzb it happens with all his apps, one example here: 59f6f0e3-2844-40d6-b9ee-599712584c67

[2018-02-13 17:15] touchaponk commented on #966
@patapizza I only have 1 entity inside the bot called "Intent" (trait)... and it happens to all expression, cant seem to detect anything

[2018-02-14 04:46] ckatta commented on #964
@patapizza, below are examples

**working**

curl -XGET 'https://api.wit.ai/message?v=20170307&q=switch to window' \
      -H 'Authorization: Bearer O7JZD6ARVXKN4NM43AFVYJROEY27YUIG'

https://api.wit.ai/message?v=20170307&q=switch to window

Authorization: Bearer O7JZD6ARVXKN4NM43AFVYJROEY27YUIG

**not working**

curl -XGET 'https://api.wit.ai/message?v=20170307&q=click on continue button' \

[2018-02-14 08:02] josephlingzb commented on #966
Just to add on, if I then go to the wit.ai console and add a new intent through the console, things start working again.

[2018-02-14 09:59] Arthur31 commented on #18
@ar7hur , What's up to multiple intents ?
Do i force wit to understand ?

[2018-02-14 13:30] patapizza commented on #966
@josephlingzb Thanks for the additional information.

[2018-02-14 14:48] patapizza commented on #950
Thanks for your patience, I'm working on a fix.

[2018-02-14 15:06] patapizza commented on #966
This is related to https://github.com/wit-ai/wit/issues/950. I'm working on it.

[2018-02-14 21:07] recime-platform commented on #966
I am getting similar behavior for this bot: 5a849ba6-e48d-451b-ba91-2ee76a18f16a. It is returing nothing, no matter what I type.

[2018-02-14 21:42] patapizza commented on #950
This should now be fixed - can someone confirm?

[2018-02-14 22:09] patapizza commented on #966
@recime-platform It seems like it's working:

![](https://i.imgur.com/6jLSLwJ.png)
![](https://i.imgur.com/seThB8K.png)

@josephlingzb Trying one of your apps seems working as well:

![](https://i.imgur.com/E4JWHGH.png)
![](https://i.imgur.com/4rxwtvB.png)

@touchaponk It seems like your apps still experience issues. Can you try refixing it through the console? `PUT https://api.wit.ai/entities/$EN

[2018-02-14 22:36] recime-platform commented on #966
Working now

[2018-02-14 22:38] touchaponk commented on #966
@patapizza still experiencing the problem on 5a7bee9d-0140-4d21-9db6-6224e3afc5fb

[2018-02-14 23:40] blandinw commented on #18
To achieve a similar result, you can create one binary trait entity per intent.
Using the example in this issue, you would create the trait entities "turn_lights" and "set_reminder" with 1 value "true".

[2018-02-15 00:41] josephlingzb commented on #966
Hi @patapizza,

The old intents are working. The problem arises when we use the PUT https://api.wit.ai/entities/$ENTITY_ID to add to update any intents. The new intents or even added expressions on old intents do not work until we use the wit.ai console to add a new intent and allow the model to retrain.

I just tested again, the problem still exists. To reproduce the problem, use the API to updat

[2018-02-15 00:44] josephlingzb commented on #950
Just tested, this is now working. Thanks!

[2018-02-15 10:01] mbukovy commented on #950
It's working, thank you!

[2018-02-15 10:22] s-nour commented on #950
I can confirm it's working as well, thank you very much.

[2018-02-15 10:22] #950 closed

[2018-02-15 12:43] mbukovy opened #970 "[BUG] DELETE expression - encoding issue"
Hello,

I've got a problem with encoding in DELETE expression endpoint.
When I call it from Postman, it works well
![postmanwit](https://user-images.githubusercontent.com/27806309/36257043-b04343fe-1255-11e8-86a6-2798480cbd14.png)
It deletes `Žluťoučkýí kůňě` and everything's fine.

But when I use php, my log says
[code]
And it doesn't delete the expression. I use Guzzle http client and trying app

[2018-02-15 15:46] SoumyaChaudhuri opened #971 "URGENT: is there a problem with training?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
report a *bug*

**What is the current behavior?**
the most basic training example from https://wit.ai/docs/quickstart is not working

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
doing the demo steps 1, 2, 3, and 5 (skipping 4) yields

[2018-02-15 18:20] patapizza commented on #966
Got it, still working on it.

[2018-02-15 18:22] patapizza commented on #971
Hi @SoumyaChaudhuri, I can't repro this.

![](https://i.imgur.com/KceJUhx.png)

Feel free to reopen if you still experience the issue.

[2018-02-15 18:22] #971 closed

[2018-02-15 18:48] SoumyaChaudhuri commented on #971
Hi @patapizza ,

I'm definitely still having trouble retraining here.  It is very inconsistent.

I eliminated the "what is the temperature inside" intent and added one for "test".  It's been a few minutes, and I still am getting results for "temperature_get" but not for the word "test".

I tried both the training API (https://api.wit.ai/entities/INTENT?v=20180215 with body:
{
    "doc": "User-defi

[2018-02-15 18:51] gorenbox opened #972 "Unexpected engine behavior"
Hi,

I created a small model called Navigate which basically supports one intent navigate with sentences like "take me to..." and "go to....".
I defined 2 entities: place which has values like home, work and mall. coordinate  is a composite entity representing cartesian coordinate (x,y) and can get values like x20 y30 , (20, 30)  y20, x30...

I have been training the model, and the engine doesn't

[2018-02-15 20:07] SoumyaChaudhuri commented on #971
2 hours since trained.  Still not seeing the updated results.

[2018-02-15 20:24] SoumyaChaudhuri commented on #971
I think we are experiencing the same issue as #971

[2018-02-15 21:29] individual11 opened #973 "Keyword issues/Wit understanding is trying to combine entities."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
It's been recognizing correct entities for a while, then lately it's been trying to combine them for no reason as far as I can tell.

E.G. I trained it to understand "accident" and "insurance" as separate entities, but all of a sudden it keeps suggesting to combing them int

[2018-02-16 02:45] patapizza commented on #971
Thanks for the additional info, it should be fixed tomorrow.

[2018-02-16 03:06] patapizza commented on #972
Hi Dan,

It seems like the machine learning model is having a hard time figuring out the picking up coordinates as they don't have any alphabetical characters. Would a regex work for this case?

[2018-02-16 11:56] gorenbox commented on #972
How do I define a regex, is it supported with wit. Will this be fixed

On Feb 16, 2018 5:06 AM, "Julien Odent" <notifications@github.com> wrote:

[2018-02-16 15:51] patapizza commented on #972
I meant on the client side.

[2018-02-16 20:36] individual11 commented on #973
Anyone? It's gradually getting worse combing more and more entities. I've had to switch to keywords only to keep it remotely consistent.

[2018-02-17 01:30] patapizza commented on #966
A fix has been deployed. Can you guys try doing a `PUT /entities/intent` request, wait a few minutes and confirm things are going as expected?

Thank you for your patience.

[2018-02-17 01:58] SoumyaChaudhuri commented on #966
It's working for me now.  Thanks.

[2018-02-17 01:59] SoumyaChaudhuri commented on #971
It's working for me now.  Thanks for taking care of this so quickly.

[2018-02-17 02:05] josephlingzb commented on #966
Its working for me too. Thanks!

[2018-02-17 18:23] Dierme commented on #700
Hey! I started experiencing the same issue.
Firstly, i create new entities by

[code]

After that, i try to push new samples in.

[code]

And samples are not getting created. It was working a week ago, but stopped a few days ago. My app ID is 5a75df02-4a2f-454a-8a0b-bfabaad0ae3c

[2018-02-18 01:45] #963 closed

[2018-02-18 05:01] patapizza commented on #966
Awesome, closing.

[2018-02-18 05:01] #966 closed

[2018-02-19 13:49] giorgiomarzianidepaolis-was opened #974 "wit.ai is returning only one intent (as many trained, worked for 2 years)"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
BUG

**What is the current behavior?**
Whatever expression is submitted, the same intent has returned.
Querying the API i see many expressions for all other intents. Using the webinterface, even if I train expressions, they will return same wrong value.

**If the current behavior is a bug, please provide the ste

[2018-02-19 15:16] etbuilder commented on #974
We are having the same issue too, nothing is trained or returned

[2018-02-19 15:22] etbuilder commented on #974
I just tested today, so not sure?

[2018-02-19 15:24] giorgiomarzianidepaolis-was commented on #974
my instance has about 2 years. I also tried to export and create a new one from backup. Nothing trait is returned.

[2018-02-19 16:42] terekete opened #975 ""error" : "Something went wrong. We've been notified.", "code" : "wit""
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Not sure if this is a bug or I am missing an attr in the rest call.

**What is the current behavior?**
Using the HTTP API /samples endpoint and the default example:

curl -XPOST 'https://api.wit.ai/samples?v=20170307' \
  -H "Authorization: Bearer $TOKEN" \
  -H "Content-Type: application/json" \
  -d '[{

[2018-02-19 17:09] mminchev commented on #974
I am experiencing the same. Actually, in my case, it does not work only for newly trained intents. It just cannot learn them no matter how many examples I provide. The issue started today.

[2018-02-19 17:15] blandinw commented on #700
@Dierme please create a new issue next time, since this one is pretty old, it's unlikely to be the same root cause. How long did you wait for the samples to be created? Can you confirm everything is working fine now?

[2018-02-19 17:21] blandinw commented on #973
@individual11 thank you for the feedback, I'm looking into it!

[2018-02-19 17:23] blandinw commented on #975
@terekete I'm looking into it

[2018-02-19 17:47] giorgiomarzianidepaolis-was commented on #974
adding some useful info: in my specific case (57e25ba9-ab3a-4928-b469-4c12d597dcbb), all expressions are returing `off_assistenza` intent trait value.

[2018-02-19 19:35] mminchev commented on #974
It seems to be fixed for me now.

[2018-02-19 19:41] giorgiomarzianidepaolis-was commented on #974
Not for me, yet :/

[2018-02-19 21:11] blandinw commented on #975
@terekete I cannot reproduce your issue, I'll assume it is now fixed.
Thank you for your feedback!

[2018-02-19 21:11] #975 closed

[2018-02-20 03:10] blandinw commented on #974
@etbuilder @mminchev what are your app ids?

[2018-02-20 12:56] giorgiomarzianidepaolis-was commented on #974
mine is fixed, thanks @blandinw <3

[2018-02-20 15:44] mbukovy commented on #970
This issue appears on WIndows platform only. On linux server, it works fine.

[2018-02-20 19:16] blandinw commented on #973
The issue is that your `subject_matter` entity has a value `accident_insurance`, `accident` and `insurance`. So when the sentence "accident insurance" comes up, `accident_insurance` is returned, as opposed to 2 smaller entities `accident` and `insurance`.

I'm not sure this covers your whole question. Can you give more examples of actual results vs. expected results?

[2018-02-20 19:24] patapizza commented on #970
@mbukovy So it seems to be a client-side issue. Closing.

[2018-02-20 19:24] #970 closed

[2018-02-20 19:29] AustinRow1 opened #976 "Huge Latency in Speech API"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
When streaming raw audio, there is a at least a 4 second delay from the time the last audio chunk is sent and a response is returned from Wit.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Steps t

[2018-02-20 19:37] monika1800 opened #977 "Consecutive entities in the sentence having same labels are being clubbed together."
For example, If my sentence is Redeem Investments in ABC Funds. Redeem and Investments both are individual terms categorised under the label "action". Instead of recognising both the terms separately it just club the consecutive terms with same entity together and makes it "Redeem Investments" instead.

This was working perfectly fine till last week. Dont know what happened after that. This is hap

[2018-02-20 22:08] simplicity-admin commented on #968
hi guys
Still getting these errors. Any pointers would be much appreciated?
Cheers

[2018-02-21 22:09] patapizza commented on #964
@ckatta Here's what I get on `click on continue button`:

[code]

Looking at your app, I see `click on continue button` for `Click` and `click on Continue button` for `ClickandWait`.

[2018-02-21 22:19] patapizza commented on #977
Closing in favor of https://github.com/wit-ai/wit/issues/973.

[2018-02-21 22:19] #977 closed

[2018-02-21 22:22] patapizza commented on #916
@rodzzlessa24 Feel free to reopen if you still experience the issue.

[2018-02-21 22:22] #916 closed

[2018-02-21 22:22] patapizza commented on #901
@chenprogrammer Feel free to reopen if you still experience the issue (please provide more info).

[2018-02-21 22:22] #901 closed

[2018-02-21 22:24] patapizza commented on #270
@amjadkamali Sorry for the latency here.

Please reopen if you still experience the issue (provide your app id). Thanks!

[2018-02-21 22:24] #270 closed

[2018-02-21 22:26] patapizza commented on #275
Sorry for the latency here.
This seems like a client-side issue, closing.

[2018-02-21 22:26] #275 closed

[2018-02-21 23:33] patapizza commented on #455
Closing since we stopped supporting Stories: https://wit.ai/blog/2017/07/27/sunsetting-stories

[2018-02-21 23:33] #455 closed

[2018-02-21 23:36] patapizza commented on #446
@dhalai Sorry for the latency here.
Feel free to reopen and provide your app id if you still experience the issue.

[2018-02-21 23:36] #446 closed

[2018-02-25 10:00] mohammad-melhem opened #978 "Delete entity role feature"
Requesting An important feature for wit API; which is **the ability to delete a role using the API**.

There is no current behavior to do this as far as I know. You can delete an entity or one of its canonical values but you can't delete a role. The workaround i came up with is to resend the samples that uses the role and retrain wit without providing the entity and the role in the samples. But th

[2018-02-26 00:38] stopachka commented on #967
Hi @zhanpengli -- could you email me the zip of your app? (stopachka [at] fb [dot] com)

[2018-02-26 00:39] stopachka commented on #978
Hm, great point @mohammad-melhem -- this should definitely be available. I'll add this into our roadmap

[2018-02-26 01:17] zhanpengli commented on #967
ok @stopachka i will email you soon, thanks for help.

[2018-02-26 03:45] stopachka commented on #967
Cheers @zhanpengli!

[2018-02-26 03:48] stopachka commented on #968
Hi @simplicity-admin , I am looking into this. will update here with what I find

[2018-02-26 03:49] stopachka commented on #976
Hey @AustinRow1 -- is this happening for you consistently, or do you notice it in spikes? The more info we have the better for this

[2018-02-26 04:44] stopachka commented on #967
I can repro the issue. Will look into it and let you know @zhanpengli

[2018-02-26 06:11] zhanpengli commented on #967
Looking forward to your good news @stopachka

[2018-02-26 07:45] monika1800 commented on #973
No the issue hasnt been resolved yet. Please look into it. The consecutive entities are getting combined if two entities comes under the same label.

[2018-02-26 13:36] paulopadopalos opened #979 "How Learning works for similarly phrased intents"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
This is a question.

Imagine a scenario where a bot answers two types of query which are worded in the same way but involve different entities. For example:

"Where is the {**building**}?" might invoke a lookup to return a map showing the location of a building entity.

"Where is the {**meeting**}?" might invoke

[2018-02-26 19:42] stopachka commented on #979
Hey @paulopadopalos ,

Wit could learn `findMeeting` and `findBuilding`, but they would often be conflicting with eachother, and you may need more data to train both of them about structure of the sentences.

I would think `findSomething` would be a better approach, because it let's your entity become more flexible. i.e if a user says `where is the telephone`, it can be easily extended, and the tr

[2018-02-26 19:45] stopachka commented on #973
Hey @monika1800 -- what do you mean they are combined?

Could you give us an app id, an example sentence, what you expect, and what happened? When you say combined, do you mean strictly in the UI, or the api is returning some sort of combination, where it chooses one entity or another and gives one the value of both?

[2018-02-26 20:57] paulopadopalos commented on #979
Hi @stopachka,

That sounds like Wit behaves as I suspected. I'll go with the `findSomething` approach.

The downside of this is that I then have to code up different scenarios based on what entities have been found... instead of having a simple `findMeeting` function and a separate `findBuilding` function, I'll end up with a single `findSomething` function which has to contain some if/then logic

[2018-02-26 20:57] #979 closed

[2018-02-27 05:08] AustinRow1 commented on #976
Hello, @stopachka . This is consistent behavior; I don't think that we have ever had it take less than four seconds for Wit to return a response after the last audio chunk is sent. That's the lower bound and sometimes it takes a couple seconds longer.

I'm happy to give you any info you may need.

[2018-02-27 09:19] nvkirankumar opened #980 "Incorrect response for pre-defined entity "wit/amount_of_money""
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
report a Bug
**What is the current behavior?**
if we say "Pay Kiran1 10eur"
wit/amount_of_money is detecting that as 110EUR

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
(Scenario: when a name ends with a single digit number followed a

[2018-02-27 13:46] makalaia opened #981 "Filter scope of search by parameter"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
question

**What is the current behavior?**
Hello all,

We're trying to build an app that could filter the scope of search by a parameter.

For example, in the case that different users accessing the api would have different access to different intents. So depending on a User-ID passed along the request, each us

[2018-02-27 16:02] hhg01 opened #982 "How do we ensure that a user question matches a correct intention?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
This is a question.

We are carrying out a project that at the moment only works to give the climate and air quality.

Our intentions for the moment are getClima, getCalidadAire, getImecas. For these intentions, it only has a numeric value except for getCalidadAire, which also obtains recommendations on activiti

[2018-02-27 16:19] patapizza commented on #980
Hi @nvkirankumar,

Thanks for reporting.

`wit/amount_of_money` is powered by [Duckling](https://github.com/facebook/duckling). Please open an issue there.

[2018-02-27 16:19] #980 closed

[2018-02-27 16:23] patapizza commented on #982
Hi @hhg01,

Once you've validated at least 50 different samples, you will see the Insights section for the `intent` entity. This will give you an idea on how the model behaves and help you optimize the confidence threshold. More info on our [blog post](https://wit.ai/blog/2017/08/08/insights).

Hope this helps!

[2018-02-27 16:23] #982 closed

[2018-02-27 16:29] patapizza commented on #981
Hi @makalaia,

It seems like this could be implemented on the client side. When reading the intent value from Wit's response, you can check if the user has access to this intent and gate the logic there.
You could also pass a value for `n` to filter out the intents that the user doesn't have access to, and use the remaining top one (make sure the confidence level is acceptable).

Hope this helps.

[2018-02-27 16:29] #981 closed

[2018-02-27 16:35] hhg01 commented on #982
OK thanks.

Another question if I declare a contamination entity directed to getCalidadAire and a car entity to getAuto when the user asks, can my car circulate due to air pollution? wit would not be confused in the intentions

[2018-02-27 17:50] #974 closed

[2018-02-27 19:24] brightening-eyes opened #983 "add support for small talks"
**What is the current behavior?**
wit doesnt have this feature
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**
it should be possible to add small talks like hello with a responce etc (with an intent or something else) something like wit/smalltalk which can have a reply assigned to the giv

[2018-02-28 23:02] brightening-eyes opened #984 "sdk for other languages should be developed for wit.ai?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
*feature*
**What is the current behavior?**
the libwit (which is community maintained is limited), no interaction with contexts, not being aible to create and/or work with entities, etc
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
more

[2018-03-01 03:42] zhanpengli opened #985 "In the training process encountered a bottleneck"
I feel that the "logistic" intent in my app does not work very well. It can't recognize long sentences very well. I am not sure whether the problem is that the training sentences are not enough or that there is a problem with the entity classification. Can you give me some advice?

app id: 5a825d08-557b-4622-bc77-ba05a5d7ec02

[2018-03-01 07:02] monika1800 commented on #973
Hi @stopachka,

The wit.ai engine was working fine before the last 2 weeks. Then suddenly it started combining the value of entities for the consecutive words which belongs to same entity.

For example,
for the below sentence the UI and api used to return,
 "Show me my classified expenditure"
  entity        value
  action     classified
  action     expenditure

Now, it started combining the cons

[2018-03-01 14:27] buchikey opened #986 "I am not able to add synonyms to values in amenities entity in my wit app"
I am not able to add synonyms to values in amenities entity in my wit app

App-Id:5a83d323-0b8a-4d78-b4b5-df6600b06762
App-name: tata_housing

[2018-03-01 21:07] upeismcschatbot opened #987 "Wit.ai app dose not recognize this sentence"
I want to train the sentence like the first picture, but after I tried many times still show like the second picture. Can any body help me? The sentence ask two things, but only show one purpose.
[
The sentence is: "What is the title of CS1910 and what does this class teach?"
![want](https://user-images.githubusercontent.com/35311737/36869653-e62a863a-1d72-11e8-995a-ea5d54499a14.jpg)
![real](https

[2018-03-01 21:08] patapizza commented on #987
Hi @upeismcschatbot,

Please use the provided template. What is your app id?

[2018-03-01 21:17] patapizza commented on #986
Thanks for reporting @buchikey, I'll look into it.

[2018-03-01 23:47] patapizza commented on #985
@zhanpengli Can you share a few sentences that don't work (and what is expected)? Thanks.

[2018-03-01 23:53] patapizza commented on #983
Hi @brightening-eyes,

Replies are part of dialog management. We've decided to fully focus on NLP by [sunsetting Stories](https://wit.ai/blog/2017/07/27/sunsetting-stories).
Small talk is a bit vague/broad on the scope. Today you can use `wit/greetings`, `wit/thanks` and `wit/bye` to detect those specific intents and build upon them.
We plan to provide [more entities](https://wit.ai/blog/2018/02/2

[2018-03-01 23:53] #983 closed

[2018-03-02 12:49] DavidCampaneroGarcia opened #988 "How can I delete all intents programatically?"
I just want to try with differents data sets, and program a function that allows me to reset the app.

I already can create new Traits and test the application.

But now if I want to try a different dataset I want to delete the Intents I created previously and add the new ones.

I don't want to delete the entire app and create a new one, cause I want to use the same Authentication Bearer everytime

[2018-03-02 17:19] l5t commented on #988
You can use https://wit.ai/docs/http/20170307#delete--entities-:entity-id-link

[2018-03-02 17:19] #988 closed

[2018-03-02 17:19] patapizza commented on #982
In the case where `getCalidadAire` and `getAuto` are traits, it might potentially return both entities with a confidence score. You can use that to decide whether there's one or two intents in the same input.

[2018-03-02 17:34] patapizza commented on #987
@upeismcschatbot The training shouldn't take that long (a few minutes is expected).

It seems like the models for `CRS_DESC9` and `CRS_TITLE9` have trouble finding the right features. Can you try adding more examples with different `CRS_NAME` to see if that helps? I see it's mostly `CS1910`.

[2018-03-02 17:38] patapizza commented on #984
Hi @brightening-eyes,

We don't have the bandwidth to provide and support SDKs in more languages. We picked Node.js, Python and Ruby as we thought those would be the most useful for the community.

That being said, our SDKs are a very thin wrapper around our HTTP API. It should be straightforward to build your own in the language of your choice.

[2018-03-02 17:38] #984 closed

[2018-03-02 17:43] patapizza commented on #973
@monika1800 Just to check, have you changed the search strategy for `action` from `keywords` to `free-text & keywords`?

[2018-03-02 17:45] DavidCampaneroGarcia commented on #988
But that would delete the entity "intent" isn't it? I want to delete the traits inside the entity "Intent" not intent itself.

[2018-03-02 17:46] l5t commented on #973
@monika1800  I also think it would be better to use trait entity in your case

[2018-03-02 17:48] l5t commented on #988
Let me clarify, an intent = a trait entity. Each entity has value so in your case you want to remove the intent values? if so: https://wit.ai/docs/http/20170307#delete--entities-:entity-id-values-link

[2018-03-02 17:48] patapizza commented on #988
@DavidCampaneroGarcia Indeed - to remove a single value, you can use [DELETE https://api.wit.ai/entities/$ENTITY_ID/values/$ENTITY_VALUE](https://wit.ai/docs/http/20170307#delete--entities-:entity-id-values-link).

[2018-03-02 18:04] DavidCampaneroGarcia commented on #988
@l5t @patapizza  Oh I understand, I made it work know :)

I was Post them with this: [https://wit.ai/docs/http/20170307#post--samples-link] So i thought I would have to use something similar. You can close the thread now, thank you guys!

[2018-03-02 18:23] patapizza commented on #976
Hi @AustinRow1, what is the average length of the audio samples?

Speech is not a priority for us at the moment. We do keep this in mind but can't provide an ETA on when things will improve. In the meantime, if the current state doesn't work well enough for you, we encourage you to try other solutions (e.g. iOS/Android native speech).

[2018-03-02 18:27] AustinRow1 commented on #976
@patapizza The audio samples are all ~5 seconds in length, give or take a couple seconds.

I understand, though it's a shame because Wit offers a very pleasant user experience from a developer standpoint.

[2018-03-03 11:08] monika1800 commented on #973
Hi @patapizza @l5t ,
I have not changed the search strategy for action from keywords to free-text & keywords. Though, I would like to mention that this is not just happening with "action" label. It is happening with every consecutive terms under same label recognised by wit.

I tried using "keywords" only lookup strategy as well. But then it only works for the values under that label and it doesn'

[2018-03-04 12:56] mohammad-melhem opened #989 "Change Lookup strategy through API"
Hi all, I would like to request another feature that is available through the wit console but not through the API.

It's necessary since clients sometimes would like to define an entity that should be detected only as keywords but I have to do that manually for them.

Thanks all for your continuous great work and support.

[2018-03-04 13:03] mohammad-melhem opened #990 "Entity Insight Info through API"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Request a feature

**What is the expected behavior?**

Provide an endpoint to the API to get entity insights info (available through the console when entity training is good enough, but not available through API).

[2018-03-04 18:52] tvvignesh opened #991 "Setting up environments"
Have been using wit for a quite some time now and while I love it, I have one feedback/feature request.
Is there any way you could support multiple environments like development, production, etc. with different access tokens, with isolated training scope.

Right now, there is no way to do it and even if you create separate apps for each of the environments and  do all your stuff in say, developmen

[2018-03-05 17:09] patapizza commented on #989
Hi @mohammad-melhem,

Thanks for pointing this out.

[2018-03-05 17:20] patapizza commented on #990
Hi @mohammad-melhem,

Thanks, will bring this up!

[2018-03-05 17:22] patapizza commented on #991
Hi @tvvignesh,

Indeed, that's on our roadmap: https://wit.ai/blog/2018/02/28/community-update-2018-02

[2018-03-05 19:19] tvvignesh commented on #991
@patapizza Nice to hear that. I read that blog post but was not sure since it was not explicitly mentioned about different environments. Looking forward to it.

[2018-03-06 16:31] hhg01 opened #992 "how to get a high recall in my application?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

This is a question.

I'm making an application with ingenuity, I already have enough records and I can see the Insights section.

My question is, how can I assign or give more precision and retention to my application?

I have already changed some entities from my records, but my recovery of entities continues

[2018-03-07 01:16] tonytonypeng opened #993 "What is the meaning of the question mark(?) in a paragraph?"
thanks~~~

[2018-03-07 01:45] stopachka commented on #358
this happened most likely because import requires the app to come in order (you can follow the `zip-command` in app.json. we will soon create a version where the order won't matter

[2018-03-07 01:45] #358 closed

[2018-03-07 01:46] stopachka commented on #967
Hey @zhangpengli

The root cause of this is the `orderNum` entity. We are actively working on fixing the issue for entities that have > 10K values.

In the meantime, I highly suggest removing the entity, and using regexes for orderNum, as that will perform much better then ML.

[2018-03-07 01:46] #967 closed

[2018-03-07 05:31] l5t commented on #993
Not sure what you're referring to. Can you elaborate?

[2018-03-07 05:45] tonytonypeng commented on #993
ok, i mean Whether the "?" will affect the training effect. like "where is my order"   "where is my order?"

[2018-03-07 22:57] aforaleka commented on #986
Hey @buchikey, thanks for reporting! I can't repro it, can you try again and let me know if it's working? Or is there a specific keyword that's experiencing the bug?

[2018-03-08 05:57] zhanpengli opened #994 "can not train expressions through api"
when i train expressions through api the response code show "200", but when i check in my app, it show nothing ,can u help me, thanks

[2018-03-08 10:50] DavidCampaneroGarcia commented on #994
I'm having the same problem. I think is not working well right now....

[2018-03-08 16:23] l5t commented on #994
Can you try again? We had some training latency last night. If this still doesn't work please report your app id

[2018-03-08 16:23] #994 closed

[2018-03-08 16:29] l5t commented on #993
The more validated sample, the better Wit will work. So having both with and without the "?" will help. That being said, Wit is robust and should handle well if you only train with or without the ?

[2018-03-08 16:29] #993 closed

[2018-03-08 16:32] l5t commented on #992
Have you checked https://wit.ai/docs/recipes#which-confidence-threshold-should-i-use? Not sure what you meant by recovery or retention

[2018-03-08 16:54] hhg01 commented on #992
Yes, already check that documentation.

The question is that in the level of confidence my presicion varies between 9 and 8, however my recall is always low, currently it is 0.54 and I do not know how to have a better value.

Or is it normal that in the graphic of confidence my recall lower its value?

[2018-03-08 17:13] l5t commented on #992
Can you share your app ID so that we can have a look and which entity you're talking about

[2018-03-08 17:16] hhg01 commented on #992
My app ID is 5a982ffa-2ce3-4b82-bb3c-102a27157458

[2018-03-08 17:51] l5t commented on #992
and you're talking about the intent or another entity?

[2018-03-08 17:57] hhg01 commented on #992
Yes, in my intentions I have access to Insights and what I can see there is that my recall is always in decline, I would like to know if there is any way to increase that percentage.

I have already added new fraces and changing entities a bit but the recall continues to go down

[2018-03-08 20:38] samueljseay opened #995 "How would I train wit to recognise bible verses in different forms?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
This is a question

I want to reliably extract bible verses from conversation and I can imagine they would come in multiple forms. I considered a regex as you've mentioned in other issues like determining a license plate, but there are cases for this that I think would be non-uniform.

e.g.

[code]
or potentiall

[2018-03-08 23:18] stopachka commented on #968
Hey @simplicity-admin

- I am looking at your app's error log over the last week
  - So far I have seen about 4 error logs, that seem to have come from transient issues
    - Are you still experiencing this issue?
      - If yes, can you go into how to repro this, or time windows of when it has happened for you?

[2018-03-08 23:43] simplicity-admin commented on #968
Hi @stopachka

Thank you for looking into this. To be honest what we had to do is to ping the wit.ai every 5 mins to make sure it stays "active". This has reduced the number of times this error happens dramatically. Hence the low count you so in the last week. But if you'd look into logs about few weeks back ( if available ) you'll see it used to happen a lot more regularly. I can see it has happe

[2018-03-09 08:18] DavidCampaneroGarcia commented on #994
It works perfectly now. It seems it was the latency problems

[2018-03-09 20:24] l5t commented on #992
It might be because different intent values conflict, for example if you validated the same kind of expressions for different intent values

[2018-03-09 22:07] aforaleka commented on #986
Feel free to reopen if you still experience the issue

[2018-03-09 22:07] #986 closed

[2018-03-11 14:28] serraventura commented on #223
Is it still not working well ?

[2018-03-11 14:33] tapan420 commented on #223
Migrated to Amazon lex

On Mar 11, 2018 7:58 PM, "Thiago Ventura" <notifications@github.com> wrote:

[2018-03-11 14:51] serraventura opened #996 "How to deal with $1.45/kg ?"
Do you want to request a feature, report a bug, or ask a question about wit?
question

where

rice = product (I guess a predefined list of products is the right thing to do here)
5 kg = quantity of the product (wit/volume ?)
$1.45/kg = price per kg (????)

What seems trick for me is $1.45/kg.

It could be

$1.45/pounds
$1.45/unit
$1.45/grams
$1.45/liter
$1.45/ml

Maybe there's a way to mix wit/amo

[2018-03-12 05:33] l5t commented on #223
Yes it should work now. Please reopen if you have any issue
![image](https://user-images.githubusercontent.com/6992759/37267241-2b68339e-257c-11e8-93c8-6d312ec6b163.png)

[2018-03-12 05:44] l5t commented on #996
I would use composite entities and the wit/quantity. As for the price per volume, I would probably create a custom entity, see below. With enough examples (20-30), Wit should be able to pick it up

![image](https://user-images.githubusercontent.com/6992759/37267472-b9f99156-257d-11e8-8b18-6ae78df995ad.png)

[2018-03-12 11:37] slhad opened #997 "wit/on_off entity is overlapping on_off entity in web UI"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a Bug

**What is the current behavior?**
Impossible to access "on_off" entity through UI, "wit/on_off" is shown instead

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

1. Create a "free text & keywords" entity named "one_off"
2.

[2018-03-13 02:59] Istvan446 commented on #997
H

[2018-03-13 15:24] hweiler opened #998 "App isn't fully recognizing a new trait value for Intent"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
I'd like to report a bug for renaming intent trait values.

**What is the current behavior?**
I changed the trait value for an intent, however, the app only partially updated the intent value for expressions that were previously trained. Some of the expressions are trained to the new trait value, but others stil

[2018-03-13 21:20] serraventura commented on #996
I'm testing it. How did you change the quantity to 5000 grams. I can't find a option to change it

[2018-03-13 22:36] l5t commented on #996
I did nothing. The wit/quantity is governed by [Duckling](https://github.com/facebook/duckling) our linguistic open source parser

[2018-03-14 08:19] serraventura commented on #996
Wow! I think your idea is working. But still need to train more the app.

Thanks again!

[2018-03-14 10:08] Xzya commented on #876
Any update on this?
Could you also reset my app please ?
AppID: 5aa8de2f-d253-4747-83fd-51e387075683
Thank you!

[2018-03-14 15:40] l5t commented on #996
Glad to hear.

[2018-03-14 15:40] #996 closed

[2018-03-14 15:51] SoumyaChaudhuri commented on #966
This appears to be happening again.

[2018-03-14 15:55] SoumyaChaudhuri opened #999 "Programmatic training not working"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
*bug*

**What is the current behavior?**
Programmatic training seems to not be working without going into the UI and manually training a new piece of data.  Looks like a repeat of #966

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1. P

[2018-03-14 17:02] patapizza commented on #999
Hi @SoumyaChaudhuri, thanks for reporting.

I fixed something on our end, do you still experience the issue?

[2018-03-14 17:03] patapizza commented on #998
Hi @hweiler,

Thanks for reporting.
What is the app id? What were the previous and new values?

[2018-03-14 19:56] devvtms opened #1000 "bulk update keywords?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
*question*

hi! its possible update keywords with array of values through api?
i use yet ` POST https://api.wit.ai/entities/$ENTITY_ID/values` but looks like that is only for single value...

[2018-03-14 20:10] upeismcschatbot opened #1001 "wit.ai recognize the wrong entity value"
I have two entity values are "AMS-2510" and "AMS-2510L". When I type a question is:"What is the prerequisites of AMS-2510?", the wit.ai should choose "AMS-2510". But, the wit.ai only choose "AMS-2510L". I tried to correct it, but does not work. Do you know why?

[2018-03-15 00:57] patapizza commented on #1000
Hi @devvtms,

It is possible to replace all the values using [PUT /entities/$ENTITY_ID](https://wit.ai/docs/http/20170307#put--entities-:entity-id-link).

Hope this helps.

[2018-03-15 00:57] #1000 closed

[2018-03-15 00:57] patapizza commented on #1001
Hi @upeismcschatbot,

Please use the provided template. What is your app id?

[2018-03-15 07:54] josephlingzb commented on #966
Yes I'm having the same issue again. Its pretty disruptive that this keeps occurring!

[2018-03-15 10:03] zhanpengli commented on #985
Thank you very much. I haven't found the right sentence yet.

[2018-03-15 10:44] etbuilder commented on #998
@patapizza  from our side, the wit.ai is not reflecting new changes directly sometimes it takes a day or two event thought the training sign goes from the dots to green

This happened when adding new entries, old data and old trained model works perfectly.

[2018-03-15 11:29] etbuilder commented on #999
@patapizza The issue happens with trait entities even if trained from console, or exporting and importing to a new app, nothing get trained/updated even if i send an exact match

[2018-03-15 13:29] bmcclenahan opened #1002 "contact losing precision ?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
the contact entity seems to have lost a bit of precision, including non-names in the entity.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
one repeatable behaviour is to ask "What's Matt's phone num

[2018-03-15 17:24] SoumyaChaudhuri commented on #999
It's working for me now.

[2018-03-16 00:42] vdisawar opened #1003 "Leading 0 for wit/number entity is stripped"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
This is a bug

**What is the current behavior?**
We are collecting 5-digit zip codes from users. Some zip codes have leading zeroes and wit/number entity strips out the leading 0, invalidating the valid zip code a user may have entered. We have tried to train this entity to accept leading 0's for 5 digit numbers

[2018-03-16 01:49] patapizza commented on #1003
Hi @vdisawar,

The numeral value for "05467" is 5467. To capture leading zeros, you can pass the `verbose` flag to `true` and look into the `_body` key:

[code]

Hope this helps.

[2018-03-16 01:49] #1003 closed

[2018-03-16 01:50] #999 closed

[2018-03-16 01:52] patapizza commented on #1002
Hi @bmcclenahan,

Thanks for reporting. Do you have more examples?

[2018-03-16 02:00] patapizza commented on #995
Hi @samueljseay,

It seems like a set of regexes would work.
Another idea to try is using composite entities, with a keyword entity for `Matthew`, and `wit/number` with different roles `chapter` and `verse`.
Let me know if that works!

This could also be implemented as a [custom dimension in Duckling](https://github.com/facebook/duckling/issues/29) (not ready).

[2018-03-16 02:00] #995 closed

[2018-03-16 02:02] patapizza commented on #997
Hi @slhad, thanks for reporting.

This is low priority - I'll add a note. Please use another entity name in the meantime.

[2018-03-16 02:02] #997 closed

[2018-03-16 03:50] bmcclenahan commented on #1002
No, that's the main one, other than that the contact entity is working quite well.

I spent some time trying to train it out but didn't get anywhere, so I thought you'd like to know as it was a fairly obvious fail.

Thanks for asking
Bruce
________________________________
From: Julien Odent <notifications@github.com>
Sent: Friday, 16 March 2018 11:52 AM
To: wit-ai/wit
Cc: bmcclenahan; Mention
Subj

[2018-03-16 05:09] gorenbox opened #1004 "Doesnt recognize composite entities, problem understanding May I have... is not the month of May"
I have a model called Order: App ID
5aa646f9-cb79-47e1-b709-8c6a4853817b

I  defined an entity menuItem: pizza, hamburger, fish and chips.... and a composite entity menuItemOrder which is quantity + menuItem, ex, 3 pizzas.

And I defined an intent Order which is to place and order ex, I want 2 pizzas.

I trained the model a bit and it doesnt seem to be able to understand the exact same sentences I

[2018-03-16 05:38] gorenbox commented on #1004
I think the issue with "May I have a pizza...." recognizing it as a date, is simply a bug.

An interesting discussion is how to build a model that handles "3 pizzas" as well as "a pizza".

option1: define a menuItem entity to be the foods (pizza, milkshake...) and a composite entity menuItemOrder which is quantity + menuItem (3 pizzas) OR just menu item (a pizza). The intent of making an order alw

[2018-03-16 07:08] etbuilder commented on #974
@blandinw 5a6c8605-21b0-4d1e-a384-578c5d9ba327, I just trained another item to list another value, but still it shows the old value... the app started to work with the newly added data but after almost 20 hours.

[2018-03-16 10:15] etbuilder commented on #974
@blandinw  Still ours is not working properly, we added a couple more but still they are not trained event with exact match.

[2018-03-16 11:08] etbuilder commented on #998
@patapizza  my app id 5a6c8605-21b0-4d1e-a384-578c5d9ba327, I just trained another item to list another value, but still it shows the old value... the app started to work with the newly added data but after almost 20 hours.

[2018-03-16 18:14] patapizza commented on #1004
Re "May I have a pizza...": `wit/datetime` is powered by [Duckling](https://github.com/facebook/duckling). Duckling's philosophy is to optimize for recall, so if there's anything that could be a datetime, it will parse and resolve it as such. In this case, `May` should return a grain of `month`, which you can use to filter out datetimes not useful in your app. Usually, one would ignore datetimes b

[2018-03-16 18:17] patapizza commented on #876
@Xzya Your app is now trained.

[2018-03-16 18:18] patapizza commented on #966
@josephlingzb It seems that this was a different, transient issue. Do you still experience the issue?

[2018-03-16 18:19] patapizza commented on #974
@etbuilder Do you still experience the issue? What is the new value you're looking for?

[2018-03-16 18:20] patapizza commented on #985
So it does work? Feel free to reopen once you find a few misbehaving examples.

[2018-03-16 18:20] #985 closed

[2018-03-16 18:22] patapizza commented on #998
@etbuilder Do you still see the old value (which one is it?)? Do you have an example that doesn't work?

[2018-03-16 18:24] etbuilder commented on #974
@patapizza its **back working now**, but for the last two days, the three dots shows then the green one appears indicating the training is complete but yet, the Last trained in insights does not change and its sometimes one day before.

[2018-03-16 18:26] etbuilder commented on #974
@patapizza anything changed, was our app having an issue or the wit platform in general as this results in ambiguity for us. we don't know if what we are doing is right or wrong!

[2018-03-16 18:32] patapizza commented on #1004
Can you try setting the search strategy for `menuItemOrder` to `free-text` only?
I see multiple keyword values (5 hamburgers, 6 hamburgers, ...). This might confuse the models. For example, `I want 6 hamburgers` works, but not `I want 10 hamburgers` (matching `hamburgers` to `6 hamburgers`, leaving `10` outside).

[2018-03-16 18:40] patapizza commented on #974
@etbuilder The training dot is not always accurate - the training is done asynchronously and we prevent it from spinning for a while. We have plans to fix this, to better reflect when the training is actually done.

There seems to have been a transient issue in our backend.

[2018-03-16 20:49] etbuilder commented on #974
Ok great thanks a lot.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Julien Odent <notifications@github.com>
Sent: Friday, March 16, 2018 8:41:03 PM
To: wit-ai/wit
Cc: Emad Ejielat; Mention
Subject: Re: [wit-ai/wit] wit.ai is returning only one intent (as many trained, worked for 2 years) (#974)

@etbuilder<https://github.com/etbuilder> The training dot is

[2018-03-16 23:41] #998 closed

[2018-03-17 09:54] zhanpengli commented on #985
I'm not sure about this, because I recently changed my training and query mode, just for the website to go online more quickly, I will continue to observe this question....

[2018-03-17 09:54] zhanpengli commented on #985
@patapizza thanks

[2018-03-17 09:56] zhanpengli commented on #967
@stopachka  ok, thank you very much, i already change the method

[2018-03-17 10:50] ysterysys opened #1005 "wit. ai with facebook"
Hello ,
new to this .. i'm trying out Wit.AI with facebook developer .. i had follow the tutorial in Wit.ai  created the chatbot .. When im integrating with facebook messager... it mentioned to enable NPL in FB .. however , im not able to find the call back URL ... please help

[2018-03-17 13:04] upeismcschatbot opened #1006 "How to let APP not to recognize some trained key words?"
Hello,  I trained APP to recognize some keys, such as class name and faculty names. In some sentences, I only want APP recognize class name, but some English words in this sentences are recognized by APP as faculty name. How can I let APP not to recognize some keywords? Thank you!  my email address is cfei@upei.ca

[2018-03-19 08:14] josephlingzb commented on #966
@patapizza yes we are still experiencing it. app id 5a336efc-05fb-4775-b180-5e8c2be881cf

[2018-03-19 15:17] patapizza commented on #1006
Hi @upeismcschatbot,

You can switch the strategy from `free-text & keywords` to `keywords` only: https://wit.ai/docs/recipes#which-entity-should-i-use.

Please use the provided template if you need more help. Thanks!

[2018-03-19 15:17] #1006 closed

[2018-03-19 15:19] patapizza commented on #1005
Hi @ysterysys,

Here is the documentation on how to enable Built-in NLP: https://developers.facebook.com/docs/messenger-platform/built-in-nlp#enabling_nlp

Hope this helps.

[2018-03-19 15:19] #1005 closed

[2018-03-19 15:37] patapizza commented on #966
@josephlingzb I've retrained your app and it seems to be working. Can you share examples/values that don't work? Thanks.

[2018-03-19 15:39] alexeymkh opened #1007 "Multiple locations in one sentence"
I'm tryin to recognize multiple locations separated with space via wit/locations, but it connects all cities in one intent-unit (first two screenshots).
I tride to validate examples many times and get no result.
How can I separate all citys in different pieces?

Also, wit/locations recognized multiple-word locations incorrectly (third screenshot), is there a recipe to recognize in a right way?

![

[2018-03-19 17:14] patapizza commented on #1007
Hi @alexeymkh,
Thanks for reporting.

The first issue is a tricky one, since things like `rio de janeiro` should be tagged as one location.
The second one is a bug: `rio de janeiro` should be tagged as a single `wit/location`.

[2018-03-20 01:15] josephlingzb opened #1008 "Training the model using PUT https://api.wit.ai/entities/$ENTITY_ID updates the wit.ai UI but doesn't seem to update the model"
Hi, Im using PUT https://api.wit.ai/entities/$ENTITY_ID to update the expressions. The new expressions can be seen on the wit.ai console, but inputting the exact expression never goes to the correct intent.

For e.g., on app-id 5a336efc-05fb-4775-b180-5e8c2be881cf, I added an intent called Test Intent with one expression: "test intent" using the PUT api. The update shows up on wit.ai UI but when I

[2018-03-20 01:46] zhanpengli opened #1009 "Feature request: order samples by time DESC"
hi, Can the training statements of wit. Ai be shown in chronological order? just like that below
![image](https://user-images.githubusercontent.com/32571006/37631192-82444290-2c23-11e8-9ef6-d5c8bb4f2436.png)

[2018-03-20 05:10] sagarmali3489 opened #1010 "Wit.AI API does not return correct intent even after validating couple of times."
I have created an app with WIT.AI where i have defined a trait / intent as "ViewPrepaidBalance" under which i have added expression and validated all the expression with entity intent mapped to ViewPrepaidBalance.

Current Behaviour:
But when i hit the API / view the output on click of API preview it always return the "greeting" intent which i created very first when i created app. Same is happeni

[2018-03-20 07:29] zhanpengli commented on #1009
By the way, what is the maximum number of training sentences under value? thanks

[2018-03-20 09:49] alexeymkh commented on #1007
Hi @patapizza,
so is it possible using some technique to recognize two cities divided by space as two locations right now, or your crew will do some improvements at first?

[2018-03-20 10:15] vietanhtran1996 commented on #1010
I have similar issue as well. My app was working fine but I wanted to try something different so I export the data as a back up. After playing around, I delete the app and created a new one with the back up. Now wit does not recognise any intent

[2018-03-20 16:04] patapizza commented on #1007
A hack I can think of would be to feed each individual word tagged as `wit/location` as well as the whole span to a resolver and filter out the unresolved one. We might provide this at some point.

[2018-03-20 16:07] patapizza commented on #1010
Thanks for reporting, we're investigating this.

[2018-03-20 16:07] patapizza commented on #1008
Thanks @josephlingzb. This might be a duplicate of #1010.

[2018-03-21 00:01] vietanhtran1996 commented on #1010
Hey,

Dont worry about it. It is working now. I think it just took a while to re
learn all the intents. I thought it finished because the learning status at
the top turned green but actually it was learning in the background.

Thanks,
Viet Anh Tran

On Wed, Mar 21, 2018 at 5:07 AM Julien Odent <notifications@github.com>
wrote:

[2018-03-21 02:14] josephlingzb commented on #1008
Hi @patapizza, hmm I don't think it the same issue. #1010 seems to be just a delay on training. Check out this app-id 5aaf874d-49c1-429a-ab63-094334dcc2dc. I have an intent called "Hi" with the expression "hi" trained. This was done almost 12 hours ago, yet testing the expression "hi" does not give any intent at all.

[2018-03-21 06:54] woprzech commented on #879
I also have a problem with adding new expressions to existing entities. Can you restart training? :)
5a3c0af6-e078-4bde-a7e6-dc3d05d101aa

[2018-03-21 09:21] herrspiess commented on #1010
Hey everybody, for me it isn't working again. I am not able to add any new expressions / training examples to an intent. I have trained one particular expression about 6 oder 7 times today, the training status even changed to training, but with no effect: The expression is still not being recognized.

[2018-03-21 11:53] khwstech opened #1011 "Question mark changes confidence"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
In WIT the confidence level it shows when adding a question mark to end changes.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Type in WIT
What does the W stand for?
and
What does the W s

[2018-03-21 12:02] klemensz commented on #513
Any news? I just made en export of an app with 18 entities, and re-imported it to a new app. Now there are 38 entities, most of them don't have a name, expressions are missing. Unusable...

[2018-03-21 12:52] ensargunesdogdu commented on #1010
Hey Everybody,

How much time does it take train whole data? Do you have any idea?

[2018-03-21 13:51] s-nour opened #1012 "Trait expressions trained but not working"
Trait expressions trained through Wit.ai interface as well as through the API don't seem to be working.

When I checked the trait expressions in Wit.ai, all trained expressions were listed
![complaint](https://user-images.githubusercontent.com/19264187/37713143-a15ae318-2d1e-11e8-9537-d4f8ac9e040f.JPG)

However, if I type the same expression in the Understanding section, the trait entity is never

[2018-03-21 15:44] l5t commented on #1009
Seems like a great idea. Let me see if we can do it soon

[2018-03-21 15:45] l5t commented on #1009
I don't think we have a max number of training sentences

[2018-03-21 15:47] l5t commented on #1008
12 hours seems a lot, we may have had an issue with our training loop. Do you mind testing adding a new entity with PUT and wait for a few minutes

[2018-03-21 16:04] l5t commented on #1012
Thanks for reporting. Can you follow the template next time? What is the App ID where you are experiencing this issue?

[2018-03-21 21:09] kgarwal04 commented on #916
Hi. I am still facing this issue. For instance, if I send 10 messages only 2 or 3 of them appear in inbox. The response code is 200 and the confidence level is also less than 1.00 for all the 10 messages. I was wondering, how much time should I wait for all the messages to appear in my inbox?

[2018-03-21 22:54] blandinw commented on #976
@AustinRow1 can you provide an example audio file causing slow requests for your app 5a4fea00-6705-4cfa-a9de-ad3d98fbaea7?

[2018-03-22 00:41] zhanpengli commented on #1009
ok, that's great, looking forward to your good news, thank you @l5t

[2018-03-22 13:01] iamkenken commented on #1012
same issue here, my app id 5ab38632-7d4b-4355-b05e-f195c9e155a5

[2018-03-22 17:53] patapizza commented on #1010
We're still on this. In the meantime try validating more examples to kick start a new training.

[2018-03-22 19:16] blandinw commented on #1007
This is something we'll fix at some point, but is not high priority compared to the other projects we're working on at the moment. Leaving this issue open to track feature request

[2018-03-23 01:44] zhanpengli commented on #1009
@l5t  hey, I want to ask one more question here, which is the limit of the number of queries, now is 280 characters, is it possible to have more?

[2018-03-23 03:46] askshi opened #1013 "Training is not reflecting,"
**I have been trying to train entities, but training is not reflecting**

**On the understand tab, I am adding one keyword and mapping it to entity keyword to validate. It is added to that entity also, but when I try to retrieve the entity from the keyword, its not giving any entity.**
Steps to reproduce:
1. In the understand tab, add a keyword white lucent/sunscreen.
Refer the screenshot:
https:/

[2018-03-23 06:12] zhanpengli commented on #1009
if wit.ai can show the number of training statements that will be helpful :)
![image](https://user-images.githubusercontent.com/32571006/37814249-f4ea2a9e-2ea3-11e8-9146-03c378d97b6b.png)

[2018-03-23 10:02] NourShalabi commented on #1010
Hello everyone,
We are having the same issue as well, the training doesn't take affect most of the time.

[2018-03-23 11:07] Breci opened #1014 "Detecting composite entities with only space as separator"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
A bug
**What is the current behavior?**

![Current behavior](https://i.imgur.com/4Dy7z1Y.png)
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
The app has been trained to detect "item" that can contain "wit/number"(optional) and "product"(

[2018-03-23 16:20] mahadevTW opened #1015 "Sorry, something went wrong"
Getting error message while making post request

Sorry, something went wrong
We're working on it and we'll get it fixed as soon as we can

[2018-03-23 21:24] patapizza commented on #1015
Hi @mahadevTW,

Please use the provided template. What is your app id? What request did you do? Can you reproduce consistently?

Thanks!

[2018-03-23 21:26] patapizza commented on #1014
Thanks for reporting @Breci!

This is a specific case of https://github.com/wit-ai/wit/issues/1007.

[2018-03-23 21:26] #1014 closed

[2018-03-23 21:33] patapizza commented on #916
Hi @kgarwal04, what is your app id? What are the messages you expect to see?
Just to be sure, validated messages don't show up in the Inbox.

[2018-03-23 21:39] patapizza commented on #513
@klemensz We're working on improving the import reliability. This is likely going to still take a few more months. Thank you for your patience.

[2018-03-23 21:51] patapizza commented on #1011
Hi @khwstech,

Re confidence, I get `0.984` with the question mark and `0.993` without. That's not such a big difference.

Looking at your `intent` entity, it seems like you'd need another entity to capture things like `Mobil 1`, `synthetic oil`, `viscosity` and group all the `what is xx` type of samples under a same value `whatIs` (same for all values; try to reduce them by grouping together the

[2018-03-23 21:51] #1011 closed

[2018-03-23 21:53] patapizza commented on #316
Closing since we've [sunset Stories](https://medium.com/wit-ai/launching-built-in-nlp-for-messenger-and-sunsetting-bot-engine-beta-46e9038869a5).

[2018-03-23 21:53] #316 closed

[2018-03-23 21:54] patapizza commented on #286
Sorry for the latency here. Feel free to reopen if you still experience the issue.

[2018-03-23 21:54] #286 closed

[2018-03-23 22:05] patapizza commented on #960
Closing in favor of https://github.com/wit-ai/wit/issues/266.

[2018-03-23 22:05] #960 closed

[2018-03-23 22:05] patapizza commented on #289
Closing in favor of https://github.com/wit-ai/wit/issues/266.

[2018-03-23 22:05] #289 closed

[2018-03-25 01:00] upeismcschatbot opened #1016 "My app is on training status forever"
Hi, my app id is: 5aad101a-2972-4f8d-b335-d725bc203f64

I trained my app with about 4000 sentences with http request.

But, my app was on training status for more than 5 hours. And I can not find the trained sentences.

Can you please help me? My email is: cfei@upei.ca

[2018-03-25 13:42] vladikus10 opened #1017 "Import data to already created Apps."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Feature
**What is the current behavior?**
Currently you can make a back up of your app and technically remove/modify the entity files.
**What is the expected behavior?**
Some bots may share a lot of behavior (for example: small talk topics) with each other, however currently there is no way to add that behavior

[2018-03-25 14:03] hactar commented on #1017
You can also use the wit API to post entities, post samples, etc into an existing app (https://wit.ai/docs/http/20170307). This may be more convenient then using the import system, especially since it isn't reliable at the moment (see #513).

[2018-03-25 14:35] doc1991 opened #1018 "Datetime enitie in Greek"
The app id is: 5a6a4543-f047-46de-919c-6ff4c50548 Suddenly happens this
![screenshot from 2018-03-25 17-32-43](https://user-images.githubusercontent.com/15673602/37876285-cd13752e-3052-11e8-8e0a-ed51151f6aa8.png)

Thanks in advance

[2018-03-25 14:50] vladikus10 commented on #1017
@hactar Oh, I actually never thought of it.

[2018-03-25 19:14] mohamed-okasha opened #1019 "Arabic prefix should not be recognized as a part of entities"
I think this a Bug or Something changed in wit rule based entity extractor .

In the past, when i was training wit on sentences and select partial of words without prefixes, wit success recognize this part of word not the whole word; For Example:
word="بالفانيلا" [prefix="ب"+"ال" so the stem of this word "فانيلا"]

When select this part of word "فانيلا" and binding with custom entity, wit recogniz

[2018-03-26 02:18] zhanpengli commented on #1009
@patapizza  Perhaps my statement is incorrect, I mean whether you can show the number of sentences I have added on the interface, , because I need to know how many sentences I have added. thanks :)

[2018-03-26 03:47] l5t commented on #1016
Just restarted

[2018-03-26 03:47] #1016 closed

[2018-03-26 09:01] zhanpengli opened #1020 "when download the zip file find some useless sentences"
just like that below, Will it matter?
![image](https://user-images.githubusercontent.com/32571006/37896829-4d0cb7b2-3117-11e8-9546-b9cef97825bf.png)

[2018-03-26 12:02] klemensz commented on #513
OK, we need it this week. Thanks anyway.

[2018-03-26 13:34] vladikus10 opened #1021 "App does not match trait entity, even if the inputted sentence is word to word like the trained expression."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Possible bug or misunderstanding
**What is the current behavior?**
Currently I have a trait entity called *question* with value *location* with the following expressions:
[code]
The *bathroom* is an entity called *place*.
When I do a request with the sentence: "Where can I find the bathroom?", which is word to w

[2018-03-26 14:37] NolzMalele opened #1022 "I'm creating my first app and don't have the stories tab on my page (https://wit.ai/NolzMalele/MyFirstApp/entities) as illustrated in the tutorial"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**What is the App ID where you are experiencing this issue (if applicable)?**

[2018-03-26 14:53] hactar commented on #1022
The tutorial you are using is outdated. The story feature has been removed (https://medium.com/wit-ai/launching-built-in-nlp-for-messenger-and-sunsetting-bot-engine-beta-46e9038869a5) . The official quick start no longer references stories (the button is still in the screen shots, so ignore that);

https://wit.ai/docs/quickstart

[2018-03-26 15:20] patapizza commented on #1018
Hi @doc1991,

Can you copy the example in all letters here? It will be easier to reproduce than from the screenshot.

[2018-03-26 15:24] patapizza commented on #1019
Hi @mohamed-okasha,
Thanks for the thorough report.

I can't repro this:
![](https://i.imgur.com/EKxC5rV.png)

Please reopen if you still experience the issue, more examples can help.
Thanks!

[2018-03-26 15:24] #1019 closed

[2018-03-26 15:26] patapizza commented on #1022
As @hactar said.
We'll update the screenshots.

[2018-03-26 15:26] #1022 closed

[2018-03-26 15:27] patapizza commented on #1020
Hi @zhanpengli,

Please use the provided template. What is your app id?

[2018-03-26 15:28] patapizza commented on #1009
Ha got it!

[2018-03-26 15:34] patapizza commented on #1017
Hi @vladikus10,

We still have collaborative entities on our [roadmap](https://medium.com/wit-ai/community-update-february-2018-d6a25c93827f) (https://github.com/wit-ai/wit/issues/266). Stay tuned!

In the meantime, you can use the API as @hactar suggested.

[2018-03-26 15:34] #1017 closed

[2018-03-26 15:46] doc1991 commented on #1018
βάλε ξυπνητήρι στις 12:00 το βράδυ

[2018-03-26 15:48] patapizza commented on #1021
Hi @vladikus10,

Thanks for the thorough report.
This is indeed unexpected. Can you try validated a few more samples of `Where can I find` with different places?

[2018-03-26 15:51] alexeymkh commented on #1007
@blandinw Can your command fix it asap? This issue makes one of our product's planned feature imposible, but we need to release it to our client next monday.

[2018-03-26 15:58] patapizza commented on #1018
Thanks.

`wit/datetime` is powered by [Duckling](https://github.com/facebook/duckling).
The issue here is that evening is defined between 6pm and 12am exclusive the next day. As a result, "12" and "in the evening" don't intersect.

This is an edge case - I've added an internal bug for this.

[2018-03-26 15:58] #1018 closed

[2018-03-26 17:04] vladikus10 commented on #1021
Hey @patapizza, i will.

While on the topic, I wanted to ask. If you have dozens of places, wouldn't it be enough to just give one expression and then specify a *place* keyword entity and then give it more place values? I have it like that in this app and it seems to work fine with other places (well atleast for the expressions that do work).

[2018-03-26 17:54] vladikus10 commented on #1021
I added more expressions with the same result, it just detects the *place* entity.
[code]
If I actually set the **n** parameter to 2, then it actually shows that it detects it as location question at `0.23` :
[code]

[2018-03-26 18:19] snathju opened #1023 "Cannot find Story tab and Action tab in wit.ai"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**What is the App ID where you are experiencing this issue (if applicable)?**

[2018-03-26 19:12] mohamed-okasha commented on #1019
Hi @patapizza
Thank you for quick response

Can you see this
![image](https://user-images.githubusercontent.com/6838651/37927262-e7082a28-3139-11e8-9f3b-ca75d6cf77db.png)
Today i have exported my project and import it in a new project and all things work fine.

[2018-03-26 23:27] l5t commented on #1023
We decided to sunset stories and action last year to focus on NLP. More info here: https://medium.com/wit-ai/launching-built-in-nlp-for-messenger-and-sunsetting-bot-engine-beta-46e9038869a5

[2018-03-26 23:27] #1023 closed

[2018-03-27 01:24] zhanpengli commented on #1020
@patapizza  app id : 5aa0ad58-02eb-407c-acce-165186733b40 :)

[2018-03-27 04:46] stopachka commented on #953
Hey @bmcclenahan -- coming back to this, with an intent to ship the fix.

Could you clarify what you mean by postbacks?
  - quickreplies would indeed arrive to the wit inbox, but I don't think postbacks would
     - what do you see when a postback is sent?

[2018-03-27 04:50] stopachka commented on #936
merging into #953

[2018-03-27 04:50] #936 closed

[2018-03-27 06:56] bmcclenahan commented on #953
see >>>

________________________________
From: Stepan Parunashvili <notifications@github.com>
Sent: Tuesday, 27 March 2018 2:46 PM
To: wit-ai/wit
Cc: bmcclenahan; Mention
Subject: Re: [wit-ai/wit] Postback in NLP ? (#953)

Hey @bmcclenahan<https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fbmcclenahan&data=02%7C01%7C%7C12ce2273c853465dd4ef08d5939dc536%7C84df9e7fe9f640a

[2018-03-27 09:39] asfyra opened #1024 "Problem with defining intents and entities based on free text"
Hi, i tried to add a new intent today to an existing app that i have and realized that the new intent (type trait) did never work.
I though it might be something with the existing project so i created a new one and tried again.
I created two new intents of type trait, did the usual training and i got the same results.
The intents are not returning even if i use text that i entered during training.

[2018-03-27 11:09] vladikus10 commented on #1021
**UPDATE**:
I tried some other sentences and for what ever reason, wit can't identify "What is the location of the bathroom?", how it finds fine the input "What is the location of the meeting room?", even tough the trained expression has a different keyword in it.
[code]

[2018-03-27 12:47] asfyra commented on #1024
Everything ok after serveral hours !
The green indicator though did not show anything about the system working on the background

[2018-03-27 12:47] #1024 closed

[2018-03-28 09:35] emc111 opened #1025 "Datetime issue identifying years prior to the current year when locale is set (to "en_GB")"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
When "en_GB" is set as a locale the datetime entity gets the wrong year for years before the current year.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Send a message to an app that expe

[2018-03-28 13:10] nirmaljosep commented on #1021
I have been facing the same issue from past two days. App id:
5aba14c0-f06e-4346-8fcb-4bff155823da

[2018-03-28 13:18] nirmaljosep commented on #1010
same issue here, my app id 5aba14c0-f06e-4346-8fcb-4bff155823da

[2018-03-28 13:18] nirmaljosep commented on #1008
same issue here appid:5aba14c0-f06e-4346-8fcb-4bff155823da

[2018-03-28 15:09] l5t commented on #1021
just restarted your app

[2018-03-28 15:09] l5t commented on #1010
https://github.com/wit-ai/wit/issues/1021#issuecomment-376880686

[2018-03-28 15:09] #1010 closed

[2018-03-28 15:09] l5t commented on #1008
https://github.com/wit-ai/wit/issues/1021#issuecomment-376880686

[2018-03-28 15:09] #1008 closed

[2018-03-28 16:02] l5t commented on #1025
Can you provide your app id and also the request? I just tested and it worked for me

With locale en_GB

[code]
returns ...value":"2018-10-11T00:00:00.000-07:00"

Without locale en_GB

[code]

returns ...."value":"2018-11-10T00:00:00.000-08:00"

[2018-03-28 16:29] tommasnik opened #1026 "Wit does not learn"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug

**What is the current behavior?**
Wit does not learn at all

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Create app - language czech. Train sentence "Ahoj" (czech translation of "hi") and train it as intent "ahoj". Then even if y

[2018-03-28 16:33] emc111 commented on #1025
Hi,

As describe, you need to test it with a year prior to the current year - for example, 2008

e

 

Sent: Wednesday, March 28, 2018 at 5:02 PM
From: "Laurent Landowski" <notifications@github.com>
To: wit-ai/wit <wit@noreply.github.com>
Cc: emc111 <emmett@who.net>, Author <author@noreply.github.com>
Subject: Re: [wit-ai/wit] Datetime issue identifying years prior to the current year when locale

[2018-03-28 16:43] emc111 commented on #1025
Can you explain why this issue is closed - has it been tested with the case provided in the issue i.e. a year prior to the current year?

 

Sent: Wednesday, March 28, 2018 at 5:02 PM
From: "Laurent Landowski" <notifications@github.com>
To: wit-ai/wit <wit@noreply.github.com>
Cc: emc111 <emmett@who.net>, Author <author@noreply.github.com>
Subject: Re: [wit-ai/wit] Datetime issue identifying years

[2018-03-28 16:58] l5t commented on #1026
We have a backlog in our training queue but we are working on it, it should be fixed soon

[2018-03-28 17:04] l5t commented on #1025
Sorry I should have closed it. But with a previous year it works for me also. Can you provide the exact request you send?

{"_text":"remind me on 11\/10\/2008","outcomes":[{"confidence":0.594,"intent":"alarm_set","_text":"remind me on 11\/10\/2008","entities":{"datetime":[{"confidence":0.96530583333333,"values":[{"value":"2008-10-11T00:00:00.000-07:00","grain":"day","type":"value"}],"value":"2008-

[2018-03-28 17:30] tommasnik commented on #1026
Is there any API for getting status of training? It's not for the first time we experienced such issue and it would be very helpful for us as well as for our users.

[2018-03-29 03:45] l5t commented on #1026
Thanks for the feedback, we have the training status api on our roadmap and hope to get at it in the next few months

[2018-03-29 03:45] #1026 closed

[2018-03-29 06:58] tommasnik commented on #1026
The app 5abbbccc-11cb-4916-a5b5-7845d4ecdd64 still does not work. It does not recognize any messages even the exact copies of the training data.
Is there still the same problem? Is there any explanation that we as developers could tell to our boss?

[2018-03-29 07:17] sagarmali3489 commented on #1010
Few observation:

All the training data created gets updated and worked on next day, almost after 20+ hours. I have observed it with 3 app i created with WitAI.

[2018-03-29 07:29] nirmaljosep commented on #1021
Still no luck. Trained with 'please set the room temperature' for trait set_temperature. Using exact words also doesn't finds a match. And can we do this app restart from our end? incase training is getting stuck regularly.

[2018-03-29 07:38] ondrejbudai commented on #1026
I can confirm there's still problem with learning. My newly created apps (20 minutes ago) are still unable to learn anything.

Affected apps' IDs:
[code]

[2018-03-29 09:06] ondrejbudai commented on #1026
Ok, now it works, but the training took quite some time. Surely more than it's indicated by training status icon.

[2018-03-29 11:06] upeismcschatbot opened #1027 "how to let wit.ai not to pick up trait entity"
Hi, I do not know if it is an issue. But, I do need some suggestions. I am training wit.ai to recognize courses information by using trait entity to present the intent of the sentences and key words entity. Then, I typed some sentences that should not recognize any trait entity, such as "you are funny". But it pick up the trait entity of "CRS_TITLE" that I trained. How can I avoid it? Thank you!

[2018-03-29 11:15] JarneJC opened #1028 "Dutch swearwords censored out/recognized as a wrong Entity"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
A question.

**What is the current behavior?**
I'm trying to get Wit to understand and react to Dutch swear words. I have created an "intent" for this, in wich I've added some keywords that I would like to detect as swearwords. So far it's been recognizing some swear words, while others are not recognized and/or

[2018-03-29 13:47] emc111 commented on #1025
Just to follow up, I am now not able to reproduce either - I will keep trying, but at the moment it is behaving differently to how it was yesterday

[2018-03-29 15:07] l5t commented on #1025
I will close but please reopen if you reproduce. FWIW, we have not changed anything on this code path in the recent days

[2018-03-29 15:55] l5t commented on #1026
Yes the training status is misleading.

[2018-03-29 15:56] tommasnik commented on #1026
Is it possible that our app 5abbbccc-11cb-4916-a5b5-7845d4ecdd64 is still in training? Can I do anything to make it work?

[2018-03-29 16:27] klemensz opened #1029 "API timeout 504 by using version parameter from documentation"
**Bug**

**What is the current behavior?**

The API returns an error 504 (Server timeout).

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

[code]

**What is the expected behavior?**

It should return a success message and status 200.

**What is the App ID where you are experiencing this issue (if applicable)?**

5ab976ea-

[2018-03-29 17:34] blandinw commented on #1021
Please try again, your app had training issues, which we fixed and are preventing from happening again

[2018-03-29 17:34] blandinw commented on #1010
This is due to delay in processing the training data. We are aware of the issue and are working to prevent that from happening again.

[2018-03-29 17:35] blandinw commented on #1026
We fixed training issues this morning again and are working to prevent them from happening.

[2018-03-29 23:56] l5t commented on #1029
Hey, we have had some issues today this is why your call timed out. But the correct way is what you see in the documentation... You just had luck when testing with v=29.03.2018 ;-) Sorry for the inconvenience
just tested this and it worked.

[2018-03-29 23:56] #1029 closed

[2018-03-30 07:41] nirmaljosep commented on #1021
Created a new bot and trained for set_temperature. Exact trained phrases also not working.
Could you be more specific on identifying root cause than saying app restarted. Completely stuck with this for nearly 4 days.
New app id:5abde675-c577-4d6a-89c7-af90b1f57fc3
![image](https://user-images.githubusercontent.com/37871957/38129080-112d06be-341b-11e8-96ce-b64c0f67c1c2.png)
![image](https://user-im

[2018-03-30 11:20] klemensz commented on #1029
OK, thanks. I tried around 20 times with the one version parameter and it failed, and with the other one it worked instantly. BTW you are showing this `v=29.03.2018` in the settings of the app as an example für the curl command.

[2018-03-30 11:32] herrspiess commented on #1010
Why is this issue closed? It's still not fixed yet. We can't train new examples here for about two weeks now.

[2018-03-30 11:32] herrspiess commented on #1021
This really sucks. We are not able to train new examples here for about two weeks now.

[2018-04-01 11:54] upeismcschatbot opened #1030 "can not delete a value of an entity"
Hello

my app id is: 5aad101a-2972-4f8d-b335-d725bc203f64

My app has an entity "CRS_NAME". I want to delete a value"AMS-2510L-1". But the value never disappear after I deleted it. I also try to delete other values, has the same problem.

Please check it for me. my email: cfei@upei.ca

Thank you!

[2018-04-01 22:48] blandinw commented on #1010
@herrspiess can you provide a repro? or specific time windows where the issue happens?
A script with API calls would be ideal.

[2018-04-02 00:43] blandinw commented on #1028
You can check for a word censored out using your own code (regex `'[a-zA-Z]\*+'`) possibly in combination with a list of keywords in Wit like you've been doing.

[2018-04-02 00:43] #1028 closed

[2018-04-02 00:47] blandinw commented on #1029
@klemensz thanks for reporting the erroneous version in the Settings page (assuming your browser is using non-US locale), we'll fix it shortly

[2018-04-02 01:00] blandinw commented on #916
We do throttle what gets in your inbox. We do not guarantee all messages end up in the inbox. This is to avoid abuse. We will revisit our throttling thresholds in the near future.

[2018-04-02 02:08] upeismcschatbot opened #1031 "can not download data of app"
app id: 5aad101a-2972-4f8d-b335-d725bc203f64
![1](https://user-images.githubusercontent.com/35311737/38180268-a4014300-3601-11e8-920f-663fa99e561f.png)

[2018-04-02 10:12] herrspiess commented on #1010
The project is https://wit.ai/mj0bst/ts_bot_dev_1

We‘re having the issue for almost two weeks now, consistently. Unfortunately I can‘t provide a script, but the issue can be experienced right within wit.ai. I am training an expression for a certain intent repeatedly, but with no effect: The intent is not being recognized, even days after the training.

[2018-04-02 10:45] vsahith opened #1032 "default_intent on importing from the backup .zip"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
bug
**What is the current behavior?**
I have download the data of the app and trying to import this data while creating a new app. Now, the output for trained data is giving 'default_intent'
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

[2018-04-02 16:05] blandinw commented on #1027
This was due to transient training issues, we're working on preventing this from happening again.

[2018-04-02 16:05] #1027 closed

[2018-04-02 16:06] blandinw commented on #1030
@upeismcschatbot thank you for your feedback, we're looking into it

[2018-04-02 16:08] blandinw commented on #1010
duplicates #1021

[2018-04-02 16:08] blandinw commented on #1031
Thank you for your feedback, looking into it

[2018-04-02 16:10] blandinw commented on #1032
Thank you for your feedback, we're looking into it

[2018-04-02 17:15] kgarwal04 commented on #916
What is the current throttling threshold?

[2018-04-02 18:08] blandinw commented on #1020
I exported your app and all expressions in `expressions.json` had both `text` and `entities`

[2018-04-02 19:48] upeismcschatbot opened #1033 "wit.ai recognize wrong trait entity that should not be recognized"
![image](https://user-images.githubusercontent.com/35311737/38212709-1e9f9416-3695-11e8-8a7b-b756847a80e4.png)

my app id is: 5aad101a-2972-4f8d-b335-d725bc203f64

I trained different sentences about the course information. But, if I type some random words means nothing, still pick up the intent.

What can I do? Can I train this kind of sentences not to pick up anything by http request?

[2018-04-03 09:43] JarneJC commented on #1028
I'm sorry for asking, but can you explain how I should go about this? I've never worked with regex and from what I've read about it using google it's just to check a certain string for containing characters.

The string that I'm receiving from Wit has the part that I want to check already censored out, meaning I won't be able to check if it contains a keyword I'm looking for. And since I'm not sen

[2018-04-03 14:37] FkLinks opened #1034 "Do not receive the sample(expression) into all trait entities related while using the GET/entities/entity-id"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
I would say it's a bug

**What is the current behavior?**
I have a sample that is matching more than one entity. While doing the GET/entities/entity-id for each entity that is related to it, I only get the sample(or "expression") in one of the values but not in the other ones.

**If the current behavior is a bug

[2018-04-03 19:49] blandinw commented on #916
The new threshold is maximum of 20 messages inboxed in a 10 minute window. We reserve the right to change this depending on system loads and individual app abuse, but we're considering increasing these numbers in the future.

[2018-04-04 01:16] l5t commented on #1028
Unfortunately, we won't be able to change the behavior of our speech recognition in the short term so it will sometimes return a censored word and you won't be able to actually check what was behind it. As mentioned above, you can try to detect on your side whether a censored word has been detected with a regex but you won't be able to know which one it was.

[2018-04-04 08:04] mohamed-okasha opened #1035 "Wit did not recognize any formats of date and return wrong values"
Report a *bug* about datetime builtin entity

**What is the current behavior?**
Wit did not recognize any formats of date and return wrong values.

![screenshot-wit ai-2018 04 04-09-51-35](https://user-images.githubusercontent.com/6838651/38295777-770ae230-37ef-11e8-8b39-db1c6c3f2a92.png)

**What is the expected behavior?**
Wit should recognize common formats like
%Y/%m/%d , %Y-%m-%d
And return ye

[2018-04-04 13:20] CombustiblePotato opened #1036 "How does wit.ai handle different languages?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question
**What is the current behavior?**
Currently, most major NLP frameworks support at most up to 3-8 major languages, while wit.ai supports +40 languages. While it is nothing unusual if 2 different frameworks have a couple more languages that one supports while the other doesn't, however wit.ai seems to hav

[2018-04-04 16:11] l5t commented on #1035
Thanks for reaching out. wit/datetime is controlled by Duckling, our open source parser and depends on the language of your app. Feel free to open an issue there and even contribute to make it better! https://github.com/facebook/duckling

[2018-04-04 16:11] #1035 closed

[2018-04-04 16:24] l5t commented on #1036
Interesting question ;-) Wit supports 75 languages! How is it even possible? Wit.ai mainly relies on Machine Learning so based on the data you and other developers validated. It also relies a little bit on Duckling, our linguistic parser (that is language specific). So if you want to participate on Duckling, don't hesitate to look at the open source parser here to help with entities like date time

[2018-04-04 16:24] #1036 closed

[2018-04-04 16:26] l5t commented on #1033
As shown in your screenshot, the confidence is low here, so I would have a threshold on your side to ignore Wit outcomes if below it. More here https://wit.ai/docs/recipes#which-confidence-threshold-should-i-use

[2018-04-04 16:26] #1033 closed

[2018-04-04 18:28] mbarber-gala commented on #620
Is there a plan to implement this? As bigman73 said, it would be very useful in automated deployment scenarios.

[2018-04-05 05:24] ColetheHobbyist opened #1037 "How can I add more than one user-based entity for my app? is:open label:entities"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**What is the App ID where you are experiencing this issue (if applicable)?**

[2018-04-05 13:04] sp3tsnaz opened #1038 "Error while downloading app data"
I have the same problem while downloading my app data, as [issue#957](https://github.com/wit-ai/wit/issues/957)
`{
  "error" : "Something went wrong. We've been notified.",
  "code" : "wit"
}`

[2018-04-05 16:05] l5t commented on #1037
You can just type the name of the new entity you want to create. Note: if trait, don't highlight anything in the  sentence
![image](https://user-images.githubusercontent.com/6992759/38377697-7cf79870-38b0-11e8-8e9d-531d359b4cc9.png)

[2018-04-05 16:05] #1037 closed

[2018-04-05 16:37] hsilvester opened #1039 "Send blank trait value through API"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
I want to ask a question about posting blank trait values through the Wit API. There are some expressions we don't want our app to match and send the wrong response to the end user.

**What is the current behavior?**
Currently the API doesn't seem to pick up an intent with a blank value. We are able to validate

[2018-04-05 16:41] hsilvester commented on #1038
I had a similar issue yesterday as well. It took several attempts until I was able to download the export.

[2018-04-05 19:58] blandinw commented on #1020
I reproduced the issue.
These samples may be used (at our discretion) to make your app smarter. They do exist in our database, so we want to show them to you. If you think the annotations are wrong, please fix them. If you think these are fine with no entities, then just ignore them. We may use the information that this text contains none of the entities you care about to make your app smarter.

[2018-04-05 19:58] #1020 closed

[2018-04-06 08:13] NourShalabi opened #1040 "Could not validate expression"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
"Could not validate expression" Appears while training trait expressions

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Create a new Wit.ai app, start training new expressions, after a while messag

[2018-04-06 11:46] pierodetomi-euris commented on #655
Hello, do you have any update on this? I think this feature is vital for who relies only on the API...
Any idea on when this feature will be available?

Thank you in advance,
Piero

[2018-04-06 15:34] hsilvester commented on #1040
I've experienced this behavior on several occasions. It happens both when the app has both a Clean and Ongoing training status. Most of the time I just wait a short time before I begin training again. It would be great if this can be improved so training will be much more efficient.

[2018-04-06 15:39] pjoimedia opened #1041 "Unable to create synonyms - update the UI to prevent synonym creation for free-text only entity"
Reporting a bug.

Unable to create synonyms for a keyword in a free-text entity in Chrome Version 65.0.3325.181. I enter a word in the "Add synonym" input, click enter, but nothing happens. It does not add synonyms to the Synonyms column.

[2018-04-06 15:51] l5t commented on #1041
Just tested on Google Chrome 65.0.3325.181 also and it works for me
![keyword](https://user-images.githubusercontent.com/6992759/38430988-b8869c70-3977-11e8-83ea-aecbe919bd38.gif)

[2018-04-06 16:03] pjoimedia commented on #1041
Thanks for looking into this @l5t.

If you change lookup strategies from free-text & keywords to free-text you should be able to replicate the issue.

[2018-04-06 16:11] NourShalabi commented on #1040
I also have a question regarding this behavior, is this returned as an error message if the training was posted through the API?

[2018-04-06 20:58] hsilvester commented on #1040
I'd be interested to know if it also returns the error message when posting through the API.

I've been experiencing this issue several times today through the front end. Normally it only happens once or twice a day when we're spending a lot of time training, but it continues to happen today in all of the apps I'm training.

[2018-04-08 11:38] mohammad-melhem commented on #978
@stopachka @patapizza Hey guys .. any update on this?

[2018-04-08 11:39] mohammad-melhem commented on #989
hi @patapizza .. any update on this issue?

[2018-04-08 18:44] stopachka commented on #989
Hey @mohammad-melhem

The /entities api still secretly accepts lookups: rf the example in https://github.com/wit-
ai/wit/issues/798. Feel free to use this in the meantime

We need to think of a good ergonomic api for doing this. The reason we have not made this public yet is, some changes don't make sense. i.e moving from trait -> free-text, and the implications for what happens to the data are no

[2018-04-08 18:44] #989 closed

[2018-04-08 18:50] stopachka commented on #978
Cheers @mohammad-melhem,

This is in the roadmap, but needs some clarifying on our end, to make sure we make an API that survives the test of many more iterations.

Do you have a pressing need for this? If so, could you give us some context on what you are doing? We can make a short-term solution for you in the meantime, or prioritize it more highly in the pipeline

[2018-04-08 18:53] stopachka commented on #655
Hey @pierodetomi-euris, could you expound a bit on your use case, and which part of the API is the most vital? (i.e only DELETE /samples, or is there a different need?)

[2018-04-08 18:59] stopachka commented on #1041
Hey @pjoimedia -- if you change to free-text only, then there is no concept of synonym anymore.

free-text means: it must is located somewhere in the sentence, so "start" and "end" values are required

[2018-04-08 19:03] stopachka commented on #620
Hey @mbarber-gala

This is indeed a key piece in the New API

- (also important for solving #876)

Will keep you updated on the state, there is still one unresolved piece of the API, that once unblocked should be ready for release

[2018-04-08 19:30] stopachka commented on #1034
Hey @FkLinks I tried:

Look for: "Why is deskew not working"

[code]

[code]

And found the expression. Could you give me an example query that you could not find?

[2018-04-08 19:33] stopachka commented on #655
Cheers @pierodetomi-euris,

I will report back on this, with a timeline. We are currently hard at work migrating the underlying infra to scaled FB infra. This is a highly requested feature though, and we'll see what we can do to ship this to you :)

[2018-04-08 19:39] pierodetomi-euris commented on #655
Sounds good! Looking forward to hear about the timeline :)

Thank you,
Piero

[2018-04-08 22:17] stopachka commented on #1032
this is actually an issue with our preview api output -- it uses an older version of our API, so the output showing the legacy "default_intent" entity. diff coming shortly.

To confirm, this is not a bug with import/export -- you will see default_intent even in your original app if you click "preview api output"

[2018-04-09 06:09] zhanpengli commented on #994
i need some help, i can't train my app through api again, thanks

[2018-04-09 06:09] zhanpengli commented on #994
@l5t

[2018-04-09 08:12] pjoimedia commented on #1041
Thanks @stopachka.

1. If that's the case the feature should not be available and confuse people because there is currently no information what are you talking about on the page so if there is an input field to put synonyms I would expect them to work or not be there is they shouldn't be there.

2. Also, I still see an application for synonyms even for free text.

[2018-04-09 10:29] mohamed-okasha opened #1042 "Unable to login using github account"
I can not login to my account using github account.

This happened when i tried to add synonyms but did not appear in the list so i اhave signed out and tried to login as i always do but now i can not login any more.

this is my github account: mohammed.okasha.ps@gmail.com

[2018-04-09 10:38] mohamed-okasha commented on #1042
The problem has been solved and i do not know whether you did anything or not
Thanks!

[2018-04-09 10:38] #1042 closed

[2018-04-09 11:15] klemensz opened #1043 "Cannot create/destroy app (504 Server timeout)"
**Bug**

**What is the current behavior?**

When trying to create an app, nothing happens. In the Chrome dev tools I can see an error:

Request URL: https://api.wit.ai/sync?verbose=true
Request Method: PUT
Status Code: 504 Server timeout

And it returns an HTML page with the following content (among other):

[code]

Actually, the same problem exists when trying to delete an app (5acb4296-44b7-4cd4

[2018-04-09 12:06] anurag-arora commented on #1043
only GET requests are working, all others are showing the same response

      <p id="promise">
        We're working on it and we'll get it fixed as soon as we can.
      </p>

[2018-04-09 12:28] feralheart opened #1044 ""Go down the rabit hole" button not working."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug

**What is the current behavior?**
When I want to submit the form, the button not working.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1. Log in to Git Hub
2. Fill the form
3. Click on the green button

**What is the expected beh

[2018-04-09 14:40] anurag-arora opened #1045 "Not able to update or delete wit's entites through API"
As soon as I am requesting to update or delete this entity, I am getting this message.

{
    "error": "Entity 'wit$greetings' not found",
    "code": "not-found"
}

[2018-04-09 15:09] klemensz commented on #1045
Usually the `wit$` prefix is used for built-in entities.

[2018-04-09 15:16] l5t commented on #1041
1. Indeed we should do a better job in the UI
2. if this is the case you can have both a free-text & keyword strategy for your entity

[2018-04-09 15:41] l5t commented on #1044
Seems related to #1043

[2018-04-09 15:42] l5t commented on #1043
I just tested and it worked for me. Can you try again and report whether this was a transient issue?

[2018-04-09 16:00] klemensz commented on #1043
* Creating a new app: now works again
* Deleting existing app: now gives me an error ("You cannot do that.") IDs: 5acb489d-6b8b-421f-a870-658a61a942f9 and 5acb489d-6b8b-421f-a870-658a61a942f9
* Updating entity values via API: gives me `{ error: 'Something went wrong. We\\'ve been notified.',\n  code: 'wit' }` for one of the tree entities, for the other two it works

[2018-04-09 18:39] stopachka commented on #994
Hey @zhanpengli, could you provide your app-id, an example expression you trained you do not see?

[2018-04-09 21:28] stopachka commented on #1039
Update on samples with no entities

- Currently, providing these samples will **not** actually train the model the way you would like (it does not have any effect)
  - We are working on this solution in the next version of model management

In the meantime, the best solution would to create a blacklist entity, to detect the sentences that you do not want to match

[2018-04-10 01:08] zhanpengli commented on #994
appid: 5abb2b6f-b592-41e3-a13b-a90626f03c83,
"expression":"gdsdasdfgaddf",
"entity":"other",
"value":"other"
@stopachka

[2018-04-10 01:32] zhanpengli commented on #994
appid: 5abb2b6f-b592-41e3-a13b-a90626f03c83
"expression":"where is my kuaidi",
"entity":"logistics",
"value":"where_check"
The response to the API training is shown in the figure below:
![image](https://user-images.githubusercontent.com/32571006/38531316-d3c5cd1c-3ca1-11e8-9eea-894213713b4c.png)
Although the training showed success, it didn't sync up to my wit background.

[2018-04-10 04:54] anurag-arora commented on #1045
so you mean to say we cannot request for delete built-in entities and update built-in entity values?
https://wit.ai/docs/http/20170307#put--entities-:entity-id-link

[2018-04-10 05:53] s-nour commented on #994
We are having the same issue on the following app since yesterday.
5acb6329-9a20-41d5-8cb4-e9ba604be9c2

[2018-04-10 07:39] mohammad-melhem commented on #978
Hi @stopachka, thx for your quick reply .. Actually, my clients asked me to provide them with a portal to train the NLP part of their app themselves (within my web app), and some of them told me that they have inserted wrong roles and would like to edit/delete the role. An example for that

Currently I do that manually since it is much faster to do so from the wit console and my db than to automat

[2018-04-10 15:10] dkrushevskyi opened #1046 "Creating new samples via API doesn't work."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
question
**What is the current behavior?**
Samples
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
I am trying to create samples via http api, but it doesn't work. Few days ago it was working. I have two apps  and everything was ok before

[2018-04-10 16:28] dkrushevskyi commented on #1046
Hey guys, everything is ok. After 1 hour all samples was added. Thank you.

[2018-04-10 16:28] #1046 closed

[2018-04-11 17:49] klemensz commented on #1043
The issue re-appeard, creating an app times out after exactly 2 minutes with
[code]

From Chrome dev tools:
[code]

[2018-04-11 20:51] adabritt opened #1047 "Keywords not operating as expected"
We have a list of activities created as keywords with the lookup strategy keywords selected.

Several of our key words are similar in nature. For example we have skiing, and sand_skiing with an alias for sand skiing. There is also surfing, and sand_surfing that has sand surfing listed as an alias.

Any time the word "and" is entered, any activity that also has a sand version is what is being verif

[2018-04-11 21:36] upeismcschatbot opened #1048 "The appliciton is stock at ongoing training status"
Please restart my application: 5aad101a-2972-4f8d-b335-d725bc203f64

**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
a bug
**What is the current behavior?**
ongoing training status
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**What is the App ID

[2018-04-11 21:41] l5t commented on #1048
Just restarted. It should be trained in a few minutes. Closing for now

[2018-04-11 21:41] #1048 closed

[2018-04-11 22:09] patapizza commented on #1045
@anurag-arora Users are not allowed to update/delete built-in entities.

[2018-04-11 22:09] #1045 closed

[2018-04-12 09:33] #1034 closed

[2018-04-13 04:16] himanshuteotia opened #1049 "My app continuously showing me "Traning status : ongoing""
Recently, I am facing so many issues with wit.ai. Now I can not even train my app on wit.ai dashboard. It is continuously showing me "Traning status: ongoing". A few days ago, one of my app was deleted automatically. I don't know what is happening in wit.ai but its very worst experience for me.Sometimes  it shows me you could not validate the expression.
![wit ai member_my_3](https://user-images.g

[2018-04-13 04:24] himanshuteotia commented on #1049
This is my app id : `5a9fa28f-5cfb-4dcf-932f-aa5a3390e18d` which was deleted automatically.

And this app id : `5ab0d7e3-58c6-4fa5-b5d9-12e1183d212f` for which is continuously showing me "Traning status: ongoing"

[2018-04-13 04:29] l5t commented on #1049
You app should be trained now. And we will report back on the one that disappeared

[2018-04-13 04:31] rshenoyfb commented on #1049
Regarding app deletion, this occured before, it was due to a delete command which was issued to delete a value, but ended up deleting the app. Can you please send us any delete value command you executed? We can retreive the app, but it would be good to understand and fix the root cause. Can you send us the command which you were using when the app got deleted?

[2018-04-13 04:40] himanshuteotia commented on #1049
Hi Rajesh, the story of the lost app ( though the app was lost from the dashboard but was showing in this request  https://api.wit.ai/apps?limit=9 ). However, the app suddenly appeared after reporting to you a few days back via email and surprisingly disappeared again on 11th April 2018. FYI, the app appeared but I wasn't been able to work on that. So, please help me to solve the mystery

[2018-04-13 07:38] pierodetomi commented on #655
Hi @stopachka, any news on the timeline for that feature?
Sorry to bother you again, but I need to at least have an idea of how we'll have to wait for this. :)

Thank you in advance,
Piero

[2018-04-13 07:52] Pendejooo opened #1050 "Can't train "Goodbye" text"
Hi wit.ai team,

we're using your NLP and it seems that we aren't able to associate an intent to the keyword "goodbye" because it seems to be recognized as a smalltalk.

applicationId :
5a255ade-906a-4b80-b7f9-777953611e24

Even if we remove smalltalk (goodbye) and associate it manually to our own intent when we try to type it and to give it to your api the intent is null on result.

I add some sc

[2018-04-13 17:18] hsilvester commented on #1040
@stopachka Thank you for the update! Are there more intermittent issues today? I haven't been able to successfully train any of the apps I'm working on today. I continue to receive the "Could not validate" error message every so often.

[2018-04-13 17:35] klemensz commented on #1043
Actually I tested with uploading about a couple of thousand entity values, around 50% of them get a code 200 response,  the other 50% fail with an error 500. There is no clear pattern why some fail and some succeed.

[2018-04-13 18:25] patapizza commented on #1040
@hsilvester Yes we're experiencing some issues and are working on them.

[2018-04-13 18:29] patapizza commented on #1043
@klemensz Importing external databases to `keywords` entities is an anti-pattern. As an example, for `player` can you try using a `free-text` instead and filtering out in your client based on the database? Thanks.

[2018-04-13 18:38] stopachka commented on #1032
(diff to fix this should be in production ~5-6 hours

[2018-04-13 18:38] #1032 closed

[2018-04-13 19:49] patapizza commented on #1040
We should be better now.

[2018-04-13 21:14] theflyingmantis commented on #722
Facing same issue.
App ID: 5a18713b-2edf-4c5c-8f82-5780b468e0fe

[2018-04-14 00:31] patapizza commented on #994
@zhanpengli: It seems like it's working now:

![](https://i.imgur.com/JwhtHgx.png)

<img width="663" alt="screen shot 2018-04-13 at 5 30 06 pm" src="https://user-images.githubusercontent.com/1015208/38762390-5a5ae6be-3f40-11e8-805d-f5461a5c0d81.png">

@s-nour Can you share a couple of examples that don't work (and try to re-post them)? Thanks.

[2018-04-14 00:37] zhanpengli commented on #994
yes, that's great, thanks

[2018-04-14 01:03] patapizza commented on #1050
Hi @Pendejooo, thanks for reporting. Indeed this is unexpected, `good bye` (with a space) works as expected. Can you try adding more expressions with `goodbye`?

[2018-04-14 01:07] patapizza commented on #722
@theflyingmantis Just sent an audio request to your app and saw it in the voice inbox:

<img width="319" alt="screen shot 2018-04-13 at 6 05 41 pm" src="https://user-images.githubusercontent.com/1015208/38762811-5adf42b0-3f45-11e8-95cd-b2ed37fb4456.png">

Note that if the transcript recognized from your audio sample is already present in your app, it won't show up.

[2018-04-14 01:13] patapizza commented on #1047
Hi @adabritt, thanks for reporting.
This is an edge case - for `keywords` we're trying to be robust to typos and here `sand skiing` is very close to `and skiing`, hence it's being picked up.
Not sure what the workaround could be - will bring up to the team and report back.

[2018-04-14 11:34] eyalgi11 opened #1051 "can't create intents, stories tab to appear, all tutorial online on different site desing, heavy UX issues!!!"
Hi, i can't really use the site
i do not undestand how to make intent
<img width="267" alt="capture" src="https://user-images.githubusercontent.com/2491520/38767730-aca0c86c-3fef-11e8-8e12-13bc2bcf713f.PNG">
The only place that maybe can be creating intent but the title say it's list of entities
also stories tab not appear
and all online tutorials including all the docs on the official website are

[2018-04-14 17:55] eyalgi11 commented on #1051
Hi, very thanks for the fast answer
about the last sentence
can you specify what you need me to share i did not quite undestand
thanks for all and waiting for the docs screenshot
eyal

[2018-04-14 21:09] mborus opened #1052 "Feature request: Accept audio in ogg/opus formats, accept audio download links"
*feature* request

Hi, can you consider accepting audio in ogg/opus formats?

These are very small, high quality files and used by chat application voice messages,
like Telegram (which uses 16bit, 48000kHz mono files). They also play in the web
browser and are licence free.

Currently I convert my ".ogg" files I receive from Telegram to ".mp3", before uploading, This not only takes time for conver

[2018-04-15 15:02] rudyzeinoun opened #1053 "In Arabic, wit/contact doesn't identify more than one word in any name"
Using the Arabic language, the built-in entity wit/contact does not recognize names that consist of more than one word, even if you train it for so. Using a similar configuration in English, it works flawlessly. It is probably aided in English by the use of capitalization.

**What is the current behavior?**
Train with: ماذا كتب صالح محمود
 ؟
ماذا كتب => new intent, get_news
صالح محمود => wit/conta

[2018-04-15 19:59] stopachka commented on #655
Hey @pierodetomi I should have answer to the timeline by the end of the week

[2018-04-16 09:48] eyalgi11 opened #1054 "I'm Trying To Make A Node.js Integration With wit.ai"
Hi, I'm Trying To Make A Node.js Integration With wit.ai
I'm Not expert Of javascript of node,js and the docs doesn't really help me

For Make It Simple I Need To Send A Sentence From String Variable To wit.ai
To Get Returned Values From The NLP process
Maybe Validate Or Edit To The Inbox Tab through The Integration
(For Reference I Will Use Google Script To Work With Node.js And From Google Scrip

[2018-04-16 16:29] patapizza commented on #1052
Hi @mborus,

Thanks for reaching out. Speech is not a high priority for us at this time. I'll track this internally.

[2018-04-16 16:32] patapizza commented on #1051
@eyalgi11 Are you using a right to left alphabet?

[2018-04-16 16:33] patapizza commented on #1053
Thanks for reporting @rudyzeinoun. We'll need to take a look into the model.
In the meantime, please keep validating more examples.

[2018-04-16 18:51] rshenoyfb commented on #1049
@himanshuteotia  I have recovered your app. There is an issue in your side which is triggering a bug in our system. You are deleting an entity during your processing. Is there a way you can not run the deletes?

[2018-04-16 19:00] NourShalabi opened #1055 "Training of Composite Entities through the Samples API doesn't work"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Training of composite entities through the Samples API doesn't work
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Request:
[
  {
    "text": "live testing of sub entities",
    "entities": [

[2018-04-17 20:14] hwleeross opened #1056 "Wit.ai named entity recognizer is not finding dates that it found 1-2 weeks ago."
When I query the named entity recognizer with the query `In Europe, have all countries been using the Euro, since 2015?` the NER doesn't detect `2015` as a `Datetime` entity. But it did find it as an `Datetime` entity 1-2 weeks ago, do you know what might be happening?

[2018-04-18 07:25] eyalgi11 commented on #1051
yes
I'm using right to left as my default language

[2018-04-18 14:03] s-nour opened #1057 "[bug] cannot see access token when user own too many apps"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
I'm unable to obtain access toke, the fields are empty and when I click refresh nothing happens.

Also, training through the API has stopped working for this app

This is happening on multiple apps now.

**If the current behavior is a bug, please provide the steps to reprodu

[2018-04-18 15:45] sanjayraja opened #1058 "Adding wit/datetime through API"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug
**What is the current behavior?**
On calling the below API - expected result is that the wit$datetime is added to the App entities.
https://api.wit.ai/samples?v=20170307
[{
        "text": "Do I have an appointment tomorrow ?",
        "entities": [
          {
            "entity": "wit$datetime",

[2018-04-18 20:41] bilalchaglani opened #1059 "Issue with wit/datetime - produces wrong date if day of week is the current day."
I am facing an issue with the query - “whats happening this Wednesday” (when asked on a Wednesday).

The wit/datetime entity returns the date of next Wednesday instead of today’s date.

[2018-04-19 04:04] touchaponk opened #1060 "Training wit slow and causes downtime"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
Training new intents now causes the instance to temporarily goes down (fail to classify any message). The usual behaviour used to be that the system will continue to use the old model until the new one is trained. Training time is also now much longer - increased from 1-2 mi

[2018-04-19 12:47] sanjayraja commented on #1058
This issue is now fixed

[2018-04-19 12:47] #1058 closed

[2018-04-21 06:28] blandinw commented on #1049
@himanshuteotia we'll get this fixed asap, thank you for patience

[2018-04-21 06:38] blandinw commented on #1056
@hwleeross thank you for your feedback!
We'll be looking into it shortly

[2018-04-21 06:48] blandinw commented on #1057
You have too many apps :-)
If you create the apps using the `POST /apps` API, the response will contain the corresponding access token. I created a low priority internal ticket to paginate apps in the UI when there's too many of them.

[2018-04-23 14:21] ZenyoXos opened #1061 "SSLError, max retries exceeded"
There's a bug for me, tough wit.ai was *unlimited* call

It worked for the half of a day, but now this happen :

Max retries exceeded with url: /speech?v=20150101 (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')],)",),))

app id : 5ad5bad8-1900-4ca7-9278-764e7de3ca59

[2018-04-23 17:58] aforaleka commented on #1030
@upeismcschatbot the issue should be fixed in the past week. Thank you for reporting and let us know if you're still experiencing such problems.

[2018-04-23 17:58] #1030 closed

[2018-04-23 17:59] aforaleka commented on #1031
@upeismcschatbot the issue should be fixed in the past weeks. Thank you for reporting and let us know if you're still experiencing such problems.

[2018-04-23 17:59] #1031 closed

[2018-04-23 18:02] patapizza commented on #1056
@hwleeross Thanks for reporting! This is now fixed.

[2018-04-23 21:18] maxim-isakov-ross commented on #1056
Hi, this example still isn't working for me: "In Europe, have all countries been using the Euro, before 2015?" and it did 1-2 weeks ago, so I'm not sure if the bug is truly fixed

[2018-04-23 23:04] patapizza commented on #1056
Thanks @maxim-isakov-ross, fix upcoming.

[2018-04-23 23:58] stopachka commented on #1049
Hey @himanshuteotia

Thank you for reporting this, and apologies for the technical issues you've been dealing with. We are working on uncovering the root cause of your bug. Feel free to continue using as is, we will be monitoring your app, and if there are any issues with it disappearing down the road, we'll be on it to fix asap

[2018-04-23 23:58] #1049 closed

[2018-04-24 19:54] blandinw commented on #1060
@touchaponk I cannot reproduce your issue. We only replace the old model once the new one is trained. The app ending in `2e5c330c90ee` was working fine during training.
What do you mean by "instance goes down"? What is the exact symptom you're seeing?

Regarding training being longer, we're experiencing intermittent slow down in training that we're working on fixing.

Closing for now, feel free to

[2018-04-24 19:54] #1060 closed

[2018-04-24 21:55] kazimanzurrashid opened #1062 "Train Status API"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Feature

Currently there is no way to know whether the train is completed, can you expose some endpoint
which returns the status of the train.

**What is the current behavior?**
none

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
n/a

*

[2018-04-25 05:49] gorenbox opened #1063 "Api incomplete: cannot get training data with breakdown into entities & roles"
Hi,

we would like to get via api our training data, today we can get the whole expressions used for training, but not a breakdown into entities and roles.

Thx

[2018-04-26 05:46] chamilab opened #1064 "story,actions pages are not show"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question wit.ai

**What is the current behavior?**
Only show understanding,inbox,logs and settings only

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
n/a
**What is the expected behavior?**
see my project story, actions
**What is the Ap

[2018-04-26 05:58] s-nour commented on #1064
These features were removed.

[2018-04-26 10:59] gulbinas commented on #876
useful PR: https://github.com/wit-ai/pywit/pull/101

[2018-04-26 15:37] l5t commented on #1064
https://wit.ai/blog/2017/07/27/sunsetting-stories

[2018-04-26 15:56] l5t commented on #1062
You're spot on... and this is on our roadmap
#620

[2018-04-26 15:56] #1062 closed

[2018-04-26 15:57] #1064 closed

[2018-04-26 15:59] l5t commented on #1063
Can you share a concrete example?
As an alternative, have you tried the export? https://wit.ai/docs/recipes#copyexportversion-my-app

[2018-04-26 16:01] psquared2 commented on #889
Bump - same here

App ID 5a5f65cf-78ea-4382-b2a9-ea0a85c456d0, e.g. entity "keywords"

[2018-04-26 22:04] stopachka commented on #889
looking into this -- apologies for the bad experience. Will update with what I find here

[2018-04-26 23:50] jcdenny opened #1065 "Misc Console Issues"
I'm currently having a few issues. Login seems to be failing most of the time. I've tried both Github and Facebook. After a few attempts it will finally login, however some things don't show up such as expression values. It seems very much like performance issues with the site.

[2018-04-26 23:55] mohbasheer commented on #109
Hi @blandinw

I'm getting the same error. I tried login with github and facebook after authentication it's going to https://wit.ai/home  and it's again asking me to authenticate.  this issue is not resolved please look into it.

[2018-04-27 00:00] mohbasheer commented on #109
I cleared the cache now it's working. but still it's an issue.

[2018-04-27 01:36] jcdenny commented on #1065
It looks like it may be working now.

[2018-04-27 01:55] magnusburton commented on #1065
Having ahard time logging in as well. I'm receiving the following error in my console. I've tried logging in via incognito etc.

[2018-04-27 17:07] catafest opened #1066 "bug on python 3.6.4 with timegm"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
[code]
**What is the current behavior?**
pip install
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**What is the App ID where you are experiencing this issue (if applicable)?**

[2018-04-30 17:26] patapizza commented on #1066
Hi @catafest, please open up an issue in the [pywit](https://github.com/wit-ai/pywit/issues) project. Thanks!

[2018-04-30 17:26] #1066 closed

[2018-04-30 17:27] patapizza commented on #1065
Hi @jcdenny @magnusburton - are you guys still experiencing this?

[2018-04-30 18:00] stopachka commented on #1055
Hey @NourShalabi

Could you go over the API requests you sent, to get to this state? It's surprising that "keywords" is set as the default -- it should be free-text & keywords if it's going strictly through POST /samples

[2018-04-30 18:02] stopachka commented on #109
we had an intermittent outage, apologies for the inconvenience everyone. We're working on making these quickly visible for our users

[2018-05-01 11:32] magnusburton commented on #1065
@patapizza Hi Julien. I'm still experiencing this issue. See below for the complete console data.

[2018-05-01 19:34] jeb218 opened #1067 "verbose=true but start/end are not returned"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
BUG

**What is the current behavior?**
start/end are not returned even with verbose=true in query string

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Here is the parameter object I am sending:
{
            q: message,
            acc

[2018-05-01 20:14] jeb218 commented on #1067
Looks like I needed to set up new entities instead of as the default intent. Disregard.

[2018-05-01 20:14] #1067 closed

[2018-05-03 06:54] earthat opened #1068 "My speech input are not recognized correctly"
I am building a voice recognition app, based on the intent value of speech, certain action will be decided. But the wit app is not giving the desired intent. Here is my app ID: 5a8a8bc5-b483-417d-8c3b-94adba82d38f

I need to suggestions to improve this app. Python API for it is being used.

[2018-05-03 07:17] patapizza commented on #1068
@earthat Can you share a few examples that don't work for you?

[2018-05-03 07:25] earthat commented on #1068
Thanks for the response,  I would like to share my witai app with you so that you can listen to speech input in logs. May I know your wit username or email.

[2018-05-03 07:30] earthat commented on #1068
I have trained for 'invoice' intent value and giving speech commands like, 'open an invoice' or 'make an invoice'. This is giving back such kind of responses:

-open and in what is
-may i was
-make noise and
-make invoice
-open and invoice
-may an invoice
-will everyone's
-open and in what

However when I give the text input, it recognizes it correctly.

[2018-05-03 11:05] samt07 opened #1069 "Is there a way to convert the value of an intent to lowercase always?"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?** Yes, I am looking for a feature. It may be new or already existing. I am not sure about that.

**What is the current behavior?** It takes the value as is. I want to force convert the values for a user defined intent to all lowercase.

**If the current behavior is a bug, please provide the steps to reproduce and

[2018-05-05 05:33] earthat commented on #1068
@patapizza your help will be appreciated. Please take out few minutes to look into it.

[2018-05-05 09:59] renet opened #1070 "Conditionally apply entities"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
question (maybe a feature request)

**What is the current behavior?**
I've added the entity `wit/message_subject` to my project, to identify the target language, when a user says something like `What's "apologize" in German?`. I trained my app to identify sentences like this as an intent with the value `do_trans

[2018-05-06 19:48] patapizza commented on #923
@sai28593 Feel free to reopen if you still experience the issue.

[2018-05-06 19:48] #923 closed

[2018-05-06 19:49] patapizza commented on #1068
@earthat It seems like the speech engine has having issues with the accent.

Speech is not a priority for us at the moment. We do keep this in mind but can't provide an ETA on when things will improve. In the meantime, if the current state doesn't work well enough for you, we encourage you to try other solutions (e.g. iOS/Android native speech).

[2018-05-06 19:53] patapizza commented on #1069
@samt07 Thanks for the suggestion, let me see with the team if this is something we want to support.

[2018-05-06 20:00] patapizza commented on #1070
Hi @renet,

Thanks for the suggestion. We used to have this, and we do have this in mind.
In the meantime, it seems like in your code, you can decide to ignore `wit/message_subject` when `intent` is not `do_translate`.

Hope this helps.

[2018-05-06 20:02] stopachka commented on #1065
Hey @magnusburton

This seems to be an error from an extension that is trying to work on top of Wit.

For security reasons, we don't allow external scripts to loaded onto wit.ai, this could expose you to security vulnerabilities. I'd suggest disabling / blacklisting wit.ai from this extension

[2018-05-07 00:52] earthat commented on #1068
Thanks for it.

[2018-05-07 00:52] #1068 closed

[2018-05-07 00:54] earthat opened #1071 "speech Noise filter in wit.ai"
Hi

Is wit.ai is using any noise filter for speech? Do you recommend to use at developer end

[2018-05-07 03:17] gorenbox commented on #1063
Hi, sorry for delayed response.
We would like to manage our models completely automatically via api automated training).
I order to do so, we need a more full api, where we can retrieve the model information (intents, entities, roles, expressions....).
Today we dont have that, so there are 2 options, one is export and analyze files, this is not really robust and comfortable for automated processes

[2018-05-07 09:39] s-nour commented on #1055
@stopachka I will go over them and let you know how it goes, but can you please clarify how exactly the lookup strategy is set for entities created through the API if we don't choose a specific type?

[2018-05-07 13:38] vladikus10 opened #1072 "Cannot set `free-text & keywords` lookup strategy via HTTP API."
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Question
**What is the current behavior?**
Currently you can set the entity to "free-text & keywords" via the GUI, however you can't do the same with HTTP API, getting response  `"error": "Unsupported lookups"`. Why is it like that?
Tested with version **20180507**
**What is the expected behavior?**
You would ex

[2018-05-07 15:16] aongwachi1 commented on #620
@l5t  could you please tell us to released date?
thank you

[2018-05-07 15:35] l5t commented on #620
We are working on it and hope to release it in the next 2-3 weeks. I will update the thread when ready

[2018-05-07 15:35] vladikus10 commented on #1072
Huh, never really seen that warning, how can it be misused?

[2018-05-07 15:39] l5t commented on #1072
![image](https://user-images.githubusercontent.com/6992759/39710569-017091a8-51d2-11e8-9d23-15445ab678c1.png)
This is the warning I was talking about. As for misusing it, it was more about developers setting it the wrong entity type (like keyword for intent like entity) and then not understanding why Wit was behaving in a certain way

[2018-05-07 15:59] alexandruf opened #1073 "Wit.ai api seems to be down"
**What is the current behavior?**

GET https://api.wit.ai/message?v=version&q=message

---------------------------
Response Error
---------------------------
System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.WebException: The remote server returned an error: (503) Server Unavailable.

   at System.Net.HttpWebRequest.EndGetResponse(IAsyncResult async

[2018-05-07 16:08] patapizza commented on #1071
Hi @earthat,

The sensitivity to noise varies for different acoustic models .
To optimize for accuracy, I'd recommend to get speech waves as clean as possible before sending them over.

[2018-05-07 16:08] #1071 closed

[2018-05-07 16:14] patapizza commented on #1063
Hi @gorenbox,

As @l5t mentioned, the export feature should help with that. The full dataset is available in `expressions.json` and all entity data (including role) in each `entities/name.json` file.
The app language and name are available in the `app.json` file. It seems like the timezone is indeed missing.

Is anything else missing?

[2018-05-07 16:45] patapizza commented on #1073
@alexandruf I can't repro this. Is the issue consistent?

[2018-05-07 17:14] alexandruf commented on #1073
Hey, now works fine. :)

[2018-05-07 17:15] #1073 closed

[2018-05-07 17:15] alexandruf commented on #1073
Evan the site didn't work properly at that time. When tried to login with github, it didn't work

[2018-05-08 07:18] vladikus10 commented on #1072
Mhm that's a bummer, I guess using only either `keywords` or `free-text` should work for now for the trainer.

[2018-05-08 09:33] gorenbox opened #1074 "Cant get engine to understand - simple order-food example"
Hi,

I created a simple model with menu items (pizza, beer, cake...), and a composite entity  menuItemOrder (which is a quantity + menu Item, ex, "3 pizzas").
An Oder can either be "I want 3 pizzas" where u get a menuItemOrder, or "I want a pizza" where you just get a menuItem.

Unfortunately, wit doesn't
![wit model](https://user-images.githubusercontent.com/25510157/39749655-f67f9f4c-52bb-11e8-8

[2018-05-08 11:28] vladikus10 commented on #1072
Hand on, I just checked and even `free-text` alone is not supported. Did people even misuse that through the api?

[2018-05-09 06:08] gorenbox commented on #1063
except for an api so i dont have to do get / set through files :-( ...
seems rest is covered.

[2018-05-09 07:49] ankursrivastava2 opened #1075 "Delete Training values and expressions permanently"
I want to delete the trainings done permanently. If i delete from wit and download the app data, all the old data is also present.. How can i hard delete the training and values.

[2018-05-09 16:08] l5t commented on #1075
Hello, not sure what you're trying to do... Do you want to delete your account and all the data? or just the training data of a specific app?

[2018-05-09 16:36] l5t commented on #1075
I just tried the following and it worked for me.
Export an existing app
Then go in the Wit Console and delete one of the validated expressions
Export the app and I could not find the deleted expressions.

[2018-05-09 17:16] stopachka commented on #1072
Hey @vladikus10

We disabled changing lookups in the API, as they alter fundamentally the kind of samples that are needed (i.e not possible to go from free-text -> trait without introducing potentially bad data)

What you can do though is:
1. Create the entity
2. Send a POST /sample request with an example expression
  - This, if it has a start and end, will automatically set "free-text & keywords

[2018-05-09 20:27] patapizza commented on #472
This is now supported by Duckling.

[2018-05-10 00:58] tonytonypeng opened #1076 "The status of the app is always dirty"
hey, i found that my app's status is on dirty, can you help me for a look. thanks :-)
APP ID : 5abb2b47-1e71-4373-aa53-730b7a6ba96b

[2018-05-10 03:47] l5t commented on #1076
Just restarted your training.

[2018-05-10 03:47] #1076 closed

[2018-05-10 06:16] ankursrivastava2 commented on #1075
@l5t ... The roblem is, i need to remove a certain part of the training for a particular entity. Need to remove few values and its associated expressions for a particular entity.After removal i need to create a new app with the app data after removal.  When i remove the date from the console  and export the app, I can still find the expressions in Expression.json file . The data is not getting rem

[2018-05-10 09:25] gorenbox commented on #1074
Here is another example,
![image](https://user-images.githubusercontent.com/25510157/39862703-2ed3fc0c-544d-11e8-94f3-73f65459cf9a.png)

[2018-05-10 10:52] gorenbox commented on #1072
Hi,
You could still enable setting the lookup for a new entity. the ability to change is less important. but the ability to create an entity and set the lookup strategy is important, and if u disabled it, maybe easy to bring back.

[2018-05-10 11:07] vladikus10 commented on #1074
I don't think you should make a separate entity with numbers, I mean the amount of combinations is infinite: **1 milkshake**, **2 milkshakes**, **3 milkshakes**, **4 milkshakes**, **55 milkshakes** and etc. Teaching every possible number with every possible food is too much, instead just use the wit/number to determine the number of items. If you have a sentence like "2 hamburgers and 3 milkshakes

[2018-05-10 11:14] gorenbox commented on #1074
Hi, thx for feedback. I wouldnt think you would need to train for each possibility of number.
It is a composite entity, similar to the example https://medium.com/wit-ai/reintroducing-composite-entities-c361797ca202
where you have car model, defined as year + carType (ex, 1940 BMW)...and you dont have to train it with each possible year.

[2018-05-10 11:25] gorenbox commented on #1074
about your example, where you have a list of items, 2 milkshakes and 2 hamburgers, I dont think roles is suitable: search for "Differentiate several entities according to their role in the message" in the recipes documentation, they give this exact example (3rd example). I think for a list of items you would just train with several examples of lists and hopefully, the engine will recognize you can

[2018-05-10 11:30] vladikus10 commented on #1074
Oh sorry, I never knew they existed, that kinda makes things easier, if it will work :D. I tried a few validations and it does seem to struggle a bit. I guess maybe, because it's bit more complex type of entities, you might need to correct it more than usual for the app to properly understand.
I wonder if you can train samples with composite entities through their API? That way you could create a

[2018-05-10 15:45] l5t commented on #1075
I cannot reproduce unfortunately as described above, can you share your app id and a step by step to reproduce?

[2018-05-11 05:58] l5t commented on #992
Closing, please reopen if you still have issues

[2018-05-11 05:58] #992 closed

[2018-05-11 22:16] patapizza commented on #1069
Hi @samt07, we don't silently convert the values to lowercase as this would be trigger unexpected behavior. However we are robust to case sensitivity and use the first provided value as source of truth.

Hope this helps.

[2018-05-11 22:16] #1069 closed

[2018-05-11 22:44] mehfuzh opened #1077 "500 on DELETE /entities/:name/values/:name/expressions/:exp"
I am getting the following exception while deleting an expression.

[code]

[code]

[2018-05-11 22:51] blandinw commented on #1077
@mehfuzh Please do not post your access token publicly and provide your appid.

[2018-05-11 23:01] mehfuzh commented on #1077
It could be an issue with that particular app and its a test app anyway.

[2018-05-11 23:03] mehfuzh commented on #1077
ahh, good point. Here is the app Id : 5af612d2-6986-422d-b95a-4a833e4727e9

[2018-05-12 00:57] andresespinosapc opened #1078 "Incorrect intent for word with accent mark (Spanish)"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
Wit recognizes words with accent marks as different characters. With this behaviour, I would need to give much more training examples to wit to handle these words, I don't even know if it is possible.

**If the current behavior is a bug, please provide the steps to

[2018-05-12 02:35] mubiesam commented on #1043
still happening...can not create new app / access existing app
Failed to load resource: the server responded with a status of 400 (Bad Request)
Failed to load resource: the server responded with a status of 404 (Not Found)

[2018-05-12 20:06] gorenbox commented on #1063
@l5t @patapizza there is no api for export and import. How did you intent for us to get the information.
Our system will be automated, so the import and export cannot be done manually.
Is there a possibility to supply an api for
1) import / export model
2) getting full training data
3) getting / setting agent data
Is this possible, is it in the roadmap?

[2018-05-12 20:07] gorenbox commented on #1074
@l5t what do you think of this?

[2018-05-13 04:55] l5t commented on #1063
1. We are working on an export api not sure about the status of the import one  cc @stopachka
2. Will be addressed by 1
3. https://wit.ai/docs/http/20170307#get--apps-link are you thinking about something else?

[2018-05-13 06:50] gorenbox commented on #1063
Thanks @l5t for the feedback
1) if there will be an api for export and import that would be AMAZING. is there any schedule you could share? this is a critical feature for us.
3) That is PERFECT, thanks for referring me...somehow missed it.

About 2) 1 addresses it but, not in the best way. 2 systems communicating via file transfers is not the best option. I know u have your priorities and a lot of

[2018-05-13 18:34] samt07 commented on #1069
Ok thanks @patapizza. I was hoping if there is an option to choose "wit/lowercase" while creating an entity. I can still convert it in my code after I get it from wit. Not a big deal. Thanks for giving it a thought and following it up with your team.

[2018-05-13 19:36] gorenbox commented on #655
Hi @stopachka . Is there an update on this much needed feature?

[2018-05-13 20:07] mennafateen commented on #280
Did anybody find a solution for this?

[2018-05-13 21:01] blandinw commented on #655
@gorenbox DELETE /samples is coming very soon (in the next few weeks)

[2018-05-13 21:10] blandinw commented on #280
For batch updates, we recommend to use our HTTP API (https://wit.ai/docs/http/20160526#put--entities-:entity-id-link)

A simple Bash scripts using `curl` or Python using `requests` should do the trick :-)

[2018-05-13 21:10] #280 closed

[2018-05-13 21:25] blandinw commented on #1077
@mehfuzh Thank you for your feedback, a fix is being pushed out right now

[2018-05-13 21:50] blandinw commented on #1074
If I understand correctly, you're trying to say that `menuItem` should always be part of a `menuItemOrder`, which is not something you can do in Wit.

It is true that `wit/number` will not capture "a" as a quantity.
You could default to 1 when you don't have a quantity associated with it, giving some kind of visual feedback to the end user (like showing the status of their order).

[2018-05-13 21:53] mehfuzh commented on #1077
Yep works like a charm!

[2018-05-13 21:53] #1077 closed

[2018-05-13 21:54] blandinw commented on #1072
Given the feedback we received, we will be bringing back this feature soon.
We'll update this issue once this is done.

[2018-05-13 23:44] blandinw commented on #1063
1) There will be an API for import and export, but you'll still be dealing with .zip files. @stopachka will share the timeline
2) We will consider other APIs, thank you for your input

[2018-05-13 23:55] blandinw commented on #1043
Thank you all for your feedback!

@klemensz We did implement several stability and performance fixes in the past week. However, as @patapizza said, you should not be uploading large databases as keywords at the moment, and use `free-text` instead. If you do need to upload a large database that could also benefit the rest of the community, feel free to contact us and we may create a new built-in en

[2018-05-13 23:55] #1043 closed

[2018-05-14 00:17] blandinw commented on #1078
@andresespinosapc Thank you for your feedback.
You're right that accents should not play a major role in understanding intent.
We'll start working on a fix and update this issue once it is deployed.

[2018-05-14 04:10] azarezade opened #1079 "wit app couldn't be found!"
After working for a while with wit.ai, today suddenly I encountered this error:

<img width="1261" alt="screen shot 1397-02-24 at 08 38 10" src="https://user-images.githubusercontent.com/11195749/39977913-4967203c-5752-11e8-8a19-c61ff2930468.png">

while trying to I connect to one of my apps (**VPA-dev**).

[2018-05-14 05:32] gorenbox commented on #1074
@blandinw thanks for you reply.
It is exactly the contrary! we dont say that menuItem should always be part of a menuItemOrder, BUT that an order can have menuItem "I want a milkshake" or menuItemOrder, "I want 3 milkshakes". both are acceptable. We also DOn'T expect to map a to a number, that is why we are training the model with 2 options order with menuItem, where there is no quantity, and orde

[2018-05-14 06:07] azarezade commented on #1079
I think there are some errors there:
<img width="1280" alt="screen shot 1397-02-24 at 10 32 57" src="https://user-images.githubusercontent.com/11195749/39980668-45abae9e-5762-11e8-87ed-5937767739ef.png">

[2018-05-14 08:27] mennafateen opened #1080 "Problem with Arabic numbers"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Ask a question

**What is the current behavior?**
![image](https://user-images.githubusercontent.com/11869772/39986041-c6ded9f2-5760-11e8-890a-ce65384e06ef.png)
When I write 'million' in Arabic, wit/number and wit/amount_of_money don't recognize it even though I've trained it with this particular number a couple

[2018-05-14 10:13] giorgiomarzianidepaolis-was commented on #1079
same here, the issue is the browser

[2018-05-14 11:48] mennafateen opened #1081 "Adding Arabic values to an entity via curl"
Using this command:

curl -XPUT 'https://api.wit.ai/entities/location_3?v=20180514' \
  -H 'Authorization: Bearer $mytokenhere' \
  -H 'Content-Type: application/json; charset: utf-8' \
  -d '{
       "values":[
 {
   "value": "البنفسج"
 },
 {
   "value": "اللوتس"
 },
{
   "value": "المستثمرين الشمالية"
 },
 {
   "value": "المستثمرين الجنوبية"
 }
 ]}'

All I get on wit.ai are question marks.
![ima

[2018-05-14 12:59] hactar commented on #1079
Ditto here with safari. chrome works.

[2018-05-14 13:11] blandinw commented on #1074
@gorenbox Haha, I misunderstood then! Can you clearly state what the problem is?

Here is what "I want a pizza" gives me, which seems correct:
![image](https://user-images.githubusercontent.com/413070/39999303-a3480270-573d-11e8-9d1f-29d32223ade7.png)

[2018-05-14 13:12] blandinw commented on #1079
Thank you for your reports, can you all try to log in again and report back?

[2018-05-14 13:14] hactar commented on #1079
Safari works for me now.

[2018-05-14 13:25] azarezade commented on #1079
Great!
Thanks it works now.

[2018-05-14 13:25] #1079 closed

[2018-05-14 13:28] blandinw commented on #1080
Thank you for your feedback, we're looking into your `wit/number` issue.

Regarding your other issue with bathrooms, we unfortunately don't have an Arabic speaker available now. Could you provide more information as to what is wrong? (expected behavior, actual behavior)

[2018-05-14 13:45] blandinw commented on #1081
We are looking into it, thank you for your feedback

[2018-05-14 14:14] mennafateen commented on #1080
In Arabic, there are two kinds of suffixes that could be added to nouns to change them into dual nouns.
I want to be able to extract that the user wants 2 instances.

There's another similar situation where a user could say something like "I want an apt with 2 bedrooms and a bathroom". In Arabic, the letter "a" before "bathroom" can be omitted. It needs to understand that the number to extract her

[2018-05-14 16:33] patapizza commented on #1039
Hi @hsilvester, training an expression without entities should not affect the model at this point. Negative samples are something we'd like to support in the near future.

[2018-05-15 07:15] ashokpatsamatla commented on #930
@patapizza - Has there been any update on this? We have been getting the same issue with wit/contact not being able to identify names when used with apostrophe.

[2018-05-15 08:55] babco opened #1082 "does not show intent in list"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**What is the App ID where you are experiencing this issue (if applicable)?**

[2018-05-15 11:47] patapizza commented on #930
Let's group the discussion in #853.

[2018-05-15 11:47] #930 closed

[2018-05-15 12:01] ashokpatsamatla commented on #853
@patapizza - Wit is having issues recognizing "john's" as a wit/contact. So this workaround maynot work.

[2018-05-15 18:39] stopachka commented on #1082
@babco  please use the template to fill in what the issue is -- app id and a repro would help :)

[2018-05-15 18:39] #1082 closed

[2018-05-15 21:42] jtliao commented on #1081
Hey @mennafateen,

Tried the curl you provided, but I do see the Arabic values as inputted (tested on Chrome, Firefox, Edge, Internet Explorer, Safari).

![screen shot 2018-05-15 at 2 37 30 pm](https://user-images.githubusercontent.com/13305586/40085070-2859b664-584e-11e8-8431-e011623a5834.png)

May I ask what browser you're using to view these values?

[2018-05-16 07:34] mennafateen commented on #1081
Hey @jtliao,
I'm using Google Chrome but I'm still receiving those question marks.
![image](https://user-images.githubusercontent.com/11869772/40102921-0b1cf194-58ec-11e8-81af-18cfbc5b068e.png)
Is there something I'm missing?

[2018-05-16 17:05] jtliao commented on #1081
hey @mennafateen,

Can you provide your App ID? In the meantime, can you try loading the app on Chrome Incognito mode or a different browser?

[2018-05-16 17:36] mennafateen commented on #1081
Hey @jtliao,

I actually just found a workaround. I figured the problem might have been with the terminal since the Arabic characters seemed a bit weird so I tried sending the request from another terminal and it worked.
I apologize for wasting your time and thank you for your help!

[2018-05-16 17:41] jtliao commented on #1081
No worries :)

[2018-05-16 17:41] #1081 closed

[2018-05-16 21:45] #1080 closed

[2018-05-17 01:25] patapizza commented on #1080
@mennafateen The first issue should be fixed now.
Regarding your second issue, have you considered using composite entities with `wit/number` and `location_2`, defaulting to 1 if `wit/number` is not present?

[2018-05-18 06:33] woprzech opened #1083 "Witai doesn't recognize datetime (Polish & French)"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a bug

**What is the current behavior?**
Witai doesn't recognize datetime entity in polish language. It was working correctly till today.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1) create project for polish language
2) add

[2018-05-18 07:53] LokoSama commented on #1083
We have exactly the same issue in French language, may be a generalized issue.
Our App ID : 59d5db09-8c74-4352-b3e7-aff7601d32dc
Looking forward for a fix or news about this

[2018-05-18 08:01] flogaribal commented on #1083
Exactly the same issue as @LokoSama in French
We tried in english too and it is not working neither

[2018-05-18 08:02] mennafateen commented on #1080
Hey @patapizza,
Thank you!
I actually have not considered that. I should create a new entity called `bedroom` for example and create a composite entity with `wit/number` and `bedroom `though since the number belongs to or describes `bedroom `and not the location though, right?
Sorry for wasting your time and thanks again!

[2018-05-18 08:08] vnheros commented on #1083
I have same issue in Vietnamese. For example: _ngày 19/5_
But it works for: _ngày 19/5/2018_
Looking for a fix. Many thanks!

[2018-05-18 08:27] Advdev01 opened #1084 "Inbox always shows as empty"
It is not updated with inbox "Your inbox is empty, well done!" only with comments.
App ID: 5ad42289-2179-4ab7-8df4-bebf1848ba23

By the way, I am using it in Japanese, it is very easy to use and excellent.

[2018-05-18 10:08] herrspiess commented on #1021
@blandinw Any news here?

[2018-05-18 10:35] mminchev commented on #1083
I have the same issue, "1st of May" is not recognized as a date in English.

[2018-05-18 11:06] monika1800 commented on #1083
I have the same issue, Suddenly dates are not getting recognised as datetime in English by wit. @l5t Is there any changes happening at your side?

[2018-05-18 14:15] l5t commented on #1083
Thanks for reporting all. We are investigating and will update as soon as we have a fix. Sorry for the inconvenience

[2018-05-18 14:17] patapizza commented on #1083
Thanks for reporting, I'm on it.

[2018-05-18 15:39] patapizza commented on #1083
We found where the issue comes from and are pushing a fix to production. Unfortunately, it may take up to 3 hours to propagate worldwide.
We sincerely apologize for the inconvenience.

[2018-05-18 15:59] hsilvester commented on #1083
We are experiencing the same issue in English. Thank you for the update @patapizza

[2018-05-18 18:13] andresespinosapc commented on #1083
Could you let us select which release version we want to use? This is the second time in 3 weeks that you have a heavy problem. These issues don't let my users use my application, so maybe I should develop my own NLP model to avoid the issues you have sometimes. Please deploy the application through releases.

[2018-05-18 18:16] philippe-tseyen commented on #1058
Having the same issue. Since today.

[2018-05-18 18:55] philippe-tseyen commented on #1083
Same issue over here :(

[2018-05-18 22:17] patapizza commented on #1083
This is now fixed, sorry for the delay. We'll review what went wrong exactly to learn from it and improve our process.

[2018-05-18 22:17] #1083 closed

[2018-05-18 22:54] espdev opened #1085 "The incorrect interpretation of datetime in some cases"
For example, the following cases are interpreted incorrectly by **wit/datetime** entity:

* `[in] Feb 2014` -> `01.02.2014, 1:00:00`. This is not correct.  There should be **interval** `from 01.02.2014, 0:00:00 to 28.02.2014, 23:59:59`.
* `in 2015` -> `01.01.2015, 0:00:00`. This is not correct. There should be **interval** `from 01.01.2015, 0:00:00 to 31.12.2015, 23:59:59`.
* `since 1999` -> `from

[2018-05-20 21:32] l5t commented on #1085
Thanks for posting. We manage datetime via duckling, which is open source here: https://github.com/facebook/duckling

[in] Feb 2014 -> 01.02.2014, 1:00:00. This is not correct. There should be interval from 01.02.2014, 0:00:00 to 28.02.2014, 23:59:59.: LL you can use the grain for that

in 2015 -> 01.01.2015, 0:00:00. This is not correct. There should be interval from 01.01.2015, 0:00:00 to 31.12.

[2018-05-20 21:32] #1085 closed

[2018-05-21 03:47] stopachka commented on #1084
Thank you for the kind words @Advdev01 -- we will let you know what we find

[2018-05-21 03:52] stopachka commented on #1074
(closing from lack of response -- feel free to reopen @gorenbox)

[2018-05-21 03:52] #1074 closed

[2018-05-21 07:56] Advdev01 commented on #1084
Thank you for your quick response. I expect it and waiting.

[2018-05-22 06:43] venkateshreddy commented on #375
@blandinw I am encountering the issue again.
I am not able to access the WIT pages with github login.
My user name is venkateshreddy.

many times i tried to login. My github is open in another tab. When I click on login with github, it is showing some bubble kind of animation and stays calm again saying "Uh oh... You cannot access this page. You'll need to sign in to view this page! Sorry about th

[2018-05-22 07:01] venkateshreddy opened #1086 "unable to login"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Reporting a Bug
**What is the current behavior?**
Not able to Login with github and also Facebook
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
General sign-in is not working.
**What is the expected behavior?**
It should login.
**What i

[2018-05-22 07:12] bharathgrk commented on #375
@blandinw I too am facing the same issue of not being able to login with my github account.
I have attached a screenshot of the wit.ai/home page that shows the error as well as the console error, if it will be of any help.

![screen shot 2018-05-22 at 12 37 29](https://user-images.githubusercontent.com/9738122/40347284-55db9fb6-5dbd-11e8-95c3-a0c705ca403f.png)

[2018-05-22 07:23] hactar opened #1087 "Cannot add synonyms to entities"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Bug
**What is the current behavior?**
When I try to add entities to https://wit.ai/hactar/NewWaveV4/entities/vienna_location by clicking "add synonym", adding something like "Kindergärten", nothing happens, and the java console shows a 500 error. The screenshot shows the java error log (I tried multiple times be

[2018-05-22 07:25] woprzech commented on #1086
I cannot login with facebook as well :disappointed:

[2018-05-22 07:47] IceCheater commented on #375
Unfortunately I have the same problem.
![zrzut ekranu 3](https://user-images.githubusercontent.com/38458401/40348806-fb9f8278-5da4-11e8-9845-8af07c06e4fd.png)

[2018-05-22 07:53] NourShalabi commented on #1086
Same problem

[2018-05-22 07:57] anurag-arora opened #1088 "New App Creation and Wit Expressions are not validating, giving 500 internal server error"
Training is not working, Inbox training has been stopped too
https://api.wit.ai/sync?verbose=true
I have checked in the console of wit website and found that this PUT request is resulting in 500 Internal server error.
{
  "error" : "Something went wrong. We've been notified.",
  "code" : "wit"
}

[2018-05-22 08:05] woprzech commented on #1086
@patapizza @l5t ?

[2018-05-22 08:26] Abhishek-Choudharyy opened #1089 "Unable to login via Facebook"
Hii, Anyone having the issue with wit.ai login via facebook.
In Console, it is showing POST https://api.wit.ai/me/facebook_signin 500 (Internal Server Error)

[2018-05-22 10:17] hiephm commented on #1089
Cannot login using Github either. Has wit.ai been abandoned by FB?

[2018-05-22 11:15] woprzech commented on #1089
Probably it is duplicate:
https://github.com/wit-ai/wit/issues/1086

[2018-05-22 12:30] bharathgrk opened #1090 "Not able to login with either github or facebook"
@blandinw I am facing the issue of not being able to login with my github account.
I have attached a screenshot of the wit.ai/home page that shows the error as well as the console error, if it will be of any help.

![screen shot 2018-05-22 at 12 37 29](https://user-images.githubusercontent.com/9738122/40347284-55db9fb6-5dbd-11e8-95c3-a0c705ca403f.png)

Edit: had the same problem when i tried to lo

[2018-05-22 13:34] Olarewaju commented on #1086
have the same issue here with both Facebook and Github login

[2018-05-22 13:42] patapizza commented on #1090
Thanks for reporting @bharathgrk, I'm on it.

[2018-05-22 13:47] patapizza commented on #1086
Thanks for reporting, we're on it.

[2018-05-22 13:48] patapizza commented on #1089
Thanks for reporting.
Closing in favor of #1086.

[2018-05-22 13:48] #1089 closed

[2018-05-22 13:48] patapizza commented on #1090
Closing in favor of #1086.

[2018-05-22 13:48] #1090 closed

[2018-05-22 13:48] patapizza commented on #1088
Thanks for reporting @anurag-arora, I'm on it.

[2018-05-22 13:49] patapizza commented on #1087
Thanks for reporting @hactar, we're on it.

[2018-05-22 14:33] nxv1317 commented on #1086
Same issue aswell, im new to wit and tried signing up and nothing worked.

[2018-05-22 14:46] patapizza commented on #1086
@nxv1317 We're currently experiencing an issue and are working on resolving it.

[2018-05-22 14:46] patapizza commented on #1087
Related to #1086.

[2018-05-22 14:46] #1087 closed

[2018-05-22 14:47] patapizza commented on #1088
Related to #1086.

[2018-05-22 14:47] #1088 closed

[2018-05-22 14:53] gorenbox commented on #1063
@stopachka any news about the apis when they will be ready (export / import, set lookup strategy)

[2018-05-22 15:14] cvomcfly opened #1091 "Bug: cannot train utterances at all"
**Current behaviour:**
It is **not** possible to train any utterances at all (is it a general bug or only with my APP?)
I get the following notification.

![image](https://user-images.githubusercontent.com/33088084/40371653-4027d088-5de3-11e8-859a-bb91152c857c.png)

**App ID:**
59f05f84-7c54-4463-a779-970c490ff2eb59f05f

**Thank you!**

[2018-05-22 15:27] nxv1317 commented on #1086
@patapizza yay :D will get to using it now

[2018-05-23 05:48] venkateshreddy commented on #1086
@patapizza  thanks for the update. It is working now 👍

[2018-05-23 12:55] mennafateen commented on #1080
@patapizza Thank you for fixing the first issue!
However, I still haven't found a solution for the second issue, the one regarding dual nouns. A composite entity might fix the situation for a single noun but I don't think it will fix the dual nouns problem.
This problem also arises with numbers like "الفين".
I was thinking of creating my own number entity somehow for a quick fix but that shouldn't

[2018-05-23 21:17] patapizza commented on #1080
@mennafateen Actually it's @Abdallatif who fixed the first issue. I'm working with him to see if there is a way to resolve the dual nouns.

[2018-05-23 22:26] patapizza commented on #853
@ashokpatsamatla Do you have an example where it does not work?

<img width="982" alt="screen shot 2018-05-23 at 6 25 18 pm" src="https://user-images.githubusercontent.com/1015208/40454401-ba5c509e-5eb6-11e8-830f-e8908f52a342.png">

[2018-05-24 06:20] Abhishek-Choudharyy opened #1092 "On Importing a app via zip file, Unable to pick old Entities"
I just want to clone an app. So, I export data from the old app and Import that zip file into a new app. The new app is unable to extract entities (These entities are already trained in the old app). Let me know the best way to clone as I don't want to make100+ entities again and again

[2018-05-24 13:09] liamMwalls opened #1093 "App has been stuck in training for last couple of hours"
Do you want to request a feature, report a bug, or ask a question about wit?
question

What is the current behavior?
App is stuck in training.

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Inserted a lot of values into an entity (~10k). App has been in ongoing training since then.

What is the expected behavior?
Training sho

[2018-05-24 16:49] patapizza commented on #1093
Hi @liamMwalls, I just fixed the training of your app `5af55db6-a9c2-44ad-8188-64168d710584`.

[2018-05-24 16:49] #1093 closed

[2018-05-24 16:51] patapizza commented on #1092
Hi @Abhishek-Choudharyy,

Please use the provided template - what are your app ids (old and new one)?

[2018-05-24 18:49] Abhishek-Choudharyy commented on #1092
Old App ID : 5ab4a460-3708-42c4-a787-b4ad903f2bf4
New App ID : 5ae1885f-0c24-461f-b535-5aedca248d8c

[2018-05-25 13:21] rantoniops commented on #1092
I'm facing the same problem.

I create a new app by importing the zip from an old app with trained entities but the new app isn't recognizing any of them even though the intent does show as imported.

Old app id: 5af9f9b9-c261-45d4-b08f-a187aed9ffeb
New app id: 5b080cd4-a513-462b-8ddf-479e0048bec4

[2018-05-25 17:54] patapizza commented on #1092
@Abhishek-Choudharyy Can you share a few examples that don't work with the new app, but work with the old one?

<img width="971" alt="screen shot 2018-05-25 at 1 51 01 pm" src="https://user-images.githubusercontent.com/1015208/40558886-c30f42d8-6022-11e8-941d-93801260d2cd.png">

@rantoniops Your app should work now, it was stuck in training.

<img width="977" alt="screen shot 2018-05-25 at 1 54 00

[2018-05-25 18:57] patapizza commented on #1021
Sorry for the latency here.

@vladikus10 It seems like it's working fine now:

<img width="972" alt="screen shot 2018-05-25 at 2 55 47 pm" src="https://user-images.githubusercontent.com/1015208/40561623-e1dc81b8-602b-11e8-927b-535002762cab.png">
<img width="987" alt="screen shot 2018-05-25 at 2 56 17 pm" src="https://user-images.githubusercontent.com/1015208/40561624-e1f37328-602b-11e8-9707-c261b2

[2018-05-25 18:57] #1021 closed

[2018-05-25 19:01] patapizza commented on #375
@venkateshreddy @bharathgrk @IceCheater Thanks for reporting - issue https://github.com/wit-ai/wit/issues/1086 has been resolved.

[2018-05-25 19:03] patapizza commented on #1074
@gorenbox Glad it's working now. No models shouldn't be affected unless you did some changes like validating entities. Please ping back if you still experience issues. Thanks!

[2018-05-25 20:14] Abhishek-Choudharyy commented on #1092
@patapizza Please check in this new app id : 5ae188c5-54cd-4fa4-9859-aa195c2267aa

1) "Are coffee pots in the room? " is not working in this app
2) It is not picking keywords like "gym, yoga " in this app.
This app is cloned from the old app : 5ab4a460-3708-42c4-a787-b4ad903f2bf4

[2018-05-25 20:21] jtliao commented on #1063
hey @gorenbox, we are currently working on the API to set lookup strategy, which will be available in the coming weeks. As for import/export and the training API, they are currently in the pipeline and we will provide updates as they get closer.

[2018-05-25 20:56] patapizza commented on #1092
@Abhishek-Choudharyy: The first issue is resolved. `Amenities_health` doesn't have any validated samples, so it can't pick up the keywords.

<img width="1002" alt="screen shot 2018-05-25 at 4 55 12 pm" src="https://user-images.githubusercontent.com/1015208/40565953-84bc7b8a-603c-11e8-8d6d-6726659a9c95.png">

[2018-05-25 21:15] gorenbox commented on #1063
Thanks @jtliaofor the update regarding lookup strategy ... anxiously waiting for the import / export api...

[2018-05-26 02:29] gorenbox commented on #655
THANK YOU

[2018-05-26 06:03] Abhishek-Choudharyy commented on #1092
First of all gym, yoga is part of Amenities_health whose lookup strategy is: keywords.
![screenshot from 2018-05-26 11-30-56](https://user-images.githubusercontent.com/29659840/40573044-5b8c9992-60d8-11e8-8ead-310b90f090c9.png)
But it is unable to pick the keyword.

I imported this app around 20 days ago.The training part is done on 26th of may only after raising an issue here.
![screenshot from 2

[2018-05-27 17:16] gorenbox commented on #1072
hi @blandinw , any update when this will be ready?
any light you can shed on this would be very very helpful

[2018-05-27 23:27] patapizza commented on #1092
@Abhishek-Choudharyy Have you tried validating samples for your entity?
@rantoniops 2- Yes I did; validating new samples should queue a new training.

Please follow https://github.com/wit-ai/wit/issues/1063 re training status and import/export. Closing up as duplicate of that.

[2018-05-27 23:27] #1092 closed

[2018-05-27 23:28] patapizza commented on #1072
@gorenbox We're actively working on it, it should be released soon.

[2018-05-28 06:32] Abhishek-Choudharyy commented on #1092
@patapizza
1) I am importing an app from old app. If we have to validate samples again for entities(already present in the old app).then what's the use of cloning??
Let me know if it is compulsory to validate sample for all entities (although these entities are already validated in the old app)

2) I am using samples API ( https://wit.ai/docs/http/20170307#post--samples-link ) to upload samples La

[2018-05-28 11:39] bpleao opened #1094 "keywords not helping to identify trait"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
question/bug

**What is the current behavior?**
Associating keywords to a certain trait doesn't help in trait recognition.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
I've created a simple bot to illustrate what I mean. (app id below

[2018-05-28 13:58] patapizza commented on #1094
Hi @bpleao,

Traits take sentence-level features. In your app, all samples are of the form "I want <x>". The intent is the same for all sentences: `want`. In this case, depending if there is a `drink` or/and a `food`, you can handle the message appropriately. Another intent would be `dislike` for "I don't like <x>", or `order` for "I want to order <x>".

Hope this helps.

[2018-05-28 13:58] #1094 closed

[2018-05-28 14:41] tomzmtl opened #1095 "[question] How to correctly use the Inbox"
Hi, I recently created an app which is in its learning phase.
I'm basically reading from a chat thread and use the inbox to train the bot.

It's not clear though how to handle messages with custom intent.
How do I tell the AI that it was wrong in finding a specific intent? Should I click the "X" on the left of the intent found and then click "Validate", or simply trash the message?

Is there a dif

[2018-05-28 16:03] bpleao commented on #1094
Hi @patapizza,

Well, I think an intent is a very abstract concept: If the intent for all samples starting with "I want" is the same than the intent for "I want to know the weather" and "I want to book a trip" are also the same which is clearly not the case... And I believe the type of keyword entities that exist in a sample are very relevant sentence-level features that should be used to help ide

[2018-05-28 16:41] patapizza commented on #1095
Hi @tomzmtl,

Indeed, we need to clarify. You can validate without the "intent" entity to show that this is an example not matching any intents.

[2018-05-28 16:45] patapizza commented on #1092
@Abhishek-Choudharyy Again, we are aware of the issue and it's being tracked in #1063. Validating one sample is enough.

[2018-05-28 16:52] patapizza commented on #1094
Hi Bruno,

In your app, all examples are of the form "I want <x>". Obviously "I want to know the weather" is a different intent, but that's not an example from your app. In your app, the validated examples for "hungry" and "thirsty" are the same.

I would provide multiple sentence examples with the same keywords entities (e.g. "I would like rice", "I want to eat rice", "I'm craving for rice"). Aga

[2018-05-28 19:09] tomzmtl commented on #1095
@patapizza Thanks for the reply.

Is there a way to add new matches on entries that were already processed?

Let's say I add a new intent value in the future and want to indicate matches on past inbox entries.
Would that be possible?

[2018-05-28 23:53] l5t commented on #1095
Very good question also... Currently we don't support this so you will have to go manually on your past inbox entries (the ones you validated already) and add the new intent. We are thinking about making it easier for developers to do this in the future but this is not yet prioritized on our side

[2018-05-29 11:09] bcphung opened #1096 "[HTTP API] Update entity's id/doc causes removal of all its value & expression"
**Do you want to request a *feature*, report a *bug*, or ask a *question* about wit?**
Report a *bug*.

**What is the current behavior?**
When calling `PUT /entities/:entity-id` which only updates for `id` or `doc` field, it also removes all associated values & expressions have been created before.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal

[2018-05-29 11:48] bpleao commented on #1094
Thanks @patapizza. I understand that I can differentiate the intents by using different phrases, but the whole point of my question is whether or not I can make wit differentiate intents based on the fact that they are associated to different keyword entities. For reference, if I've built exactly the same bot in [dialogflow](https://dialogflow.com/) and it works perfectly as expected, differentiat

[2018-05-29 13:32] liamMwalls opened #1097 "App is stuck in training"
Do you want to request a feature, report a bug, or ask a question about wit?
question

What is the current behavior?
App is stuck in training.

If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Inserted a lot of values into an entity (~10k). App has been in ongoing training since then.

What is the expected behavior?
Training sho

[2018-05-29 13:47] patapizza commented on #1097
Hi @liamMwalls, I fixed it for your app `5af55db6-a9c2-44ad-8188-64168d710584`.

[2018-05-29 13:47] #1097 closed

[2018-05-29 19:08] stopachka commented on #655
(reopening to track the GET side of samples crud)

[2018-05-29 19:08] stopachka commented on #1063
closing, as this will be fixed with:

https://github.com/wit-ai/wit/issues/706 Export API

and

https://github.com/wit-ai/wit/issues/655 Samples CRUD

[2018-05-29 19:08] #1063 closed

[2018-05-29 20:48] stopachka commented on #1063
To give context on the timeline:

The current stage of the pipeline is: Training API, GET /samples, GET /export. All of these should be published and available in the coming 1-2 months

[2018-05-29 21:03] gorenbox commented on #1063
@stopachka and whole wit team! thanks for sharing this information and being so transparent and helpful.
you are great!!
stupid question - what is the training api?
Is there a plan for an import api, so you can append to an existing model in bulk through api.